<section id="service_contact">
    <div class="service_contact text-center">
      <h3 class="title">CONTACT US</h3>
      <p class="hear">
        We Would Love to Hear From You!
       </p>
  <hr/>
        <div class="row text-center">
          <div class="col-md-3">
            <h3>Call Us</h3>
            <!-- <img
            src="\media\icons\phone_v1.jpg"
            class="contact-img"
              width="100px"
              height="100px"
            /> -->
            <p>
              cell :4174137966 <br>         
             cell2:  18122002265
            </p>
          </div>
          <div class="col-md-3">
            <h3>Email</h3>
            <!-- <img
            src="\media\icons\email_v1.jpg"
            class="contact-img"
              width="100px"
              height="100px"
            /> -->
           
            <p>
              info@codanalytics.net
              Coachofanalytics@gmail.com
            </p>
          </div>
          <div class="col-md-3">
            <h3>Social Media</h3>
            <!-- <img
            src="\media\icons\facebook_v2.jpg"
            class="contact-img"
              width="100px"
              height="100px"
            /> -->
            <a href="#" target="_blank"> 
              <p>Get more info on <br> Our facebook Page</p> </a>
          </div>
          <div class="col-md-3">
            <h3>Address</h3>
            <!-- <img
            src="\media\icons\address_v1.jpg"
            class="contact-img"
              width="100px"
              height="100px"
            /> -->
      
            <p>
              3557 W Rockwood St,
              Springfield,MO,65807
            </p>
          </div>
        </div>
      </div>
    </section>