{%extends "main/DYC/dyc_base.html"%}
{%block content %}
<style type="text/css">
  .signature
  {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
  }
    #down_payment,#bonus
  {
    background:transparent;
    border:none;
    width: 12%;
  }
</style>
<div class="content-section">
    <div>
      <!-- <h3 class="lead  text-center">CONTRACT</h3> -->
    </div>
<!-- <div>
  <img 
  {%for image in images%}
      {% if image.name == "banner_page_v1"%}
          src="{{googledriveurl}}={{image.image_url}}""
      {%endif%}
  {% endfor %}
  class="d-block img-fluid"
  width="1500px"
  alt="banner"
  >
</div> -->

  <form  method="POST" action="/finance/contract_form/" class="form-group">
    {% csrf_token %}
        <input type="hidden" name="usr_data" value="first_name={{student_data.first_name}}&last_name={{student_data.last_name}}&address={{student_data.addres}}&category={{student_data.category}}&sub_category={{student_data.sub_category}}&username={{student_data.username}}&password1={{student_data.password1}}&password2={{student_data.password2}}&email={{student_data.email}}&phone={{student_data.phone}}&gender={{student_data.gender}}&city={{student_data.city}}&state={{student_data.state}}&country={{student_data.country}}&resume_file={{student_data.resume_file}}">
        <input type="hidden" name="student_contract" value="student_contract">
    <fieldset class="form-group">
      <div class="row">
        <div class="col-md-6">
            Student Name: <br>
            Student Address: <br>
            Student Phone: <br>
            Student Email: 
        </div>
        <div class="col-md-6">
            {{contract_data.first_name}} {{contract_data.last_name}} <br>
            {%if contract_data.address %}{{contract_data.address}}{% else %} - {% endif %} <br>
            {{contract_data.phone}} <br>
            {{contract_data.email}}
        </div>
      </div>
      <legend class="border-bottom  border-top text-center">
        <p class="lead  text-center">
            STUDENT CONTRACT
        </p>
      </legend>
      <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
          <div class="row">
          </div>
      <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
      <p class="lead  text-center">
        PAYMENT INFORMATION
      </p>
      <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
          <div class="row">
            <div class="col-md-4">
              <b>Training Contract Period</b> <br>
              <div>
                <input type="radio" id="One_month" name="duration" value="1" required>
                <label for="Training">Monthly</label>
              </div>
              <div>
                <input type="radio" id="two_month" name="duration" value="2">
                <label for="Training">yearly </label>
              </div>
                <input type="radio" id="one_time" name="duration" value="3">
                <label for="Training">one-time</label>
          </div>
            <div class="col-md-4">
                Total Amount: KSH.<span class="fees">NULL</span> <br>
                Student Down payment: KSH.<input type="text" name="down_payment" value="{{payments.student_down_payment_per_month}}" id="down_payment"> <br>
                Early Registration Bonus: KSH. <input type="text" name="bonus" value="{{payments.student_bonus_payment_per_month}}" id="bonus"><br>
                Balance: KSH.  <span id="balance">NULL</span>
            </div>
            <div class="col-md-4">
                <h8>METHOD OF PAYMENT:</h8> <br>
                <input type="radio" name="payment_type" value="paypal" required>
                Paypal <br>
                <input type="radio" name="payment_type" value="cash_app">
                Cash App <br>
                <input type="radio" name="payment_type" value="Venmo">
                Venmo <br>
                <input type="radio" name="payment_type" value="Mpesa">
                Mpesa
            </div>

          </div>
      <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
      <p class="lead  text-center">
        SIGNATORY
      </p>
      <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
          <div class="row" >
            <div class="col-md-6">
                Student signature:<input type="text" name="client_sign" class="signature" value="{{contract_data.username}}" required><br>
            </div>
            <div class="col-md-6">
                Company Rep:      <input type="text" name="rep_name" class="signature" value="coda" required><br>
            </div>
          </div>

      <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
     <input type="checkbox" name="terms" required><b> I agree to the Terms of service</b>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Submit</button>
    </div>
  </form>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script> -->
<script type="text/javascript">
  $(document).ready(function() {
    $('input[type=radio][name=duration]').change(function() {
        var fee = $(this).val()
        console.log("fees --->",fee)
        var fees = 5000*fee;
        var down_payment_amount= $("#down_payment").val()
        var bonus = $("#bonus").val()
        var balance = fees - (parseInt(down_payment_amount)+parseInt(bonus));
        $(".fees").text(fees);
        $("#balance").text(balance);


    });
    // $('#total_payment').keyup(function() {
    //     var total_payment_amount= $("#total_payment").val()
    //     var bonus = $("#bonus").val()
    //     var total_payment = $("input[name='duration']:checked").val();
    //     // var fees = 1000*fee;
    //     var balance = total_payment_amount - (parseInt(down_payment_amount)+parseInt(bonus));
    //     $("#balance").text("USD. "+balance);
    // });
    // $('#down_payment').keyup(function() {
    //     var down_payment_amount= $("#down_payment").val()
    //     var bonus = $("#bonus").val()
    //     var fee = $("input[name='duration']:checked").val();
    //     var fees = 1000*fee;
    //     var balance = fees - (parseInt(down_payment_amount)+parseInt(bonus));
    //     $("#balance").text("USD. "+balance);
    // });
    // $('#bonus').keyup(function() {
    //     var down_payment_amount= $("#down_payment").val()
    //     var bonus = $("#bonus").val()
    //     var fee = $("input[name='duration']:checked").val();
    //     var fees = 1000*fee;
    //     var balance = fees - (parseInt(down_payment_amount)+parseInt(bonus));
    //     $("#balance").text("USD. "+balance);
    // });
});
</script>
{% endblock content%}





