{%extends "main/base_templates/base.html"%} {% block content %}
<!--------------------------Slider Section--------------------------------->
<div id="slider">
    <div id="headerSlider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#headerSlider" data-slide-to="0" class="active"></li>
          <li data-target="#headerSlider" data-slide-to="1"></li>
          <li data-target="#headerSlider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img 
            {%for image in images%}
            {% if image.name == "data_page_v1"%}
                src="{{googledriveurl}}={{image.image_url}}""
            {%endif%}
            {% endfor %}
            class="d-block img-fluid"
            width="1200px"
            alt="home1"
            >
            <div class="carousel-caption">
              <h2>Become a Data Scientist</h2>
                <a href="{% url 'accounts:join' %}" target="_blank">
                    <button type="button" class="btn btn-primary">Join Today</button>
                </a>
            </div>
          </div>
          <div class="carousel-item">
            <img 
            {%for image in images%}
            {% if image.name == "data_page_v2"%}
                src="{{googledriveurl}}={{image.image_url}}""
            {%endif%}
            {% endfor %}
            class="d-block img-fluid"
            width="1200px"
            alt="home2"
            >
            <div class="carousel-caption">
              <h2>Become a Business Analyst</h2>
              <p>Learn data analysis on our online platform in as little as 13 weeks</p>
                <a href="{% url 'accounts:join' %}" target="_blank">
                    <button type="button" class="btn btn-primary">Join Today</button>
                </a>
            </div>
          </div>
          <div class="carousel-item">
            <img 
            {%for image in images%}
            {% if image.name == "data_page_v1"%}
                src="{{googledriveurl}}={{image.image_url}}""
            {%endif%}
            {% endfor %}
            class="d-block img-fluid"
            width="1200px"
            alt="home3"
            >
            <div class="carousel-caption">
              <h2>Become a Database Developer</h2>
                <a href="{% url 'accounts:join' %}" target="_blank">
                    <button type="button" class="btn btn-primary">Join Today</button>
                </a>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#headerSlider" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#headerSlider" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

</div>

<!-------------------Our home services Section------------------------->
<!-------------------1. Our  Job Report Section------------------------->

<section id="service_report">
  <div class="service_report text-center">

    <div class="row text-center">

      <div class="col-md-12">
        <h3><b>Believe Our Actions!</b></h3> 
        <p>
          Check out our <a href="/" target="_blank"> Current Job Report </a> in various Data Analysts fields who have been placed in multiple locations around the world.
        </p>
      </div>
    </div>

    <div class="lg">
      <p>Our Graduates Stellar Performance!!</p>
    </div>
<div class="stats">
    <div class="row text-center">
      <div class=" salary col-md-4">
         <p class="salary_fig">$85K</p>
         <h4><b>Starting Salary</b></h4> 
         <hr/>
         <p class="salary_desc">
         On average our graduates start on an average salary of over 85k per year.
        </p>

     </div>

    <div class="success col-md-4">

      <p class="success_fig">80%</p>
      <h4><b>Success Rate</b></h4> 
      <hr/>
       <p>
        Over 80% of CODA graduates land plum jobs in various data analyst fields.
      </p>

   </div>
   
    <div class="placement col-md-4">

        <p class="placement_fig">90%</p>
           
        <h4><b>Placement Rate</b></h4> 
       
        <hr/>
        <p>
          Our work is demonstrated by our ability to place over 90 % of our students in the job market.
        </p>

      </div>

    </div>

</div>
    <div class="row text-center">

      <div class=" application col-md-12">

        <a href="{% url 'accounts:join' %}" target="_blank">
          <button type="button" class="btn btn-primary">Start Application</button>
      </a>

      </div>
  </div>
  </div>
</section>

<!-------------------2. Our OFFER Section------------------------->

<section id="service_offer">
  <div class="service_offer text-center">
    <h3 class="title">Start your Journey</h3>
    <div class=" offer_top row text-center">
      <!---
      <div class="col-md-3">
        <img
          src="\media\icons\ba_v1.jpg"
          class="offer-img"
        />
    </div>
    -->
    <div class="col-md-3" id="gi">
      <div class="card">
        <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
        <div class="card-body">
          <h4><b>Busines Analysis</b></h4>
          <hr/>
          <p class="gi">
            Gather, refine & document.
            <p class="bd">
              <a href="{% url 'finance:pay' %}" target="_blank">
                <button type="button" class="btn btn-primary">Here</button>
            </a>
            </p>
        </div>
  </div>
</div>

  <div class="col-md-3" id="gi">
    <div class="card">
      <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
      <div class="card-body">
        <h4><b>ETL(Alteryx)</b></h4> 
        <hr/>
              <p>
              Become an ETL Developer.
              </p>
              <a href="{% url 'finance:pay' %}" target="_blank">
                <button type="button" class="btn btn-primary">More</button>
            </a>
          </p>
      </div>
</div>
</div>
  <div class="col-md-3" id="gi">
    <div class="card">
      <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
      <div class="card-body">
        <h4><b>Reporting</b></h4> 
        <hr/>
       <p>
           Click below to register for this course.
       </p>
       <a href="{% url 'finance:pay' %}" target="_blank">
         <button type="button" class="btn btn-primary">Here</button>
     </a>
      </div>
</div>
</div>

<div class="col-md-3" id="gi">
  <div class="card">
    <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
    <div class="card-body">
      <h5><b>Database Developer</b></h5> 
      <hr/>
      <p>
       Data Management & storage is at the heart of data analysis.  
      </p>
      <a href="{% url 'finance:pay' %}" target="_blank">
        <button type="button" class="btn btn-primary">Here</button>
    </a>
    </div>
</div>
</div>


    <div class="col-md-3">
       
    </div>

    </div>
  </div>

</section>
<div class="container-fluid">
  <div class="row jumbotron">
    <div id="j-section" class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <p class="lead">
        Take the entire Course for $2999. Payment Plans available.
      </p>
    </div> 
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
    <a href="{% url 'finance:pay' %}" target="_blank">
      <button type="button" class="btn btn-primary btn-lg">Get Started</button>
    </a>
  </div>
  </div>      
</div> 
<!-------------------Work Section-------------------

<section id="service_work">
  <div class="service_work text-center">

    
    <hr style="height:5px;border-width:0;color:gray;background-color:rgb(5, 6, 78) ">
    <p class="grad">
      Where are they now?
    </p>
    <hr style="height:5px;border-width:0;color:gray;background-color:green ">
    <p class="gd">
      Our graduates work here
    </p>
    <div class="row text-center">
      <div class="work col-md-3">
        <img
          src="\media\data\boa_v1.jpg"
          class="work-img boa-img"
        />

        <img
        src="\media\data\enterprise_v1.jpg"
          class="work-img enterprise-img"
        />

      </div>
      <div class="work2 col-md-4">
        <img
        src="\media\data\spectrum_v1.jpg"
          class="work-img spectrum-img"
        />
        <img
          src="\media\data\statestreet_v1.jpg"
          class="work-img statestreet-img"
        />

      </div>

      <div class="work3 col-md-4">
        <img
        src="\media\data\wells_v1.jpg"
        
          class="work2-img wells-img"
        />
        <img
        src="\media\data\work\citi_v1.jpg"
          class="work-img citi-img"
        />
      </div>
    </div>
    <hr style="height:1px;border-width:0;color:gray;background-color:rgb(97, 93, 100)">
    <div class="row text-center">

      <div class=" application col-md-12">
  
        <a href="{% url 'accounts:join' %}" target="_blank">
          <button type="button" class="btn btn-primary">Join Them</button>
      </a>
  
      </div>
  </div>
    </div>
</section>
------>
<!-------------------CONTACT US------------------------->
{% include 'main/contact/contact.html' %}
{% endblock content %}