{%extends "data/basedata.html"%} {% block content %}

<div class="carousel-inner">
  <div class="carousel-item active">
    <img
      src="media\home\project4.jpg"
      data\static\data\img\project1.jpg
      class="d-block img-fluid"
      width="1500px"
      alt="course"
    />
    <div class="carousel-caption">
      <h2>CODA CONSULTANCY</h2>
      <p>
        We deliver Success in Project Management , Software Solutions, and
        consultancy Services. <br />
        Check out our services for more information
      </p>
      <p></p>
      <a href="/register" target="_blank">
        <button type="button" class="btn btn-primary">Join Today</button>
      </a>
    </div>
  </div>
</div>
{% endblock content %}
