{%extends "data/basedata.html"%} {% block content %}
<!-------------------Our Services Section------------------------->
<section id="project">
  <div class="project text-center">
    <div class="business_header">
      <h3 class="title text-center">Delivering a CODA Employee Productivity System</h3>
    </div>

    <div class="row text-center">
     
      <div class="col-md-12 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4></h4>
        <p>
          Building a CODA Employee Productivity system that tracks the productivity of each
		  employee based on the number of meetings attended, Daily Activity Form(DAF) points
          attained and the number of messages sent on the different WhatsApp platforms.
        </p>
       </div>
    </div>
    <!-------------------------ETL WORKFLOW----------------------------------->
    <div class="">.</div>
    <div class="data_header">
      <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
      <h3 class="title text-center">1. Extraction,Transformation & Loading</h3>
    </div>
    <div class="row text-center">
      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>ETL Backlog</h4>
        <p>
          The ETL requirements were received from the BA Team,they were reviewed
          and refined and documented to guide the project
        </p>
        <div class="ETL">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1gnAzZL9ZgJMJ4WGhOqxOda6nydMF1ivIt_FcU2WLfcI/edit#gid=1994255511">Requirements</a>
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://play.planningpoker.com/play/game/CXDwyoHP1pGkKKoFmT9YBuXLkoPmmHU1"
                  target="_blank"
                  >Planning Poker</a
                >
               
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>ETL Team</h4>
        <p>
          ETL Team used Alteryx to Extract , Transform and Load for reporting
          and management purposes.Watch how our ETL Team came up with this
          wonderful Workflow.
        </p>
        <div class="ETL">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href="https://app.box.com/s/1kl59y32qzi0y2vm9pw9x7nhugcf13l6">Access the Workflow</a>
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/eb1e6dfe6f8730084584f266241dbbc659fc5af3e629aa69e8d1db6398fbb1cb"
                  target="_blank"
                  >Meetings Data Workflow</a
                >
				<div class="dropdown-divider"></div>
				<a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/b4a6863d940f65475ce8d5f2dccc79164c7586319e4232c622bb91b283db8827"
                  target="_blank"
                  >WhatsApp Data Workflow</a
                >
				<div class="dropdown-divider"></div>
				<a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/462631a42972f059c41f51e4cffaca585f1088dd8ffb396f5b8e26f5ff3ab5d5"
                  target="_blank"
                  >DAF Data Workflow</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>QA Team</h4>
        <p>
          This team was responsible to validating that the workflow met business
          requirements by performing unit and regression testing on the
          workflow.
        </p>

        <div class="QA">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown ml-auto">
              <a
                class="nav-link dropdown-toggle"
                href="https://docs.google.com/spreadsheets/d/1ljf3BCdMZZOTPIue6c8hsXC_gKkJTDfB/edit?dls=true#gid=1847756889"
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1X06hKZcdWanC0BhdmvseOLxNA77s7GiG/edit#gid=1847756889">Access the Test Scripts</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-------------------------Database----------------------------------->
    <div class="">.</div>
    <div class="data_header">
      <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
      <h3 class="title text-center">
        2. Database Creation and Data Migration
      </h3>
    </div>

    <div class="row text-center">
      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>DBA Backlog</h4>
        <p>
          The BA held PBR sessions to refine and review the DBA requirements
          with the team before the DBA could commence in data migration of
          datasets from Alteryx to Database.
        </p>
        <div class="dba">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1i4QePcwCBQum8e463-94m5-9s0cj3mksE8oiFcmWNHw/edit#gid=1994255511">Requirements</a>
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://play.planningpoker.com/play/game/CXDwyoHP1pGkKKoFmT9YBuXLkoPmmHU1"
                  target="_blank"
                  >Planning Poker</a
                >
        
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>DBA Team</h4>
        <p>
          DBA Team designed and developed database as well as creating scripts
          to migrate data from alteryx to new created CODA Financial database.They also
          created Store procs for tableau reports.Watch how it was done.
        </p>

        <div class="DBA">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href="https://transcripts.gotomeeting.com/#/s/fe41a92db1d1ebbca833ca9c6ae3f652348b904d169ae85dcc15aa4571a00082" target="_blank"
                  >Meetings Data Normalization</a
                >
                <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="https://transcripts.gotomeeting.com/#/s/e4af372299fe9f46dfa3fc6712398e29f98a3673b56e2a05c95b39c465a56c30" target="_blank"
                  >WhatsApp Data Normalization</a
                >
				<div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/19098394a29cafd6822126c87db4fb8e1dc3be418e6ddee18a57f69333df91bb"
                  target="_blank"
                  >Creation of tables & Retrieving of records</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>QA Team</h4>
        <p>
          This team was responsible to validating that the CODA Financial System
          Database against database requirements by performing unit and
          regression testing.
        </p>

        <div class="QA">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1Go4s2z0LqXK4u5j9lRXC2_1FTcmj-GON/edit#gid=1847756889">Access the Test Scripts</a>
                <div class="dropdown-divider"></div>

              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-------------------------Reporting Section----------------------------------->
    <div class="">.</div>
    <div class="data_header">
      <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
      <h3 class="title text-center">
        3. High Level and Detail level Reporting
      </h3>
    </div>


    <div class="row text-center">
      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Reporting Backlog</h4>
        <p>
          The Reporting requirements were received from the BA Team,they were
          reviewed and refined and documented to guide reporting team in
          creating both high level and detail reports.
        </p>
        <div class="dba">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="https://docs.google.com/spreadsheets/d/1Z_3CF_2af-mEhaYDxdRW8GxEnyBve_uo/edit#gid=1815078941"
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1okwwEfAKCPVTUD1bIAu3_yv-9V3cwz7s/edit#gid=1075044169">Access Requirements</a>
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://play.planningpoker.com/play/game/CXDwyoHP1pGkKKoFmT9YBuXLkoPmmHU1"
                  target="_blank"
                  >Planning Poker</a
                >
                <div class="dropdown-divider"></div>
                
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 services">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>UI Team</h4>
        <p>
          This team was responsible for coming up with Wireframes and Prototypes
          to visualize interpret stakeholder's requirements before reporting
          team could use for final deliverables.
        </p>

        <div class="UI">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a
                  class="dropdown-item"
                  href="https://drive.google.com/file/d/135jlnkdljV0ru-EdhfrPI3wD353GPkbh/view?usp=sharing"
                  target="_blank"
                  >Access UX Designs</a
                >
                <div class="dropdown-divider"></div>

              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Reporting Team</h4>
        <p>
          Reporting Team used Tableau to create highly scallable reports for
          management within the company to derive insights in their data to
          enable them make business decisions. .Watch how this deliverable was
          created.
        </p>

        <div class="ETL">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/4e3d9c621dc0b8547efacf30d5e622f976bd14da99eed5ab8c57b81fc5adfa6b"
                  >Landing Page</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/6723465db91f06ae7a9c7f0d1ac54c6c5454983775eadfb42e27e1c769a55f1b"
                  target="_blank"
                  >Employee Productivity Overview</a
                >
				 <div class="dropdown-divider"></div>
				<a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/701eb4fc80b170feaf340f60258c50e6d0e993e5f28ea3b7ad667ae11d93d5b9"
                  target="_blank"
                  >Summary Report</a
                >
				 <div class="dropdown-divider"></div>
				<a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/51c4b74556c7c542438082bbbad3efd5b1f717726a052151b68a7340729df133"
                  target="_blank"
                  >Meeting Attendance Report </a
                >
				 <div class="dropdown-divider"></div>
				<a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/a04fdb6ef4cbdcc51a3eaeed2a20a88bd9f9628058c8927e16a7633ab8337102"
                  target="_blank"
                  >WhatsApp Chat Report</a
				>
				 <div class="dropdown-divider"></div>
				<a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/385847dc777120c672174e9a6a23cbd86d602863f55c94925377e095f243f9fc"
                  target="_blank"
                  >DAF Records Report</a
				>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="footer">
  <div class="footer" >
      <footer>
          <h4>Trademark | Company Policy | Contracts | Specifications</h4>
          </h4>
      </footer>
  </div>
  <div class="f_Color">
      <div class="container text-center">
          <!--- <h3 class="title">BA & PROJECT MANAGEMENT</h3> -->
          <div class="row text-center">
              <div class="col-md-3 ">
                  <!-- <img src="static/img//service1.png" class="service-img" >-->
                  <h5>About Us</h5>
                  <li class="footer-sub-item active">
                      <a class="footer-link" href="/team">Meet the Team</a>
                      <a class="footer-link" href="/">Partners</a>
                      <a class="footer-link" href="/">Location</a>
                      <a class="footer-link" href="/">Our Network</a>
                      <a class="footer-link" href="/">Connect</a>
                  </li>
              </div>
              <div class="col-md-3 ">
                  <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                  <h5>Core Services</h5>
                  <li class="footer-sub-item active">
                      <a class="footer-link" href="/">Training</a>
                      <a class="footer-link" href="/">Project Management</a>
                      <a class="footer-link" href="/">Job Networking</a>
                      <a class="footer-link" href="/">Recruitment</a>
                      <a class="footer-link" href="/">Resume Prep</a>
                  </li>
              </div>
              <div class="col-md-3 services">
                  <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                  <h5>Technologies</h5>
                  <li class="footer-sub-item active">
                      <a class="footer-link" href="https://www.youtube.com/watch?v=gWZtNdMko1k&list=PLWPirh4EWFpGXTBu8ldLZGJCUeTMBpJFK">Tableau</a>
                      <a class="footer-link" href="/">SQL</a>
                      <a class="footer-link" href="/">Python</a>
                      <a class="footer-link" href="https://www.youtube.com/watch?v=6DZ7YVeCeqg">Alteryx</a>
                      <a class="footer-link" href="/">Advanced Excel</a>
                  </li>
              </div>
              <div class="col-md-3">
                  <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                  <h5>More Resources</h5>
                  <li class="footer-sub-item active">
                      <a class="footer-link" target="_blank"
                          href="https://www.youtube.com/watch?v=RbWCBz5fBBw&list=PL5nViEmyYI0ZpbH5jjFPvMZVDDPqvd080">Business
                          Analysis</a>
                      <a class="footer-link" target="_blank"
                          href="https://public.tableau.com/en-us/s/resources">Tableau Resources</a>
                      <a class="footer-link" target="_blank"
                          href="https://www.youtube.com/watch?v=ZNObiptSMSI&list=PL08903FB7ACA1C2FB"> SQL by Venkat</a>
                      <a class="footer-link" target="_blank"
                          href="https://www.youtube.com/watch?v=YYXdXT2l-Gg&list=PL-osiE80TeTt2d9bfVyTiXJA-UTHn6WwU" target="_blank">Python by Corey</a>
                      <a class="footer-link" href="www.w3schools.com">General Links(w3schools)</a>
                  </li>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock content %}

