{%extends "data/basedata.html"%} {% block content %}
<!-------------------Our Services Section------------------------->
<section id="project">
  <div class="project text-center">
    <div class="business_header">
      <h3 class="title text-center">Delivering a CODA Financial  System</h3>
    </div>

    <div class="row text-center">
     
      <div class="col-md-12 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4></h4>
        <p>
          Building a CODA Financial system that tracks all company financial outflows and inflows across
          business lines. Reporting deliverables included highlighting total expenses,
		  the total income,expenses for each department, total spending for each office.
          
        </p>
       </div>
    </div>
    <!-------------------------ETL WORKFLOW----------------------------------->
    <div class="">.</div>
    <div class="data_header">
      <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
      <h3 class="title text-center">1. Extraction,Transformation & Loading</h3>
    </div>
    <div class="row text-center">
      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>ETL Backlog</h4>
        <p>
          The ETL requirements were received from the BA Team,they were reviewed
          and refined and documented to guide the project
        </p>
        <div class="ETL">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1MthZibQD8YA-waQgLIXlzlvxg3GYJBCc/edit#gid=1815078941  ">Access Backlog(Excel)</a>
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://drive.google.com/file/d/163Q1Muy_xko-gxjuc_4CZ4NBFnHl0SZD/view?usp=sharing "
                  target="_blank"
                  >Access Backlog(Planning Poker)</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://drive.google.com/file/d/1hDMaa9b-sjbsHGy7n4upseNdiKnSvAL-/view?usp=sharing"
                  target="_blank"
                  >Watch Video</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>ETL Team</h4>
        <p>
          ETL Team used Alteryx to Extract , Transform and Load for reporting
          and management purposes.Watch how our ETL Team came up with this
          wonderful Workflow.
        </p>
        <div class="ETL">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href="#">Access the Workflow</a>
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://drive.google.com/file/d/1vt331G_NzaAmN-7XeTCQDHbq274ahb6k/view?usp=sharing "
                  target="_blank"
                  >Watch Video</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>QA Team</h4>
        <p>
          This team was responsible to validating that the workflow met business
          requirements by performing unit and regression testing on the
          workflow.
        </p>

        <div class="QA">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown ml-auto">
              <a
                class="nav-link dropdown-toggle"
                href="https://docs.google.com/spreadsheets/d/1ljf3BCdMZZOTPIue6c8hsXC_gKkJTDfB/edit?dls=true#gid=1847756889"
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1ljf3BCdMZZOTPIue6c8hsXC_gKkJTDfB/edit#gid=1847756889">Access the Test Scripts</a>
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://drive.google.com/file/d/1SO-K8GeX1sFSPHq87bn0BIb0NxyGUeHu/view?usp=sharing"
                  target="_blank"
                  >Watch Video</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-------------------------Database----------------------------------->
    <div class="">.</div>
    <div class="data_header">
      <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
      <h3 class="title text-center">
        2. Database Creation and Data Migration
      </h3>
    </div>

    <div class="row text-center">
      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>DBA Backlog</h4>
        <p>
          The BA held PBR sessions to refine and review the DBA requirements
          with the team before the DBA could commence in data migration of
          datasets from Alteryx to Database.
        </p>
        <div class="dba">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1jN01qIYg8W9Awxilwz698XCztrG4PXdC/edit#gid=549933605  ">Access Backlog(Excel)</a>
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://drive.google.com/file/d/163Q1Muy_xko-gxjuc_4CZ4NBFnHl0SZD/view?usp=sharing"
                  target="_blank"
                  >Access Backlog(Planning Poker)</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://drive.google.com/file/d/1hDMaa9b-sjbsHGy7n4upseNdiKnSvAL-/view?usp=sharing "
                  target="_blank"
                  >Watch Video</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>DBA Team</h4>
        <p>
          DBA Team designed and developed database as well as creating scripts
          to migrate data from alteryx to new created CODA Financial database.They also
          created Store procs for tableau reports.Watch how it was done.
        </p>

        <div class="DBA">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href="https://docs.google.com/presentation/d/1GIIkVbh_LaJBXF0gLfmFXzCIGSJRYaCSTVjeH1ishkA/edit#slide=id.g9211aa1ce2_0_791   " target="_blank"
                  >Normalization</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://drive.google.com/file/d/1lOKmjY7r7y19dhLVZeei8s_dzY_cUcf5/view?usp=sharing"
                  target="_blank"
                  >Creation of tables & Retrieving of records</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>QA Team</h4>
        <p>
          This team was responsible to validating that the CODA Financial System
          Database against database requirements by performing unit and
          regression testing.
        </p>

        <div class="QA">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1CkRl1e4ElOblMA6ZxvjnAIn4ULSIKatF/edit?dls=true#gid=1847756889">Access the Test Scripts</a>
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://drive.google.com/file/d/1SO-K8GeX1sFSPHq87bn0BIb0NxyGUeHu/view?usp=sharing"
                  target="_blank"
                  >Watch Video</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-------------------------Reporting Section----------------------------------->
    <div class="">.</div>
    <div class="data_header">
      <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
      <h3 class="title text-center">
        3. High Level and Detail level Reporting
      </h3>
    </div>


    <div class="row text-center">
      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Reporting Backlog</h4>
        <p>
          The Reporting requirements were received from the BA Team,they were
          reviewed and refined and documented to guide reporting team in
          creating both high level and detail reports.
        </p>
        <div class="dba">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="https://docs.google.com/spreadsheets/d/1Z_3CF_2af-mEhaYDxdRW8GxEnyBve_uo/edit#gid=1815078941"
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href=" https://docs.google.com/spreadsheets/d/1Z_3CF_2af-mEhaYDxdRW8GxEnyBve_uo/edit#gid=1815078941 ">Access Backlog(Excel)</a>
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href=" https://play.planningpoker.com/play/game/elGjLPH0xiAgohBcwLwlSDtB3DJUWcMF"
                  target="_blank"
                  >Access Backlog(Planning Poker)</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://drive.google.com/file/d/1i1jFu3Qb4wfLubfcjQgproK4RklIhaLf/view?usp=sharing "
                  target="_blank"
                  >Watch Video</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 services">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>UI Team</h4>
        <p>
          This team was responsible for coming up with Wireframes and Prototypes
          to visualize interpret stakeholder's requirements before reporting
          team could use for final deliverables.
        </p>

        <div class="UI">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a
                  class="dropdown-item"
                  href="https://docs.google.com/spreadsheets/d/1T2w-mWnMGjcDqEGs4ktciCUoh4jC0YgGy3vlpntyrmI/edit#gid=1325077945"
                  target="_blank"
                  >Access UX Designs</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/d68bd4bdea44acd7d9cb41f07a87c457eab840f09f1cefa768bb3e9521d28a3b"
                  target="_blank"
                  >Watch Video</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Reporting Team</h4>
        <p>
          Reporting Team used Tableau to create highly scallable reports for
          management within the company to derive insights in their data to
          enable them make business decisions. .Watch how this deliverable was
          created.
        </p>

        <div class="ETL">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a
                  class="dropdown-item"
                  href="https://public.tableau.com/profile/coda2331#!/vizhome/CODAFinanceReportV1/SummaryReport"
                  >CODA Financial Report</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/6e0a647ca4bc4b84b4096f9ad92a4ca23eb3023e465e6bdfdced428be680bd0e"
                  target="_blank"
                  >Watch Video</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="footer">
  <div class="footer" >
      <footer>
          <h4>Trademark | Company Policy | Contracts | Specifications</h4>
          </h4>
      </footer>
  </div>
  <div class="f_Color">
      <div class="container text-center">
          <!--- <h3 class="title">BA & PROJECT MANAGEMENT</h3> -->
          <div class="row text-center">
              <div class="col-md-3 ">
                  <!-- <img src="static/img//service1.png" class="service-img" >-->
                  <h5>About Us</h5>
                  <li class="footer-sub-item active">
                      <a class="footer-link" href="/team">Meet the Team</a>
                      <a class="footer-link" href="/">Partners</a>
                      <a class="footer-link" href="/">Location</a>
                      <a class="footer-link" href="/">Our Network</a>
                      <a class="footer-link" href="/">Connect</a>
                  </li>
              </div>
              <div class="col-md-3 ">
                  <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                  <h5>Core Services</h5>
                  <li class="footer-sub-item active">
                      <a class="footer-link" href="/">Training</a>
                      <a class="footer-link" href="/">Project Management</a>
                      <a class="footer-link" href="/">Job Networking</a>
                      <a class="footer-link" href="/">Recruitment</a>
                      <a class="footer-link" href="/">Resume Prep</a>
                  </li>
              </div>
              <div class="col-md-3 services">
                  <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                  <h5>Technologies</h5>
                  <li class="footer-sub-item active">
                      <a class="footer-link" href="https://www.youtube.com/watch?v=gWZtNdMko1k&list=PLWPirh4EWFpGXTBu8ldLZGJCUeTMBpJFK">Tableau</a>
                      <a class="footer-link" href="/">SQL</a>
                      <a class="footer-link" href="/">Python</a>
                      <a class="footer-link" href="https://www.youtube.com/watch?v=6DZ7YVeCeqg">Alteryx</a>
                      <a class="footer-link" href="/">Advanced Excel</a>
                  </li>
              </div>
              <div class="col-md-3">
                  <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                  <h5>More Resources</h5>
                  <li class="footer-sub-item active">
                      <a class="footer-link" target="_blank"
                          href="https://www.youtube.com/watch?v=RbWCBz5fBBw&list=PL5nViEmyYI0ZpbH5jjFPvMZVDDPqvd080">Business
                          Analysis</a>
                      <a class="footer-link" target="_blank"
                          href="https://public.tableau.com/en-us/s/resources">Tableau Resources</a>
                      <a class="footer-link" target="_blank"
                          href="https://www.youtube.com/watch?v=ZNObiptSMSI&list=PL08903FB7ACA1C2FB"> SQL by Venkat</a>
                      <a class="footer-link" target="_blank"
                          href="https://www.youtube.com/watch?v=YYXdXT2l-Gg&list=PL-osiE80TeTt2d9bfVyTiXJA-UTHn6WwU" target="_blank">Python by Corey</a>
                      <a class="footer-link" href="www.w3schools.com">General Links(w3schools)</a>
                  </li>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock content %}

