{%extends "data/index.html"%} {% block content %}
<!-------------------Our Services Section------------------------->
<section id="training">
  <div class="training text-center">
    <div class="business_header">
      <h3 class="title text-center">Course Overview</h3>
    </div>

    <div class="row text-center">
      <div class="col-md-4 services">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>General Introduction</h4>
        <p>
          Define and incorporate agile methodology in project delivery.See how
          it is done!
        </p>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a class="dropdown-item" target="_blank" href="https://docs.google.com/presentation/d/1KyjWwCmW06voKWy960kXLOdrdvgKzG1OhbkWBB4lG9g/edit#slide=id.p1">Course Overview</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/#/s/7f1745ce89024780a50383b42c5d6805d7be6544a06d4c831a26f29600c646c3">Course Summary</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/#/s/7f1745ce89024780a50383b42c5d6805d7be6544a06d4c831a26f29600c646c3">Employee Details</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://app.box.com/s/p94t4yb2jys80bze38fxl7bdtkgpkumy">Organization ppt</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/#/s/3f97a47aa6639ad5f0f92af899e4f25a82ccc3045f68d929446b3c5728c11111">Video 1: Organization Video</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="#">Video 2 : Course Introduction</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="#">Datatraining Box</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://docs.google.com/spreadsheets/d/1uJhrmtXB96WhB1kvE6oVw6OIwFC8ks9Z8Y_QNo2jpAo/edit#gid=940692910">Your Assignments</a>
            </div>
          </li>
        </ul>

      </div>


      <div class="col-md-4 services">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Meetings & Sessions</h4>
        <p>
          Define and incorporate agile methodology in project delivery.See how
          it is done!
        </p>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1WxvWj7B8lABqXG5f4YuB-e_8wXty6-OJ/view">DSU: Daily Standup Session</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://docs.google.com/document/d/1CpYr4iGuygdZHGD2OFWeUjXRb8uhBaa4/edit">Retrospective</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/?utm_source=recordingReadyNotification&utm_medium=email#/s/8f284e36b8ac46546fe69d23eaf647301e0d2e94a972c677cdfc886b44613c9b">PBR:Product Backlog Refinement</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1hDMaa9b-sjbsHGy7n4upseNdiKnSvAL-/view">PBR:Product Backlog Refinement2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://docs.google.com/presentation/d/1KyjWwCmW06voKWy960kXLOdrdvgKzG1OhbkWBB4lG9g/edit#slide=id.p1">Sprint Demos</a>
            </div>
          </li>
        </ul>

      </div>
     
      <div class="col-md-4 services">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Data Tools</h4>
        <p>
          The following are the key tools that are usually used in this field. Please take time to go through them.
        </p>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a class="dropdown-item"  href="https://docs.google.com/spreadsheets/d/1HY408A8jN-WBl73cqpXlcsu2k2nEwc62E381YPSHbTc/edit#gid=1549840439"> Tools Overview</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1pQ2wX7nLOjCIi1g8KaavuFm79xpZSgSm/view">SQL Installations</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="#">Alteryx Installations </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="#">Tableau Installations </a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="">.</div>

    <div class="business_header">
      <h3 class="title text-center">Project Based Training</h3>
    </div>

    <div class="row text-center">
      <div class="col-md-4 services">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Project Management</h4>
        <p>
          Define and incorporate agile methodology in project delivery.See how
          it is done!
        </p>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/?utm_source=recordingReadyNotification&utm_medium=email#/s/8f284e36b8ac46546fe69d23eaf647301e0d2e94a972c677cdfc886b44613c9b">Lecture 0: PLC</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/#/s/7f1745ce89024780a50383b42c5d6805d7be6544a06d4c831a26f29600c646c3">Lecture 1: Data Flow</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1A-XhqcBTljOPLFEE8iPnZnCutNAKzapJ/view">Lecture 2: Methodology: Agile vs Waterfall</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/?utm_source=recordingReadyNotification&utm_medium=email#/s/af183ed87655dd80bc6847f445c06093e5518d369835441d32c60b04bc3879d0">Lecture 3: Project Management Tool(MS Project)</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/#/s/e58e31924207d5d6d9e55707f30c1ad08c46cacb9837c324b92e2260688415b0"Agile vs Waterfall application</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://docs.google.com/presentation/d/1HsMD7iAU3TenisnfakoMxGU5r8VIQXEHCgV4RsnWML0/edit#slide=id.p10"Project Charter Template</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/#/s/6e9292c99099f482e16d179008091bb0ce71d61766f50442a176dacc4e6b3284">Writing Requirements</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4 services">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Business Analysis</h4>
        <p>
          Gather, define and document requirements through a real time project.
        </p>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a class="dropdown-item" target="_blank" href="https://drive.google.com/drive/u/1/folders/1Q-ilf6bQyk-Ya9pfhlz3vCihcRjxNab9">Vid0: Elicitation&Requirement Definition</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1JllAXWyMmMV66UmKro7OCTp_ZuOqMYxX/view">Vid1:Requirements</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://drive.google.com/drive/u/1/folders/1Q-ilf6bQyk-Ya9pfhlz3vCihcRjxNab9">Vid:Requirements</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://play.planningpoker.com/play/game/lsPkEMmYdBGZCtyKXsKi4GC9UDcAvbkE">Planning Poker Website</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/16ZOzQVbZCjFb1eW1MLE5ixUky7lBBSGI/view">Vid0:Planning Poker-Sizing</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/?utm_source=recordingReadyNotification&utm_medium=email#/s/9b6fffe26ea9ec354dd40ce2565af678dde00fa40ce76ac0fbc9997b9fc2585d">Lecture 4:Video</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-4 services">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Projects</h4>
        <p>
          Learning by examining what was done by past students.
          to get access to their presentations
        </p>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a class="dropdown-item"  href="{% url 'data-financialsystem'%}">4th Cohort: Financial Use Case </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item"  href="{% url 'data-payroll'%}">2nd & 3rd Cohort: Payment Use Case </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://public.tableau.com/profile/chris2050#!/vizhome/KituiHouseRenovation051620_v1/SummaryReport?publish=yes">1st  Cohort: Construction Use Case </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://docs.google.com/document/d/1hCW9zdcJ2zE35RFlYuxyDa9oy7RDxI4xetcFHdmFtrY/edit">Past: ITTS</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <div class="">.</div>
    <div class="data_header">
      <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
      <h3 class="title text-center">Embed Data analytics into your project</h3>
    </div>
    <div class="row text-center">
      <div class="col-md-4 services">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Data Preparation(ETL)</h4>
        <p>Alteryx, SSIS & Tableau Prep</p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
           
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" target="_blank" href="https://docs.google.com/presentation/d/1sTflaF0yS8nYS4Trm9gx0H4HPH0zN7qBu9O27-vMN7A/edit#slide=id.p3">Lecture 0: Installation</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1TxhoFQG8hluo0QDM_r_KFcrM-hwEXbn5/view">Lecture 1: Introduction</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="https://drive.google.com/drive/u/1/folders/1Q-ilf6bQyk-Ya9pfhlz3vCihcRjxNab9">Testing</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="https://drive.google.com/drive/u/1/folders/1Q-ilf6bQyk-Ya9pfhlz3vCihcRjxNab9">Video: Testing Introduction</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/#/s/2930a34b5d15118a264263fa6bf9f0ea677a6e69c02ce9571b384b79230db944">Team : Discussion</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/?utm_source=recordingReadyNotification&utm_medium=email#/s/ee363242b4ec507213c6f48510693032c1c30fd5c4b571796cd3a49062899639">Class : Discussion</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="https://drive.google.com/open?id=1yDLxQXOIhjG3ObgC15EEKyzf3mGrIE1e">Sprint : Presentation</a>
              </div>
          </li>
        </ul>
      </div>

      <div class="col-md-4 services">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Reporting</h4>
        <p>Data visualization with Tableau, Power BI & SAS</p>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a class="dropdown-item" target="_blank" href="#">Lecture 0: Installation</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/?utm_source=recordingReadyNotification&utm_medium=email#/s/43414dd95547bf831396707b83f472689ab466785af93852937ae7615e6dd4fd">Lecture 1: Getting Into Tableau</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/#/s/2930a34b5d15118a264263fa6bf9f0ea677a6e69c02ce9571b384b79230db944">Class : Class Discussion</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/#/s/2930a34b5d15118a264263fa6bf9f0ea677a6e69c02ce9571b384b79230db944">Team : Discussion</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="#">Sprint : Presentation</a>
            </div>
          </li>
        </ul>

      </div>
      <div class="col-md-4 services">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Databases</h4>
        <p>Data management in SQL and Oracle</p>

        
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a class="dropdown-item" target="_blank" href="https://docs.google.com/presentation/d/1JyOwXwJTzqqWSjV9XVXQ2yAGf9Xi8RUckMO3U1KHiqs/edit#slide=id.p1">Installation</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1TxhoFQG8hluo0QDM_r_KFcrM-hwEXbn5/view">Introduction</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://drive.google.com/drive/u/1/folders/1Q-ilf6bQyk-Ya9pfhlz3vCihcRjxNab9">Normalization</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://drive.google.com/drive/u/1/folders/1Q-ilf6bQyk-Ya9pfhlz3vCihcRjxNab9">Table Creation</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href=" https://drive.google.com/drive/u/1/folders/1Q-ilf6bQyk-Ya9pfhlz3vCihcRjxNab9">Database-SQL</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://drive.google.com/drive/u/1/folders/1Q-ilf6bQyk-Ya9pfhlz3vCihcRjxNab9">DBA Revision</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/#/s/2930a34b5d15118a264263fa6bf9f0ea677a6e69c02ce9571b384b79230db944">Class : Discussion1</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/#/s/79ad277c2badc2ff4dd8c5990059e08b4597e1e5cc1739264afc86f5bf17c742">Team : Discussion2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="#">Sprint : Presentation</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="">.</div>
    <div class="job_header">
      <h3 class="title text-center">Getting into the Job Market</h3>
    </div>

    <div class="row text-center">
      <div class="col-md-4 services">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Application Process</h4>
        <p>
          We do offer tremendous assistance in the application process. Join and
          learn how experts do it.
        </p>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a class="dropdown-item" target="_blank" href="https://docs.google.com/document/d/18acgFSw3bvQiIDqatgwK4eQkPbEyWwzgB_m8aSBnbTk/edit">Resume Preparation</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://docs.google.com/document/d/17RxXz8c5bjX9OrdbWR97qpoM4P-zqVgweOpNY4-CsnA/edit">Sample Resume 1</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href=" https://docs.google.com/document/d/1PPAnIhGYMW62wXuihT0UiPKBAmWNZK-xAebK4pSm9Ko/edit">Sample Resume 2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="">Salary Negotiation(C2C/W2s)</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href=" ">Job Tracker(Recruiters)</a>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-4 services">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Networking</h4>
        <p>
          Work within a network,build a team and meet experienced professionals
          working in the field to respond to your questions.
        </p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/?utm_source=recordingReadyNotification&utm_medium=email#/s/2fffdd47b8bfd8f75447b76446a58475680b364d0d10c5e4c78ff46f155d6f22"><b>Guest Speaker:</b> VP Francis Umude</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/?utm_source=recordingReadyNotification&utm_medium=email#/s/fab36e736f62941d738b0f739d6be19ec0ed31bc08cefe63b5ea3fbf0dce5e9b"><b>Guest Speaker:</b> Data Analyst James Kontoh</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="#"><b>Guest Speaker:</b> Business Analyst Gladys Mwongo</a>
            </div>
          </li>
        </ul>

      </div>

      <div class="col-md-4 services">
        <!-- <img src="static/img/background/service1.png" class="service-img" >-->
        <h4>Interview Strategy</h4>
        <p>
          We will offer training in Job Interview. Please Join and get access to
          past audio interviews and questions
        </p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://docs.google.com/document/d/1GZZ_6ME1QI-4zeHt0cQ1lNrztSTKKp5-D7K0ytOXgh8/edit#heading=h.gjdgxs">1. Introduction</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/15-82jaqBrXW21SoLJ5QNvGmltOrekv8F/view">Video. Introduction</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="#">2. Project Story</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://docs.google.com/document/d/1yDi3AAzYh-fdtL7d235PR9m9cPTAHorlcXycfq99uI8/edit#">3. Performance  Tuning</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="#">3. Agile vs Waterfall</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="#">4. SDLC</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="#">5. Mock Interview</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="#">6. Sample Interviews</a>

              
            </div>
          </li>
        </ul>

     <!--   <a href="#" target="_blank">
          <button type="button" class="btn1 btn-primary">More</button>
        </a>
        -->
      </div>
    </div>
  </div>
</section>




<section id="footer">
  <div class="footer">
      <footer>
          <h4>Trademark | Company Policy | Contracts | Specifications</h4>
          </h4>
      </footer>
  </div>
  <div class="f_Color">
      <div class="container text-center">
          <!--- <h3 class="title">BA & PROJECT MANAGEMENT</h3> -->
          <div class="row text-center">
              <div class="col-md-3 ">
                  <!-- <img src="static/img//service1.png" class="service-img" >-->
                  <h5>About Us</h5>
                  <li class="footer-sub-item active">
                      <a class="footer-link" href="/team">Meet the Team</a>
                      <a class="footer-link" href="/">Partners</a>
                      <a class="footer-link" href="/">Location</a>
                      <a class="footer-link" href="/">Our Network</a>
                      <a class="footer-link" href="/">Connect</a>
                  </li>
              </div>
              <div class="col-md-3 ">
                  <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                  <h5>Core Services</h5>
                  <li class="footer-sub-item active">
                      <a class="footer-link" href="/">Training</a>
                      <a class="footer-link" href="/">Project Management</a>
                      <a class="footer-link" href="/">Job Networking</a>
                      <a class="footer-link" href="/">Recruitment</a>
                      <a class="footer-link" href="/">Resume Prep</a>
                  </li>
              </div>
              <div class="col-md-3 services">
                  <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                  <h5>Technologies</h5>
                  <li class="footer-sub-item active">
                      <a class="footer-link" href="https://www.youtube.com/watch?v=gWZtNdMko1k&list=PLWPirh4EWFpGXTBu8ldLZGJCUeTMBpJFK">Tableau</a>
                      <a class="footer-link" href="/">SQL</a>
                      <a class="footer-link" href="/">Python</a>
                      <a class="footer-link" href="https://www.youtube.com/watch?v=6DZ7YVeCeqg">Alteryx</a>
                      <a class="footer-link" href="/">Advanced Excel</a>
                  </li>
              </div>
              <div class="col-md-3">
                  <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                  <h5>More Resources</h5>
                  <li class="footer-sub-item active">
                      <a class="footer-link"
                          href="        https://public.tableau.com/profile/coda2331#!/vizhome/CODAANALYTICS-BI-SOLUTION-3v1/CODAANALYTICS-SCHEDULE">Business
                          Analysis</a>
                      <a class="footer-link"
                          href="https://www.youtube.com/watch?v=RbWCBz5fBBw&list=PL5nViEmyYI0ZpbH5jjFPvMZVDDPqvd080">Business
                          Analysis</a>
                      <a class="footer-link"
                          href="https://public.tableau.com/en-us/s/resources">Tableau Resources</a>
                      <a class="footer-link"
                          href="https://www.youtube.com/watch?v=ZNObiptSMSI&list=PL08903FB7ACA1C2FB"> SQL by Venkat</a>
                      <a class="footer-link"
                          href="https://www.youtube.com/watch?v=YYXdXT2l-Gg&list=PL-osiE80TeTt2d9bfVyTiXJA-UTHn6WwU" target="_blank">Python by Corey</a>
                      <a class="footer-link" href="www.w3schools.com">General Links(w3schools)</a>
              
                  </li>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock content %}
