{%extends "data/index.html"%} {%load crispy_forms_tags%}
{%block content %}

<div class="upload">
  <br>
  <h3 class="display-6 text-center">Upload Interview Materials</h3>
  <p class="lead font-italic text-center">
    Please upload your  Interview Documents for review.
  </p>
  <hr />
  <form method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token%}
    <div class="row">
      <div class="col-md-3 text-center">
        {{ form.first_name|as_crispy_field }}
      </div>
      <div class="col-md-3 text-center">
        {{ form.last_name|as_crispy_field }}
      </div>
      <div class="col-md-3 text-center">
        {{ form.category|as_crispy_field }}
      </div>
      <div class="col-md-3 text-center">
        {{ form.question_type|as_crispy_field }}
      </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">{{ form.doc|as_crispy_field }}</div>
        <div class="col-md-6">{{ form.link|as_crispy_field }}</div>
    </div>
    <hr />
    <div class="row text-center">
      <div class="col-md-12">
        <button type="submit " class="btn btn-success">
          <i class="fas fa-database"></i>Submit
        </button>
      </div>
    </div>
    <div class="col-md-12">{{ form.errors}}</div>
  </form>
</div>
{% endblock content %}
