{%extends "main/base_templates/analysis_index.html"%}
{% load static %}
{% block content %}
  <div class="row bottom-coloumn">
    <div class="col-md-12 top-coloumn bottom-coloumn">
  <div class="container mt-5">
		<h2 class="text-center">CROWN DATA ANALYSIS AND CONSULTANCY LIMITED</h2>
		<p class="text-center">P.O. Box 217 Turbo, Kenya. Email: rc.hrdepartment@gmail.com</p>
		<h3 class="text-center">APPOINTMENT LETTER</h3>
		<p class="text-center">MARCH15, 2022</p>
		<p class="text-center">CROWN DATA ANALYSIS AND CONSULTANCY LTD</p>
		<p class="text-center">ELDORET, KENYA</p>
    <p>========================================================================================================</p>
		<h4>Appointment Letter-Permanent</h4>
		<p>REF NO: CROWN DATA ANALYSIS AND CONSULTANCY LIMITED /HR/012020/21</p>
		<p>Dear; Mr. STEVE OSANO</p>
		<p>Subject: Letter of Appointment</p>
		<p>This has reference to your application and the 45 days of training you have had with Crown Data Analysis and consultancy limited. We are pleased to appoint you as a Data Analyst based at Makutano-Turbo, Kenya after completing the 75 sessions.</p>
		<p>Your employment will be governed by the following terms and conditions:</p>
    <table class="table">
      <thead>
        <tr>
          <th>Terms</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Monthly Gross Salary</td>
          <td>You will be paid a monthly gross salary of KES between 10,000-20000__ per month in the first three months. However, this pay is dependent on your performance under the DAF system.</td>
        </tr>
        <tr>
          <td>Working Hour/Days</td>
          <td>Most of the company clients stay in diaspora and due to the time difference, every employee will be required to work at night. Then you will get a one day off between Monday to Thursday. You won’t be allowed to take an off on Friday, Saturday or Sunday.</td>
        </tr>
        <tr>
          <td>Date of Appointment</td>
          <td>Your date of appointment as per company records is ______19/3/2022__.</td>
        </tr>
        <tr>
          <td>Salary Increase</td>
          <td>Increase in your salary will be reviewed periodically as per the policy of the Company. Increments in the salary range will be on the basis of demonstrated results and effectiveness of performance during the period of review.</td>
        </tr>
        <tr>
          <td>Leave</td>
          <td>You will be entitled to annual leave after the three months working in the company.</td>
        </tr>
        <tr>
          <td>Responsibilities</td>
          <td>In view of our office, you must effectively perform to ensure results. Your performance would be reviewed as per the Company’s Performance Management System.</td>
        </tr>
        <tr>
          <td>Retirement Age</td>
          <td>The normal retirement age for all employees is 60 years.</td>
        </tr>
        <tr>
          <td>Contract Period</td>
          <td>On confirmation, you will be required to work in the company for a period of one year after which you will be required to renew the contract at your own wish. This appointment may be terminated by either party by giving one month’s notice or salary in lieu thereof.</td>
        </tr>
      </tbody>
    </table>
   <!-- <a class="article-title" href="{% url 'main:appointment_letter_download'%}">pdf</a> -->
    
</div>
</div>
</div>

{% endblock content %}