{%extends "main/base_templates/investing_index.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <h2>Investment Powerpoints</h2>
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>Document_Id</th>
         <!--- <th>Document Date</th>-->
          <th>Document Type</th>
          <th>Document Name</th>
          <th>Document</th>
          <th>Link</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for document in documents %}
        <tr>
          <td>{{document.id}}</td>
         <!--<td>{{document.document_date|date:"F d, Y"}}</td>--> 
          <td>{{document.doc_type}}</td>
          <td>{{document.doc_name}}</td>
          <td>
            <a href="{{document.doc.url}}" class="btn btn-secondary btn-sm"
              >Download 
            </a>
          </td>
          <td>
            <a href="{{document.link}}" class="btn btn-secondary btn-sm"
            >Watch 
          </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
