<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<style>
    .hidden{
        display:none;
    }

    .point{
        max-width:80px; 
    }

</style>

<div class="row">

    <div class="col-md-12"></div>

    <div class="col-md-12">
        <div class="card card-body">
            <button class="btn btn-sm btn-primary" id="Employee Renumeration">Employee Renumeration System</button>
            <!-- Data Table -->
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">Activity Name</th>
                  <th scope="col">Submision</th>
                  <th scope="col">Deadline</th>
                  <th scope="col">Late Penalty</th>
                  <th scope="col">Point</th>
                  <th scope="col">Max Points</th>
                  <th scope="col">Earning</th>
                  <th scope="col">Pay</th>
                </tr>
              </thead>
              <tbody id="activities-table">



                
              </tbody>
              <tr> 
                    
                <td colspan="8" >Total</td>
                <td id="totalpay" style="font-weight: bold;"></td>
            </tr>
            </table>
        </div>
    </div>
    <div class="col-md-12"></div>
</div>

<script>

    function updateActivityPOST(data){
        var url = '/management/updateactivity/'
        $.ajax({
            method:'POST',
            url:url,
            data:data,
            success:function(){
                
            }
        })


    }

    var activities = []
    var dataURL = 'activityapi/'
    $.ajax({
        method:'GET',
        url:dataURL,
        success:function(response){
            activities = response
            console.log(activities)
            for (var i in activities){
                addRow(activities[i])
            }
        }
    })

   
    function addRow(obj){
        var row = `<tr scope="row" class="activity-row-${obj.id}">
                       <td>${obj.name}</td>
                       <td id="submission-${obj.id}" data-activityid="${obj.id}"">${obj.submission}</td>
                       <td id="deadline-${obj.id}" data-activityid="${obj.id}"">${obj.deadline}</td>
                       <td id="late_penalty-${obj.id}" data-activityid="${obj.id}"">${obj.late_penalty}</td>
                       <td id="point-${obj.id}" data-activityid="${obj.id}"">${obj.point}</td>
                       <td id="mxpoint-${obj.id}" data-activityid="${obj.id}"">${obj.mxpoint}</td>
                       <td id="earning-${obj.id}" data-activityid="${obj.id}"">${obj.earning}</td>
                       <td id="pay-${obj.id}" data-activityid="${obj.id}"">${obj.pay}</td>
                       
                       <td>
                            <button class="btn btn-sm btn-danger hidden" data-activityid=${obj.id} id="delete-${obj.id}">Delete</button>
                            <button class="btn btn-sm btn-info" disabled data-activityid="${obj.id}"  id="save-${obj.id}">Save</button>
                            <button class="btn btn-sm btn-danger hidden" data-activityid="${obj.id}"  id="cancel-${obj.id}">Cancel</button>
                            <button class="btn btn-sm btn-primary hidden" data-activityid="${obj.id}"  id="confirm-${obj.id}">Confirm</button>
                       </td>
                   </tr>`

        $('#activities-table').append(row)


        $(`#delete-${obj.id}`).on('click', deleteActivity)
        $(`#cancel-${obj.id}`).on('click', cancelDeletion)
        $(`#confirm-${obj.id}`).on('click', confirmDeletion)
        $(`#save-${obj.id}`).on('click', saveUpdate)

        $(`#point-${obj.id}`).on('click', editpoint)
        
    }

    function editpoint(){
        var activityid = $(this).data('activityid')
        var value = $(this).html()

        $(this).unbind()
        $(this).html(`<input class="point form-control" data-activityid=${activityid} id="activity-${activityid}" type="text" value="${value}">`)

        $(`.point`).on('keyup', function(){
            var activityid = $(this).data('activityid')
            var saveBtn = $(`#save-${activityid}`)
            saveBtn.prop('disabled', false)

        })

    }


    function saveUpdate(){
        console.log('Saved!')
        var activityid = $(this).data('activityid')
        var saveBtn = $(`#save-${activityid}`)
        var row = $(`.activity-row-${activityid}`)

        saveBtn.prop('disabled', true)
        row.css('opacity', "0.5")

        var point = $(`#activity-${activityid}`).val()
        var data = {'id':activityid, 'point':point}

        updateActivityPOST(data)

        setTimeout(function(){
            row.css('opacity', '1')
        }, 2000)


    }

    function deleteActivity(){
        var activityid = $(this).data('activityid')

        var deleteBtn = $(`#delete-${activityid}`)
        var saveBtn = $(`#save-${activityid}`)
        var cancelBtn = $(`#cancel-${activityid}`)
        var confirmBtn = $(`#confirm-${activityid}`)

        deleteBtn.addClass('hidden')
        saveBtn.addClass('hidden')

        cancelBtn.removeClass('hidden')
        confirmBtn.removeClass('hidden')
    }

    function cancelDeletion(){
        var activityid = $(this).data('activityid')

        var deleteBtn = $(`#delete-${activityid}`)
        var saveBtn = $(`#save-${activityid}`)
        var cancelBtn = $(`#cancel-${activityid}`)
        var confirmBtn = $(`#confirm-${activityid}`)

        deleteBtn.removeClass('hidden')
        saveBtn.removeClass('hidden')

        cancelBtn.addClass('hidden')
        confirmBtn.addClass('hidden')

    }

    function confirmDeletion(){
        var activityid = $(this).data('activityid')
        var row = $(`.activity-row-${activityid}`)
        row.remove()
        var data = {'id':activityid}
        deleteActivityPOST(data)

    }


</script>

<script>
    $(document).ready(function()
      {
        var emppay;
        var totalpay=0;
        $('td:nth-child(5)').each(function()
      {
          emppay=$(this).html();
          totalpay += parseInt(emppay);
          $('#totalpay').text(totalpay);
      });

    });
</script>