{%extends "main/base_templates/new_base.html"%} {% block content %}
 <!--------------------------Team Section--------------------------------->
<section id="testimonials-section">
  <div class="testimonials text-center">
      <div class="row welcome text-center">
        <div class="col-12">
          <h1 class="display-4">EXPERTS FOR DATA ANALYTICS/SCIENCE</h1>
        </div>
        <hr/>
      </div>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
      <div class="emp">
        <div class="col-12">
          <h1 class="display-6">Top Tech Talent</h1>
        </div>
        <div class="row text-center commit"> 
              {% for user in active_job_seekers %}
              <div class="col-md-3">
                  <div class="img-div p-3">
                      <span>
                          <img
                              src="{{googledriveurl}}={{user.img_url}}""
                              class="team-img rounded-circle"
                              width="150px"
                              height="150px"/>
                         </span>
                  </div>
                  <h3>{{user.user.first_name}},{{user.user.last_name}}</h3>
                  <h5>{{user.position}},{{user.company}}</h5>
                  <p>
                    {{user.description}}
                  </p>
                  {% if user.is_admin or user.is_superuser or user == emp.user %}
                  <a href="{% url 'main:update_profile' emp.user.id %}">Update Profile</a>
                  {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
        <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />

      <div class="emp">
        <div class="col-12">
          <h1 class="display-6">Recent Entry in the Job Market</h1>
        </div>
        <div class="row text-center commit"> 
              {% for user in active_job_support %}
              <div class="col-md-3">
                  <div class="img-div p-3">
                      <span>
                        <img
                        src="{{googledriveurl}}={{user.img_url}}""
                    class="team-img rounded-circle"
                    width="150px"
                    height="150px"
                  />
                        </span>
                  </div>
                  <h3>{{user.user.first_name}},{{user.user.last_name}}</h3>
                  <h5>{{user.position}},{{user.company}}</h5>
                  <p>
                    {{user.description}}
                  </p>
                  {% if user.is_admin or user.is_superuser or user == emp.user %}
                  <a href="{% url 'main:update_profile' emp.user.id %}">Update Profile</a>
                  {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
</div>
</section>
{% endblock content %}
