{%extends "main/base_templates/base.html"%} {% block content %}
{% load static %}
{% load mathfilters %}
{% block title %}
<!----{% if department %}{{ department.name }}{% else %}activities{% endif %}----->
{% endblock %}
<!--------------------------Slider Section--------------------------------->
<!-------------------Our home services Section------------------------->
<!-------------------1. Our  Job Report Section------------------------->
<section id="data_training">

<div class="data_training text-center">
  <h3 class="title">WELCOME BACK {{user.first_name|upper }}</h3>
  <!-- <p class="p text-center">We Value Your Time Here at CODA, you have been assigned <b>{{num_tasks}}</b> activities with <b>{{time_remaining}}</b> days left this month</p> -->
<input type="hidden" name="amounts" value="{{GoalAmount}} {{total_pay}}" id="total_amount">
<div class="container-fluid mr-auto">
      <div class="row text-center">
                  <div class="col-md-3 amount_msg" id="bada">
                      <div class="card">
                        <div class="card-body">
                          <h5><b>Target</b></h5>
                          <hr/>
                          <i><h6>{{GoalAmount|div:100}}</h6></i>
                          <hr/>
                          <i><p>Past 3 Months data</p></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3" id="bada">
                      <div class="card">
                      <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                        <div class="card-body">
                          <h5><b>Earned</b></h5>
                          <hr/>
                          <i><h6>$.{{total_pay|div:100}}</h6></i>
                          
                          <hr/>
                          <i><p>Keep making progress</p></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3" id="bada">
                      <div class="card">
                      <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                        <div class="card-body">
                          <h5><b>Pending</b></h5>
                          <hr/>
                          <i><h6>$. {{paybalance|div:100}}</h6></i>
                          <hr/>
                          <i><p>Complete more tasks</p></i>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3" id="bada">
                      <div class="card">
                      <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                        <div class="card-body">
                          <h5><b>Hours</b></h5>
                          <hr/>
                          <i><h6>{{Points}}/{{MaxPoints}}</h6></i>
                          <hr/>
                          <i><p>Balance:{{pointsbalance}}</p></i>
                        </div>
                      </div>
                    </div>
      </div>
    </div> 
</div> 

</section>
    <table class="table table-borderless tasks" style="width: 100%">
      <thead class="border-bottom font-weight-bold">  
        <tr>
          <th>Check</th>
          <th>Task</th>
          <th>Deadline</th>
          <th>Submission</th>
          <th>Time</th>
          <th>Target</th>
          <th>Target Amount</th>
          <th>Earnings</th>
          <th>Evidence</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        {% for task in  tasks  %}
            <tr>
                <td><input type="checkbox" class="checkthis" /></td>
                <td>
                    <a class="text-dark  text-decoration-none" 
                    data-toggle="tooltip" title="{{  task.description  }}"
                    href="{{ category.get_absolute_url }}">
                    {{  task.activity_name  }}
                    </a>
                </td>
                <!--  <td>{{task.employee}}</td>
                <!--<td>{{task.group}}</td>-->
                <td>{{task.deadline|date:"F d, Y"}}</td>
                <td>{{task.submission|date:"F d, Y"}}</td>
                <td>{{task.point}}</td>
                <td>{{task.mxpoint}}</td>
                <td>{{task.mxearning|div:100}}</td>
                <td>{{task.get_pay|div:100}}</td>
              <td>
                <button>
                  <a href="{{task.task_url}}">
                    Upload Evidence
                  </a>
                </button>
              </td>
              
            <!-- <td> <a class="article-title" href="https://docs.google.com/spreadsheets/d/1Uiz7k6uP6ifoyiWp073rwliPw1CqVFVJUbKGyqJ-58s/edit?pli=1#gid=0">Excel Evidence</a></td> -->
            {%if user.is_admin or user.is_superuser%}
            <td> <a class="article-title" href="{% url 'management:userupdatetask' task.id %}">Edit</a></td>
            {%else%}
              <td> <a class="article-title" href="{{task.task_url}}">Evidence</a></td>
            {%endif%}
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script> -->
<script type="text/javascript">
$(document).ready(function() {
var msg_data=[]
$('.tasks tbody>tr').each(function () { 
let task_data = ['sprint','general','recruitment','daf','meetings','bi support','job support','management']
html_task_data = $(this). children("td:nth-child(2)").text().trim();
html_points_data = $(this). children("td:nth-child(5)").text().trim();
if (task_data.includes(html_task_data.toLowerCase()) && parseInt(html_points_data) === 0 &&(!msg_data.includes(html_task_data)))
{
msg_data.push(html_task_data)
} 
});
if(msg_data.length != 0)
{
$(".point_msg").attr("title",`Your Pay will be delayed for this month kindly work on these activities ${msg_data.join(",").toString()}`)
}


var d = new Date();
var day = d.getDate();
let total_amount =$("#total_amount").val().split(" ");
let condition1 = (total_amount[1]/total_amount[0])*100;
let condition2 = day
if(parseInt(condition1) < 33 && parseInt(day) < 15)
{
$(".amount_msg").attr("title",`Your Pay will be delayed for last month kindly work on these activities ${msg_data.join(",").toString()}`)
}


});
</script>
{% endblock content %}
