{% extends "main/base_templates/new_base.html"%}
{% block content %}

<style>
  .popover__wrapper {
    position: relative;
  }
  .popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 50%; /* Position in the middle horizontally */
    transform: translate(-50%, 10px);
    background-color: #bfbfbf;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
    padding: 15px; /* Add padding for the square box */
  }
  .popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #bfbfbf transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -20px); /* Adjust vertical position */
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  .popover__message {
    text-align: center;
  }
  
  </style>

<div class="container-fluid">
  <div class="row jumbotron">
    <div id="j-section" class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <div class="col-12 text-center">
        <h2 class="display-5 text-center">{{title}}</h2>
      </div>
      <p class="lead text-center">
        Select a plan that based addresses your needs that best suits your needs.
      </p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
    <a href="/register" target="_blank">
    </a>
  </div>
  </div>

<!-------------------Our Services Section---------------------->
<!-------------------WHAT WE DO Section------------------------->
    <!-------------------Cards-Category Section----------------------->
<div class="container-fluid padding">
  <div class="row padding">
    {% for service in services %}
    <div class="row">
      <div class="col-md-12">
        <p class="display-5 text-center"><b>{{ service.name }}{{ service.title }}</b></p>
      </div>
      </div>
    <div class="col-md-12 " id="bada">
      <div class="popover__wrapper">
      <div class="card-group">
        <div class="card">
            <div class="row">
              <hr>
              <div class="col-md-10">
                <p>
                  {{ service.description|safe }}
                </p>
              </div>
              <div class="col-md-2 text-center">
                <b>${{ service.price|floatformat:2 }}</b>
                {% if service.slug %}
                <a href="{{ SITEURL }}/{{ service.slug }}/"><button type="button" class="btn btn-primary">More</button></a>
                {% else %}
                <form action="{% url 'finance:newcontract' request.user %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="service_title" value="{{ service.name }}{{ service.title }}">
                  <button type="submit" class="btn btn-primary">Proceed</button>
                </form>
                {% endif %}
              </div>
            </div>
        </div>
      </div>
      {% for course, infos in courses.items %}
      {% if course ==  service.title %}
      {% for info in infos %}
      <div class="popover__content">
        <p class="popover__message"></p>
        <div class="popover__box"> 
          {% if course ==  'AI' %}
          <h2 class="display-5 text-center">In the Age of AI:Project Based</h2>
          <hr>
              <div class="row">
                {% for info in infos %}
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-md-6">
                            <p>{{ info.title }}</p>
                            <p>{{ info.description|safe }}</p>
                            <p>{{ info.description1|safe }}</p>
                        </div>
                    {% else %}
                        <div class="col-md-6">
                            <p>{{ info.title }}</p>
                            <p>{{ info.description|safe }}</p>
                            <p>{{ info.description1|safe }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% elif course ==  'Full Course' %}
            <h2 class="display-5 text-center">End to End: Project Based Training</h2>
            <hr>
                <div class="row">
                  {% for info in infos %}
                      {% if forloop.counter|divisibleby:2 %}
                          <div class="col-md-6">
                              <p>{{ info.title }}</p>
                              <p>{{ info.description|safe }}</p>
                              <p>{{ info.description1|safe }}</p>
                          </div>
                      {% else %}
                          <div class="col-md-6">
                              <p>{{ info.title }}</p>
                              <p>{{ info.description|safe }}</p>
                              <p>{{ info.description1|safe }}</p>
                          </div>
                      {% endif %}
                  {% endfor %}
              </div>
          {% else %}
          <p>{{ info.title }}</p>
          <p>{{ info.description|safe }}</p>
          {% endif %}
        </div>
      </div>
      {% endfor %} 
      {% endif %}
      {% endfor %} 
    </div>
    </div>
    <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
{% endfor %}
  </div>
</div>
<br>
<br>
<!-------------------WHAT WE DO Section------------------------->

{% endblock content %}