{% extends "main/base_templates/new_base.html"%}
{% block content %}

<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <!-- <h2 class="display-4">{{title}}</h2> -->
      <h2 class="display-6">WHAT WE OFFER</h2>
    </div>
    <hr/>
    <div class="col-12">
      <p class="lead">
        CODA provides comprehensive data analysis training programs that offer project-based training, 
        requirement analysis, reporting, ETL, and database management.This training is designed to equip 
        individuals and organizations with the skills, knowledge, and tools they need to succeed in the field of data analysis. Additionally, CODA offers interview and job application training to help participants prepare for job interviews and succeed in their job search. 
      </p>
    </div>
  </div> 
</div>
<div class="container-fluid padding">
  <div class="row padding">
    {% for service in services %}
    <div class="col-md-4" id="bada">
      <div class="card">
        <div class="">
            <p class="display-5 text-center"><b>{{service.title}}</b></p>
            <hr>
            <p>{{ service.description|safe}}</p>
          <a href="{{SITEURL}}/data/{{service.slug}}/" ><button type="button" class="btn btn-primary">More</button></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div> 

<br>
<br>

{% endblock content %}