{% extends "main/base_templates/base.html" %} {% block content %}
<section id="career">
  <div class="career text-center">
    <h2>Employee Records</h2>
    <button>
      <a
      href="{%url 'management:employee-create'%}" 
        class="btn text-secondary px-0"
      >
        Add New Employee
      </a>

    </button>

    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>Applicant_Id</th>
          <th>Entry Date</th>
          <th>Full Name</th>
          <th>Contact</th>
          <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
        <tr>
          <td>{{employee.id}}</td>
          <td>{{employee.entry_date|date:"F d, Y"}}</td>
          <td>{{employee.name}}</td>
          <td>{{employee.contact}}</td>
          <td>{{employee.email}}</td>
          
          
          <td>
            <a
            href="{%url 'testing:employees-update' employee.id%}" 
              class="btn text-secondary px-0"
            >
              edit
            </a>
          </td>

          <td>
            <a
            href="{%url 'testing:employee-delete' employee.id %}" 
              class="btn text-secondary px-0"
            >
             <h3><b>x</b></h3> 
            </a>
          </td>
      </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
