{%extends "main/base_templates/analysis_index.html"%}
{% load static %}

{% block content %}
        
  <div class="row bottom-coloumn">
    <div class="col-md-12 top-coloumn bottom-coloumn">
        <p class="title-sub-head text-center">
            SUBJECT : BUSINESS|DATA ANALYSIS
        </p>
        <p>===================================================================</p>
        <p class="text-dark text-left  mb-4">
          Hi {{request.user}},<br>
          Welcome to Crown Data Analysis and Consultancy (CODA) Limited. My hope is that by the end of this course you have a new appreciation for the subject matter and will continue your education in the subject.<br>
          
          My name is Chris Maghas and I will be your instructor for the next 12 weeks 
          in this completely online course. This course runs {{start_date}} to {{end_date}}
          In this email you will find basic information about the course as well as resources for
          ensuring your success in the course. The course will be conducted on Gotomeeting.com and
          everything for your success will be shared. An online course is much like a face-to-face
          course, it takes a significant time commitment from you. I expect you to spend at least 12 hours
          per week working on the material. While there is a significant amount of reading, I have worked to make it all enjoyable. Each week’s material will be made available Sunday Evening. I have Attached in this email the 
          Course Outline as well as specifications of the laptop needed for the course.<br>

          Last, please contact me if you have a question about the course. 
          The best way to do this is via email at info@codanalytics.net or phone at +1 (417) 413-7966.
          My goal is to respond to your messages within 4hrs.If you do not receive a response back 
          within the 4-hour timeframe, resend the message as it may have been lost in cyberspace.
          I’m so glad you have joined this class and I look forward to working with you!<br>
         
          Coach.
          Chris Maghas <br>
          <Button>
           <a href="https://docs.google.com/document/d/1whVgYPPSss19JU5bUK0CDFMP8EvTG6g-/edit">
            Print
           </a>
          </Button>
          
        </p>
    </div>
 
</div>
  {% endblock content %}

