{% load static %}

<!DOCTYPE html>
<html>
      <head>
              <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
              <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
              
              <style>
                  .hidden{
                      display:none;
                  }
                  .point{
                      max-width:80px; 
                  }
              </style>
      </head>

      <body>
        <header>
          <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
              <div class="container-fluid">
                  <a class="navbar-brand" href="/"CODA</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarCollapse">
                      <ul class="navbar-nav me-auto mb-2 mb-md-0">
                          <li class="nav-item active">
                              <a class="nav-link" aria-current="page" href="/management">Home</a>
                          </li>
  
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                  data-bs-toggle="dropdown" aria-expanded="false">
                                  Departments
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                 <!--<li><a class="dropdown-item" href="/">All</a></li>--> 
                                  {% for dept in departments %}
                                  <li {% if department.slug == dept.slug %}class="selected" {% endif %}>
                                      <a class="dropdown-item" href="{{ dept.get_absolute_url }}">{{ dept.name }}</a>
                                  </li>
                                  {% endfor %}
                              </ul>
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>
      </header>

      <div>
        {% block content %} 
        
        {% endblock %}
      </div>

        <script>
          function updateTaskPOST(data){
              var url = '/management/updateactivity/'
              $.ajax({
                  method:'POST',
                  url:url,
                  data:data,
                  success:function(){
                      
                  }
              })
      
      
          }
      
          var tasks = []
          var dataURL = 'activityapi/'
          $.ajax({
              method:'GET',
              url:dataURL,
              success:function(response){
                  tasks = response
                  console.log(tasks)
                  for (var i in tasks){
                      addRow(tasks[i])
                  }
              }
          })
         
          function addRow(obj){
              var row = `<tr scope="row" class="task-row-${obj.id}">
                             <td>${obj.name}</td>
                             <td id="submission-${obj.id}" data-taskid="${obj.id}"">${obj.submission}</td>
                             <td id="deadline-${obj.id}" data-taskid="${obj.id}"">${obj.deadline}</td>
                             <td id="late_penalty-${obj.id}" data-taskid="${obj.id}"">${obj.late_penalty}</td>
                             <td id="point-${obj.id}" data-taskid="${obj.id}"">${obj.point}</td>
                             <td id="mxpoint-${obj.id}" data-taskid="${obj.id}"">${obj.mxpoint}</td>
                             <td id="earning-${obj.id}" data-taskid="${obj.id}"">${obj.earning}</td>
                             <td id="pay-${obj.id}" data-taskid="${obj.id}"">${obj.pay}</td>
                             
                             <td>
                                  <button class="btn btn-sm btn-danger hidden" data-taskid=${obj.id} id="delete-${obj.id}">Delete</button>
                                  <button class="btn btn-sm btn-info" disabled data-taskid="${obj.id}"  id="save-${obj.id}">Save</button>
                                  <button class="btn btn-sm btn-danger hidden" data-taskid="${obj.id}"  id="cancel-${obj.id}">Cancel</button>
                                  <button class="btn btn-sm btn-primary hidden" data-taskid="${obj.id}"  id="confirm-${obj.id}">Confirm</button>
                             </td>
                         </tr>`
      
              $('#tasks-table').append(row)
      
              //$(`#delete-${obj.id}`).on('click', deleteTask)
              //$(`#cancel-${obj.id}`).on('click', cancelDeletion)
              //$(`#confirm-${obj.id}`).on('click', confirmDeletion)
              $(`#save-${obj.id}`).on('click', saveUpdate)
      
              $(`#point-${obj.id}`).on('click', editpoint)
              
          }
      
          function editpoint(){
              var taskid = $(this).data('taskid')
              var value = $(this).html()
      
              $(this).unbind()
              $(this).html(`<input class="point form-control" data-taskid=${taskid} id="task-${taskid}" type="text" value="${value}">`)
      
              $(`.point`).on('keyup', function(){
                  var taskid = $(this).data('taskid')
                  var saveBtn = $(`#save-${taskid}`)
                  saveBtn.prop('disabled', false)
      
              })
      
          }
      
          function saveUpdate(){
              console.log('Saved!')
              var taskid = $(this).data('taskid')
              var saveBtn = $(`#save-${taskid}`)
              var row = $(`.task-row-${taskid}`)
      
              saveBtn.prop('disabled', true)
              row.css('opacity', "0.5")
      
              var point = $(`#task-${taskid}`).val()
              var data = {'id':taskid, 'point':point}
      
              updateTaskPOST(data)
      
              setTimeout(function(){
                  row.css('opacity', '1')
              }, 2000)
      
      
          }
      
          function deleteTask(){
              var taskid = $(this).data('taskid')
      
              var deleteBtn = $(`#delete-${taskid}`)
              var saveBtn = $(`#save-${taskid}`)
              var cancelBtn = $(`#cancel-${taskid}`)
              var confirmBtn = $(`#confirm-${taskid}`)
      
              deleteBtn.addClass('hidden')
              saveBtn.addClass('hidden')
      
              cancelBtn.removeClass('hidden')
              confirmBtn.removeClass('hidden')
          }
          function cancelDeletion(){
              var taskid = $(this).data('taskid')
      
              var deleteBtn = $(`#delete-${taskid}`)
              var saveBtn = $(`#save-${taskid}`)
              var cancelBtn = $(`#cancel-${taskid}`)
              var confirmBtn = $(`#confirm-${taskid}`)
      
              deleteBtn.removeClass('hidden')
              saveBtn.removeClass('hidden')
      
              cancelBtn.addClass('hidden')
              confirmBtn.addClass('hidden')
      
          }
          function confirmDeletion(){
              var taskid = $(this).data('taskid')
              var row = $(`.task-row-${taskid}`)
              row.remove()
              var data = {'id':taskid}
              deleteTaskPOST(data)
      
          }
      
      </script>
      
      <script>
          $(document).ready(function()
            {
              var emppay;
              var totalpoints=0;
              $('td:nth-child(5)').each(function()
            {
                emppoints=$(this).html();
                totalpoints += parseInt(emppoints);
                $('#totalpoints').text(totalpoints);
            });
      
          });

          $(document).ready(function()
            {
              var mxpoints;
              var totalmxpoints=0;
              $('td:nth-child(6)').each(function()
            {
                emppoints=$(this).html();
                totalpoints += parseInt(emppoints);
                $('#totalmxpoints').text(totalmxpoints);
            });
      
          });

          $(document).ready(function()
            {
              var emppay;
              var totalpay=0;
              $('td:nth-child(8)').each(function()
            {
                emppay=$(this).html();
                totalpay += parseInt(emppay);
                $('#totalpay').text(totalpay);
            });
      
          });
      </script>
      </body>
</html>
