{%extends "main/base_templates/application_base.html"%} {% block content %}
{% for category in categories %}
<section id="rating">
    <div class="rating text-center">
        <h3 class="title"> {{category.title}} </h3>
        <table class="table table-borderless" style="width: 100%">
            <thead class="border-bottom font-weight-bold">
                <tr>
                    <th>Editor</th>
                    <th>Update Date</th>
                    <th>Description</th>
                    <th>Link Name</th>
                    <th>Edit</th>
                    <!-- <th>total_score</th>-->
                </tr>
            </thead>
            <tbody>
                {% for subcategory in category.subcat_set.all %}
                <tr>
                    <td>{{subcategory.created_by}}</td>
                    <td>{{subcategory.updated_at|date:"F d, Y"}}</td>
                    <td>{{subcategory.description}}</td>
                         <td>
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                        <a
                                        class="nav-link dropdown-toggle"
                                        href=""
                                        id="navbarDropDown"
                                        role="button"
                                        data-toggle="dropdown"
                                        >
                                        <button type="btn" class="btn-primary">Select</button>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                            {% for link in subcategory.subcats.all %}
                                            <a class="dropdown-item" target="_blank" href=" {{link.link}}"> {{link.link_name}}</a>
                                            <div class="dropdown-divider"></div>
                                            {% endfor %}
                                        </div>
                                    </li>
                                </ul>
                         </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{%endfor%}
{% endblock content %}


