{% extends 'base.html' %}

{% block title %}{{ product.title }} | {% endblock %}

{% block content %}
    <div id="productapp">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'frontpage' %}">Home</a></li>
                {% if task.category.parent %}
                    <li><a href="{% url 'category_detail' task.category.parent.slug %}">{{ task.category.parent.name }}</a></li>
                {% endif %}
                <li><a href="{% url 'category_detail' task.category.slug %}">{{ task.category.name }}</a></li>
                <li class="is-active"><a href="{% url 'task_detail' task.category.slug task.slug %}">{{ task.name }}</a></li>
            </ul>
        </nav>

        <hr>
        <h1 class="title">{{ task.title }}</h1>
        {% if task.description %}
            <p>{{ task.description }}</p>
        {% endif %}

        <h2 class="subtitle">Add to cart</h2>

        {% if task.variants.all %}
            <div class="columns">
                <div class="column is-6">
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <td>
                                    <figure class="image is-48x48">
                                        {% if task.thumbnail.url %}
                                            <img src="{{ task.thumbnail.url }}">
                                        {% endif %}
                                    </figure>
                                </td>

                                <td>
                                    {{ task.name }}
                                </td>

                                <td>
                                    {% if task.in_cart %}
                                        <p>Already in cart!</p>
                                    {% else %}
                                        {% if task.num_available > 0 %}
                                            <button @click="addToCart({{ task.id }})" class="button is-success">Add to cart</button>
                                        {% else %}
                                            <p>The task is out of stock!</p>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>

                            {% for variant in task.variants.all %}
                                <tr>
                                    <td>
                                        <figure class="image is-48x48">
                                            {% if variant.thumbnail.url %}
                                                <img src="{{ variant.thumbnail.url }}">
                                            {% endif %}
                                        </figure>
                                    </td>

                                    <td>
                                        {{ variant.name }}
                                    </td>

                                    <td>
                                        {% if variant.in_cart %}
                                            <p>Already in cart!</p>
                                        {% else %}
                                            {% if variant.num_available > 0 %}
                                                <button @click="addToCart({{ variant.id }})" class="button is-success">Add to cart</button>
                                            {% else %}
                                                <p>The task is out of stock!</p>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            {% if task.in_cart %}
                <p>Already in cart!</p>
            {% else %}
                {% if task.num_available > 0 %}
                    <button @click="addToCart({{ task.id }})" class="button is-success">Add to cart</button>
                {% else %}
                    <p>The task is out of stock!</p>
                {% endif %}
            {% endif %}
        {% endif %}

        <article class="message is-success" v-if="showMessage">
            <div class="message-body">
                The task was added to the cart!
            </div>
        </article>

        <hr>

        <h2 class="subtitle">Related tasks</h2>

        {% with related_tasks as list_tasks %}
            {% include 'parts/task_list.html' %}
        {% endwith %}

        <hr>

        <h2 class="subtitle">Reviews</h2>

        <div class="reviews-wrapper">
            {% for review in task.reviews.all %}
                <div class="notification space-below">
                    <p>
                        <strong>Date: </strong>{{ review.date_added|date:"Y-m-d" }},
                        <strong>Stars: </strong>{{ review.stars }}
                    </p>

                    {{ review.content }}
                </div>
            {% empty %}
                <div class="notification space-below">
                    No reviews yet...
                </div>
            {% endfor %}
        </div>

        <div class="notification space-below">
            {% if request.user.is_authenticated %}
                <form method="post" action=".">
                    {% csrf_token %}

                    <div class="field">
                        <label>Stars</label>

                        <div clas="control">
                            <div class="select">
                                <select name="stars">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3" selected>3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Content</label>

                        <div class="control">
                            <textarea class="textarea" name="content"></textarea>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Submit</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <p>Please sign in to add review!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
