{%extends "main/base_templates/analysis_index.html"%}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 top-coloumn">
            <p class="title-sub-head text-center">
                CODA-CROWN DATA ANALYSIS & CONSULTANCY LLC
            </p>
            <p class="title-para  text-center ">
                Join our Data Analysis Training!
          </p>
        </div>
    </div>
  <div class="row bottom-coloumn">
      <div class="col-md-7 top-coloumn bottom-coloumn ">
        <p class="title-sub-head text-left">
            CODA-Project Based Training!
        </p>
          <p class="text-dark text-left  mb-4">
            This training program will be an end-to-end project-based learning experience. Students will have the option to choose between two systems: financial or employee productivity. 
            Through this program, participants will gain hands-on experience in defining projects, analyzing requirements, and fulfilling clients' needs.
          </p>
          <div class="row">
            <div class="col-md-4">
              <h3>Course</h3>
              <p class="text-dark text-left  mb-4">
                <b>Reporting :</b><br> Tableau and Power BI <br>
                <b>ETL :</b><br> Alteryx <br>
                <b>DBA & Development:</b><br>SQL,& Snowflake,Python<br>
              </p>
            </div>
            <div class="col-md-4">
                <h3>Duration</h3>
                <p class="text-dark text-left  mb-4">
                  <b>Duration :</b><br> 10 Weeks|3 Days a week <br>
                  <b>Project Training :</b> <br>10am-1pm Sat,Sunday <br>
                  <b>Interview Training:</b><br>Friday(5p-8pm CST)
                </p>
              </div>
            <div class="col-md-4">
                <h3>Location</h3>
                <p class="text-dark text-left  mb-4">
                  <b>Online :</b><br> Zoom<br>
                  <b>Register :</b><br>www.codanalytics.net/accounts/join<br>
                  <b>Next Cohort :</b><br> 5/1/2023<br>
                </p>
            </div>
  
          </div>
             <!-- <h3> Course|Tools Covered.</h3>
          <p class="text-dark text-left  mb-4">
            <b>1. Reporting :</b> Tableau and Power BI <br>
            <b>2. ETL :</b> Alteryx <br>
            <b>3. Database Management:</b>SQL and Snowflake<br>
            <b>4. Web Development:</b>Python Django Framework
          </p> -->
          <h3> Key Outcomes</h3>
          <p class="text-dark text-left ">
            <b>Roles :</b>Work as Business Analysts, Project Managers, and Developers in the field of data analysis.
          </p>
          <p class="text-dark text-left ">
            <b>Salary:</b>Potential to earn between $90k to $130k per year.
          </p>
          <p class="text-dark text-left ">
            <b>Network:</b>Connect with over 150 former students in the field.
          </p>
      </div>
      <div class="col-md-5 bottom-left-coloumn">
          <div style="padding-top: 2.2rem;">
            <img
             {%for image in images%}
             {% if image.name == "profile_ceo_v1"%}
                 src="{{googledriveurl}}={{image.image_url}}""
                 
             {%endif%}
             {% endfor %}
             />
          </div>

          <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold text-uppercase follow-text">
                    say hello :
                </p>
            </div>
            <div class="col-md-4">
                <div class="d-flex" style="align-items: center;
                margin-top: 1%;">
                    <i class="fa fa-linkedin" aria-hidden="true" style="font-size: 22px;
                    color: #C5702F;"></i>
                    <span class="ml-2" style="margin-left: 6px;
                    font-size: 15px;
                    margin-top: 2%;">LinkedIn</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex" style="align-items: center;
                margin-top: 1%;">
                    <div class="fb-circle">
                        <i class="fa fa-facebook-f" aria-hidden="true" style="font-size: 19px;
                        color: #ffffff;"></i>
                    </div>
                    <span class="ml-2" style="margin-left: 6px;
                    font-size: 15px;
                    margin-top: 2%;">facebook</span>
                </div>
            </div>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="w-100 d-flex justify-content-center" style="padding:2rem">
          <!-- {% if title %}
          <a href="{% url 'data:category-detail' title=title %}" class="btn btn-md btn-bc font-weight-bold">Begin Course</a>
          {% else %}
          <a href="#" class="btn btn-md btn-bc font-weight-bold">Begin Course</a>
          {% endif %} -->
          {% with 'Introduction' as Introduction %}
          <a href="{% url 'data:subcategory-detail' Introduction %}" class="btn btn-md btn-bc font-weight-bold">Begin Course</a>
          {%endwith%}

      </div>
  </div>
</div>
{% endblock %}