{% load static %}
{% block content %}
{% csrf_token %}
<body>
<div class="container">
    
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat with CODA</h4>
                    <p class="chatbox__description--header">Hi. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
                <div class="chatbox__footer">
                    <input type="text" id="userMessage" name="userMessage" placeholder="Write a message..." aria-label="Type your message">
                    <button class="chatbox__send--footer send__button" id="sendButton">Send</button>
                </div>
        </div>
        <div class="chatbox__button">
            <button id="animationButton"><img src="{% static 'main/image/chatbox-icon.svg' %}" /></button>
        </div>
    </div>
    <script>
        const csrftoken = "{{ csrf_token }}";
    </script>
    
    
    </div>
</div>
<script>
    class Chatbox {
        constructor() {
            this.state = false;
            this.messages = [];
            this.openButton = document.querySelector('.chatbox__button');
            this.chatBox = document.querySelector('.chatbox__support');
            this.sendButton = document.querySelector('.send__button');
            this.messageInput = this.chatBox.querySelector('input');
            this.chatMessages = this.chatBox.querySelector('.chatbox__messages');
    
            this.openButton.addEventListener('click', () => this.toggleState());
            this.sendButton.addEventListener('click', () => this.onSendButton());
            this.messageInput.addEventListener('keyup', (event) => {
                if (event.key === "Enter") {
                    this.onSendButton();
                }
            });
        }
    
        toggleState() {
            this.state = !this.state;
            this.chatBox.classList.toggle('chatbox--active', this.state);
        }
    
        onSendButton() {
    
            // const userMessage = this.messageInput.value.trim();
            // console.log('userMessage23',userMessage);
            
            const userMessage = $('#userMessage').val().trim();

            // Log the userMessage to the console


            if (!userMessage) {
                return;
            }
            
            const userMsg = { name: "User", message: userMessage };
            this.messages.push(userMsg);
    
            // Clear the input field
            this.messageInput.value = '';
    
            // Send the user message to the Django backend
            this.sendUserMessageToBackend(userMessage);
            return false;
        }
    
        sendUserMessageToBackend(userMessage) {
            console.log('userMessage',userMessage);
            const requestData = {
                userMessage: userMessage,
            };
            const baseUrl = 'http://127.0.0.1:8000/get_respos';
            const queryString = new URLSearchParams(requestData).toString();
            const apiUrl = `${baseUrl}?${queryString}`;
            fetch(apiUrl) 
            // .then(response => response.json())
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const botMsg = { name: "Sam", message: data.response };
                console.log(botMsg);

                this.messages.push(botMsg);
                this.updateChatText();
            })
            .catch(error => {
                console.log('Errorr:', error);
                console.error('Errorr:', error);
                const errorMessage = { name: "Error", message: "An error occurred while processing your request." };
                this.messages.push(errorMessage);
                this.updateChatText();
            });
        }
    
        updateChatText() {
            const chatHtml = this.messages.reverse().map(item => {
                const messageClass = item.name === "Sam" ? 'messages__item messages__item--visitor' : 'messages__item messages__item--operator';
                return `<div class="${messageClass}">${item.message}</div>`;
            }).join('');
    
            this.chatMessages.innerHTML = chatHtml;
        }
    }
    
    // Initialize the chatbox
    const chatbox = new Chatbox();
    chatbox.toggleState();
</script>
</body>

{% endblock %}
