{%extends "main/base_templates/investing_index.html"%} {% block content %}
<!--------------------------Slider Section--------------------------------->
<section id="service-slider">
  <div class="service-slider text-center">
          <div id="headerSlider" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#headerSlider" data-slide-to="0" class="active"></li>
                <li data-target="#headerSlider" data-slide-to="1"></li>
                <li data-target="#headerSlider" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img 
                  <img 
                  {%for image in images%}
                  {% if image.name == "investing_page_v1"%}
                      src="{{googledriveurl}}{{image.image_url}}""
                  {%endif%}
                  {% endfor %}
                  class="d-block img-fluid"
                  alt="home2"
                  >
                  <div class="carousel-caption">
                    <a href="{% url 'main:display_service' slug="investing" %}" target="#">
                      <button type="button" class="btn btn-primary btn-lg">Investment</button>
                  </a>
                        <a href="{% url 'accounts:account-login' %}" target="#">
                          <button type="button" class="btn btn-primary btn-lg">Join Today</button>
                      </a>
                  </div>
                </div>

              </div>
              <a class="carousel-control-prev" href="#headerSlider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#headerSlider" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
</div>
</section>

<!-------------------Jumbtron Section------------------------->

<div class="container-fluid">
  <div class="row jumbotron">
    <div id="j-section" class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <p class="lead">
        Our goal is to empower individuals and organizations by training Stocks and Options to use proven techniques and market fundamentals to optimize their return on investment.
      </p>
    </div> 

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
    <a href="{% url 'main:layout' %}" target="_blank">
      <button type="button" class="btn btn-primary btn-lg">Get Started</button>
    </a>
  </div>
  </div>      

<!-------------------Our Services Section---------------------->
<!-------------------WHAT WE DO Section------------------------->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <!-- <h2 class="display-4">WHAT TRAINING ENTAILS</h2> -->
      <h2 class="display-6">{{ title }}</h2>
    </div>
    <hr/>
    <div class="col-12">
      <p class="lead">
        <p class="lead">{{ service_desc }}</p>
          <!--  -->
      </p>
    </div> 
  </div> 
  </div>

    <!-------------------Cards-Category Section----------------------->


<div class="container-fluid padding">
  <div class="row padding text-center">
    {% for service in service_categories %}
    <div class="col-md-4" id="bada">
      <div class="card">
        <div class="card-body">
          
          <!-- <h4><b>Stock Trading</b></h4> -->
          <h4><b>{{ service.name }}{{ service.title }}</b></h4>
          <hr/>
          <p class="bd">
            <!-- Using fundamentals and technicals to define a specific Stock/Option strategy. -->
            <span class="description-short">{{ service.description|slice:":500" }}</span>
            <span class="description-full" style="display: none;">{{ service.description }}</span>
                    
                {% if service.description|length > 500 %}
                  <a href="#" class="more-link">...more</a>
                {% endif %}
          </p>
          {% if service.slug == "option_training" %}
            <a href="{% url 'investing:training' %}" >
              <button type="button" class="btn btn-primary">GET MORE INFORMATION</button>
          </a>
          {% elif  service.slug == "investments_plans" %}
          <a href="{% url 'main:contact' %}"><button type="button" class="btn btn-primary">GET MORE INFORMATION</button></a>
          {% else %}
          <a href="{{ SITEURL }}/display_plans/{{ service.slug }}/"><button type="button" class="btn btn-primary">GET MORE INFORMATION</button></a>
          {% endif %}

        </div>
      </div>
    </div>
    {% endfor %}
    <hr>
    </div>
  </div>
{% include 'main/footer_templates/investing_footer.html' %}
{% endblock content %}