{%extends "main/base_templates/new_base.html"%} 
{% load static %}
{% block content %}
<div class="banner-div">
  <div class="container-md">
      <h2>services</h2>
      <h1>Get help with career, business, and personal projects.</h1>
  </div>
</div>

<div class="strip-div">
  <div class="container">
      <p>Whether it’s learning a new skill, landing a high paying job, or managing your project where you can’t
          be, we
          have a solution for you.
      </p>
  </div>
</div>

<div class="services-div">
  <div class="container-lg">
      <div class="row flex-column-reverse flex-md-row">
          <div class="col-md-6 pe-lg-5">
              <h2 class="mt-4 mt-md-0">DATA ANALYSIS TRAINING</h2>
              <p class="me-lg-5">CODA provides comprehensive data analysis training programs that offer project-based training, 
                requirement analysis, reporting, ETL, and database management. This training is designed to equip 
                individuals and organizations with the skills, knowledge, and tools they need to succeed in the field of data analysis. 
                Additionally, CODA offers interview and job application training to help participants prepare for job interviews and succeed in their job search.
              </p>
              <!-- <p class="me-lg-5">Are you tired of working two to three jobs and living
                  paycheck to paycheck? You need to land a high
                  paying job that will give you freedom and wealth.
                  It's not too late to find a solution. Our BI Training is
                  the fastest career path that can position you to
                  start making a five figures salary from any career
                  background and level of education. Our training is
                  a 3 months Project Based Program. Your future
                  career starts here..
              </p> -->
              <a href= "{% url 'main:display_service' slug="data_analysis" %}" >read more</a>
              
          </div>
          <div class="col-md-6">
              <img class="img-fluid ps-lg-5" src="{% static 'main/img/service-1.jpg' %}" alt="">
          </div>
      </div>

      <div class="row flex-md-row-reverse flex-column-reverse">
          <div class="col-md-6">
              <div class="ps-lg-5">
                  <h2 class="mt-4 mt-md-0">STOCKS & OPTIONS TRAINING</h2>
                  <p>Apart from entrepreneurship and career path,
                      financial markets are another method of building
                      wealth. Whether you are a beginner or an expert,
                      this program will teach you how to grow your
                      wealth through stocks and options. <br>
                      Learn how to make your capital grow with low risk
                      and high return.
                  </p>
                  <a href="{% url 'main:display_service' slug="investing" %}">read more</a>
              </div>
          </div>
          <div class="col-md-6">
              <img class="img-fluid" src="{% static 'main/img/service-2.jpg' %}" alt="">
          </div>
      </div>

      <div class="row flex-column-reverse flex-md-row">
          <div class="col-md-6 pe-lg-5">
              <h2 class="mt-4 mt-md-0">CONSULTANCY • FIELD PROJECT • PROJECT MANAGEMENT</h2>
              <p class="me-lg-5">Are you a diaspora entrepreneur or professional
                  searching for an effective, honest, and trusted
                  management team that can take care of your
                  business or personal project back in your home
                  country? You're in the right place. Among our
                  services are managing construction projects,
                  running errands, and writing business plans,
                  payroll management and more.
              </p>
              <a href="{% url 'main:display_service' slug="consultancy" %}">read more</a>
          </div>
          <div class="col-md-6">
              <img class="img-fluid ps-lg-5" src="{% static 'main/img/service-3.jpg' %}" alt="">
          </div>
      </div>
  </div>
</div>
<div class="testimonials-div">
  <div class="container">
      <h1>CLIENT SUCCESS STORIES</h1>
      <div class="owl-carousel">
      <div class="row text-center commit"> 
        {% for post in posts %}
        <div class="col-md-6">
          <div class="carousel-card">
            <div class="img-div p-3">
              <span>
                <img src="{{googledriveurl}}={{post.writer.profile.image2.image_url}}" class="team-img" width="110px" height="110px" style="border-radius: 50%;"/>
              </span>
            </div>
              <h3> 
                <a href="{% url 'main:post-detail' slug=slug %}">
                  {{ post.writer.first_name }},{{post.writer.last_name}}
                </a>
              </h3>
              <h3>{{post.title}}</h3>
              <font size="2">
                  {{post.content|truncatewords:50}}
                </font>
          </div>
        </div>
        {% endfor %}
       </div>


      </div>
  </div>
</div>
 <div class="row text-center">

  <div class="col-md-6 back-to-top-btn d-flex justify-content-center">
    <a href="{% url 'main:post-create' %}">Share Your Experiences</a>
  </div>
  <div class="col-md-6 back-to-top-btn d-flex justify-content-center">
    <a href="">back to top</a>
  </div>
  </div> 
{% endblock %}