<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand logo-text" href="{% url 'main:layout'%}">CODA</a>
        <button class="navbar-toggler nav-btn" type="button" data-bs-toggle="coll apse"
            data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mr-auto w-100 justify-content-end">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'main:layout' %}"
            >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropDown">
            <a class="dropdown-item" href="{% url 'main:team_profiles' %}"
            >Our Team</a
            >
            <a class="dropdown-item" href="{% url 'main:future_talents' %}"
            >Future Talent</a
            >
            <a class="dropdown-item" href="{% url 'main:client_profiles' %}"
            >Looking For Talent?</a
            >
            <a class="dropdown-item" href="#"
              >Our Board</a
            >
            <a class="dropdown-item" href="{% url 'application:career' %}"
            >Career</a
          >
            <!-- <a class="dropdown-item" href="{% url 'main:appointment_letter' %}"
            >Letter</a
          > -->
          <!-- <a class="dropdown-item" href="{%url 'main:success'%}"
          >Success Stories</a
        > -->
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropDown">

            {% for service in main_services %}
              {% if service.slug == "investing" %}
              <a class="dropdown-item" href="{% url 'investing:InvestmentPlatformOverview' %}">{{service.title}}</a>
              <div class="dropdown-divider"></div>
              {% else %}
                <a class="dropdown-item"  href="{% url 'main:display_service' slug=service.slug %}">{{service.title}}</a>
                <div class="dropdown-divider"></div>
              {% endif %}
            {% endfor %}
          </div>
          <!-- <div class="dropdown-menu" aria-labelledby="navbarDropDown">
            <a
              class="dropdown-item"
              href="{% url 'main:display_service' slug="consultancy" %}"
              >Management & Consultancy</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'main:display_service' slug="data_analysis" %}"
              >Data Analysis Training</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'main:display_service' slug="investing" %}"
              >Stocks & Options Training</a
            >
          </div> -->
        </li>
        {% if user.is_authenticated %}
        {% if user.is_admin or  user.is_staff or  user.is_superuser%}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  id="navbarDropDown" role="button" data-toggle="dropdown"
            >Reports</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                  <!-- <a class="dropdown-item" href="https://drive.google.com/file/d/1UsSmmJv5_83ZRegObGhgGE3C5eIJ-4E1/view"
                       target="" >Company Agenda</a >
                        <div class="dropdown-divider"></div> -->
                  <a class="dropdown-item" href="{% url 'main:finance' %}" 
                       target="" >Finance Department</a>
                        <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://public.tableau.com/app/profile/coda2331/viz/EmployeeProductivityVersion08/LandingPageReport?publish=yes"
                      target="_blank" >Human Resource Report</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'management:assess' %}"
                      target="" >Weekly Assessment </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'main:it' %}"
                          target="" >IT Department</a>
              </div>
        </li>
        {% endif %}
        {% endif %}
      </ul>

      <div class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  id="navbarDropDown" role="button" data-toggle="dropdown"
            >Account</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                    {% if user.is_admin or user.is_superuser %}
                          <a class="dropdown-item" href="{% url 'management:companyagenda'%}" target="" >My Account</a >
                            <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'accounts:accounts-users'%}" target="" >Users</a>
                            <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'account-logout' %}" target="" >Logout</a>
                    {% else %}
                      <a class="dropdown-item" href="{% url 'management:companyagenda'%}" target="" >My Account</a >
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'account-logout'%}" target="" >Logout</a>
                        <div class="dropdown-divider"></div>
                    {% endif %}
              </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  id="navbarDropDown" role="button" data-toggle="dropdown"
            >Support</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                    {% if user.is_admin or  user.is_staff or  user.is_superuser %}
                          <a class="dropdown-item"href="{% url 'main:layout' %}" target="" >Help?</a >
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'management:requirements-active' %}" target="" >Active Requirements</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1gTia0pMaLGDW7bBBTxTDcqnCA8sqCcrzKrKZEItWmH4/edit#gid=1318432858" target="_blank" >Internal Justification </a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1gTia0pMaLGDW7bBBTxTDcqnCA8sqCcrzKrKZEItWmH4/edit#gid=1318432858" target="_blank" >Clients Justfication</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1TsCcmsebLOONpiJRnyruG9iRS6sxzpxBFaSL_QnR3tU/edit#gid=965191431" target="_blank" >Justfication(Excel)</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'getdata:upload-data'%}" target="" >Data/Assets</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'getdata:generate-data'%}" target="" >Big Data</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'getdata:all_logs'%}" target="" >Logs</a>
                              <div class="dropdown-divider"></div>
                              {% else %}
                              <a class="dropdown-item" href="{% url 'main:layout' %}" target="" >Help?</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'management:requirements-active' %}" target="" >Active Requirements</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1TsCcmsebLOONpiJRnyruG9iRS6sxzpxBFaSL_QnR3tU/edit#gid=965191431" target="_blank" >Clients Justfication</a>
                              <div class="dropdown-divider"></div>
                    {% endif %}
              </div>
        </li>
        {% else %}
        <a class="nav-item nav-link" href="{% url 'accounts:account-login' %}"
          >Login</a
        >
        <a class="nav-item nav-link" href="{% url 'accounts:join' %}"
          >Register</a
        >
        {% endif %}

      </div>
        </div>
    </div>
</nav>