<nav class="navbar navbar-expand-md navbar-dark bg-steel sticky-top">
  <div class="container">
    <a class="navbar-brand mr-4" href="{% url 'main:layout' %}">CODA</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarToggle"
      aria-controls="navbarToggle"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggle">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'main:layout' %}"
            >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropDown">
            <a class="dropdown-item" href="{% url 'main:team' %}"
              >Team</a
            >
            <a class="dropdown-item" href="{% url 'application:career' %}"
            >Career</a
          >
          <a class="dropdown-item" href="{%url 'codablog:success'%}"
          >Success Stories</a
        >
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropDown">
            <a
              class="dropdown-item"
              href="{% url 'main:layout' %}"
              >Management & Consultancy</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'data:home' %}"
              >Data Analysis Training</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'investing:home' %}"
              >Stocks & Options Training</a
            >
          </div>
        </li>
        {% if user.is_authenticated %}
        {% if user.is_admin or  user.is_employee %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  id="navbarDropDown" role="button" data-toggle="dropdown"
            >Reports</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                  <a class="dropdown-item"href="https://drive.google.com/file/d/1UsSmmJv5_83ZRegObGhgGE3C5eIJ-4E1/view"
                       target="" >Company Agenda</a >
                        <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'management:finance' %}" 
                       target="" >Finance Report</a>
                        <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'management:hr' %}"
                      target="" >Human Resource Report</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'management:assess' %}"
                      target="" >Weekly Assessment </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'main:it' %}"
                          target="" >IT Department</a>
              </div>
        </li>
        {% endif %}
        {% endif %}

      </ul>

      <div class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  id="navbarDropDown" role="button" data-toggle="dropdown"
            >Account</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                    {% if user.is_admin or  user.is_employee %}
                          <a class="dropdown-item"href="{% url 'main:team' %}" target="" >My Account</a >
                            <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'accounts:accounts-users'%}" target="" >Users</a>
                            <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'management:user_task' request.user %}" target="" >My DAF</a>
                            <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'accounts:user-list' request.user %}" target="" >My Time</a>
                            <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'application:internal' %}" target="" >Internal(1-1)</a>
                            <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'account-logout' %}" target="" >Logout</a>

                          {% elif user.is_client %}
                    <a class="dropdown-item" href="{% url 'accounts:user-list' request.user %}" target="" >My Time</a>
                        <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'account-logout' %}" target="" >Logout</a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'account-logout' %}" target="" >Logout</a>
                    {% endif %}
              </div>
        </li>



        {% else %}
        <a class="nav-item nav-link" href="{% url 'accounts:account-login' %}"
          >Login</a
        >
        <a class="nav-item nav-link" href="{% url 'accounts:join' %}"
          >Register</a
        >
        {% endif %}
        <!------
        <div class="col-12 col-md-8 mr-auto ">
          {% include 'globalsearch/snippets/search-form.html' %}
        </div>
        --->
      </div>
    </div>
  </div>
</nav>
