{%extends "main/base_templates/analysis_index.html"%} {% block content %}

<section id="data_training">
    <div class="data_training text-center">
        <h3 class="title">PRODUCT BACKLOG-STATUS:ACTIVE</h3>
        <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
        <div class="row">
          <div class="col-md-2">
            <p><a href="{% url 'management:new_requirement'%}" class="btn btn-primary btn-sm"
              >ADD REQRUIREMENTS
            </a></p>
          </div>
          <div class="col-md-2">
            <p><a href="{% url 'management:dyc_requirements'%}" class="btn btn-primary btn-sm"
              >DYC REQUIREMENTS
            </a></p>
          </div>
          <div class="col-md-2">
            <p><a href="{% url 'management:client_requirements'%}" class="btn btn-primary btn-sm"
              >CLIENT REQUIREMENTS
            </a></p>
          </div>
          <div class="col-md-2">
            <p><a href="{% url 'management:coda_requirements'%}" class="btn btn-primary btn-sm"
              >CODA REQRUIREMENTS
            </a></p>
          </div>
          <div class="col-md-2">
            <p><a href="{% url 'management:reviewed'%}" class="btn btn-primary btn-sm"
              >REVIEWED
            </a></p>
          </div>
          <div class="col-md-2">
            <p><a href="{% url 'management:requirements'%}" class="btn btn-primary btn-sm"
              >ALL REQRUIREMENTS
            </a></p>
          </div>
        </div>

        <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
        <p class="p text-center"> </p>
        <p class="gi">
          This is requirements that need to be worked on and they will be assigned to different developers. Kindly restrict yourself with your assigned requirements.
      </p>
        <div class="row text-center">
          {% for active_requirement in  active_requirements  %}
            <div class="col-md-6" id="gi">
                <div class="card">
                  <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                    <div class="card-body">
                      <b> REQ:CODA000{{active_requirement.id}} |Deadline: {{active_requirement.delivery_date|date:"F d, Y"}}|Assigned: {{active_requirement.assigned_to}}</b>
                        <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
                        <p class="gi">
                         As {{active_requirement.requestor}} {{active_requirement.what|truncatewords:15}}.This should be done {{active_requirement.why}}.The active_requirement should take {{requirement.duration}} hours and it should be completed by 
                         {{requirement.delivery_date}} 
                        </p>
                        <hr/>
                        <div class="row">
                          <div class="col-md-3">
                            <p> <a class="article-title target="_blank" href="{% url 'management:RequirementDetail' active_requirement.id %}">EXAMINE</a></p>
                          </div>
                          <div class="col-md-3">
                            <p> <a class="article-title target="_blank" href="{{active_requirement.pptlink|default_if_none:'#'}}">Wireframe</a></p>
                          </div>
                          <!-- <div class="col-md-3">
                            <p> <a class="article-title target="_blank" href="{{active_requirement.videolink|default_if_none:'#'}}">videolink</a></p>
                          </div> -->
                          <div class="col-md-3">
                            <p> <a class="article-title target="_blank" href="{% url 'management:video_req_code' active_requirement.id %}">video</a></p>
                          </div>
                          <div class="col-md-3">
                            <p> <a class="article-title target="_blank" href="{% url 'management:justification' active_requirement.id %}">Add Duration</a></p>
                          </div>
                        </div>
                    </div>
                  </div>
               </div>
              {%endfor%}
        </div>
    </div>
    </section>
{% endblock content %}



