<!doctype html>
<html lang="en">
    
<head>
    <style>
        input {
            border: 0px solid transparent;
        }

        table, th, td {
            height: auto;
            width: 1200px;
            border: 1px solid black;
            border-collapse: collapse;
            overflow: auto;


        }

        .center {
            position: fixed;
            top: 10%;
            left: 10%;
            bottom: 25%;
            right: 25%;
        }

    </style>
</head>

<body>


<!-- SignUp Modal -->
<form action="/management/add_justification/" method='post'>
    <dev class="center">
        <dev>
            <table id="table1">
                <thead class="border-bottom font-weight-bold">
                <tr>
                    <th>CATEGOTY</th>
                    <th>REQUIREMENT</th>
                    <th>JUSTIFICATION</th>
                    <th>BREAKDOWN</th>
                    <th>TIME(mins)</th>
                    <th>QTY</th>
                    <th>Total(mins)</th>
                </tr>
                </thead>

                <tr>
                    {% if justifications.requirement_id %}

                        <input type="hidden" id="requirement_id" name="requirement_id"
                               value={{ justifications.requirement_id  }}>



                    {% else %}

                        <input type="hidden" id="requirement_id" name="requirement_id" value={{ active_requirement }}>

                    {% endif %}
                    <td rowspan="2">
                        <input type="text" class="foo" id="req_id" name="req_id" value="{{category}}">
                    </td>
                    <td rowspan="2">
                        {% if justifications.requirement_id %}
                            <input type="text" class="foo" id="req_id" name="req_id" value="REQ:CODA000{{ justifications.requirement_id }}">
                        {% else %}
                            <input type="text" class="foo" id="req_id" name="req_id" value="REQ:CODA000{{ active_requirement }}">
                        {% endif %}
                    </td>
                    <td rowspan="2">
                        {% if justifications.Content %}
                            <input type="checkbox" id="content" name="content" value={{ justifications.Content }} checked="true">
                            <label for="demoCheckbox"> CONTENT</label>
                        {% else %}
                            <input type="checkbox" id="content" name="content" value="1">
                            <label for="demoCheckbox"> CONTENT</label>
                        {% endif %}

                    </td>
                    <td>
                        {% if justifications.Contentediting %}
                            <input type="checkbox" id="editing" name="editing"
                                   value={{ justifications.Contentediting }} checked="true">
                            <label for="demoCheckbox"> Editing</label>

                        {% else %}

                            <input type="checkbox" id="editing" name="editing" value="1">
                            <label for="demoCheckbox"> Editing</label>
                        {% endif %}


                    </td>
                    <td>
                        <input type="number" id="editing_time" name="editing_time" value="15" readonly>
                    </td>
                    <td>
                        {% if justifications.editingquantity %}
                            <input type="number" id="editing_quantity" name="editing_quantity"
                                   value={{ justifications.editingquantity }}
                                   oninput="calculateTotal('editing')">

                        {% else %}
                            <input type="number" id="editing_quantity" name="editing_quantity" value="0"
                            oninput="calculateTotal('editing')">
                        {% endif %}

                    </td>
                    <td>

                        {% if justifications.editingtotal %}
                            <label id="editing_total">{{ justifications.editingtotal }} </label>
                        {% else %}
                            <label id="editing_total"></label>
                        {% endif %}
                    </td>
                </tr>
                <tr>

                    <td>
                        {% if justifications.Contentcreating %}
                            <input type="checkbox" id="creating" name="creating" value={{ justifications.Contentcreating }} checked="true">
                            <label for="demoCheckbox"> Creating</label>

                        {% else %}

                            <input type="checkbox" id="creating" name="creating" value="1">
                            <label for="demoCheckbox"> Creating</label>
                        {% endif %}


                    </td>
                    <td>
                        <input type="number" id="creating_time" name="creating_time" value="20" readonly>
                    </td>
                    <td>
                        {% if justifications.creatingquantity %}
                            <input type="number" id="creating_quantity" name="creating_quantity"
                                   value={{ justifications.creatingquantity }} oninput="calculateTotal('creating')">
                        {% else %}
                            <input type="number" id="creating_quantity" name="creating_quantity" value="0" 
                            oninput="calculateTotal('creating')">
                        {% endif %}

                    </td>
                    <td>
                        {% if justifications.creatingtotal %}
                            <label id="creating_total">{{ justifications.creatingtotal }} </label>
                        {% else %}
                            <label id="creating_total"></label>
                        {% endif %}

                    </td>
                </tr>

                <tr>
                    <td>
            
                        <input type="text" class="foo" id="req_id" name="req_id"
                            value="{{category}}">
                       
                    </td>
                    <td>
                        {% if justifications.requirement_id %}
                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ justifications.requirement_id }}">


                        {% else %}

                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ active_requirement }}">
                        {% endif %}

                    </td>
                    <td>
                        {% if justifications.Design %}
                            <input type="checkbox" id="design" name="design" value={{ justifications.Design }} checked="true">
                            <label for="demoCheckbox"> DESIGN </label>
                        {% else %}
                            <input type="checkbox" id="design" name="design" value="1">
                            <label for="demoCheckbox"> DESIGN </label>
                        {% endif %}

                    </td>
                    <td>
                        {% if justifications.Designdesign_of_existing %}
                            <input type="checkbox" id="design_of_existing" name="design_of_existing"
                                   value={{ justifications.Designdesign_of_existing }} checked="true">
                            <label for="demoCheckbox"> Design of Existing</label>
                        {% else %}

                            <input type="checkbox" id="design_of_existing" name="design_of_existing" value="1">
                            <label for="demoCheckbox"> Design of Existing</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="design_of_existing_time" name="design_of_existing_time" value="10" readonly>
                    </td>
                    <td>
                        {% if justifications.design_of_existingquantity %}
                            <input type="number" id="design_of_existing_quantity" name="design_of_existing_quantity"
                                   value={{ justifications.design_of_existingquantity }}
                                   oninput="calculateTotal('design_of_existing')">

                        {% else %}
                            <input type="number" id="design_of_existing_quantity" name="design_of_existing_quantity" value="0"
                            oninput="calculateTotal('design_of_existing')">

                        {% endif %}

                    </td>
                    <td>
                        {% if justifications.design_of_existingtotal %}
                            <label id="design_of_existing_total">{{ justifications.design_of_existingtotal }} </label>
                        {% else %}
                            <label id="design_of_existing_total"></label>
                        {% endif %}

                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        {% if total_qty %}
                            <label id="total_quantity">{{ total_qty }} </label>
                        {% else %}
                            <label id="total_quantity"></label>
                        {% endif %}
                    </td>
                    <td>
                        {% if total_time %}
                            <label id="total_time">{{ total_time }} </label>
                        {% else %}
                            <label id="total_time"></label>
                        {% endif %}
                    </td>
                </tr>

                {% csrf_token %}


            </table>

        </dev>

        <dev>
            <button type="submit" class="btn btn-primary">Submit</button>
        </dev>
    </dev>
</form>


{% csrf_token %}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

<script>

let totalQuantity = 0;
let totalTime = 0;

    function calculateTotal(justificationType) {
        console.log(`Calculating total for ${justificationType}...`);

        const timeField = document.getElementById(`${justificationType}_time`);
        const quantityField = document.getElementById(`${justificationType}_quantity`);
        const totalField = document.getElementById(`${justificationType}_total`);
        const time = parseInt(timeField.value, 10);
        const oldQuantity = parseInt(quantityField.getAttribute('data-old-quantity'), 10) || 0;
        const newQuantity = parseInt(quantityField.value, 10) || 0;

        if (newQuantity !== oldQuantity) {
            // Update the total label
            const total = time * newQuantity;
            totalField.innerText = total;

            // Update overall totals
            totalQuantity += newQuantity - oldQuantity;
            totalTime += time * (newQuantity - oldQuantity);

            // Save the new quantity as the old quantity for future comparisons
            quantityField.setAttribute('data-old-quantity', newQuantity);

            // Update the overall totals display
            updateOverallTotals();
        }
            
    }

    function updateOverallTotals() {
    const overallTotalQuantityLabel = document.getElementById('total_quantity');
    const overallTotalTimeLabel = document.getElementById('total_time');

    if (overallTotalQuantityLabel) {
        overallTotalQuantityLabel.innerText = totalQuantity;
    }

    if (overallTotalTimeLabel) {
        overallTotalTimeLabel.innerText = totalTime;
    }
}
</script>


</body>
</html>