<!doctype html>
<html lang="en">
    
<head>
    <style>
        input {
            border: 0px solid transparent;
        }

        table, th, td {
            height: auto;
            width: 1200px;
            border: 1px solid black;
            border-collapse: collapse;
            overflow: auto;


        }

        .center {
            position: fixed;
            top: 10%;
            left: 10%;
            bottom: 25%;
            right: 25%;
        }

    </style>
</head>

<body>


<!-- SignUp Modal -->
<form action="/management/add_justification/" method='post'>
    <dev class="center">
        <dev>
            <table id="table1">
                <thead class="border-bottom font-weight-bold">
                <tr>
                    <th>CATEGOTY</th>
                    <th>REQUIREMENT</th>
                    <th>JUSTIFICATION</th>
                    <th>BREAKDOWN</th>
                    <th>TIME(mins)</th>
                    <th>QTY</th>
                    <th>Total(mins)</th>
                </tr>
                </thead>

                <tr>
                    {% if justifications.requirement_id %}

                        <input type="hidden" id="requirement_id" name="requirement_id"
                               value={{ justifications.requirement_id  }}>



                    {% else %}

                        <input type="hidden" id="requirement_id" name="requirement_id" value={{ active_requirement }}>

                    {% endif %}
                    <td rowspan="5">
                        

                        <input type="text" class="foo" id="req_id" name="req_id"
                            value="{{category}}">
                       
                    </td>
                    <td rowspan="5">
                        {% if justifications.requirement_id %}
                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ justifications.requirement_id }}">


                        {% else %}

                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ active_requirement }}">
                        {% endif %}

                    </td>
                    <td rowspan="5">
          
                        {% if justifications.Database %}
                            <input type="checkbox" id="database" name="database"
                                    value={{ justifications.Database }} checked="true">
                            <label for="demoCheckbox"> DATABASE</label>

                        {% else %}
                            <input type="checkbox" id="database" name="database" value="1">
                            <label for="demoCheckbox"> DATABASE</label>
                        {% endif %}
                        

                    </td>
                    <td>
                        {% if justifications.Databaseaccess %}
                            <input type="checkbox" id="access" name="access"
                                   value={{ justifications.Databaseaccess }} checked="true">
                            <label for="demoCheckbox"> Access</label>

                        {% else %}

                            <input type="checkbox" id="access" name="access" value="1">
                            <label for="demoCheckbox"> Access</label>
                        {% endif %}


                    </td>
                    <td>
                        <input type="number" id="access_time" name="access_time" value="15" readonly>
                    </td>
                    <td>
                        {% if justifications.accessquantity %}
                            <input type="number" id="access_quantity" name="access_quantity"
                                   value={{ justifications.accessquantity }}
                                   oninput="calculateTotal('access')">

                        {% else %}
                            <input type="number" id="access_quantity" name="access_quantity" value="0"
                            oninput="calculateTotal('access')">
                        {% endif %}

                    </td>
                    <td>

                        {% if justifications.accesstotal %}
                            <label id="access_total">{{ justifications.accesstotal }} </label>
                        {% else %}
                            <label id="access_total"></label>
                        {% endif %}
                    </td>
                </tr>
                <tr>

                    <td>
                        {% if justifications.Databaseview %}
                            <input type="checkbox" id="view" name="view" value={{ justifications.Databaseview }} checked="true">
                            <label for="demoCheckbox"> View/Procedure</label>

                        {% else %}

                            <input type="checkbox" id="view" name="view" value="1">
                            <label for="demoCheckbox"> View/Procedure</label>
                        {% endif %}


                    </td>
                    <td>
                        <input type="number" id="view_time" name="view_time" value="60" readonly>
                    </td>
                    <td>
                        {% if justifications.viewquantity %}
                            <input type="number" id="view_quantity" name="view_quantity"
                                   value={{ justifications.viewquantity }} oninput="calculateTotal('view')">
                        {% else %}
                            <input type="number" id="view_quantity" name="view_quantity" value="0" 
                            oninput="calculateTotal('view')">
                        {% endif %}

                    </td>
                    <td>
                        {% if justifications.viewtotal %}
                            <label id="view_total">{{ justifications.viewtotal }} </label>
                        {% else %}
                            <label id="view_total"></label>
                        {% endif %}

                    </td>
                </tr>
                <tr>

                    <td>
                        {% if justifications.Databaseflow_diagram %}
                            <input type="checkbox" id="flow_diagram" name="flow_diagram"
                                   value={{ justifications.Databaseflow_diagram }} checked="true">
                            <label for="demoCheckbox"> Flow Diagram</label>

                        {% else %}
                            <input type="checkbox" id="flow_diagram" name="flow_diagram" value="1">
                            <label for="demoCheckbox"> Flow Diagram</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="flow_diagram_time" name="flow_diagram_time" value="30" readonly>
                    </td>
                    <td>
                        {% if justifications.flow_diagramquantity %}
                            <input type="number" id="flow_diagram_quantity" name="flow_diagram_quantity"
                                   value={{ justifications.flow_diagramquantity }} oninput="calculateTotal('flow_diagram')">

                        {% else %}
                            <input type="number" id="flow_diagram_quantity" name="flow_diagram_quantity" value="0"
                            oninput="calculateTotal('flow_diagram')">
                        {% endif %}

                    </td>
                    <td>
                        {% if justifications.flow_diagramtotal %}
                            <label  id="flow_diagram_total">{{ justifications.flow_diagramtotal }} </label>
                        {% else %}
                            <label id="flow_diagram_total"></label>
                        {% endif %}

                    </td>
                </tr>
                <tr>

                    <td>
                        {% if justifications.Databasetesting_uat %}
                           <input type="checkbox" id="testing_uat" name="testing_uat"
                                  value={{ justifications.Databasetesting_uat }} checked="true">
                            <label for="demoCheckbox"> Testing(UAT)</label>
                        {% else %}

                            <input type="checkbox" id="testing_uat" name="testing_uat" value="1">
                            <label for="demoCheckbox"> Testing(UAT)</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="testing_uat_time" name="testing_uat_time" value="15" readonly>
                    </td>
                    <td>
                        {% if justifications.testing_uatquantity %}
                            <input type="number" id="testing_uat_quantity" name="testing_uat_quantity"
                                   value={{ justifications.testing_uatquantity }} oninput="calculateTotal('testing_uat')">

                        {% else %}
                            <input type="number" id="testing_uat_quantity" name="testing_uat_quantity" value="0"
                            oninput="calculateTotal('testing_uat')">
                        {% endif %}
                    </td>
                    <td>
                        {% if justifications.testing_uattotal %}
                            <label id="testing_uat_total">{{ justifications.testing_uattotal }} </label>
                        {% else %}
                            <label id="testing_uat_total"></label>
                        {% endif %}
                    </td>
                </tr>
                <tr>

                    <td>
                        {% if justifications.Databasetesting_scripting %}
                           <input type="checkbox" id="testing_scripting" name="testing_scripting"
                                  value={{ justifications.Databasetesting_scripting }} checked="true">
                            <label for="demoCheckbox"> Testing(Scripting)</label>
                        {% else %}

                            <input type="checkbox" id="testing_scripting" name="testing_scripting" value="1">
                            <label for="demoCheckbox"> Testing(scripting)</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="testing_scripting_time" name="testing_scripting_time" value="45" readonly>
                    </td>
                    <td>
                        {% if justifications.testing_scriptingquantity %}
                            <input type="number" id="testing_scripting_quantity" name="testing_scripting_quantity"
                                   value={{ justifications.testing_scriptingquantity }} oninput="calculateTotal('testing_scripting')">

                        {% else %}
                            <input type="number" id="testing_scripting_quantity" name="testing_scripting_quantity" value="0"
                            oninput="calculateTotal('testing_scripting')">
                        {% endif %}
                    </td>
                    <td>
                        {% if justifications.testing_scriptingtotal %}
                            <label id="testing_scripting_total">{{ justifications.testing_scriptingtotal }} </label>
                        {% else %}
                            <label id="testing_scripting_total"></label>
                        {% endif %}
                    </td>
                </tr>
                <!--new row in table(data cleaning)-->
                <tr>
                    <td rowspan="2">
                        

                        <input type="text" class="foo" id="req_id" name="req_id"
                            value="{{category}}">
                       
                    </td>
                    <td rowspan="2">
                        {% if justifications.requirement_id %}
                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ justifications.requirement_id }}">


                        {% else %}

                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ active_requirement }}">
                        {% endif %}

                    </td>
                    <td rowspan="2">
                        {% if justifications.Data_cleaning %}
                            <input type="checkbox" id="data_cleaning" name="data_cleaning" value={{ justifications.Data_cleaning }} checked="true">
                            <label for="demoCheckbox"> DATA CLEANING</label>
                        {% else %}
                            <input type="checkbox" id="data_cleaning" name="data_cleaning" value="1">
                            <label for="demoCheckbox"> DATA CLEANING</label>

                        {% endif %}

                    </td>
                    <td>
                        {% if justifications.Data_cleaningworkflow %}
                            <input type="checkbox" id="workflow" name="workflow"
                                   value={{ justifications.Data_cleaningworkflow }} checked="true">
                            <label for="demoCheckbox"> Workflow</label>
                        {% else %}

                            <input type="checkbox" id="workflow" name="workflow" value="1">
                            <label for="demoCheckbox"> workflow</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="workflow_time" name="workflow_time" value="60" readonly>
                    </td>
                    <td>
                        {% if justifications.workflowquantity %}
                            <input type="number" id="workflow_quantity" name="workflow_quantity"
                                   value={{ justifications.workflowquantity }}
                                   oninput="calculateTotal('workflow')">

                        {% else %}
                            <input type="number" id="workflow_quantity" name="workflow_quantity" value="0"
                            oninput="calculateTotal('workflow')">

                        {% endif %}

                    </td>
                    <td>
                        {% if justifications.workflowtotal %}
                            <label id="workflow_total">{{ justifications.workflowtotal }} </label>
                        {% else %}
                            <label id="workflow_total"></label>
                        {% endif %}

                    </td>
                </tr>
                <tr>

                    <td>
                        {% if justifications.Data_cleaningtesting_workflow %}
                            <input type="checkbox" id="testing_workflow" name="testing_workflow"
                                   value={{ justifications.Data_cleaningtesting_workflow }} checked="true">
                             <label for="demoCheckbox"> Testing Workflow </label>
                        {% else %}
                            <input type="checkbox" id="testing_workflow" name="testing_workflow" value="1">
                            <label for="demoCheckbox"> Testing Workflow</label>

                        {% endif %}


                    </td>
                    <td>
                        <input type="number" id="testing_workflow_time" name="testing_workflow_time" value="45" readonly>
                    </td>
                    <td>
                        {% if justifications.testing_workflowquantity %}
                            <input type="number" id="testing_workflow_quantity" name="testing_workflow_quantity"
                                   value={{ justifications.testing_workflowquantity }} oninput="calculateTotal('testing_workflow')">

                        {% else %}

                            <input type="number" id="testing_workflow_quantity" name="testing_workflow_quantity" value="0" 
                            oninput="calculateTotal('testing_workflow')">

                        {% endif %}

                    </td>
                    <td>
                        {% if justifications.testing_workflowtotal %}
                            <label id="testing_workflow_total">{{ justifications.testing_workflowtotal }} </label>
                        {% else %}
                        <label id="testing_workflow_total"></label>
                        {% endif %}
                    </td>
                </tr>

                <!--new row (reporting)-->
                <tr>
                    <td rowspan="5">
                        

                        <input type="text" class="foo" id="req_id" name="req_id"
                            value="{{category}}">
                       
                    </td>
                    <td rowspan="5">
                        {% if justifications.requirement_id %}
                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ justifications.requirement_id }}">


                        {% else %}

                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ active_requirement }}">
                        {% endif %}
                    </td>
                    <td rowspan="5">
                        {% if justifications.Reporting %}
                            <input type="checkbox" id="reporting" name="reporting" value={{ justifications.Reporting }}
                            checked="true">
                            <label for="demoCheckbox"> REPORTING </label>

                        {% else %}
                            <input type="checkbox" id="reporting" name="reporting" value="1">
                            <label for="demoCheckbox"> REPORTING </label>

                        {% endif %}

                    </td>
                    <td>

                        {% if justifications.Reportinglanding_page %}
                            <input type="checkbox" id="landing_page" name="landing_page"
                                   value="{{ justifications.Reportinglanding_page }}" checked="true">
                            <label for="demoCheckbox"> Landing Page</label>
                        {% else %}

                            <input type="checkbox" id="landing_page" name="landing_page" value="1">
                            <label for="demoCheckbox"> Landing Page</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="landing_page_time" name="landing_page_time" VALUE="45"
                               readonly>
                    </td>
                    <td>
                        {% if justifications.landing_pagequantity %}
                            <input type="number" id="landing_page_quantity" name="landing_page_quantity"
                                   value={{ justifications.landing_pagequantity }} oninput="calculateTotal('landing_page')"> 
                        {% else %}
                            <input type="number" id="landing_page_quantity" name="landing_page_quantity"
                                   value="0" oninput="calculateTotal('landing_page')">


                        {% endif %}
                    </td>
                    <td>

                        {% if justifications.landing_pagetotal %}
                            <label id="landing_page_total">{{ justifications.landing_pagetotal }} </label>
                        {% else %}
                            <label id="landing_page_total"></label>
                        {% endif %}


                    </td>
                    </td>
                </tr>
                <tr>

                    <td>

                        {% if justifications.Reportingexecutive_summary %}
                            <input type="checkbox" id="executive_summary" name="executive_summary"
                                   value={{ justifications.Reportingexecutive_summary }} checked="true">
                            <label for="demoCheckbox"> Executive Summary</label>
                        {% else %}
                            <input type="checkbox" id="executive_summary" name="executive_summary" value="1">
                            <label for="demoCheckbox"> Executive Summary</label>

                        {% endif %}


                    </td>
                    <td>
                        <input type="number" id="executive_summary_time" name="executive_summary_time" VALUE="60"
                               readonly>
                    </td>
                    <td>

                        {% if justifications.exexutive_summaryquantity %}
                            <input type="number" id="executive_summary_quantity" name="executive_summary_quantity"
                                   value={{ justifications.exexutive_summaryquantity }} oninput="calculateTotal('executive_summary')"> 
                        {% else %}
                            <input type="number" id="executive_summary_quantity" name="executive_summary_quantity"
                                   value="0" oninput="calculateTotal('executive_summary')">


                        {% endif %}
                    </td>
                    <td>

                        {% if justifications.executive_summarytotal %}
                            <label id="executive_summary_total">{{ justifications.executive_summarytotal }} </label>
                        {% else %}
                            <label id="executive_summary_total"></label>
                        {% endif %}                    </td>
                </tr>

                <tr>

                    <td>

                        {% if justifications.Reportingdetail_reports %}
                            <input type="checkbox" id="detail_reports" name="detail_reports"
                                   value={{ justifications.Reportingdetail_reports }} checked="true">
                            <label for="demoCheckbox"> Detail Reports</label>
                        {% else %}
                            <input type="checkbox" id="detail_reports" name="detail_reports" value="1">
                            <label for="demoCheckbox"> Detail Reports</label>

                        {% endif %}


                    </td>
                    <td>
                        <input type="number" id="detail_reports_time" name="detail_reports_time" VALUE="75"
                               readonly>
                    </td>
                    <td>

                        {% if justifications.detail_reportsquantity %}
                            <input type="number" id="detail_reports_quantity" name="detail_reports_quantity"
                                   value={{ justifications.detail_reportsquantity }} oninput="calculateTotal('detail_reports')"> 
                        {% else %}
                            <input type="number" id="detail_reports_quantity" name="detail_reports_quantity"
                                   value="0" oninput="calculateTotal('detail_reports')">


                        {% endif %}
                    </td>
                    <td>

                        {% if justifications.detail_reportstotal %}
                            <label id="detail_reports_total">{{ justifications.detail_reportstotal }} </label>
                        {% else %}
                            <label id="detail_reports_total"></label>
                        {% endif %}                    </td>
                </tr>

                <tr>

                    <td>

                        {% if justifications.Reportingtable_list %}
                            <input type="checkbox" id="table_list" name="table_list"
                                   value={{ justifications.Reportingtable_list }} checked="true">
                            <label for="demoCheckbox"> Table/List</label>
                        {% else %}
                            <input type="checkbox" id="table_list" name="table_list" value="1">
                            <label for="demoCheckbox"> Table/List</label>

                        {% endif %}


                    </td>
                    <td>
                        <input type="number" id="table_list_time" name="table_list_time" VALUE="30"
                               readonly>
                    </td>
                    <td>

                        {% if justifications.table_listquantity %}
                            <input type="number" id="table_list_quantity" name="table_list_quantity"
                                   value={{ justifications.table_listquantity }} oninput="calculateTotal('table_list')"> 
                        {% else %}
                            <input type="number" id="table_list_quantity" name="table_list_quantity"
                                   value="0" oninput="calculateTotal('table_list')">


                        {% endif %}
                    </td>
                    <td>

                        {% if justifications.table_listtotal %}
                            <label id="table_list_total">{{ justifications.table_listtotal }} </label>
                        {% else %}
                            <label id="table_list_total"></label>
                        {% endif %}                    </td>
                </tr>

                <tr>

                    <td>

                        {% if justifications.Reportingreport_testing_scripting %}
                            <input type="checkbox" id="report_testing_scripting" name="report_testing_scripting"
                                   value={{ justifications.Reportingreport_testing_scripting }} checked="true">
                            <label for="demoCheckbox"> Testing(Scripting)</label>
                        {% else %}
                            <input type="checkbox" id="report_testing_scripting" name="report_testing_scripting" value="1">
                            <label for="demoCheckbox"> Testing(Scripting)</label>

                        {% endif %}


                    </td>
                    <td>
                        <input type="number" id="report_testing_scripting_time" name="report_testing_scripting_time" VALUE="30"
                               readonly>
                    </td>
                    <td>

                        {% if justifications.report_testing_scriptingquantity %}
                            <input type="number" id="report_testing_scripting_quantity" name="report_testing_scripting_quantity"
                                   value={{ justifications.report_testing_scriptingquantity }} oninput="calculateTotal('report_testing_scripting')"> 
                        {% else %}
                            <input type="number" id="report_testing_scripting_quantity" name="report_testing_scripting_quantity"
                                   value="0" oninput="calculateTotal('report_testing_scripting')">


                        {% endif %}
                    </td>
                    <td>

                        {% if justifications.report_testing_scriptingtotal %}
                            <label id="report_testing_scripting_total">{{ justifications.report_testing_scriptingtotal }} </label>
                        {% else %}
                            <label id="report_testing_scripting_total"></label>
                        {% endif %}                    </td>
                </tr>

                <tr>
                    <td rowspan="3">
                        

                        <input type="text" class="foo" id="req_id" name="req_id"
                            value="{{category}}">
                       
                    </td>
                    <td rowspan="3">
                        {% if justifications.requirement_id %}
                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ justifications.requirement_id }}">


                        {% else %}

                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ active_requirement }}">
                        {% endif %}
                    </td>
                    <td rowspan="3">
                        {% if justifications.Automation %}
                            <input type="checkbox" id="automation" name="automation" checked="true"
                                   value={{ justifications.Automation }}>
                            <label for="demoCheckbox"> AUTOMATION</label>

                        {% else %}
                            <input type="checkbox" id="automation" name="automation" value="1">
                            <label for="demoCheckbox"> AUTOMATION</label>

                        {% endif %}

                    </td>
                    <td>


                        {% if justifications.AutomationExisting_tool %}
                            <input type="checkbox" id="existing_tool" name="existing_tool"
                                   value={{ justifications.AutomationExisting_tool }} checked="true">
                            <label for="demoCheckbox"> Existing Tool</label>
                        {% else %}
                            <input type="checkbox" id="existing_tool" name="existing_tool" value="1">
                            <label for="demoCheckbox"> Existing Tool</label>

                        {% endif %}


                    </td>
                    <td>
                        <input type="number" id="existing_tool_time" name="existing_tool_time" value="30" readonly>
                    </td>
                    <td>

                        {% if justifications.existing_toolquantity %}
                            <input type="number" id="existing_tool_quantity" name="existing_tool_quantity"
                                   value={{ justifications.existing_toolquantity }} oninput="calculateTotal('existing_tool')">

                        {% else %}

                            <input type="number" id="existing_tool_quantity" name="existing_tool_quantity" value="0"
                            oninput="calculateTotal('existing_tool')">

                        {% endif %}


                    </td>
                    <td>
                        {% if justifications.existing_tooltotal %}
                            <label id="existing_tool_total">{{ justifications.existing_tooltotal }} </label>
                        {% else %}
                            <label id="existing_tool_total"></label>
                        {% endif %}

                    </td>
                </tr>
                <tr>

                    <td>
                        {% if justifications.Automationpython_script %}
                            <input type="checkbox" id="python_script" name="python_script"
                                   value={{ justifications.Automationpython_script }} checked="true">
                            <label for="demoCheckbox"> Python Script</label>
                        {% else %}

                            <input type="checkbox" id="python_script" name="python_script" value="1">
                            <label for="demoCheckbox"> Python Script</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="python_script_time" name="python_script_time" value="60" readonly>
                    </td>
                    <td>

                        {% if justifications.python_scriptquantity %}
                            <input type="number" id="python_script_quantity" name="python_script_quantity"
                                   value={{ justifications.python_scriptquantity }} oninput="calculateTotal('python_script')" >

                        {% else %}
                            <input type="number" id="python_script_quantity" name="python_script_quantity" value="0" 
                            oninput="calculateTotal('python_script')">


                        {% endif %}


                    </td>
                    <td>

                        {% if justifications.python_scripttotal %}
                            <label id="python_script_total">{{ justifications.python_scripttotal }} </label>
                        {% else %}
                            <label id="python_script_total"></label>
                        {% endif %}                    </td>
                </tr>

                <tr>

                    <td>
                        {% if justifications.Automationform_testing %}
                            <input type="checkbox" id="form_testing" name="form_testing"
                                   value={{ justifications.Automationform_testing }} checked="true">
                            <label for="demoCheckbox"> Form Testing</label>
                        {% else %}

                            <input type="checkbox" id="form_testing" name="form_testing" value="1">
                            <label for="demoCheckbox"> Form Testing</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="form_testing_time" name="form_testing_time" value="15" readonly>
                    </td>
                    <td>

                        {% if justifications.form_testingquantity %}
                            <input type="number" id="form_testing_quantity" name="form_testing_quantity"
                                   value={{ justifications.form_testingquantity }} oninput="calculateTotal('form_testing')" >

                        {% else %}
                            <input type="number" id="form_testing_quantity" name="form_testing_quantity" value="0" 
                            oninput="calculateTotal('form_testing')">


                        {% endif %}


                    </td>
                    <td>

                        {% if justifications.form_testingtotal %}
                            <label id="form_testing_total">{{ justifications.form_testingtotal }} </label>
                        {% else %}
                            <label id="form_testing_total"></label>
                        {% endif %}                    </td>
                </tr>

                <tr>
                    <td rowspan="3">
                        

                        <input type="text" class="foo" id="req_id" name="req_id"
                            value="{{category}}">
                       
                    </td>
                    <td rowspan="3">
                        {% if justifications.requirement_id %}
                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ justifications.requirement_id }}">


                        {% else %}

                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ active_requirement }}">
                        {% endif %}
                    </td>
                    <td rowspan="3">
                        {% if justifications.External_apis %}
                            <input type="checkbox" id="external_apis" name="external_apis"
                                   value={{ justifications.External_apis }} checked="true">
                            <label for="demoCheckbox"> EXTERNAL APIS</label>
                        {% else %}
                            <input type="checkbox" id="external_apis" name="external_apis" value="1">
                            <label for="demoCheckbox"> EXTERNAL APIs</label>

                        {% endif %}

                    </td>
                    <td>

                        {% if justifications.External_apisnew %}
                            <input type="checkbox" id="new" name="new"
                                   value={{ justifications.External_apisnew }} checked="true">
                            <label for="demoCheckbox"> API(Brand New)</label>
                        {% else %}

                            <input type="checkbox" id="new" name="new" value="1">
                            <label for="demoCheckbox"> API(Brand New)</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="new_time" name="new_time" value="60" readonly>
                    </td>
                    <td>

                        {% if justifications.newquantity %}
                            <input type="number" id="new_quantity" name="new_quantity"
                                   value={{ justifications.newquantity }}  oninput="calculateTotal('new')">

                        {% else %}
                            <input type="number" id="new_quantity" name="new_quantity" value="0" 
                            oninput="calculateTotal('new')">

                        {% endif %}


                    </td>
                    <td>

                        {% if justifications.newtotal %}
                            <label id="new_total" >{{ justifications.newtotal }} </label>
                        {% else %}
                            <label id="new_total" ></label>
                        {% endif %}
                    </td>
                </tr>
                <tr>

                    <td>
                        {% if justifications.External_apiexisting %}
                            <input type="checkbox" id="existing" name="existing"
                                   value={{ justifications.External_apiexisting }} checked="true">
                            <label for="demoCheckbox"> API(Existing)</label>
                        {% else %}
                            <input type="checkbox" id="existing" name="existing" value="1">
                            <label for="demoCheckbox"> API(Existing)</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="existing_time" name="existing_time" value="30" readonly>
                    </td>
                    <td>

                        {% if justifications.existingquantity %}
                            <input type="number" id="existing_quantity" name="existing_quantity"
                                   value={{ justifications.existingquantity }}  oninput="calculateTotal('existing')">

                        {% else %}

                            <input type="number" id="existing_quantity" name="existing_quantity" value="0" 
                            oninput="calculateTotal('existing')">

                        {% endif %}

                    </td>
                    <td>


                        {% if justifications.existingtotal %}
                            <label id="existing_total">{{ justifications.existingtotal }} </label>
                        {% else %}
                            <label id="existing_total"></label>
                        {% endif %}                    </td>
                </tr>
                <tr>

                    <td>
                        {% if justifications.External_apisapi_testing %}
                            <input type="checkbox" id="api_testing" name="api_testing"
                                   value={{ justifications.External_apisapi_testing }} checked="true">
                            <label for="demoCheckbox"> API Testing</label>
                        {% else %}
                            <input type="checkbox" id="api_testing" name="api_testing" value="1">
                            <label for="demoCheckbox"> API Testing</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="api_testing_time" name="api_testing_time" value="30" readonly>
                    </td>
                    <td>

                        {% if justifications.api_testingquantity %}
                            <input type="number" id="api_testing_quantity" name="api_testing_quantity"
                                   value={{ justifications.api_testingquantity }}  oninput="calculateTotal('api_testing')">

                        {% else %}

                            <input type="number" id="api_testing_quantity" name="api_testing_quantity" value="0"
                            oninput="calculateTotal('api_testing')">

                        {% endif %}
                    </td>
                    <td>


                        {% if justifications.api_testingtotal %}
                            <label id="api_testing_total">{{ justifications.api_testingtotal }} </label>
                        {% else %}
                            <label id="api_testing_total"></label>
                        {% endif %}                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        {% if total_qty %}
                            <label id="total_quantity">{{ total_qty }} </label>
                        {% else %}
                            <label id="total_quantity"></label>
                        {% endif %}
                    </td>
                    <td>
                        {% if total_time %}
                            <label id="total_time">{{ total_time }} </label>
                        {% else %}
                            <label id="total_time"></label>
                        {% endif %}
                    </td>
                </tr>

                {% csrf_token %}


            </table>

        </dev>

        <dev>
            <button type="submit" class="btn btn-primary">Submit</button>
        </dev>
    </dev>
</form>


{% csrf_token %}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

<script>

let totalQuantity = 0;
let totalTime = 0;

    function calculateTotal(justificationType) {
        console.log(`Calculating total for ${justificationType}...`);

        const timeField = document.getElementById(`${justificationType}_time`);
        const quantityField = document.getElementById(`${justificationType}_quantity`);
        const totalField = document.getElementById(`${justificationType}_total`);
        const time = parseInt(timeField.value, 10);
        const oldQuantity = parseInt(quantityField.getAttribute('data-old-quantity'), 10) || 0;
        const newQuantity = parseInt(quantityField.value, 10) || 0;

        if (newQuantity !== oldQuantity) {
            // Update the total label
            const total = time * newQuantity;
            totalField.innerText = total;

            // Update overall totals
            totalQuantity += newQuantity - oldQuantity;
            totalTime += time * (newQuantity - oldQuantity);

            // Save the new quantity as the old quantity for future comparisons
            quantityField.setAttribute('data-old-quantity', newQuantity);

            // Update the overall totals display
            updateOverallTotals();
        }
            
    }

    function updateOverallTotals() {
    const overallTotalQuantityLabel = document.getElementById('total_quantity');
    const overallTotalTimeLabel = document.getElementById('total_time');

    if (overallTotalQuantityLabel) {
        overallTotalQuantityLabel.innerText = totalQuantity;
    }

    if (overallTotalTimeLabel) {
        overallTotalTimeLabel.innerText = totalTime;
    }
}
</script>


</body>
</html>