<!doctype html>
<html lang="en">
    
<head>
    <style>
        input {
            border: 0px solid transparent;
        }

        table, th, td {
            height: auto;
            width: 1200px;
            border: 1px solid black;
            border-collapse: collapse;
            overflow: auto;


        }

        .center {
            position: fixed;
            top: 10%;
            left: 10%;
            bottom: 25%;
            right: 25%;
        }

    </style>
</head>

<body>


<!-- SignUp Modal -->
<form action="/management/add_justification/" method='post'>
    <dev class="center">
        <dev>
            <table id="table1">
                <thead class="border-bottom font-weight-bold">
                <tr>
                    <th>REQUIREMENT</th>
                    <th>JUSTIFICATION</th>
                    <th>BREAKDOWN</th>
                    <th>TIME(mins)</th>
                    <th>QTY</th>
                    <th>Total(mins)</th>
                </tr>
                </thead>

                <tr>
                    {% if justifications.requirement_id %}

                        <input type="hidden" id="requirement_id" name="requirement_id"
                               value={{ justifications.requirement_id  }}>



                    {% else %}

                        <input type="hidden" id="requirement_id" name="requirement_id" value={{ active_requirement }}>

                    {% endif %}
                    <td rowspan="4">
                        {% if justifications.requirement_id %}
                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ justifications.requirement_id }}">


                        {% else %}

                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ active_requirement }}">
                        {% endif %}

                    </td>
                    <td rowspan="4">
                        {% if justifications.table %}
                             <input type="checkbox" id="Table" name="Table"
                                    value={{ justifications.table }} checked="true">
                            <label for="demoCheckbox"> Table</label>

                        {% else %}
                            <input type="checkbox" id="Table" name="Table" value="1">
                            <label for="demoCheckbox"> Table</label>
                        {% endif %}

                    </td>
                    <td>
                        {% if justifications.tabledictionary %}
                            <input type="checkbox" id="Dictionary" name="Dictionary"
                                   value={{ justifications.tabledictionary }} checked="true">
                            <label for="demoCheckbox"> Dictionary</label>

                        {% else %}

                            <input type="checkbox" id="Dictionary" name="Dictionary" value="1">
                            <label for="demoCheckbox"> Dictionary</label>
                        {% endif %}


                    </td>
                    <td>
                        <input type="number" id="dictionary_time" name="dictionary_time" value="15" readonly>
                    </td>
                    <td>
                        {% if justifications.dictionaryquantity %}
                            <input type="number" id="dictionary_quantity" name="dictionary_quantity"
                                   value={{ justifications.dictionaryquantity }}
                                   oninput="calculateTotal('dictionary')">

                        {% else %}
                            <input type="number" id="dictionary_quantity" name="dictionary_quantity" value="0"
                            oninput="calculateTotal('dictionary')">
                        {% endif %}

                    </td>
                    <td>

                        {% if justifications.dictionarytotal %}
                            <label id="dictionary_total">{{ justifications.dictionarytotal }} </label>
                        {% else %}
                            <label id="dictionary_total"></label>
                        {% endif %}
                    </td>
                </tr>
                <tr>

                    <td>
                        {% if justifications.tableerd %}
                            <input type="checkbox" id="Erd" name="Erd" value={{ justifications.tableerd }} checked="true">
                            <label for="demoCheckbox"> Erd</label>

                        {% else %}

                            <input type="checkbox" id="Erd" name="Erd" value="1">
                            <label for="demoCheckbox"> Erd</label>
                        {% endif %}


                    </td>
                    <td>
                        <input type="number" id="erd_time" name="erd_time" value="15" readonly>
                    </td>
                    <td>
                        {% if justifications.erdquantity %}
                            <input type="number" id="erd_quantity" name="erd_quantity"
                                   value={{ justifications.erdquantity }} oninput="calculateTotal('erd')">
                        {% else %}
                            <input type="number" id="erd_quantity" name="erd_quantity" value="0" 
                            oninput="calculateTotal('erd')">
                        {% endif %}

                    </td>
                    <td>
                        {% if justifications.erdtotal %}
                            <label id="erd_total">{{ justifications.erdtotal }} </label>
                        {% else %}
                            <label id="erd_total"></label>
                        {% endif %}

                    </td>
                </tr>
                <tr>

                    <td>
                        {% if justifications.tabletable_model %}
                            <input type="checkbox" id="Table_model" name="Table_model"
                                   value={{ justifications.tabletable_model }} checked="true">
                            <label for="demoCheckbox"> Table/Model</label>

                        {% else %}
                            <input type="checkbox" id="Table_model" name="Table_model" value="1">
                            <label for="demoCheckbox"> Table/Model</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="Table_time" name="Table_time" value="25" readonly>
                    </td>
                    <td>
                        {% if justifications.Tablequantity %}
                            <input type="number" id="Table_quantity" name="Table_quantity"
                                   value={{ justifications.Tablequantity }} oninput="calculateTotal('Table')">

                        {% else %}
                            <input type="number" id="Table_quantity" name="Table_quantity" value="0"
                            oninput="calculateTotal('Table')">
                        {% endif %}

                    </td>
                    <td>
                        {% if justifications.Tabletotal %}
                            <label  id="Table_total">{{ justifications.Tabletotal }} </label>
                        {% else %}
                            <label id="Table_total"></label>
                        {% endif %}

                    </td>
                </tr>
                <tr>

                    <td>
                        {% if justifications.tabletesting %}
                           <input type="checkbox" id="Testing" name="Testing"
                                  value={{ justifications.tabletesting }} checked="true">
                            <label for="demoCheckbox"> Testing</label>
                        {% else %}

                            <input type="checkbox" id="Testing" name="Testing" value="1">
                            <label for="demoCheckbox"> Testing</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="Testing_time" name="Testing_time" value="30" readonly>
                    </td>
                    <td>
                        {% if justifications.Testingquantity %}
                            <input type="number" id="Testing_quantity" name="Testing_quantity"
                                   value={{ justifications.Testingquantity }} oninput="calculateTotal('Testing')">

                        {% else %}
                            <input type="number" id="Testing_quantity" name="Testing_quantity" value="0"
                            oninput="calculateTotal('Testing')">
                        {% endif %}
                    </td>
                    <td>
                        {% if justifications.Testingtotal %}
                            <label id="Testing_total">{{ justifications.Testingtotal }} </label>
                        {% else %}
                            <label id="Testing_total"></label>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td rowspan="7">
                        {% if justifications.requirement_id %}
                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ justifications.requirement_id }}">


                        {% else %}

                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ active_requirement }}">
                        {% endif %}

                    </td>
                    <td rowspan="7">
                        {% if justifications.view %}
                            <input type="checkbox" id="view" name="view" value={{ justifications.view }} checked="true">
                            <label for="demoCheckbox"> VIEW</label>
                        {% else %}
                            <input type="checkbox" id="view" name="view" value="1">
                            <label for="demoCheckbox"> VIEW</label>

                        {% endif %}

                    </td>
                    <td>
                        {% if justifications.viewflow_diagram %}
                            <input type="checkbox" id="flow_diagram" name="flow_diagram"
                                   value={{ justifications.viewflow_diagram }} checked="true">
                            <label for="demoCheckbox"> Flow Diagram</label>
                        {% else %}

                            <input type="checkbox" id="flow_diagram" name="flow_diagram" value="1">
                            <label for="demoCheckbox"> Flow Diagram</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="flow_diagram_time" name="flow_diagram_time" value="30" readonly>
                    </td>
                    <td>
                        {% if justifications.flow_diagramquantity %}
                            <input type="number" id="flow_diagram_quantity" name="flow_diagram_quantity"
                                   value={{ justifications.flow_diagramquantity }}
                                   oninput="calculateTotal('flow_diagram')">

                        {% else %}
                            <input type="number" id="flow_diagram_quantity" name="flow_diagram_quantity" value="0"
                            oninput="calculateTotal('flow_diagram')">

                        {% endif %}

                    </td>
                    <td>
                        {% if justifications.flow_diagramtotal %}
                            <label id="flow_diagram_total">{{ justifications.flow_diagramtotal }} </label>
                        {% else %}
                            <label id="flow_diagram_total"></label>
                        {% endif %}

                    </td>
                </tr>
                <tr>

                    <td>
                        {% if justifications.viewcreate %}
                            <input type="checkbox" id="view_create" name="view_create"
                                   value={{ justifications.viewcreate }} checked="true">
                             <label for="demoCheckbox"> {{ justifications.viewcreate }} </label>
                        {% else %}
                            <input type="checkbox" id="view_create" name="view_create" value="1">
                            <label for="demoCheckbox"> Create</label>

                        {% endif %}


                    </td>
                    <td>
                        <input type="number" id="create_time" name="create_time" value="60" readonly>
                    </td>
                    <td>
                        {% if justifications.createquantity %}
                            <input type="number" id="create_quantity" name="create_quantity"
                                   value={{ justifications.createquantity }} oninput="calculateTotal('create')">

                        {% else %}

                            <input type="number" id="create_quantity" name="create_quantity" value="0" 
                            oninput="calculateTotal('create')">

                        {% endif %}

                    </td>
                    <td>
                        {% if justifications.createtotal %}
                            <label id="create_total">{{ justifications.createtotal }} </label>
                        {% else %}
                        <label id="create_total"></label>
                        {% endif %}
                    </td>
                </tr>
                <tr>

                    <td>
                        {% if justifications.viewdetail %}
                              <input type="checkbox" id="detail" name="detail"
                                     value={{ justifications.viewdetail }} checked="true">
                            <label for="demoCheckbox"> Detail</label>
                        {% else %}
                            <input type="checkbox" id="detail" name="detail" value="1">
                            <label for="demoCheckbox"> Detail</label>

                        {% endif %}


                    </td>
                    <td>
                        <input type="number" id="detail_time" name="detail_time" value="15" readonly>
                    </td>
                    <td>

                        {% if justifications.detailquantity %}
                            <label> </label>
                            <input type="number" id="detail_quantity" name="detail_quantity"
                                   value={{ justifications.detailquantity }} oninput="calculateTotal('detail')">

                        {% else %}
                            <input type="number" id="detail_quantity" name="detail_quantity" value="0"
                            oninput="calculateTotal('detail')">

                        {% endif %}

                    </td>
                    <td>

                        {% if justifications.detailtotal %}
                            <label id="detail_total">{{ justifications.detailtotal }} </label>
                        {% else %}
                        <label id="detail_total"></label>
                        {% endif %}
                    </td>
                </tr>
                <tr>

                    <td>

                        {% if justifications.viewlist %}
                           <input type="checkbox" id="list" name="list"
                                  value={{ justifications.viewlist }} checked="true">
                            <label for="demoCheckbox"> List</label>
                        {% else %}

                            <input type="checkbox" id="list" name="list" value="1">
                            <label for="demoCheckbox"> List</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="list_time" name="list_time" value="15" readonly>
                    </td>
                    <td>


                        {% if justifications.listquantity %}
                            <input type="number" id="list_quantity" name="list_quantity"
                                   value={{ justifications.listquantity }} oninput="calculateTotal('list')">

                        {% else %}
                            <input type="number" id="list_quantity" name="list_quantity" value="0" 
                            oninput="calculateTotal('list')">

                        {% endif %}

                    </td>
                    <td>


                        {% if justifications.listtotal %}
                            <label id="list_total">{{ justifications.listtotal }} </label>
                        {% else %}
                        <label id="list_total"></label>
                        {% endif %}                    
                    </td>
                </tr>
                <tr>

                    <td>
                        {% if justifications.viewupdate %}
                            <input type="checkbox" id="update" name="update"
                                   value={{ justifications.viewupdate }} checked="true">
                            <label for="demoCheckbox"> Update</label>
                        {% else %}
                            <input type="checkbox" id="update" name="update" value="1">
                            <label for="demoCheckbox"> Update</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="update_time" name="update_time" VALUE="30" readonly>
                    </td>
                    <td>

                        {% if justifications.updatequantity %}
                            <input type="number" id="update_quantity" name="update_quantity"
                                   value={{ justifications.updatequantity }}  oninput="calculateTotal('update')">

                        {% else %}

                            <input type="number" id="update_quantity" name="update_quantity" value="0"
                            oninput="calculateTotal('update')">

                        {% endif %}


                    </td>
                    <td>

                        {% if justifications.updatetotal %}
                            <label id="update_total">{{ justifications.updatetotal }} </label>
                        {% else %}
                            <label id="update_total"></label>
                        {% endif %}                    </td>
                </tr>
                <tr>

                    <td>
                        {% if justifications.viewdelete %}
                            <input type="checkbox" id="delete" name="delete"
                                   value={{ justifications.viewdelete }} checked="true">
                            <label for="demoCheckbox"> Delete</label>
                        {% else %}
                            <input type="checkbox" id="delete" name="delete" value="1">
                            <label for="demoCheckbox"> Delete</label>

                        {% endif %}


                    </td>
                    <td>
                        <input type="number" id="delete_time" name="delete_time" VALUE="15">
                    </td>
                    <td>

                        {% if justifications.deletequantity %}
                            <label> </label>
                            <input type="number" id="delete_quantity" name="delete_quantity"
                                   value={{ justifications.deletequantity }} oninput="calculateTotal('delete')">

                        {% else %}
                            <input type="number" id="delete_quantity" name="delete_quantity" value="0"
                            oninput="calculateTotal('delete')">

                        {% endif %}

                    </td>
                    <td>
                        {% if justifications.deletetotal %}
                            <label id="delete_total">{{ justifications.deletetotal }} </label>
                        {% else %}
                            <label id="delete_total"></label>
                        {% endif %}
                    </td>
                </tr>
                <tr>

                    <td>

                        {% if justifications.viewtesting %}
                            <input type="checkbox" id="testing_view" name="testing_view"
                                   value={{ justifications.viewtesting }} checked="true">
                            <label for="demoCheckbox"> Testing</label>
                        {% else %}
                            <input type="checkbox" id="testing_view" name="testing_view" value="1">
                            <label for="demoCheckbox"> Testing</label>

                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="testing_view_time" name="testing_view_time" VALUE="30" readonly>
                    </td>
                    <td>

                        {% if justifications.viewtestingquantity %}
                            <input type="number" id="testing_view_quantity" name="testing_view_quantity"
                                   value={{ justifications.viewtestingquantity }}  oninput="calculateTotal('testing_view')">

                        {% else %}
                            <input type="number" id="testing_view_quantity" name="testing_view_quantity" value="0"
                            oninput="calculateTotal('testing_view')">

                        {% endif %}


                    </td>
                    <td>
                        {% if justifications.viewtestingtotal %}
                            <label id="testing_view_total">{{ justifications.viewtestingtotal }} </label>
                        {% else %}
                            <label id="testing_view_total"></label>
                        {% endif %}
                    </td>
                </tr>


                <tr>
                    <td rowspan="2">
                        {% if justifications.requirement_id %}
                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ justifications.requirement_id }}">


                        {% else %}

                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ active_requirement }}">
                        {% endif %}
                    </td>
                    <td rowspan="2">
                        {% if justifications.template %}
                            <input type="checkbox" id="template" name="template" value={{ justifications.template }}
                            checked="true">
                            <label for="demoCheckbox"> TEMPLATES</label>

                        {% else %}
                            <input type="checkbox" id="template" name="template" value="1">
                            <label for="demoCheckbox"> TEMPLATES</label>

                        {% endif %}

                    </td>
                    <td>

                        {% if justifications.templatecreation %}
                            <input type="checkbox" id="template_creation" name="template_creation"
                                   value="{{ justifications.templatecreation }}" checked="true">
                            <label for="demoCheckbox"> Template Creation</label>
                        {% else %}

                            <input type="checkbox" id="template_creation" name="template_creation" value="1">
                            <label for="demoCheckbox"> Template Creation</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="template_creation_time" name="template_creation_time" VALUE="30"
                               readonly>
                    </td>
                    <td>
                        {% if justifications.templatecreationquantity %}
                            <input type="number" id="template_creation_quantity" name="template_creation_quantity"
                                   value={{ justifications.templatecreationquantity }} oninput="calculateTotal('template_creation')"> 
                        {% else %}
                            <input type="number" id="template_creation_quantity" name="template_creation_quantity"
                                   value="0" oninput="calculateTotal('template_creation')">


                        {% endif %}
                    </td>
                    <td>

                        {% if justifications.templatecreationtotal %}
                            <label id="template_creation_total">{{ justifications.templatecreationtotal }} </label>
                        {% else %}
                            <label id="template_creation_total"></label>
                        {% endif %}


                    </td>
                    </td>
                </tr>
                <tr>

                    <td>

                        {% if justifications.templatetesting %}
                            <input type="checkbox" id="template_testing" name="template_testing"
                                   value={{ justifications.templatetesting }} checked="true">
                            <label for="demoCheckbox"> Template Testing</label>
                        {% else %}
                            <input type="checkbox" id="template_testing" name="template_testing" value="1">
                            <label for="demoCheckbox"> Template Testing</label>

                        {% endif %}


                    </td>
                    <td>
                        <input type="number" id="template_testing_time" name="template_testing_time" VALUE="30"
                               readonly>
                    </td>
                    <td>

                        {% if justifications.templatetestingquantity %}
                            <input type="number" id="template_testing_quantity" name="template_testing_quantity"
                                   value={{ justifications.templatetestingquantity }} oninput="calculateTotal('template_testing')"> 
                        {% else %}
                            <input type="number" id="template_testing_quantity" name="template_testing_quantity"
                                   value="0" oninput="calculateTotal('template_testing')">


                        {% endif %}
                    </td>
                    <td>

                        {% if justifications.templatetestingtotal %}
                            <label id="template_testing_total">{{ justifications.templatetestingtotal }} </label>
                        {% else %}
                            <label id="template_testing_total"></label>
                        {% endif %}                    </td>
                </tr>


                <tr>
                    <td rowspan="2">
                        {% if justifications.requirement_id %}
                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ justifications.requirement_id }}">


                        {% else %}

                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ active_requirement }}">
                        {% endif %}
                    </td>
                    <td rowspan="2">
                        {% if justifications.forms %}
                            <input type="checkbox" id="forms" name="forms" checked="true"
                                   value={{ justifications.forms }}>
                            <label for="demoCheckbox"> FORMS</label>

                        {% else %}
                            <input type="checkbox" id="forms" name="forms" value="1">
                            <label for="demoCheckbox"> FORMS</label>

                        {% endif %}

                    </td>
                    <td>


                        {% if justifications.formscreation %}
                            <input type="checkbox" id="form_creation" name="form_creation"
                                   value={{ justifications.formscreation }} checked="true">
                            <label for="demoCheckbox"> Form Creation</label>
                        {% else %}
                            <input type="checkbox" id="form_creation" name="form_creation" value="1">
                            <label for="demoCheckbox"> Form Creation</label>

                        {% endif %}


                    </td>
                    <td>
                        <input type="number" id="form_creation_time" name="form_creation_time" value="30" readonly>
                    </td>
                    <td>

                        {% if justifications.formscreationquantity %}
                            <input type="number" id="form_creation_quantity" name="form_creation_quantity"
                                   value={{ justifications.formscreationquantity }} oninput="calculateTotal('form_creation')">

                        {% else %}

                            <input type="number" id="form_creation_quantity" name="form_creation_quantity" value="0"
                            oninput="calculateTotal('form_creation')">

                        {% endif %}


                    </td>
                    <td>
                        {% if justifications.formscreationtotal %}
                            <label id="form_creation_total">{{ justifications.formscreationtotal }} </label>
                        {% else %}
                            <label id="form_creation_total"></label>
                        {% endif %}

                    </td>
                </tr>
                <tr>

                    <td>
                        {% if justifications.formstesting %}
                            <input type="checkbox" id="form_testing" name="form_testing"
                                   value={{ justifications.formstesting }} checked="true">
                            <label for="demoCheckbox"> Form Testing</label>
                        {% else %}

                            <input type="checkbox" id="form_testing" name="form_testing" value="1">
                            <label for="demoCheckbox"> Form Testing</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="form_testing_time" name="form_testing_time" value="15" readonly>
                    </td>
                    <td>

                        {% if justifications.formstestingquantity %}
                            <input type="number" id="form_testing_quantity" name="form_testing_quantity"
                                   value={{ justifications.formstestingquantity }} oninput="calculateTotal('form_testing')" >

                        {% else %}
                            <input type="number" id="form_testing_quantity" name="form_testing_quantity" value="0" 
                            oninput="calculateTotal('form_testing')">


                        {% endif %}


                    </td>
                    <td>

                        {% if justifications.formstestingtotal %}
                            <label id="form_testing_total">{{ justifications.formstestingtotal }} </label>
                        {% else %}
                            <label id="form_testing_total"></label>
                        {% endif %}                    </td>
                </tr>


                <tr>
                    <td rowspan="3">
                        {% if justifications.requirement_id %}
                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ justifications.requirement_id }}">


                        {% else %}

                            <input type="text" class="foo" id="req_id" name="req_id"
                                   value="REQ:CODA000{{ active_requirement }}">
                        {% endif %}
                    </td>
                    <td rowspan="3">
                        {% if justifications.apis %}
                            <input type="checkbox" id="apis" name="apis"
                                   value={{ justifications.apis }} checked="true">
                            <label for="demoCheckbox"> APIs</label>
                        {% else %}
                            <input type="checkbox" id="apis" name="apis" value="1">
                            <label for="demoCheckbox"> APIs</label>

                        {% endif %}

                    </td>
                    <td>

                        {% if justifications.apisnew %}
                            <input type="checkbox" id="new_api" name="new_api"
                                   value={{ justifications.apisnew }} checked="true">
                            <label for="demoCheckbox"> API(Brand New)</label>
                        {% else %}

                            <input type="checkbox" id="new_api" name="new_api" value="1">
                            <label for="demoCheckbox"> API(Brand New)</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="new_api_time" name="new_api_time" value="60" readonly>
                    </td>
                    <td>

                        {% if justifications.newquantity %}
                            <input type="number" id="new_api_quantity" name="new_api_quantity"
                                   value={{ justifications.newquantity }}  oninput="calculateTotal('new_api')">

                        {% else %}
                            <input type="number" id="new_api_quantity" name="new_api_quantity" value="0" 
                            oninput="calculateTotal('new_api')">

                        {% endif %}


                    </td>
                    <td>

                        {% if justifications.newtotal %}
                            <label id="new_api_total" >{{ justifications.newtotal }} </label>
                        {% else %}
                            <label id="new_api_total" ></label>
                        {% endif %}
                    </td>
                </tr>
                <tr>

                    <td>
                        {% if justifications.apisexisting %}
                            <input type="checkbox" id="existing_api" name="existing_api"
                                   value={{ justifications.apisexisting }} checked="true">
                            <label for="demoCheckbox"> API(Existing)</label>
                        {% else %}
                            <input type="checkbox" id="existing_api" name="existing_api" value="1">
                            <label for="demoCheckbox"> API(Existing)</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="existing_api_time" name="existing_api_time" value="30" readonly>
                    </td>
                    <td>

                        {% if justifications.existingquantity %}
                            <input type="number" id="existing_api_quantity" name="existing_api_quantity"
                                   value={{ justifications.existingquantity }}  oninput="calculateTotal('existing_api')">

                        {% else %}

                            <input type="number" id="existing_api_quantity" name="existing_api_quantity" value="0" 
                            oninput="calculateTotal('existing_api')">

                        {% endif %}

                    </td>
                    <td>


                        {% if justifications.existingtotal %}
                            <label id="existing_api_total">{{ justifications.existingtotal }} </label>
                        {% else %}
                            <label id="existing_api_total"></label>
                        {% endif %}                    </td>
                </tr>
                <tr>

                    <td>
                        {% if justifications.apistesting %}
                            <input type="checkbox" id="api_testing" name="api_testing"
                                   value={{ justifications.apistesting }} checked="true">
                            <label for="demoCheckbox"> API Testing</label>
                        {% else %}
                            <input type="checkbox" id="api_testing" name="api_testing" value="1">
                            <label for="demoCheckbox"> API Testing</label>
                        {% endif %}

                    </td>
                    <td>
                        <input type="number" id="api_testing_time" name="api_testing_time" value="30" readonly>
                    </td>
                    <td>

                        {% if justifications.apistestingquantity %}
                            <input type="number" id="api_testing_quantity" name="api_testing_quantity"
                                   value={{ justifications.apistestingquantity }}  oninput="calculateTotal('api_testing')">

                        {% else %}

                            <input type="number" id="api_testing_quantity" name="api_testing_quantity" value="0"
                            oninput="calculateTotal('api_testing')">

                        {% endif %}
                    </td>
                    <td>


                        {% if justifications.apistestingtotal %}
                            <label id="api_testing_total">{{ justifications.apistestingtotal }} </label>
                        {% else %}
                            <label id="api_testing_total"></label>
                        {% endif %}                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        {% if total_qty %}
                            <label id="total_quantity">{{ total_qty }} </label>
                        {% else %}
                            <label id="total_quantity"></label>
                        {% endif %}
                    </td>
                    <td>
                        {% if total_time %}
                            <label id="total_time">{{ total_time }} </label>
                        {% else %}
                            <label id="total_time"></label>
                        {% endif %}
                    </td>
                </tr>

                {% csrf_token %}


            </table>

        </dev>

        <dev>
            <button type="submit" class="btn btn-primary">Submit</button>
        </dev>
    </dev>
</form>


{% csrf_token %}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

<script>

let totalQuantity = 0;
let totalTime = 0;

    function calculateTotal(justificationType) {
        console.log(`Calculating total for ${justificationType}...`);

        const timeField = document.getElementById(`${justificationType}_time`);
        const quantityField = document.getElementById(`${justificationType}_quantity`);
        const totalField = document.getElementById(`${justificationType}_total`);
        const time = parseInt(timeField.value, 10);
        const oldQuantity = parseInt(quantityField.getAttribute('data-old-quantity'), 10) || 0;
        const newQuantity = parseInt(quantityField.value, 10) || 0;

        if (newQuantity !== oldQuantity) {
            // Update the total label
            const total = time * newQuantity;
            totalField.innerText = total;

            // Update overall totals
            totalQuantity += newQuantity - oldQuantity;
            totalTime += time * (newQuantity - oldQuantity);

            // Save the new quantity as the old quantity for future comparisons
            quantityField.setAttribute('data-old-quantity', newQuantity);

            // Update the overall totals display
            updateOverallTotals();
        }
            
    }

    function updateOverallTotals() {
    const overallTotalQuantityLabel = document.getElementById('total_quantity');
    const overallTotalTimeLabel = document.getElementById('total_time');

    if (overallTotalQuantityLabel) {
        overallTotalQuantityLabel.innerText = totalQuantity;
    }

    if (overallTotalTimeLabel) {
        overallTotalTimeLabel.innerText = totalTime;
    }
}
</script>


</body>
</html>