{%extends "main/base_templates/analysis_index.html"%} {%load crispy_forms_tags%}
{%block content %}
<div class="content-section">
  <form method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom  text-center">
        <p class="lead font-italic mt-4  text-center text-color:white">
            .
        </p>
        <p class="lead font-italic mt-4  text-center">
            ENTRY REQUIREMENTS FORM
        </p>
      </legend>
      <div class="row text-center">
        <div class="col-md-6" id="bada">
          <div class="card">
          <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
            <div class="card-body">
              <h5><b>Data Analysis</b></h5>
              <hr/>
              <i><h6>Kindly Enter and Specify requirements on Reporting, ETL or Database</h6></i>
              <i><p>Write the requirements in as much details as possible</p></i>
            </div>
          </div>
        </div>
        <div class="col-md-6" id="bada">
          <div class="card">
          <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
            <div class="card-body">
              <h5><b>Website</b></h5>
              <hr/>
              <i><h6>Kindly Enter and Specify requirements on Reporting, ETL or Database</h6></i>
              <i><p>Write the requirements in as much details as possible</p></i>
            </div>
          </div>
        </div>
</div>
<hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
        <div class="row">
          <div class="col-md-3">Critical:Needed Within 24 hours </div>
          <div class="col-md-3">High:Within 3 Days and Less </div>
          <div class="col-md-3">Medium:Takes 3-10 days</div>
          <div class="col-md-3">Low : Not urgent</div>
        </div>
<hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
      <div class="row">
        <div class="col-md-2">{{ form.assigned_to|as_crispy_field }}</div>
        <div class="col-md-2">{{ form.requestor |as_crispy_field }}</div>
        <div class="col-md-2">{{ form.company|as_crispy_field }}</div>
        <div class="col-md-2">{{ form.category|as_crispy_field }}</div>
        <div class="col-md-2">{{ form.app|as_crispy_field }}</div>
        <div class="col-md-2">{{ form.status|as_crispy_field }}</div>
      </div>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
      <div class="row">
        <div class="col-md-4">{{ form.what|as_crispy_field }}</div>
        <div class="col-md-4">{{ form.why |as_crispy_field }}</div>
        <div class="col-md-4">{{ form.how |as_crispy_field }}</div>
      </div>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
      <div class="row">
        <div class="col-md-3">{{ form.duration |as_crispy_field }}</div>
        <div class="col-md-3">{{ form.delivery_date|as_crispy_field }}</div>
        <div class="col-md-3">{{ form.doc|as_crispy_field }}</div>
        <div class="col-md-3">{{ form.is_active|as_crispy_field }}</div>
      </div>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
      <div class="row">
        <div class="col-md-12">{{ form.comments |as_crispy_field }}</div>
      </div>
      <hr style="height:3px;border:none;color:#666669;background-color:rgb(106, 106, 155);" />
    </fieldset>
 
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock content%}





