{%extends "main/base_templates/base.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <h3 class="title">PRODUCT BACKLOG</h3>
    <div class="row">
      <div class="col-md-6">
        <p><a href="{% url 'management:new_requirement'%}" class="btn btn-primary btn-sm"
          >ADD REQRUIREMENTS
        </a></p>
      </div>
      <div class="col-md-6">
        <p><a href="{% url 'management:requirements-active'%}" class="btn btn-primary btn-sm"
          >ACTIVE REQRUIREMENTS
        </a></p>
      </div>
    </div>
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>id</th>
          <th>requestor</th>
          <th>assigned_to</th>
          <th>duration</th>
          <th>delivery_date</th>
          <th>is_active</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for requirement in  requirements  %}
         
            <tr>
              <td>CODA000{{requirement.id}}</td>
              <td>{{requirement.requestor}}</td>
              <td>{{requirement.assigned_to}}</td>
              <td>{{requirement.duration}}</td>
              <td>{{requirement.delivery_date|date:"F d, Y"}}</td>
              <td>{{applicant.is_active}}</td>
              <!-------
              <td>{{client.id}}</td>
              <td>{{client.category}}</td>
               {% if client.category == 1 or client.category == 2 %}
                {% endif %}
              --->
              <td> <a class="article-title" href="{%url 'management:requirement-update' requirement.id%}">Edit</a></td>
              <td> <a class="article-title" href="#">Delete</a></td>
            </tr>
         
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}




