{%extends "main/base_templates/analysis_index.html"%} {% block content %}

<section id="data_training">
    <div class="data_training text-center">
        <h3 class="title">REQUIREMENT:CODA 000{{object.id}}</h3>
        <b class="gi text-center">
          Assigned To :{{ object.assigned_to}}
        </b>
        
        <p class="gi">
          This requirement should only be done by the assigned person unless otherwise stated.Note that the requirement will be reassigned at the expiry of the deadline.
        </p>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
      <div class="row text-center">
        <div class="col-md-10 mx-auto mb-4" id="gi">
            <div class="card">
                <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                <div class="card-body">
                    <p class="text-center"><b>Stated Requirements</b></p>
                    <p class="gi text-center">
                        {{ object.requestor }}, {{ object.what }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row text-center">
        <div class="col-md-10 mx-auto mb-4" id="gi">
            <div class="card">
                <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                <div class="card-body">
                    <p class="text-center"><b>Reason/More Info</b></p>
                    <p class="gi">
                        {{object.why}}. To be delivered via {{object.how}}. This requirement is assigned {{object.duration}} hours and should be completed by 
                        {{object.delivery_date}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row text-center">
        <div class="col-md-10 mx-auto mb-4" id="gi">
            <div class="card">
                <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                <div class="card-body">
                    <p class="text-center"><b>Delivery:{{object.delivery_date|date:"F d, Y"}} Duration: {{object.duration}}</b></p>
                    <p class="gi text-center">
                        This requirement {{object.duration}} hours and should be completed by 
                        {{object.delivery_date}}
                    </p>
                </div>
            </div>
        </div>
    </div>
              </div>
              <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
              {% if is_allowed %}
              <div class="row text-center">
                <div class="col-md-12" id="gi">
                            <a
                              class="btn btn-secondary btn-sm mt-1 mb-1"
                              href="{%url 'management:requirement-update' object.id%}"
                            >
                              Update</a
                            >
                            <a
                              class="btn btn-danger btn-sm mt-1 mb-1"
                              href="{%url 'management:requirement-delete' object.id%}"
                            >
                              Delete</a
                            >
                          </div>
                        </div>
              {% else %}
              <div class="col-md-10 mx-auto mb-4 text-center" id="gi">
                      <a class="btn btn-secondary btn-sm mt-1 mb-1"
                        href="{%url 'management:requirements'%}" >Back</a>
              </div>
              {% endif %}
    </div>
    </section>
{% endblock content %}



