{%extends "main/base_templates/analysis_index.html"%}
{%block content %}
<style type="text/css">
  .sign
  {
    background:transparent;
    border:none;
    border-bottom:1px solid #000000;
  }
  #down_payment
  {
    background:transparent;
    border:none;
    width: 12%;
  }
</style>
<div class="content-section">
    <div>
        <h3>CONTRACT</h3>
    </div>
<div>
    <img
    src="\media\banner\banner.jpg"
    class="d-block img-fluid"
    width="1500px"
    alt="banner"
  />
</div>

  <form method="POST" action="/finance/contract_form/">
    {% csrf_token %}
    <input type="hidden" name="usr_data" value="first_name={{job_support_data.first_name}}&last_name={{job_support_data.last_name}}&address={{job_support_data.addres}}&category={{job_support_data.category}}&sub_category={{job_support_data.sub_category}}&username={{job_support_data.username}}&password1={{job_support_data.password1}}&password2={{job_support_data.password2}}&email={{job_support_data.email}}&phone={{job_support_data.phone}}&gender={{job_support_data.gender}}&city={{job_support_data.city}}&state={{job_support_data.state}}&country={{job_support_data.country}}&resume_file={{job_support_data.resume_file}}">
    <input type="hidden" name="plan_hours" id="plan_hours" value="{{default_fee.job_plan_hours_per_month}}">
    <fieldset class="form-group">
      <legend class="border-bottom  text-center">
        <p class="lead  text-center">
            JOB SUPPORT TRAINING CONTRACT
        </p>
      </legend>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
      <div class="row">
        <div class="col-md-6">
            CODA CONTRACT <br>
            <b>JOB SUPPORT</b>
        </div>
        <div class="col-md-6">
            FEES: <b><span class="fees">NULL</span></b><br>
            DATE: {{contract_date}}</br>
        </div>
      </div>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />

      <div class="row">
        <div class="col-md-6 square_radio">
            <h4>TRAINING INFORMATION</h4>
            <b>Job Support Contract Period</b> <br>
              &emsp;<input type="radio" class="One_month" name="duration" value="1" required>
              <label for="Training">One Month</label>
              <input type="radio" id="two_month" name="duration" value="2">
              <label for="Training"> Two Month</label>
              <input type="radio" id="three_month" name="duration" value="3">
              <label for="Training"> Three Month</label><br>
              <b>Training Conferences</b> <br>
            &emsp;<b>1.Tableau &ensp;  2.Zoom</b>
        </div>
        <div class="col-md-6">
        <h4>PLAN</h4>
            <b><span class="plan">No plan Selected</span> </b> <br>
              &emsp;<b>1.Job Support Hours:<span id="job_support_hrs">NULL</span><br>
              &emsp;2.Training Hours:<span id="train_hrs">NULL</span></b>
        </div>
      </div>
    <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />

      <h4>CLIENT INFORMATION</h4>
      <div class="row">
        <div class="col-md-6">
            Client Name: <br>
            Client Address: <br>
            Client Phone:<br>
            Client Email:
        </div>
        <div class="col-md-6">
            {{job_support_data.first_name}} {{job_support_data.last_name}}<br>
            {% if job_support_data.address %}{{job_support_data.address}}{% else %} - {% endif %} <br>
            {{job_support_data.phone}} <br>
            {{job_support_data.email}}
        </div>
      </div>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
      
      <div class="row">
        <div class="col-md-6">
          <h4>PAYMENT INFORMATION</h4>
            FEES: <b><span class="fees">NULL</span> </b><br>
            Down Payment:USD.<input type="text" name="down_payment" value="{{default_fee.job_down_payment_per_month}}" id="down_payment"> <br>
            Fee Balance: <span id="balance">NULL</span><br>
            PLAN: <span class="plan">NULL</span></br>
        </div>
        <div class="col-md-6">
            <h4>METHOD OF PAYMENT:</h4>
            <input type="radio" id="One_month" name="payment_type" value="paypal" required>
            Paypal<br>
            <input type="radio" id="One_month" name="payment_type" value="cash_app">
            Cash App<br>
            <input type="radio" id="One_month" name="payment_type" value="Venmo">
            Venmo</br>
        </div>
      </div>    
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />

    <div class="row">
      <div class="col-md-6">
        <h4>SIGNATORY</h4>
        Client Signature:<input type="text" name="client_sign" class="sign" required></br>
        Date:<input type="text" class="sign" name="client_date" placeholder="YYYY-MM-DD" required></br>
      </div>
      <div class="Col-md-6">
        <br>
       Company Rep:<input type="text" name= "rep_name" class="sign" required><br>
       Date:<input type="text" name="rep_date" class="sign" placeholder="YYYY-MM-DD" required></br>
      </div>
    </div>
    <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
   <div class="row">
      <div class="col-lg-12">
        <h4>Training Info:</h4>
        1.THAT all the training sessions shall be virtual via the <b>GoToMeeting & ZOOM</b> platform with dates
communicated by CODA, any change of training platform shall be communicated through WhatsApp
platforms,<br>
2. THAT CODA shall provide all the necessary learning materials including PowerPoints and videos within the
training period.<br>
3. THAT the Client shall commit to making payment according to the <b>payment schedule</b> attached to the
contract.<br>
4. THAT CODA retains the power to stop any form of training including sharing of materials where the client has
failed to remit payments in accordance with the schedule, and where there is no commitment to do the same.<br>
      </div>
    </div><br>
    <input type="checkbox" name="terms" required><b> I agree to the Terms of services</b>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Submit</button>
    </div>
  </form>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('input[type=radio][name=duration]').change(function() {
        var fee = $(this).val()
        console.log("fees --->",fee)
        var fees = 1000*fee;
        var down_payment_amount= $("#down_payment").val()
        var balance = fees - down_payment_amount;
        var plan_hours = $("#plan_hours").val() * fee
        $(".fees").text("USD. "+fees);
        $("#balance").text("USD. "+balance);
        $(".plan").text(plan_hours+' hours');
        $("#job_support_hrs").text(plan_hours-30)
        $("#train_hrs").text(30)

    });
    $('#down_payment').keyup(function() {
        var down_payment_amount= $("#down_payment").val()
        var fee = $("input[name='duration']:checked").val();
        var fees = 1000*fee;
        var balance = fees - down_payment_amount;
        $("#balance").text("USD. "+balance);
    });
});
</script>
{% endblock content%}




