{%extends "main/base_templates/analysis_index.html"%} 
{%block content %}
<style type="text/css">
  .signature
  {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
  }
    #down_payment,#bonus
  {
    background:transparent;
    border:none;
    width: 12%;
  }
</style>
<div class="content-section">
    <div>
        <h3>CONTRACT</h3>
    </div>
<div>
    <img
    src="\media\banner\banner.jpg"
    class="d-block img-fluid"
    width="1500px"
    alt="banner"
  />
</div>

  <form  method="POST" action="/finance/contract_form/" class="form-group">
    {% csrf_token %}
        <input type="hidden" name="usr_data" value="first_name={{student_data.first_name}}&last_name={{student_data.last_name}}&address={{student_data.addres}}&category={{student_data.category}}&sub_category={{student_data.sub_category}}&username={{student_data.username}}&password1={{student_data.password1}}&password2={{student_data.password2}}&email={{student_data.email}}&phone={{student_data.phone}}&gender={{student_data.gender}}&city={{student_data.city}}&state={{student_data.state}}&country={{student_data.country}}&resume_file={{student_data.resume_file}}">
        <input type="hidden" name="student_contract" value="student_contract">
    <fieldset class="form-group">
      <legend class="border-bottom  text-center">
        <p class="lead  text-center">
            STUDENT TRAINING CONTRACT
        </p>
      </legend>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
      <div class="row">
        <div class="col-md-6">
            CODA TRAINING <br>
            DATA ANALYSIS TRAINING CONTRACT
        </div>
        <div class="col-md-6">
            FEES: $<span class="fees">NULL</span> <br>
            DATE: {{contract_date}}
        </div>
      </div>


      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />

          <div class="row">
            <div class="col-md-12">
                <h4>TRAINING INFORMATION</h4>
                <b>Training Contract Period</b> <br>
                  &emsp;<input type="radio" id="One_month" name="duration" value="1" required>
                  <label for="Training">One Month</label>
                  <input type="radio" id="two_month" name="duration" value="2">
                  <label for="Training"> Two Month</label>
                  <input type="radio" id="three_month" name="duration" value="3">
                  <label for="Training"> Three Month</label>
            </div>
            <div class="col-md-12">
                <b>Training Conferences</b> <br>
                  &emsp;<b>1.Tableau &ensp;2.Zoom</b>
            </div>
          </div>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />

      <h4>STUDENT INFORMATION</h4>
      <div class="row">
        <div class="col-md-6">
            Student Name: <br>
            Student Address: <br>
            Student Phone: <br>
            Student Email: 
        </div>
        <div class="col-md-6">
            {{student_data.first_name}} {{student_data.last_name}} <br>
            {%if student_data.address %}{{student_data.address}}{% else %} - {% endif %} <br>
            {{student_data.phone}} <br>
            {{student_data.email}}
        </div>
      </div>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
          <div class="row">
            <div class="col-md-6">
                <h4>PAYMENT INFORMATION</h4>
                Student FEES: USD.<span class="fees">NULL</span> <br>
                Student Down payment: USD.<input type="text" name="down_payment" value="{{default_fee.student_down_payment_per_month}}" id="down_payment"> <br>
                Student Fee Bonus: USD. <input type="text" name="bonus" value="{{default_fee.student_bonus_payment_per_month}}" id="bonus"><br>
                Student Fee Balance: USD.  <span id="balance">NULL</span>
            </div>
            <div class="col-md-6">
                <h4>METHOD OF PAYMENT:</h4>
                <input type="radio" name="payment_type" value="paypal" required>
                Paypal <br>
                <input type="radio" name="payment_type" value="cash_app">
                Cash App <br>
                <input type="radio" name="payment_type" value="Venmo">
                Venmo
            </div>
          </div>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />

          <div class="row" >
            <div class="col-md-12">
                <h4>SIGNATORY:</h4>
                Student signature:<input type="text" name="client_sign" class="signature" required><br>
                Company Rep:      <input type="text" name="rep_name" class="signature" required><br>

            </div>
          </div>


      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
     <input type="checkbox" name="terms" required><b> I agree to the Terms of services</b>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Submit</button>
    </div>
  </form>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('input[type=radio][name=duration]').change(function() {
        var fee = $(this).val()
        console.log("fees --->",fee)
        var fees = 1000*fee;
        var down_payment_amount= $("#down_payment").val()
        var bonus = $("#bonus").val()
        var balance = fees - (parseInt(down_payment_amount)+parseInt(bonus));
        $(".fees").text(fees);
        $("#balance").text(balance);


    });
    $('#down_payment').keyup(function() {
        var down_payment_amount= $("#down_payment").val()
        var bonus = $("#bonus").val()
        var fee = $("input[name='duration']:checked").val();
        var fees = 1000*fee;
        var balance = fees - (parseInt(down_payment_amount)+parseInt(bonus));
        $("#balance").text("USD. "+balance);
    });
    $('#bonus').keyup(function() {
        var down_payment_amount= $("#down_payment").val()
        var bonus = $("#bonus").val()
        var fee = $("input[name='duration']:checked").val();
        var fees = 1000*fee;
        var balance = fees - (parseInt(down_payment_amount)+parseInt(bonus));
        $("#balance").text("USD. "+balance);
    });
});
</script>
{% endblock content%}





