
{%extends "main/base_templates/new_base.html"%} {% block content %}
<section id="career">
    <div class="data_training text-center">
      <h3 class="title">IMPORTANT LINKS</h3>
      <p class="p text-center">Click on the link to access information <b>{{num_tasks}}</b> activities this month</p>
    <div class="container-fluid mr-auto">
          <div class="row text-center">
            {% for task in  tasksummary  %}
                <div class="col-md-2" id="bada">
                  <div class="card">
                    <div class="card-body">
                      <h5><b>task.Target</b></h5>
                      <hr/>
                      <i><h6>task.Description</h6></i>
                      <hr/>
                    </div>
                  </div>
                </div>
              {% endfor %}
          </div>
        </div> 
    </div> 
</section>
{% endblock content %}