{% extends "main/base_templates/new_base.html"%}
{% block content %}
<section id="career text-center">
    <h3 class="title text-center">ASSET/LIABILITY LIST</h3>

    <div class="container-fluid">
        <div class="row">          
            <!-- <div class="col-md-4">
                <form method="get" action="" class="mb-3">
                    <div class="form-group">
                        <label for="categoryFilter">Filter by Category:</label>
                        <select name="category" id="categoryFilter" class="form-control">
                            <option value="">All Categories</option>
                            {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
            </div>            -->
            <div class="col-md-6 text-center" id="bada">
                <div class="card">
                    <div class="card-body">
                        <h5><b>Total ASSET</b></h5>
                        <hr/>
                        <i><h6>{{ total_amt }}</h6></i>
                        <hr/>
                    </div>
                </div>
            </div>    
            <!-- <div class="col-md-4 text-right">
                <p class="mt-4"><a href="#" class="btn btn-primary">
                    Add New ASSET
                </a></p>
            </div>
        </div> -->
        <div class="col-md-12">    
          <div class="career text-center">
              <table class="table table-borderless" style="width: 100%">
                  <thead class="border-bottom font-weight-bold">  
                      <tr>
                          <th>Name</th>
                          <th>category</th>
                          <th>quantity</th>
                          <th>unit_value</th>
                          <th>serial_number</th>
                          <th>purchase_date</th>                        
                          <th>location</th>
                        
                      </tr>
                  </thead>
                  <tbody>
                      {% for asset in assets %}
                      <tr>
                          <td>{{ asset.name }}</td> 
                          <td>{{ asset.category }}</td>
                          <td>{{ asset.quantity }}</td>
                          <td>{{ asset.unit_value }}</td>    
                          <td title="{{ asset.description }}">{{ asset.serial_number }}</td>         
                          <td>{{ asset.purchase_date|date:"n-d-Y" }}</td>                                    
                          <td>{{ asset.location }}</td>
                         
                          <td>
                              <a href="#">Update</a> |
                              <a href="#">Delete</a>
                          </td>
                      </tr>
                      {% endfor %}      
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  <hr>
</section>
{% endblock content %}               
                   
