{% extends "main/base_templates/new_base.html" %}
{% load static %}
{% load mathfilters %}
{% block title %}
{% if category %}{{ category.name }}{% else %}activities{% endif %}
{% endblock %}
{% block content %}
<main>
    <br>
    <h2 id="demo"></h2>
    <div class="album py-5 bg-light">
        <h4 class="text-center text-dark">WELCOME TO FINANCE DEPARTMENT</h4>
        <div class="container">
            <div class="row">
                <div class="col-md-3 hover">
                    <h5 class="text-center text-dark">My Dashboard</h5>
                    <div style="border: 1px solid black;padding:20px;">
                            <p>Kindly,select an item to proceed</p>
                    </div>
                    <div style="border: 1px solid black;padding:20px;">
                        <a class="dropdown-item" href="{% url 'finance:transaction-list' %}" target="__blank" >Cash Outflows Report</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'finance:budget' %}" target="__blank" >Budgeting</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'finance:open_statements' %}" target="__blank" >Statements</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'investing:companyreturns' %}" target="__blank" >CODA Investments</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'investing:investments' %}" target="__blank" >Run Test Investments</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'investing:costbasis'%}" target="__blank" >Cost Basis</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'investing:option_list' title='shortputdata' %}" target="__blank" >Options</a>
                    </div>
                </div>
                <div class="col-md-6 hover">
                    <img 
                    {%for image in images%}
                    {% if image.name == "bg_ceo_10222022_v1"%}
                    src="{{googledriveurl}}={{image.image_url}}"
                    style="width: 100%;height:100%;"
                    {%endif%}
                    {% endfor %}
                    >
                </div>
                <div class="col-md-3 hover">
                    <h5 class="text-center text-dark">My Dashboard</h5>
                    <div style="border: 1px solid black;padding:20px;">
                        <p>Kindly,select an item to proceed</p>
                    </div>
                    <div style="border: 1px solid black;padding:20px;">
                        <a class="dropdown-item" href="{% url 'finance:finance_report'%}" target="__blank" >Finance Report</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'finance:investment_report' %}" target="__blank" >CODA Tableau Investments</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'finance:payments' %}" target="__blank" >Payments</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'finance:pay'%}" target="__blank" >Make Payment</a>
                       <div class="dropdown-divider"></div>
                       <a class="dropdown-item" href="{% url 'account-logout' %}" target="" >Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}


