{%extends "main/base_templates/new_base.html"%} 
{% load static %}
{% block title %}
{% if department %}{{ department.name }}{% else %}activities{% endif %}
{% endblock %}
{% block content %}
<!--------------------------Slider Section--------------------------------->
<section id="data_training">
  <h3 class="title text-center">ACCESSIBILITY-MEETING {{title}}</h3>
  <div class="row text-center">
    <div class="col-md-10 mx-auto mb-4" id="gi">
        <div class="card">
            <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
            <div class="card-body">
                <p class="gi">
                    Committed to Excellence in Accessibility: We believe in creating an inclusive digital space that is equally accessible to everyone. Our approach adheres to the WCAG (Web Content Accessibility Guidelines) standards, ensuring that all our services, information, and resources are available to people with diverse abilities. By recognizing the importance of accessibility, we strive to empower individuals and foster an environment of equal access and opportunity
                </p>
            </div>
        </div>
    </div>
</div>
    <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
  <div class="data_training text-center">
    <h3 class="title">{{title}}</h3>
        <div class="row text-center">
            {% for value in accessibility %}
            <div class="col-md-3" id="gi">
                {% include 'main/snippets_templates/cards/card.html' with instance=value %}
          </div>
          {% endfor%}
          </div>
    </div>
    </div>
</section>
{% endblock content %}