{%extends "main/base_templates/application_base.html"%} {%load crispy_forms_tags%} {% block content %}
      <section id="project">
          <div class="project text-center">
            {% include 'application/interview_process/firstinterview/instructions.html'%}
              <div class="sectionA" style="display: block">
                    <div class="row text-center">
                        <div class="col-md-12 services">
                            <hr />
                            {% include 'application/interview_process/process.html'%}
                        </div>
                    </div>
              </div>
        <hr>      
            <div class="uploads_submission">
                <form action="{% url "application:section_c" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>Note: Combine all the files and zip before uploading.</p>
                    <div class="d-flex justify-content-around">
                        <div >
                            <a href="{% url 'application:policies' %}">
                                <button id="next_section_btn">Next Section</button>
                            </a>
                        </div>
                    </div>
              
                </form>
                
          
            </div>

      </section>
{% endblock content %}