{%extends "main/base_templates/application_base.html"%} {%load crispy_forms_tags%} {% block content %}
      <section id="project">
          <div class="project text-center">
              <div class="business_header">
                  <hr>
                  <h3 class="title text-center">FIRST INTERVIEW</h3>
              </div>

              <div class="row text-left">
                  <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                  <p class="text-center">
                      You are required to go through the following step by step interview process on the three
                      sections which covers ETL(Alteryx),Database(SQL) and Tableau, which are the most commonly
                      used tools in CODA.
                      Our assessment and evaluation in this section will be based on the following:
                  </p>
                  <div class="col-md-6 project">
                      <ul>
                          <li>1. The ability for a candidate to follow step by step instructions and the
                              requirements given.</li>
                          <li>2. The ability for a candidate to learn a new tool and the utilization of the tool
                              to meet business requirements.</li>
                      </ul>
                  </div>
                  <div class="col-md-6 project">
                      <ul>
                          <li>3. The ability for the candidate to organize deliverables/his or her submissions
                          </li>
                          <li>4. The ability for a candidate to be organized, audible and flawless during
                              presentation</li>
                      </ul>
                  </div>
              </div>
              <br><br><br>

              <div class="sectionA" style="display: block">
              <div class="data_header">
                  <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
                  <h4 class="title text-center">SECTION A : WORKFLOW-DATA CLEANING</h4>

              </div>
              <div class="row text-center">
                  <div class="col-md-9 services">
                      <table class="tg">
                          <thead>
                              <tr>
                                  <th class="tg-8xdm">
                                      <span style="text-decoration: none">Topic</span>
                                  </th>
                                  <th class="tg-xs21">
                                      <span style="font-weight: 400; text-decoration: none">Description</span>
                                  </th>
                                  <th class="tg-xs21">
                                      <span style="font-weight: 400; text-decoration: none">Link</span>
                                  </th>
                              </tr>
                          </thead>
                          <tbody>

                              <tr>
                                  <td class="tg-7zrl">
                                      <span
                                          style="font-weight: 400; text-decoration: none; color: black">INSTALLATION</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span
                                          style="font-weight: 400; text-decoration: none; color: black">Installing
                                          Alteryx</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">
                                          <a
                                              href="https://docs.google.com/presentation/d/1sTflaF0yS8nYS4Trm9gx0H4HPH0zN7qBu9O27-vMN7A/edit#slide=id.p1 ">
                                              Click
                                          </a>
                                      </span>
                                  </td>
                              </tr>

                              <tr>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">DAF DATA
                                          CLEANING</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">DAF data
                                          cleaning workflow</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">
                                          <a
                                              href="https://drive.google.com/file/d/1OEXN4XKm3_yFPmmrZoTh6fcietP3a6cM/view?usp=sharing">
                                              Click
                                          </a>
                                      </span>
                                  </td>
                              </tr>

                              <tr>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">WHATSAAP
                                          MESSAGES</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">Cleaning
                                          Messages</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">
                                          <a
                                              href="https://drive.google.com/file/d/1K2UAbtZHiz26TSzc2PrUFNvithF1PkoE/view?usp=sharing">
                                              Click
                                          </a>
                                      </span>
                                  </td>
                              </tr>

                              <tr>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">ALTERYX
                                          PPT</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">Use the
                                          powerpoint to follow along, you will use the same ppt in presenting your
                                          work</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">
                                          <a
                                              href="https://docs.google.com/presentation/d/1v68aYsEXskx0Ze6CEbM9k8HLjMlgHY5ZOOScsGO7j54/edit#slide=id.p1 ">
                                              Click
                                          </a>
                                      </span>
                                  </td>
                              </tr>

                          </tbody>
                      </table>
                  </div>
                  <div class="col-md-3 services">
                      <div class="card">
                          <div class="card-body">
                              <h6> Alterlyx Instructions</h6>
                              <hr />
                              <p class="gi">
                                  Install alteryx and create a workflow to clean the following raw data. You can
                                  make use of the video and the powerpoint for guidence. <br>
                                  <a
                                      href="https://drive.google.com/file/d/1_cMfvtyZaWre9YtR5ZoSyo9K3-KnQKn5/view">
                                      <button>Whatsaap Data </button>
                                  </a>
                                  <a
                                      href="https://docs.google.com/spreadsheets/d/1bf8DQ0XBZknXzO3iXp3gti0sMYCcPjQicJqL4j8zKcM/edit#gid=1203491039 ">
                                      <button>DAF Data </button>
                                  </a>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
                            
            <div class="uploads_submission">
                <form action="{% url "application:section_a" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Note: Combine all the files and zip before uploading.</p>
            
                <div class="col-md-3">{{ form.upload_a|as_crispy_field }}</div>
                <div ><a href="{% url 'application:section_b' %}">
                  <button id="next_section_btn">Next Section</button>
                </a></div>
                
                </form>
                
          
            </div>

      </section>

      <script>
            $(document).ready(function() {
                $('#next_section_btn').click(function() {
                    var applicantworks = $('#applicantworks').val();
                    if (applicantworks == '') {
                        alert('Please upload your files');
                        return false;
                    }
                });
            });
        </script>
{% endblock content %}