{%extends "main/base_templates/application_base.html"%} {%load crispy_forms_tags%} {% block content %}
      <section id="project">
          <div class="project text-center">
              <div class="business_header">
                  <hr>
                  <h3 class="title text-center">FIRST INTERVIEW-SECTION C</h3>
              </div>

              <div class="row text-left">
                  <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                  <p class="text-center">
                      You are required to go through the following step by step interview process on the three
                      sections which covers ETL(Alteryx),Database(SQL) and Tableau, which are the most commonly
                      used tools in CODA.
                      Our assessment and evaluation in this section will be based on the following:
                  </p>
                  <div class="col-md-6 project">
                      <ul>
                          <li>1. The ability for a candidate to follow step by step instructions and the
                              requirements given.</li>
                          <li>2. The ability for a candidate to learn a new tool and the utilization of the tool
                              to meet business requirements.</li>
                      </ul>
                  </div>
                  <div class="col-md-6 project">
                      <ul>
                          <li>3. The ability for the candidate to organize deliverables/his or her submissions
                          </li>
                          <li>4. The ability for a candidate to be organized, audible and flawless during
                              presentation</li>
                      </ul>
                  </div>
              </div>
              <br><br><br>

              <div class="sectionA" style="display: block">
              <div class="data_header">
                <h4 class="title text-center">
                    SECTION C : REPORT DEVELOPMENT
                </h4>
              </div>
              <div class="row text-center">
                  <div class="col-md-9 services">
                      <table class="tg">
                          <thead>
                              <tr>
                                  <th class="tg-8xdm">
                                      <span style="text-decoration: none">Topic</span>
                                  </th>
                                  <th class="tg-xs21">
                                      <span style="font-weight: 400; text-decoration: none">Description</span>
                                  </th>
                                  <th class="tg-xs21">
                                      <span style="font-weight: 400; text-decoration: none">Link</span>
                                  </th>
                              </tr>
                          </thead>
                          <tbody>

                              <tr>
                                  <td class="tg-7zrl">
                                      <span
                                          style="font-weight: 400; text-decoration: none; color: black">INSTALLATION</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span
                                          style="font-weight: 400; text-decoration: none; color: black">Installing
                                          Tableau</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">
                                          <a href="https://www.youtube.com/watch?v=QYnkudCxbmE ">
                                              Click
                                          </a>
                                      </span>
                                  </td>
                              </tr>

                              <tr>
                                  <td class="tg-7zrl">
                                      <span
                                          style="font-weight: 400; text-decoration: none; color: black">Reporting</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span
                                          style="font-weight: 400; text-decoration: none; color: black">Developing
                                          an Executive Overview Report</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">
                                          <a
                                              href="https://drive.google.com/file/d/1yQBiDgt3y1faTfglDtVITEEnyyYIewui/view ">
                                              Click
                                          </a>
                                      </span>
                                  </td>
                              </tr>

                              <tr>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">Tableau
                                          PPT</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">Use the
                                          powerpoint to follow along, you will use the same ppt in presenting your
                                          work</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">
                                          <a
                                              href="https://docs.google.com/presentation/d/1ASZkzSJBSoOqH6R83ZznChL6ISi5SC5_YI5N2XTZD1w/edit?usp=sharing ">
                                              Click
                                          </a>
                                      </span>
                                  </td>
                              </tr>

                          </tbody>
                      </table>
                  </div>
                  <div class="col-md-3 services">
                      <div class="card">
                          <div class="card-body">
                              <h6>Tableau Instructions</h6>
                              <hr />
                              <p class="gi">
                                  Go through the video and use the datasets from the workflow(Alteryx) in section
                                  A to create a report in tableau.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Upload works -->
                <p class="text-start display-5">Note: Combine all the files and zip before uploading.</p>

            <div class="uploads_submission text-center d-flex flex-around">
                <form action="{% url "application:section_c" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-3">{{ form.upload_c|as_crispy_field }}</div>
                <a href="{% url 'application:policies' %}">
                  <button id="next_section_btn">Next Section</button>
                </a>
                </form>
            </div>
              <div class="sectionD">
                    <div class="data_header">
                        <h4 class="title text-center">
                            Your uploads will be evaluated by our team and will get back you.
                        </h4>
                    </div>
             </div>
      </section>
      <script>
            $(document).ready(function() {
                $('#next_section_btn').click(function() {
                    var applicantworks = $('#applicantworks').val();
                    if (applicantworks == '') {
                        alert('Please upload your files');
                        return false;
                    }
                });
            });
        </script>
{% endblock content %}