{%extends "main/base_templates/base.html"%}
{% load mathfilters %}
{% block content %}
<section id="rating">
  <div class="rating text-center">
    <h2>MY ACCOUNT</h2>
    <!-- <hr> -->
    <!-- <h5><b class="remaining-time">{{remaining_days}},{{remaining_hours}},{{remaining_minutes}},{{remaining_seconds}}</b></h5> -->
    <hr>
    <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
    <!-- <div class="row text-center">
      {% for item in context.items %}
        <div class="col-md-3 amount_msg" id="bada">
          <div class="card">
            <div class="card-body">
              <h5><b>{{ item.title }}</b></h5>
              <hr/>
              <i><h6>Ksh.{{ item.amount }}</h6></i>
              <hr/>
              <i><p>{{ item.description }}</p></i>
            </div>
          </div>
        </div>
      {% endfor %}
    </div> -->

    <div class="row text-center">
      <div class="col-md-3 amount_msg" id="bada">
        <div class="card">
          <div class="card-body">
            <h5><b>Total Amount</b></h5>
            <hr/>
            <i><h6>Ksh.{{total_amt}}</h6></i>
            <hr/>
            <font size="-1"
            <i><p>Total amount</p></i>
            </font>
          </div>
        </div>
      </div>
      <div class="col-md-3 amount_msg" id="bada">
        <div class="card">
          <div class="card-body">
            <h5><b>Amount Paid</b></h5>
            <hr/>
            <!-- <i><h6>{{GoalAmount}}</h6></i> -->
            <i><h6>USD.{{ total_amt|div:139|floatformat:2 }}</h6></i>
            <hr/>
            <i><p>Amount Paid</p></i>
          </div>
        </div>
      </div>
      <div class="col-md-3 amount_msg" id="bada">
        <div class="card">
          <div class="card-body">
            <h5><b>Balance</b></h5>
            <hr/>
            <!-- <i><h6>{{GoalAmount}}</h6></i> -->
            <i><h6>Ksh.{{balance}}</h6></i>
            <hr/>
            <i><p>Unpaid Amount</p></i>
          </div>
        </div>
      </div>

      <div class="col-md-3 amount_msg" id="bada">
        <div class="card">
          <div class="card-body">
            <p>
              Welcome {{request.user}}
            </p>
            <hr/>
  
          <hr/>
            <i><h6>Exchange Rate :KES.{{rate}}</h6></i>
          </div>
          </div>
        </div>
      </div>
    
  </div>
  <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>Category</th>
          <th>Sender</th>
          <!-- <th>Receiver</th>
            <th>Phone</th> -->
            <!-- <th>Department</th> -->
            <th>Method</th>
            <th>period</th>
            <th>Quantity</th>
            <th>Amount</th>
            <!-- <th>Amount(Ksh)</th> -->
            <th>Paid by</th>
            <th>Receipt</th>
        </tr>
      </thead>
      <tbody>
        {% for transanction in inflow %}
        <tr>
          <td>
            <a class="text-dark  text-decoration-none" 
            data-toggle="tooltip" title="{{  transanction.description  }}"
            href="{{ category.get_absolute_url }}">
            {{transanction.category}}
            </a>
        </td>
        <td>
          {{transanction.sender.first_name}},{{transanction.sender.last_name}}
        </td>
          <!-- <td>{{transanction.receiver}}</td>
            <td>{{transanction.phone}}</td> -->
            <!-- <td>{{transanction.department}}</td> -->
          <td>{{transanction.method}}</td>
          <td>{{transanction.period}}</td>
          <!-- <td>{{transanction.payment_method}}</td> -->
          <td>{{transanction.qty}}</td>
          <td>{{transanction.amount}}</td>
          <!-- <td>{{transanction.qty|mul:transanction.amount}}</td>  -->
          <!-- <td>{{transanction.amount|mul:rate}}</td>  -->
          <!-- <td>{{transanction.amount}}</td>  -->
          <!-- <td>{{amount_ksh}}</td>  -->
          <td>{{transanction.transaction_date|date:"n/d/Y"}}</td>
          <td> <a class="article-title" href="{{transanction.receipturl}}">View Receipt</a></td>
          <!-- <td> <a class="article-title" href="{% url 'main:404error'%} ">No Receipt</a></td> -->
          {%if user.is_admin or user.is_superuser%}
          <td> <a class="article-title" href="{% url 'finance:inflow-update' transanction.id %}">Edit</a></td>
          <td> <a class="article-title" href="{% url 'finance:inflow-delete' transanction.id %}">Delete</a></td>
          {%endif%}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}