{%extends "main/base_templates/new_base.html"%}
{% load mathfilters %}
{% block content %}
<section id="rating">
  <div class="rating text-center">
    <h2>BUDGET</h2>
    <!-- <hr> -->
    <!-- <h5><b class="remaining-time">{{remaining_days}},{{remaining_hours}},{{remaining_minutes}},{{remaining_seconds}}</b></h5> -->
    <hr>
    <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
    <div class="row text-center">
      <div class="col-md-2 amount_msg" id="bada">
        <div class="card">
          <div class="card-body">
            <h5><b>Total Amount</b></h5>
            <hr/>
            <!-- <i><h6>{{GoalAmount}}</h6></i> -->
            <i><h6>Ksh{{total_amt}}</h6></i>
            <hr/>
            <font size="-1"
            <i><p>Total amount</p></i>
            </font>
          </div>
        </div>
      </div>
      <div class="col-md-2 amount_msg" id="bada">
        <div class="card">
          <div class="card-body">
            <h5><b>Total Contributions</b></h5>
            <hr/>
            <i><h6>Ksh{{total_contributions}}</h6></i>
            <hr/>
            <i><p>Contributions</p></i>
          </div>
        </div>
      </div>
      <div class="col-md-2 amount_msg" id="bada">
        <div class="card">
          <div class="card-body">
            <p><a href="{% url 'finance:dcinflow'%}" class="btn btn-secondary btn-sm"
              >Add Revenue
            </a></p>
            <hr/>
            <a href="{% url 'finance:dcklist'%}" class="btn btn-secondary btn-sm"
            >Budget
          </a>
          <hr/>
            <i><h6>Exchange Rate :KES.{{rate}}</h6></i>
          </div>
          </div>
        </div>
      </div>


  </div>
  <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <!-- <th>Client_Category</th> -->
          <th>Category</th>
            <th>Item</th>
            <th>qty</th>
            <th>Unit Price</th>
            <th>start_date</th>
            <th>end_date</th>
            <th>Days</th>
            <th>Amount(Ksh)</th>
            <th>Amount(usd)</th>
            <th>Receipt</th>
        </tr>
      </thead>
      <tbody>
        {% for item in budget %}
        <tr>
          <!-- <td>
            {{item.clients_category}}
        </td> -->
          <td>
            {{item.category}}
        </td>
          <td>
            <a class="text-dark  text-decoration-none" 
            data-toggle="tooltip" title="{{  item.description  }}"
            href="{{ category.get_absolute_url }}">
            {{item.item}}
            </a>
        </td>
        <td>{{item.qty}}</td>
        <td>{{item.unit_price}}</td>
        <td>{{item.start_date|date:"n/d/Y"}}</td>
        <td>{{item.end_date|date:"n/d/Y"}}</td>
        <td>{{item.days}}</td>
        <td>{{item.ksh_amount}}</td>
        <td>{{item.ksh_amount|mul:0.006}}</td>
        <td> <a class="article-title" href="{{receipt_url}}">View</a></td>
          {%if user.is_admin or user.is_superuser%}
          <td> <a class="article-title" href="{% url 'finance:budget-update' item.id %}">Edit</a></td>
          <td> <a class="article-title" href="#">Delete</a></td>
          {%endif%}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}