{%extends "main/base_templates/analysis_index.html"%}
{% load static %}
{% block title %}
{% if department %}{{ department.name }}{% else %}activities{% endif %}
{% endblock %}
{% block content %}
<h3 class="title" style="color:blue;text-align:center">TRAINING-ONE ON ONE</h3>
<!-------------------2. Finance Usecase Section------------------------->
<section id="data_training">
    <div class="data_training text-center">
        <h3 class="title">Usecase 1:<a
                href="https://docs.google.com/presentation/d/1cvNAa5wmntmMoTyo_xyIMvc6KV0Lgrqn/edit?usp=sharing&ouid=115037154650831613074&rtpof=true&sd=true">
                <strong style="color:white;text-align:center">FINANCE</strong></a></h3>
        <div class="row text-center">
            <div class="col-md-3" id="gi">
                <div class="card">
                    <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                    <div class="card-body">
                        <h4><b>Project Story</b></h4>
                        <hr />
                        <p class="gi">
                            This is an overview of what Finance usecase is all about.<br>
                            Define what the project is about and incorporate agile methodology in project delivery.

                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" target="_blank" href="#">Powerpoint:
                                        Course
                                        Project story </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank" href="#">
                                        Video: Projects story</a>
                                    <div class="dropdown-divider"></div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-3" id="gi">
                <div class="card">
                    <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                    <div class="card-body">
                        <h4><b>TABLEAU/ALTERYX</b></h4>
                        <hr />
                        <p class="gi">
                            This is an end to End Tableau session. You will start by thr requirements, then do a
                            planing poker, have the PBR session and finalize by Development and deployment.<br>Go
                            through
                            and present the session three times.
                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" target="_blank"
                                        href="https://docs.google.com/presentation/d/1_iSV5_AUpEVJnzzr5PJjYd0a63jR0jSB/edit">Project
                                        Description Powerpoint</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://drive.google.com/file/d/1qufX3OsCpHNUIxuFzrJyuHe9ukhA8QWF/view?usp=sharing">Finance
                                        Landing
                                        Page
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://drive.google.com/file/d/1ANWbChv0YZLIKwNW-4iB1wVEuYS1Jcc5/view?usp=sharing">Finance
                                        Executive
                                        Overview Report
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank" href="#">Finance Detailed Report(Modern)
                                    </a>
                                    <div class="dropdown-divider"></div>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://drive.google.com/file/d/15-itfrUKJT-GNWBTOa7F3SuWmwZBvyNN/view?usp=sharing">Finance
                                        Workflow
                                    </a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3" id="gi">
                <div class="card">
                    <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                    <div class="card-body">
                        <h4><b>DATABASE</b></h4>
                        <hr />
                        <p class="gi">
                            For this part, we use SQL to create and manage a database by doing data
                            normalization,developing a data dictionary and data models for optimal management of the
                            database.<strong>Do the session Three times</strong>
                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" target="_blank" href="#">Database</a>
                                    <div class="dropdown-divider"></div>


                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-3" id="gi">
                <div class="card">
                    <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                    <div class="card-body">
                        <h4><b>CLIENT INTRODUCTION</b></h4>
                        <hr />
                        <p class="gi">
                            <strong>Do the session Three times</strong>
                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" target="_blank"
                                        href="https://transcripts.gotomeeting.com/#/s/f4af3d214c20119b2650204ef7f01ee928a0525dacd6a87710adc33a1b534e6a">Client
                                        introduction </a>
                                    <div class="dropdown-divider"></div>


                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
</section>


<!-------------------INTERVIEW------------------------->
<section id="data_training">
    <div class="data_training text-center">
        <h3 class="title">:<a
                href="https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit?usp=sharing&ouid=115037154650831613074&rtpof=true&sd=true">
                <strong style="color:white;text-align:center">INTERVIEW</strong></a></h3>
        <div class="row text-center">

            <div class="col-md-4" id="gi">
                <div class="card">
                    <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                    <div class="card-body">
                        <h4><b>Interview Training</b></h4>
                        <hr />
                        <p class="gi">
                            Go through the the iterview training materials below and have three sessions on each
                            section.
                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" target="_blank"
                                        href="https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.p30">Resume</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.p4">introduction</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.p9">PROJECT
                                        STORY</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.p19">SDLC</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://drive.google.com/file/d/1MWdz0Cz7OpoqcUlQkpKE8pXXn6NBPFla/view?usp=sharing">Performanace
                                        Turning</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://drive.google.com/file/d/1OhYh1_P9yTxdFvb_iB6Wr-A3EWJIQOco/view?usp=sharing">Interview
                                        Preparation
                                    </a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="gi">
              <div class="card">
                  <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                  <div class="card-body">
                      <h4><b>Interview Training</b></h4>
                      <hr />
                      <p class="gi">
                          Go through the the iterview training materials below and have three sessions on each
                          section.
                      </p>
                      <ul class="navbar-nav ml-auto">
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                  data-toggle="dropdown">
                                  <button type="btn" class="btn-primary">Select</button>
                              </a>

                              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                  <a class="dropdown-item" target="_blank"
                                      href="https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.p30">Resume</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" target="_blank"
                                      href="https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.p4">introduction</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" target="_blank"
                                      href="https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.p9">PROJECT
                                      STORY</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" target="_blank"
                                      href="https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.p19">SDLC</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" target="_blank"
                                      href="https://drive.google.com/file/d/1MWdz0Cz7OpoqcUlQkpKE8pXXn6NBPFla/view?usp=sharing">Performanace
                                      Turning</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" target="_blank"
                                      href="https://drive.google.com/file/d/1OhYh1_P9yTxdFvb_iB6Wr-A3EWJIQOco/view?usp=sharing">Interview
                                      Preparation
                                  </a>
                                  <div class="dropdown-divider"></div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>


          <div class="col-md-4" id="gi">
            <div class="card">
                <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                <div class="card-body">
                    <h4><b>Interview Training</b></h4>
                    <hr />
                    <p class="gi">
                        Go through the the iterview training materials below and have three sessions on each
                        section.
                    </p>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                data-toggle="dropdown">
                                <button type="btn" class="btn-primary">Select</button>
                            </a>


                            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                <a class="dropdown-item" target="_blank"
                                    href="https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.p30">Resume</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" target="_blank"
                                    href="https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.p4">introduction</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" target="_blank"
                                    href="https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.p9">PROJECT
                                    STORY</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" target="_blank"
                                    href="https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.p19">SDLC</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" target="_blank"
                                    href="https://drive.google.com/file/d/1MWdz0Cz7OpoqcUlQkpKE8pXXn6NBPFla/view?usp=sharing">Performanace
                                    Turning</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" target="_blank"
                                    href="https://drive.google.com/file/d/1OhYh1_P9yTxdFvb_iB6Wr-A3EWJIQOco/view?usp=sharing">Interview
                                    Preparation
                                </a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

</section>



<!-------------------3. Mortgage Usecase Section------------------------->
<section id="data_training">
    <div class="data_training text-center">
        <h3 class="title">Usecase 2:<a
                href="https://docs.google.com/presentation/d/1cvNAa5wmntmMoTyo_xyIMvc6KV0Lgrqn/edit?usp=sharing&ouid=115037154650831613074&rtpof=true&sd=true">
                <strong style="color:white;text-align:center">MORTGAGE USECASE</strong></a></h3>
        <div class="row text-center">
            <div class="col-md-4" id="gi">
                <div class="card">
                    <!-- <img src="\media\home\project2.jpg"  class="card-img-top">--->
                    <div class="card-body">
                        <h4><b>Project Story</b></h4>
                        <hr />
                        <p class="gi">
                            This is an overview of what Mortgage usecase is all about.
                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" target="_blank" href="#">Powerpoint:
                                        Course
                                        Project story </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank" href="#">
                                        Video: Projects story</a>
                                    <div class="dropdown-divider"></div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-4" id="gi">
                <div class="card">
                    <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                    <div class="card-body">
                        <h4><b>TABLEAU</b></h4>
                        <hr />
                        <p class="gi">
                            This is an end to End Tableau session. You will start by through requirements, then do a
                            planing poker, have the PBR session and finalize by Development and deployment.<br>Go
                            through
                            and present the session three times.
                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://drive.google.com/file/d/1Q5VBSomUvi7rwZXuite4N9FI16C2u71a/view?usp=sharing">Landing
                                        Page(Tableau)</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://1drv.ms/v/s!AoeS7K2g0JkumVbEu9CUWRa3F8zi">List
                                        Report(Tableau)</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://1drv.ms/v/s!AoeS7K2g0JkumUmxe2WaYlL-TMc6">Detailed(Tableau)</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://drive.google.com/file/d/1X4XoyzzGGV_lXEa7RMJytguVmqyx71yZ/view?usp=sharing">Executive
                                        Overview(Tableau)</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-4" id="gi">
                <div class="card">
                    <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                    <div class="card-body">
                        <h4><b>CLIENT INTRODUCTION</b></h4>
                        <hr />
                        <p class="gi">
                            <strong>Do the session Three times</strong>
                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" target="_blank"
                                        href="https://transcripts.gotomeeting.com/#/s/f4af3d214c20119b2650204ef7f01ee928a0525dacd6a87710adc33a1b534e6a">Client
                                        introduction </a>
                                    <div class="dropdown-divider"></div>


                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
</section>

<!-------------------1. Employee productivity usedcase------------------------->
<section id="data_training">
    <div class="data_training text-center">
        <h3 class="title">Usecase 3:<a
                href="https://docs.google.com/presentation/d/1YQFBjdnte48Al2V77xX2iR_o2fwS9kRK/edit?usp=sharing&ouid=115037154650831613074&rtpof=true&sd=true">
                <strong style="color:white;text-align:center">Employee Productivity</strong></a></h3>
        <div class="row text-center">
            <div class="col-md-3" id="gi">
                <div class="card">
                    <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                    <div class="card-body">
                        <h4><b>Project Story</b></h4>
                        <hr />
                        <p class="gi">
                            This is an overview of what Employee productivity usecase is all about.<br>
                            The activities at CODA revolve around four main areas that is Meetings, <br>WhatsApp
                            Communication,Daily Activity Form(DAF) and Rating(One on one sessions).

                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" target="_blank"
                                        href="https://docs.google.com/presentation/d/1_iSV5_AUpEVJnzzr5PJjYd0a63jR0jSB/edit?usp=sharing&ouid=115037154650831613074&rtpof=true&sd=true">Powerpoint:
                                        Course
                                        Project story </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://drive.google.com/file/d/1aYx25V7UK1ae3B48rNhmfZIWmveMzBOO/view?usp=sharing">
                                        Video: Projects story</a>
                                    <div class="dropdown-divider"></div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-3" id="gi">
                <div class="card">
                    <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                    <div class="card-body">
                        <h4><b>TABLEAU/ALTERYX</b></h4>
                        <hr />
                        <p class="gi">
                            This is an end to End Alteryx Tableau session. You will start by thr requirements, then do a
                            planing poker, have the PBR session and finalize by Development. <br>here on development,
                            one has to first clean the data followed by reporting and last;y deployment.<br>Go through
                            and present the session three times.
                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://drive.google.com/file/d/1zjInq2dSgb8RNNnKdF254qin1CQzbzXO/view?usp=sharing">Landing
                                        Page(Tableau)</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank" href="https://youtu.be/dGjzLldVX3s">Meeting
                                        Attendance(Alteryx/Tableau)</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://www.youtube.com/watch?v=IaZN1nsX8qk">Executive
                                        Overview(Alteryx/Tableau)</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3" id="gi">
                <div class="card">
                    <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                    <div class="card-body">
                        <h4><b>DATABASE</b></h4>
                        <hr />
                        <p class="gi">
                            For this part, we use SQL to create and manage a database by doing data
                            normalization,developing a data dictionary and data models for optimal management of the
                            database.<strong>Do the session Three times</strong>
                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" target="_blank"
                                        href="https://transcripts.gotomeeting.com/#/s/ee09457a8bec84b6e27fd0a24bb8e2bdf9186c30b88a1ef48171b2f443e61635">Database</a>
                                    <div class="dropdown-divider"></div>


                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-3" id="gi">
                <div class="card">
                    <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                    <div class="card-body">
                        <h4><b>CLIENT INTRODUCTION</b></h4>
                        <hr />
                        <p class="gi">
                            <strong>Do the session Three times</strong>
                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" target="_blank"
                                        href="https://transcripts.gotomeeting.com/#/s/f4af3d214c20119b2650204ef7f01ee928a0525dacd6a87710adc33a1b534e6a">Client
                                        introduction </a>
                                    <div class="dropdown-divider"></div>


                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
</section>

<!-------------------Other sessions Section------------------------->
<section id="data_training">
    <div class="data_training text-center">
        <h3 class="title"><a href="#">
                <strong style="color:white;text-align:center">OTHER SESSIONS</strong></a></h3>
        <div class="row text-center">
            <div class="row text-center">
                <div class="col-md-12 services">
                    <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                    <h4>CODA Other Training Sessions</h4>
                    <p>Go through the Audios bellow and do a practice on them</p>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                data-toggle="dropdown">
                                <button type="btn" class="btn-primary">Select</button>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                <a class="dropdown-item" target="_blank" href="#">VSDC</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" target="_blank" href="#">BOX</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" target="_blank" href="#">OUTLOOK</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" target="_blank" href="#">Organization</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" target="_blank" href="#">Testing</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                    </ul>
                </div>
</section>
{% endblock content %}
