{%extends "main/base_templates/application_base.html"%} {% block content %}
<section id="rating">
    <div class="rating text-center">
        <h2>Reporting Candidates</h2>
        <table class="table table-borderless" style="width: 100%">
            <thead class="border-bottom font-weight-bold">
                <tr>
                    <th>ID</th>
                    <th>Policy</th>
                    <th>Policy Description</th>
                    <!-- <th>total_score</th>-->
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for policy in policies %}
                    <td>{{policy.id}}0100</td>
                    <td>{{policy.type}}</td>
                    <td>{{policy.description}}</td>
                    {% if request.user.is_admin or request.user.is_superuser %}
                    <td>
                        <a
                        href="{%url 'management:policy-update' policy.id %}" 
                          class="btn text-secondary px-0"
                        > 
                        <h4><b>☑</b></h4> 
                    </a>
                      </td>
                    <td>
                        <a
                        href="#" 
                          class="btn text-secondary px-0"
                        >
                         <h4><b>x</b></h4> 
                        </a>
                      </td>
                      {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock content %}