{%extends "main/base_templates/application_base.html"%} {% block content %}
<section id="rating">
  <div class="rating text-center">
    <h3>Welcome To CODA</h3>
    <hr />
    <p>
        Thank you for your submissions, please read through our policy requirements before joining us.
    </p>
    {% include 'application/templateutils.html' %}
    <table class="tg">
      <thead>
        <tr>
            <th class="tg-8xdm">
                <span style="text-decoration: none">ID</span>
              </th>
          <th class="tg-8xdm">
            <span style="text-decoration: none">Policy</span>
          </th>
          <th class="tg-xs21">
            <span style="font-weight: 400; text-decoration: none"
              >Policy Description</span
            >
          </th>
          <!--
          <th class="tg-xs21">
            <span style="font-weight: 400; text-decoration: none"
              >Attachment</span
            >
          </th>
          -->
        </tr>
      </thead>

      <tbody>
        {% for policy in policies %}
        <tr>
          <td class="tg-7zrl">
            <span style="font-weight: 400; text-decoration: none; color: black"
              >{{policy.id}}0100</span
            >
          </td>
          <td class="tg-7zrl">
            <span style="font-weight: 400; text-decoration: none; color: black"
              >{{policy.type}}</span
            >
          </td>
          <td class="tg-7zrl">
            <span style="font-weight: 400; text-decoration: none; color: black"
              >{{policy.description}}</span
            >
          </td>
          <td class="tg-7zrl">
            <span style="font-weight: 400; text-decoration: none; color: black"
              >{{policy.policy_doc}}</span
            >
          </td>
          <td class="tg-7zrl">
            <span style="font-weight: 400; text-decoration: none; color: black"
              >
              <a
                        href="{%url 'management:policy-update' policy.id %}" 
                          class="btn text-secondary px-0"
                        > 
                        <h4><b>☑</b></h4> 
                    </a>
              </span
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr />
    <div class="container-fluid">
      <div class="row jumbotron">
        <div id="j-section" class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
          <p>If you are in agreement with the above policies, please send below message to the following
            contacts:<br> Email : <i></i><b>hr@codanalytics.net</b></i> /
            rc.hrdepartment@gmail.com <i><b</b></i> and on our 
            <a href="https://chat.whatsapp.com/EeTO0B71nEcEX9ucGDbdiS" target="_blank">
              <b><i>Whatsaap Group</i></b>
            </a>
          <p style="color:blue;font-size:15px;"> 
            <i>"This is <b>(Your Name)</b>, I agree with CODA's requirements and i am willing to relocate to company premises at specified <br> location on <b>{{reporting_date}} at 5.30 PM</b> and start my 15-45 day Orientation/Training for the role of Data Analyst.
             <br>I pledge to abide by all the rules and regulations of CODA and what is expected of me.Furthermore, i am/ready to present my interview work to your panel for consideration in the next 48 hours.Thank You." <br>
            </i>
          </p>
        </div> 
      
      </div>      
    </div> 
  </div>
</section>
{% endblock content %}
