{%extends "main/base_templates/application_base.html"%} {%load crispy_forms_tags%}
{%block content %}

<div class="upload">
  <h3 class="display-6 text-center">Interview/1-1 Sessions</h3>
  <p class="lead font-italic text-center">
    Kindly fill all fields in the form below.
  </p>
  {% if error %}
    <p style="color: red"> There is no one on one sessions for the Employee you selected. </p>
  {% endif %}
  <form method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token%}
    {% if request.user.is_admin  or request.user.is_superuser %}
      <div class="row">
        <div class="col-md-6">{{ form.employeename|as_crispy_field }}</div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-md-6">{{ form.topic|as_crispy_field }}</div>
    </div>
    {% if request.user.is_applicant %}
      <div class="row">
        <div class="col-md-6">{{ form.uploadlinkurl|as_crispy_field }}</div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-md-2">{{ form.projectDescription|as_crispy_field }}</div>
      <div class="col-md-2">{{ form.requirementsAnalysis|as_crispy_field }}</div>
      <div class="col-md-2">{{ form.development|as_crispy_field }}</div>
      <div class="col-md-2">{{ form.testing|as_crispy_field }}</div>
      <div class="col-md-2">{{ form.deployment|as_crispy_field }}</div>
    </div>
    <div class="row">
      <div class="col-md-4">{{ form.totalpoints.as_hidden }}</div>
    </div>

    <div class="row text-center">
      <div class="col-md-6">
        <button type="submit" class="btn btn-success">
          <i class="fas fa-database"></i>Next
        </button>
      </div>
    </div>
  </form>
  <div></div>
</div>
{% endblock content %}
