{%extends "main/base_templates/application_base.html"%} {% block content %}
<section id="rating">
    <div class="rating text-center">
        <h2>Reporting Candidates</h2>
        <table class="table table-borderless" style="width: 100%">
            <thead class="border-bottom font-weight-bold">
                <tr>
                    <th>Reporting Date</th>
                    <th>Username</th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Method</th>
                    <th>Interview Type</th>
                    <th>Rate</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <!-- <th>total_score</th>-->
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for trainee in trainees %}
                    {% include 'main/snippets_templates/table/applicant.html' with instance=trainee%}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock content %}