{%extends "main/base_templates/new_base.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <h2>APPLICANTS</h2>
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>Date</th>
          <th>First</th>
          <th>Last</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>City</th>
          <th>State</th>
          <th>Country</th>
          <th>Update</th>
          <th>Delete</th>
          <!---
          <th>CustomerId</th>
          <th>Registering For:</th>
        -->
        </tr>
      </thead>
      <tbody>
        {% for applicant in applicants %}
         
            <tr>
              <td>{{applicant.date_joined|date:"F d, Y"}}</td>
              <td>{{applicant.first_name}}</td>
              <td>{{applicant.last_name}}</td>
              <td>{{applicant.phone}}</td>
              <td>{{applicant.email}}</td>
              <td>{{applicant.city}}</td>
              <td>{{applicant.state}}</td>
              <td>{{applicant.country}}</td>
              <!-------
              <td>{{client.id}}</td>
              <td>{{client.category}}</td>
               {% if client.category == 1 or client.category == 2 %}
                {% endif %}
              --->
              <td> <a class="article-title" href="{% url 'accounts:client-update' applicant.id %}">Edit</a></td>
              <td> <a class="article-title" href="{% url 'accounts:client-delete' applicant.id %}">Delete</a></td>
            </tr>
         
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
