{%extends "main/base_templates/application_base.html"%} {% block content %}
<section id="rating">
  <div class="rating text-center">
    <hr />
    <div class="container-fluid">
      <div class="row jumbotron">
        <div id="j-section" class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
          <h3>Welcome To CODA</h3>
          <hr />

          <table class="tg">
            <thead>
              <tr>
                  <th class="tg-8xdm">
                      <span style="text-decoration: none">ID</span>
                    </th>
                  <th class="tg-xs21">
                      <span style="font-weight: 400; text-decoration: none"
                        >Department</span
                      >
                  </th>
                <th class="tg-8xdm">
                  <span style="text-decoration: none">Policy</span>
                </th>
               
                <th class="tg-xs21">
                  <span style="font-weight: 400; text-decoration: none"
                    >Policy Description</span
                  >
                </th>
              </tr>
            </thead>
      
            <tbody>
              <!-- <p>
                Today is <b>{{day_name}}</b>,<b>{{reporting_date}}</b>.We will focus our attention on the following policies.
             </p> -->
              {% for upload in uploads %}
              {% if upload.department == "HR" and day_name == "Monday" %} 
              <tr>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.id}}0100</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.department}}</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.type}}</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.description}}</span
                  >
                </td>
      
                <!----
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.policy_doc}}</span
                  >
                </td>
                --->
              </tr>
              {% elif upload.department == "Finance" and day_name == "Tuesday" %} 
              <!-- <p>
                Today is <b>{{day_name}}</b>,<b>{{reporting_date}}</b>.We will focus our attention on the following policies under {{upload.department}}  .
             </p> -->
              <tr>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.id}}0100</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.department}}</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.type}}</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.description}}</span
                  >
                </td>
      
                <!----
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.policy_doc}}</span
                  >
                </td>
                --->
              </tr>

              {% elif upload.department == "IT" and day_name == "Wednesday" %} 
              <!-- <p>
                Today is <b>{{day_name}}</b>,<b>{{reporting_date}}</b>.We will focus our attention on the following policies under {{upload.department}}  .
             </p> -->
              <tr>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.id}}0100</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.department}}</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.type}}</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.description}}</span
                  >
                </td>
      
                <!----
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.policy_doc}}</span
                  >
                </td>
                --->
              </tr>


              {% elif upload.department == "Management" and day_name == "Thursday" %} 
              <!-- <p>
                Today is <b>{{day_name}}</b>,<b>{{reporting_date}}</b>.We will focus our attention on the following policies under {{upload.department}}  .
             </p> -->
              <tr>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.id}}0100</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.department}}</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.type}}</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.description}}</span
                  >
                </td>
      
                <!----
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.policy_doc}}</span
                  >
                </td>
                --->
              </tr>



              {% elif upload.department == "Marketing" and day_name == "Friday" %} 
              <!-- <p>
                Today is <b>{{day_name}}</b>,<b>{{reporting_date}}</b>.We will focus our attention on the following policies under {{upload.department}}  .
             </p> -->
              <tr>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.id}}0100</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.department}}</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.type}}</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.description}}</span
                  >
                </td>
      
                <!----
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.policy_doc}}</span
                  >
                </td>
                --->
              </tr>

              {% elif upload.department == "Security" and day_name == "Saturday" %} 
              <!-- <p>
                Today is <b>{{day_name}}</b>,<b>{{reporting_date}}</b>.We will focus our attention on the following policies under {{upload.department}}  .
             </p> -->
              <tr>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.id}}0100</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.department}}</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.type}}</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.description}}</span
                  >
                </td>
      
                <!----
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.policy_doc}}</span
                  >
                </td>
                --->
              </tr>
              {% elif upload.department == "Health" and day_name == "Sunday" %} 
              <!-- <p>
                Today is <b>{{day_name}}</b>,<b>{{reporting_date}}</b>.We will focus our attention on the following policies under {{upload.department}}  .
             </p> -->
              <tr>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.id}}0100</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.department}}</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.type}}</span
                  >
                </td>
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.description}}</span
                  >
                </td>
      
                <!----
                <td class="tg-7zrl">
                  <span style="font-weight: 400; text-decoration: none; color: black"
                    >{{upload.policy_doc}}</span
                  >
                </td>
                --->
              </tr>

              {%endif%}
              {% endfor %}
              
            </tbody>
          </table>

        </div> 
        <!----
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
          <a href="{% url 'application:first_interview' %}" target="_blank">
            <button type="button" class="btn btn-primary btn-lg">Continue..</button>
          </a>
        </div>
       --->
      </div>      
    </div> 
  </div>
</section>
{% endblock content %}
