<tr>
    <td>
        <a class=" article-title target="_blank" 
        data-toggle="tooltip" title="{{ row.comment }}"
        href="{% url 'investing:overboughtsold' row.symbol %}">
        {{ row.symbol }}
        </a>
    </td>
    <td>{{ row.industry }}</td>
    {% if subtitle == 'credit_spread' %} 
        <td>{{ row.strategy }}</td>
        <td>{{ row.price }}</td>
        <td>{{ row.type }}</td>
        <td>{{ row.sell_strike }}</td>
        <td>{{ row.premium }}</td>
        <td>{{ row.rank }}</td>
        <td>{{ row.expiry }}</td>
    {% else %}
        <td>{{ row.action }}</td>
        <td>{{ row.stock_price }}</td>
        <td>{{ row.strike_price }}</td>
        <td>{{ row.raw_return }}</td>
        <td>{{ days_to_expiration }}</td>
        <td>{{ row.annualized_return }}</td>
        <td>{{ row.implied_volatility_rank }}</td>
        <td>{{ row.expiry|date:"n/d/Y" }}</td>
    {% endif %}
    
    <td>{{ row.earnings_date }}</td>
    <!-- <td>
        <input type="checkbox" {% if row.is_featured %}checked{% endif %}>
    </td> -->
    <td>
        <a class=" article-title target="_blank" 
        data-toggle="tooltip" title="{{ row.comment }}"
        href="https://finance.yahoo.com/quote/{{ row.symbol }}/financials?p={{ row.symbol }}">
        More 
        </a>
    </td>

    {% if subtitle == 'shortputdata' %}
    <td><a class="article-title" href="{% url 'investing:shortputupdate' row.id %}">Edit</a></td>
    {% elif subtitle == 'credit_spread' %}
        <td><a class="article-title" href="{% url 'investing:creditspreadupdate' row.id %}">Edit</a></td>
    {% else %}
        <td><a class="article-title" href="{% url 'investing:coveredupdate' row.id %}">Edit</a></td>
    {% endif %}
    <!-- <td><a class="article-title" href="{{ row.edit_url }}">Edit</a></td> -->

</tr>
