{%extends "main/base_templates/new_base.html"%} {% block content %}
    <section id="career">
      <div class="career text-center">
        <div class="row text-center">
          <div class="col-md-2 amount_msg" id="bada">
              <div class="card">
                <div class="card-body">
                  <h5><b>WELCOME BACK</b></h5>
                  <hr/>
                  <i><h6>{{user.first_name|upper }}</h6></i>
                  <hr/>
                      <p>
                        <a href="{% url 'getdata:covered_calls'%}" class="btn btn-secondary btn-sm"
                          >Refresh
                        </a>
                     </p>
                </div>
              </div>
            </div>
            <div class="col-md-8" id="bada">
              <div class="card">
                <div class="card-body">
                  <h5><b>COVERED CALLS OPTIONS RESULTS</b></h5>
                  <hr/>
                  <div class="row text-center">
                    <div class="col-md-4">
                      <a class="btn btn-primary" href="#"  style="background-color: #4CAF50; border-color: #4CAF50;">Implied Volatility(IV)</br> <i>15% to 40%</i></a>
                  </div>
                  <div class="col-md-4">
                    <a class="btn btn-primary" href="#"  style="background-color: #4CAF50; border-color: #4CAF50;">Days To Expiration(DTE)</br> <i>More than 21 days</i></a>
                  </div>
                  <div class="col-md-4">
                    <a class="btn btn-primary" href="#"  style="background-color: #4CAF50; border-color: #4CAF50;">
                      Annualized Returns (AR)<br>
                      <small style="font-size: 80%;">Greater than 65%</small>
                    </a>
                  </div>
                </div>
                  <hr/>
                  <i><h6>New Rows:{{new_rows}} | Duplicates: {{duplicates_rows}}|Sample:{{putsrow_value}}
                    <a href="#" class="btn btn-secondary btn-sm"
                    >Edit
                  </a>
                  </b></i>
                </div>
              </div>
            </div>
            <div class="col-md-2" id="bada">
              <div class="card">
                <div class="card-body">
                  <h5><b>PAY DAY</b></h5>
                  <hr/>
                  <i><h6>{{payday}}</h6></i>
                  <hr/>
                  <div class="col-md-12" id="gi">
                    <p><a href="#" class="btn btn-secondary btn-sm"
                      >Previous Data
                  </a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

      <p class="lead">{{message}}</p>
        <div class="table-responsive">
          <table class="table table-striped table-bordered" style="width: 100%">
          <thead class="border-bottom font-weight-bold">
            <tr>
                <th>Symbol</th>
                <th>Action</th>
                <th>Expiry</th>
                <th>Days_To_Expiry</th>
                <th>Strike_Price</th>
                <th>Mid_Price</th>
                <th>Bid_Price</th>
                <th>Ask_Price</th>
                <th>Implied_Volatility_Rank</th>
                <th>Earnings_Date</th>
                <th>Earnings_Flag</th>
                <th>Stock_Price</th>
                <th>Raw_Return</th>
                <th>Annualized_Return</th>
                <th>Distance_To_Strike </th>
            </tr>
          </thead>
          <tbody>
            {% for row in data %}
                <td>{{row.Symbol}}</td>
                <td>{{row.Action}}</td>
                <td>{{row.Expiry}}</td>
                <td>{{row.Days_To_Expiry}}</td>
                <td>{{row.Strike_Price}}</td>
                <td>{{row.Mid_Price}}</td>
                <td>{{row.Bid_Price}}</td>
                <td>{{row.Ask_Price}}</td>
                <td>{{row.Implied_Volatility_Rank}}</td>
                <td>{{row.Earnings_Date}}</td>
                <td>{{row.Earnings_Flag}}</td>
                <td>{{row.Stock_Price}}</td>
                <td>{{row.Raw_Return}}</td>
                <td>{{row.Annualized_Return}}</td>
                <td>{{row.Distance_To_Strike }}</td>
                <!-- {% include 'main/snippets_templates/generaltable.html' with instance=row %}  -->
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
    </section>

    {% endblock content %}