{%extends "main/base_templates/new_base.html"%} 
{% block content %}
    <section id="career">
      <div class="career text-center">
        <div class="row text-center">
          <div class="col-md-3 amount_msg" id="bada">
            <div class="card">
              <div class="card-body">
                <h6>WELCOME BACK {{user.first_name|upper }}</h6>
                <a href="{% url 'getdata:fetch_and_insert_data' %}" class="btn btn-secondary btn-sm"
                >Refresh
              </a>
              {% for category, subcats in categories.items %}
                    {% if category == 'general_rules' %}
                    <!-- <h6>{{category|upper}}</h6> -->
                          {% for subcat in subcats %}
                              <hr/>
                                <div class="col-md-12">
                                  <a class="btn btn-primary" href="#"  style="background-color: #4CAF50; border-color: #4CAF50;">{{ subcat.rule }}<i>{{ subcat.description }}</i></a>
                              </div>
                          {% endfor %}
                    {% else%}
                    <!-- <h6>{{category|upper}}</h6> -->
                    {% endif %}
              {% endfor %}
              <hr/>
              <div class="col-md-12">
                <a class="btn btn-primary" href="#"  style="background-color: #4CAF50; border-color: #4CAF50;">Unsual Volume|Liquidity</br> <i>{{ subcat.description }}</i></a>
            </div>
                <hr/>
              </div>
            </div>
          </div>
            <div class="col-md-6" id="bada">
              <div class="card">
                <div class="card-body">
                  <h5><b>EST. OF ORIGINAL COUNT OF OPTIONS RESULTS</b></h5>
                  <hr/>
                  <div class="row text-center mb-4">
                    <div class="col-md-4">
                      <a class="btn btn-primary" href="{% url 'investing:option_list' title='credit_spread' %}?filter_by=all"  style="background-color: #4c4caf; border-color: #4CAF50;">CREDIT SPREAD:
                        {{credit_spread_original_count}}
                      </a>
                  </div>
                  <div class="col-md-4">
                    <a class="btn btn-primary" href="{% url 'investing:option_list' title='covered_calls' %}?filter_by=all"  style="background-color: #4c6baf; border-color: #4CAF50;">COVERED CALLS:
                      {{covered_calls_original_count}}</a> 
                  </div>
                  <div class="col-md-4">
                    <a class="btn btn-primary" href="{% url 'investing:option_list' title='shortputdata' %}?filter_by=all"  style="background-color: #4c51af; border-color: #4CAF50;">SHORTPUT:
                      {{shortput_original_count}}
                    </a>
                  </div>
                </div>
                <h5><b>Results for overboughtsold</b></h5>
                  <hr/>
                  <div class="row text-center mb-4">
                    <div class="col-md-4">
                      <a class="btn btn-primary" href="{% url 'investing:option_list' title='credit_spread' %}?filter_by=by_over_sold"  style="background-color: #4c4caf; border-color: #4CAF50;">CREDIT SPREAD:
                      {{credit_spread_oversold_count}}
                      </a>
                    </div>
                    <div class="col-md-4">
                      <a class="btn btn-primary" href="{% url 'investing:option_list' title='covered_calls' %}?filter_by=by_over_sold"  style="background-color: #4c6baf; border-color: #4CAF50;">COVERED CALLS:
                      {{covered_calls_oversold_count}}
                      </a> 
                    </div>
                    <div class="col-md-4">
                      <a class="btn btn-primary" href="{% url 'investing:option_list' title='shortputdata' %}?filter_by=by_over_sold"  style="background-color: #4c51af; border-color: #4CAF50;">SHORTPUT:
                      {{shortput_oversold_count}}
                      </a>
                    </div>
                </div>
                <h5><b>Final Results after rules application</b></h5>
                  <hr/>
                  <div class="row text-center mb-4">
                    <div class="col-md-4">
                      <a class="btn btn-primary" href="{% url 'investing:option_list' title='credit_spread' %}?filter_by=by_option_return"  style="background-color: #4c4caf; border-color: #4CAF50;">CREDIT SPREAD:
                        {{ credit_spread_option_return_count }}
                      </a>
                  </div>
                  <div class="col-md-4">
                    <a class="btn btn-primary" href="{% url 'investing:option_list' title='covered_calls' %}?filter_by=by_option_return"  style="background-color: #4c6baf; border-color: #4CAF50;">COVERED CALLS:
                      {{ covered_calls_option_return_count }}</a> 
                  </div>
                  <div class="col-md-4">
                    <a class="btn btn-primary" href="{% url 'investing:option_list' title='shortputdata' %}?filter_by=by_option_return"  style="background-color: #4c51af; border-color: #4CAF50;">SHORTPUT:
                      {{ shortput_option_return_count }}
                    </a>
                  </div>
                </div>
                <h5><b>Extra filter</b></h5>
                 <hr/> 
                 <div class="row text-center">

                   <div class="col-md-4">
                    <a class="btn btn-primary" href="{% url 'investing:option_list' title=subtitle %}?{{ request.GET.urlencode }}&extra_filter_by=top_5"  style="background-color: #4c4caf; border-color: #4CAF50;">Top 5
                    </a>
                    </div>
                    <div class="col-md-4">
                      <a class="btn btn-primary" href="{% url 'investing:option_list' title=subtitle %}?{{ request.GET.urlencode }}&extra_filter_by=null"  style="background-color: #4c51af; border-color: #4CAF50;"> All
                      </a>
                    </div>
                    <div class="col-md-4">
                      <a class="btn btn-primary" href="{% url 'investing:my_portfolio' %}"  style="background-color: #4CAF50; border-color: #4CAF50;"> My Portfolio
                      </a>
                    </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-3" id="bada">
              <div class="card">
                <div class="card-body">
                  <h5>Info</h5>
                  <hr/>
                  <div class="col-md-12" id="gi">
                    <p>
                      <a href="{% url 'investing:overboughtsold' symbol=None %}" class="btn btn-secondary btn-sm">Over_Bought/Over_sold</a>
                   </p>
                  </div>
                  {% for category, subcats in categories.items %}
                  {% if category == 'yahoo' or category == 'thinkorswim' %}
                  <!-- <h6>{{category|upper}}</h6> -->
                        {% for subcat in subcats %}
                            <hr/>
                              <div class="col-md-12">
                                <a class="btn btn-primary" href="#"  style="background-color: #4CAF50; border-color: #4CAF50;">{{ subcat.rule }}:<i>{{ subcat.description }}</i></a>
                            </div>
                        {% endfor %}
                  {% else%}
                  <!-- <h6>{{category|upper}}</h6> -->
                  {% endif %}
            {% endfor %}
                </div>
              </div>
            </div>
          </div>
      <p class="lead">{{message}}</p>
         <div class="table-responsive">
          <table class="table table-striped table-bordered" style="width: 100%">
          <thead class="border-bottom font-weight-bold">
            <tr>
                  <th>Symbol</th>
                  <th>Industry</th>
                  <th>Action</th>
                  <th>Stock_Price</th>
                  {% if subtitle == 'credit_spread' %} 
                  <th>Type</th>
                  <th>Sell Strike</th>
                  <!-- <th>Buy Strike</th> -->
                  <th>Premium</th>
                  {% else %}
                  <th>Strike_Price</th>
                  <th>Return</th>
                  <th>Days_To_Expiry</th>
                  <th>Annualized_Return</th>
                  {% endif %}
                  <th>Rank</th>
                  <th>Expiry</th>
                  <th>Earnings_Date</th>
                  <!-- <th>Uncheck if added?</th> -->
                  <th>More</th>
                  <th>Edit</th>
                  
            </tr>
          </thead>
          <tbody>
            {% if selected_symbol %}
            <tr>
                 
              <td>{{ selected_symbol }}</td>
              <td>{{ selected_symbol_action }}</td>
              <td>{{ selected_symbol_stock_price }}</td>
                {% if subtitle == 'credit_spread' %}
                 
                    
                {% else %}
                <td>{{ selected_symbol_strike_price }}</td>
                <td>{{selected_symbol_raw_return}}</td>
                <td>{{selected_symbol_days_to_expiry }}</td>
                <td>{{selected_symbol_annualized_return}}</td>
                 
                  
                {% endif %}
                <td>{{selected_symbol_expiry }}</td>
                <td>{{selected_symbol_earnings_date }}</td>
                
                <td>
                  <input type="checkbox" {% if row.is_featured %}checked{% endif %}>
              </td>
              <td><a class="article-title" href="/">Edit</a></td>
            </tr>
            {% endif %}

            {% if subtitle == 'overboughtsold' %}
                  {% for row in overboughtsold %}
                      {% include 'main/snippets_templates/output_snippets/generaltable.html' with instance=row %} 
                  {% endfor %}
            {% else %}
                  {% for row in data %}
                      {% include 'main/snippets_templates/output_snippets/generaltable.html' with instance=row %} 
                  {% endfor %}
            {% endif %}

          </tbody>
        </table>
    </div>
      </div>
    </section>

    {% endblock content %}