{%extends "main/base_templates/new_base.html"%} 
{% block content %}
    <section id="career">
      <div class="career text-center">
        <div class="row text-center">
          <div class="col-md-2 amount_msg" id="bada">
              <div class="card">
                <div class="card-body">
                  <h5><b>WELCOME BACK</b></h5>
                  <hr/>
                  <i><h6>{{user.first_name|upper }}</h6></i>
                  <hr/>
  
                      <p>
                        <a href="{% url 'getdata:fetch_and_insert_data' %}" class="btn btn-secondary btn-sm"
                          >Refresh
                        </a>
                     </p>
                </div>
              </div>
            </div>
            <div class="col-md-8" id="bada">
              <div class="card">
                <div class="card-body">
                  <h5><b>{{title}} OPTIONS RESULTS</b></h5>
                  <hr/>
                  <div class="row text-center mb-4">
                    <div class="col-md-4">
                      <a class="btn btn-primary" href="{% url 'investing:option_list' title='credit_spread' %}"  style="background-color: #4c4caf; border-color: #4CAF50;">CREDIT SPREAD</br></a>
                  </div>
                  <div class="col-md-4">
                    <a class="btn btn-primary" href="{% url 'investing:option_list' title='covered_calls' %}"  style="background-color: #4c6baf; border-color: #4CAF50;">COVERED CALLS</a></br> </a>
                  </div>
                  <div class="col-md-4">
                    <a class="btn btn-primary" href="{% url 'investing:option_list' title='shortputdata' %}"  style="background-color: #4c51af; border-color: #4CAF50;">
                      SHORTPUT<br>
                    </a>
                  </div>
                </div>
                <hr/> 
                  <div class="row text-center mb-4">
                    <div class="col-md-4">
                      <a class="btn btn-primary" href="#"  style="background-color: #4CAF50; border-color: #4CAF50;">Implied Volatility(IV)</br> <i>15% to 40%</i></a>
                  </div>
                  <div class="col-md-4">
                    <a class="btn btn-primary" href="#"  style="background-color: #4CAF50; border-color: #4CAF50;">Days To Expiration(DTE)</br> <i>More than 21 days</i></a>
                  </div>
                  <div class="col-md-4">
                    <a class="btn btn-primary" href="#"  style="background-color: #4CAF50; border-color: #4CAF50;">
                      Annualized Returns (AR)<br>
                      <small style="font-size: 80%;">Greater than 65%</small>
                    </a>
                  </div>
                 </div>
                 <hr/> 
                </div>
              </div>
            </div>
            <div class="col-md-2" id="bada">
              <div class="card">
                <div class="card-body">
                  <h5><b>Priority Positions</b></h5>
                  <hr/>
                  <div class="col-md-12" id="gi">
                    <p>
                      <a href="{% url 'investing:overboughtsold' symbol=None %}" class="btn btn-secondary btn-sm">Over_Bought/Over_sold</a>
                   </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <p class="lead">{{message}}</p>
        <div class="table-responsive">
          <table class="table table-striped table-bordered" style="width: 100%">
          <thead class="border-bottom font-weight-bold">
            <tr>
                  <th>Symbol</th>
                  <th>Action</th>
                  <th>Stock_Price</th>
                  {% if subtitle == 'credit_spread' %} 
                  <th>Type</th>
                  <th>Sell Strike</th>
                  <!-- <th>Buy Strike</th> -->
                  <th>Premium</th>
                  {% else %}
                  <th>Strike_Price</th>
                  <th>Return</th>
                  <th>Days_To_Expiry</th>
                  <th>Annualized_Return</th>
                  {% endif %}
                  <!-- <th>Rank</th> -->
                  <th>Expiry</th>
                  <th>Earnings_Date</th>
                  <!-- <th>Uncheck if added?</th> -->
                  <th>More</th>
                  <th>Edit</th>
                  
            </tr>
          </thead>
          <tbody>
            {% if subtitle == 'overboughtsold' %}
                  {% for row in overboughtsold %}
                      {% include 'main/snippets_templates/output_snippets/generaltable.html' with instance=row %} 
                  {% endfor %}
            {% else %}
                  {% for row in data %}
                      {% include 'main/snippets_templates/output_snippets/generaltable.html' with instance=row %} 
                  {% endfor %}
            {% endif %}

          </tbody>
        </table>
      </div>
      </div>
    </section>

    {% endblock content %}