<div class="card">
    <div class="card-body">
      <h5><b>{{title}}</b></h5>
      <hr/>
      <div class="row text-center">
        <div class="col-md-12">
          <!-- {% include "main/snippets_templates/table/key_value_loop.html" %} -->
          <!-- <a class="btn btn-primary" href="#"  style="background-color: #4CAF50; border-color: #4CAF50;">{{financial_data}}</br> </a> -->
          <div class="table-responsive">
            <table class="table table-striped table-bordered" style="width: 100%">
            <thead class="border-bottom font-weight-bold">
              <tr>
                  <th>symbol</th>
                  <th>overallrisk</th>
                  <th>sharesshort</th>
                  <th>enterprisetoebitda</th>
                  <th>ebitda</th>
                  <th>quickratio</th>
                  <th>currentratio</th>
                  <th>revenuegrowth</th>
                  <th>fetched_date<th>
              </tr>
            </thead>
            <tbody>
              {% for record in ticker_data %}
                <tr>
                  <td>{{record.symbol}}</td>
                  <td>{{record.overallrisk}}</td>
                  <td>{{record.sharesshort}}</td>
                  <td>{{record.enterprisetoebitda}}</td>
                  <td>{{record.ebitda}}</td>
                  <td>{{record.quickratio}}</td>
                  <td>{{record.currentratio}}</td>
                  <td>{{record.revenuegrowth}}</td>
                  <td>{{record.fetched_date}}</td>
                </tr>
              {% endfor %}
            </tbody>
            
          </table>
        </div>
      </div>
    </div>
    </div>
  </div>
  