{%extends "main/base_templates/base.html"%} {%load crispy_forms_tags%}
{%block content %}
<section id="career">
  <div class="career text-center">
    <h5>How to ace a BA, Data Analysis/Data Science Interview</h5>
    <a href="{% url 'data:featuredsubcategory' %}" class="btn btn-primary btn-sm"
    >Create Subcategory
  </a>
  <hr>

<div  class="row">
  <div class="col">
    <div class="card card-body">
      <form method="get">
        {% csrf_token %}
        {{myFilter.form}}
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

    <table style="width: 100%">
      <thead>
        <tr>
          <th>username</th>
          <th>Name</th>
          <th>Date Uploaded</th>
          <th>Is  Active</th>
          <th>Score</th>
          <th>Download</th>


        </tr>
      </thead>
      {% for upload in  object_list   %}
      <tr>
      <td><a class="mr-2" href="{% url 'data:questionlist' %}">{{upload.user}}</a></td>
        {% if upload.user.first_name == "" or  upload.user.last_name == "" %}
             <td>{{upload.user}}</td>
        {% else %}
             <td>{{upload.user.first_name}},{{upload.user.last_name}}</td>
        {% endif %}
        <td>{{upload.upload_date|date:"F d, Y"}}</td>
        <td>{{upload.is_active}}</td>
        <td>{{upload.score}}</td>
        <td>
          <a href="{{upload.doc.url}}" class="btn btn-secondary btn-sm"
            >Download
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</section>
{% endblock content %}
