{% extends "main/base_templates/new_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group ">
      <legend class="border-bottom mb-4 text-center">FOR INTERVIEW</legend>
          {{ form|crispy }}
    </fieldset>
    {% if question %}
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
            {% csrf_token %}
            <input type="hidden" name="regenerate" value="true">
            <button class="btn btn-outline-info" type="submit">Regenerate Response</button>
        </div>
      </div>
    </div>
    {% else %}
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Submit</button>
    </div>
    {% endif %}
  </form>
</div>
{% endblock content %}
