{%extends "main/base_templates/analysis_index.html"%} {%load crispy_forms_tags%}
{%block content %}
<section id="career">
  <div class="career text-center">
    <h5>How to ace a BA, Data Analysis/Data Science Interview</h5>
    <a href="{% url 'data:uploadinterview' %}" class="btn btn-primary btn-sm"
    >Upload Assignment
  </a>
  <hr style="height:4px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
    <table style="width: 100%">
      <thead>
        <tr>
          <th>username</th>
          <!-- <th>Name</th> -->
          <th>Date Uploaded</th>
          <th>Category</th>
          <th>Question</th>
          <th>Download</th>
          <th>Link</th>
          <th>Update</th>
        </tr>
      </thead>
      {% for upload in  object_list   %}
      <tr>
      <td><a class="mr-2" href="{% url 'data:interviewlist' %}">{{upload.client}}</a></td>
        {% if upload.client.first_name == "" or  upload.client.last_name == "" %}
             <td>{{upload.client}}</td>
        {% else %}
             <!-- <td>{{upload.client.first_name}},{{upload.client.last_name}}</td> -->
        {% endif %}
        <td>{{upload.upload_date|date:"n-d-Y"}}</td>
        <td>{{upload.category}}</td>
        <td>{{upload.question_type}}</td>
        <td>
          <a href="{{upload.doc.url}}" class="btn btn-secondary btn-sm"
            >Download
          </a>
        </td>
        <td>
          <a href="{{upload.link}}" class="btn btn-secondary btn-sm"
            >Review
          </a>
        </td>
        <td> <a class="article-title" href="{% url 'data:interview-detail' upload.id %}">Edit</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</section>
{% endblock content %}