{%extends "main/base_templates/analysis_index.html"%} 
{% load static %}
{% block title %}
{% if department %}{{ department.name }}{% else %}activities{% endif %}
{% endblock %}
{% block content %}
<!--------------------------Slider Section--------------------------------->
<!-------------------Our home services Section------------------------->
<!-------------------1. Our  Job Report Section------------------------->

<section id="data_training">
<div class="data_training text-center">
<h3 class="title">WELCOME TO INTERVIEW PORTAL</h3>
<div class="container-fluid">
  <div class="row jumbotron">
    <div id="j-section" class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <p >
        Examine key Questions on each role listed below.Get an end to end guide on how to respond to interview questions.Review your interview skills using recorded interview sessions.
        Do over 10 Mock Interviews with experienced coaches and Data Analysts in your field of interest.All this for just <b>$1499</b>.Access all interview materials for <b>$129</b>.Payment Plans available.
      </p>
    </div> 
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
      <a href="{% url 'main:pay' %}" target="_blank">
        <button type="button" class="btn btn-primary btn-lg">Get Started</button>
      </a>
    </div>
  </div>      
</div> 

</div>
</section>

<!-------------------Cards-Category Section----------------------->
<section id="project_based">
<div class="project_based text-center">
<h3 class="title">NON-TECHNICAL ROLES</h3>
<div class="row text-center">
  <div class="col-md-3" id="bada">
    <div class="card">
     <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
      <div class="card-body">
        <h5><b>Project Manager</b></h5>
         <hr/>
        <i><h6><b>How do you deal with difficult stakeholders?</b></h6></i>
        <hr/>
        <p class="bd">
          Access the responses,samples and videos to PM Interview questions for $129
        </p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a class="dropdown-item" target="_blank" href="https://app.box.com/file/533942318311">Questions</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="{% url 'main:pay' %}">Templates</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="{% url 'main:pay' %}">Samples</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://app.box.com/file/533942318311">Questions</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://us02web.zoom.us/rec/play/5ZRVtNlJl_e_YcgCaxGvWAyI7YFde-tXqqLjtvGO5Tj9QoG2PpSSOsJ8uW4Qp_Y5jNxOpNoQPfQsbMch.Gg2Jw9_nf8K6N7nN?continueMode=true&_x_zm_rtaid=cOAhJIf_SyKckoSoC3qrkA.1621398576855.7982fa9aad96328e8c548bb80b53f7fa&_x_zm_rhtaid=672">Video</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-3" id="bada">
    <div class="card">
     <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
      <div class="card-body">
        <h5><b>Business Analyst</b></h5>
         <hr/>
        <i><h6><b> How do you implement a tracebility matrix?</b></h6></i>
        <hr/>
        <p class="bd">
          Explore the roles, the resume and the responses to BA Interview questions for $129
        </p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a class="dropdown-item" target="_blank" href="https://app.box.com/file/533942318311">Questions</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="{% url 'main:pay' %}">Templates</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="{% url 'main:pay' %}">Samples</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://us02web.zoom.us/rec/play/5ZRVtNlJl_e_YcgCaxGvWAyI7YFde-tXqqLjtvGO5Tj9QoG2PpSSOsJ8uW4Qp_Y5jNxOpNoQPfQsbMch.Gg2Jw9_nf8K6N7nN?continueMode=true&_x_zm_rtaid=cOAhJIf_SyKckoSoC3qrkA.1621398576855.7982fa9aad96328e8c548bb80b53f7fa&_x_zm_rhtaid=672">Video</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-3" id="bada">
    <div class="card">
     <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
      <div class="card-body">
        <h5><b>QA/Tester</b></h5>
         <hr/>
        <i><h6><b>How did you implement regression testing?</b></h6></i>
        <hr/>
        <p class="bd">
          How do you prepare for questions such as this?Access all responses for $129
        </p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a class="dropdown-item" target="_blank" href="https://app.box.com/file/533942318311">Questions</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="{% url 'main:pay' %}">Templates</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="{% url 'main:pay' %}">Samples</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://us02web.zoom.us/rec/play/5ZRVtNlJl_e_YcgCaxGvWAyI7YFde-tXqqLjtvGO5Tj9QoG2PpSSOsJ8uW4Qp_Y5jNxOpNoQPfQsbMch.Gg2Jw9_nf8K6N7nN?continueMode=true&_x_zm_rtaid=cOAhJIf_SyKckoSoC3qrkA.1621398576855.7982fa9aad96328e8c548bb80b53f7fa&_x_zm_rhtaid=672">Video</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-3" id="bada">
    <div class="card">
     <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
      <div class="card-body">
        <h5><b>UI/UX Expert</b></h5>
         <hr/>
        <i><h6><b>What challenges did you face on your last deliverable?</b></h6></i>
        <hr/>
        <p class="bd">
          Prepare for questions such as this?Access all responses for $129
        </p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a class="dropdown-item" target="_blank" href="https://app.box.com/file/533942318311">Questions</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="{% url 'main:pay' %}">Templates</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="{% url 'main:pay' %}">Samples</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://us02web.zoom.us/rec/play/5ZRVtNlJl_e_YcgCaxGvWAyI7YFde-tXqqLjtvGO5Tj9QoG2PpSSOsJ8uW4Qp_Y5jNxOpNoQPfQsbMch.Gg2Jw9_nf8K6N7nN?continueMode=true&_x_zm_rtaid=cOAhJIf_SyKckoSoC3qrkA.1621398576855.7982fa9aad96328e8c548bb80b53f7fa&_x_zm_rhtaid=672">Video</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<!-------------------2. Technical Section------------------------->
<section id="project_based">
<div class="project_based text-center">
<h3 class="title">TECHNICAL ROLES</h3>
<div class="row text-center">
  <div class="col-md-3" id="bada">
    <div class="card">
     <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
      <div class="card-body">
        <h5><b>ETL Developer</b></h5>
         <hr/>
        <i><h6><b> How have you used macros to automate workflows?</b></h6></i>
        <hr/>
        <p class="bd">
          Join interview coach,to show you how to respond to ETL Interview questions for $129.
        </p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a class="dropdown-item" target="_blank" href="https://app.box.com/file/533942318311">Questions</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="{% url 'main:pay' %}">Templates</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="{% url 'main:pay' %}">Samples</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://us02web.zoom.us/rec/play/5ZRVtNlJl_e_YcgCaxGvWAyI7YFde-tXqqLjtvGO5Tj9QoG2PpSSOsJ8uW4Qp_Y5jNxOpNoQPfQsbMch.Gg2Jw9_nf8K6N7nN?continueMode=true&_x_zm_rtaid=cOAhJIf_SyKckoSoC3qrkA.1621398576855.7982fa9aad96328e8c548bb80b53f7fa&_x_zm_rhtaid=672">Video</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-3" id="bada">
    <div class="card">
     <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
      <div class="card-body">
        <h5><b>Tableau Developers</b></h5>
         <hr/>
        <i><h6><b>How do you troubleshoot slow performing reports?</b></h6></i>
        <hr/>
        <p class="bd">
          Access all responses to reporting questions,and past interviews for $129
        </p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a class="dropdown-item" target="_blank" href="https://app.box.com/file/533942318311">Questions</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="{% url 'main:pay' %}">Templates</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="{% url 'main:pay' %}">Samples</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://us02web.zoom.us/rec/play/5ZRVtNlJl_e_YcgCaxGvWAyI7YFde-tXqqLjtvGO5Tj9QoG2PpSSOsJ8uW4Qp_Y5jNxOpNoQPfQsbMch.Gg2Jw9_nf8K6N7nN?continueMode=true&_x_zm_rtaid=cOAhJIf_SyKckoSoC3qrkA.1621398576855.7982fa9aad96328e8c548bb80b53f7fa&_x_zm_rhtaid=672">Video</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-3" id="bada">
    <div class="card">
     <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
      <div class="card-body">
        <h5><b>SQL Developer</b></h5>
         <hr/>
        <i><h6><b>What is the most complex proc you have worked on?</b></h6></i>
        <hr/>
        <p class="bd">
          These are questions that get you off-guard?Access all responses for $129
        </p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a class="dropdown-item" target="_blank" href="https://app.box.com/file/533942318311">Questions</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="{% url 'main:pay' %}">Templates</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="{% url 'main:pay' %}">Samples</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://us02web.zoom.us/rec/play/5ZRVtNlJl_e_YcgCaxGvWAyI7YFde-tXqqLjtvGO5Tj9QoG2PpSSOsJ8uW4Qp_Y5jNxOpNoQPfQsbMch.Gg2Jw9_nf8K6N7nN?continueMode=true&_x_zm_rtaid=cOAhJIf_SyKckoSoC3qrkA.1621398576855.7982fa9aad96328e8c548bb80b53f7fa&_x_zm_rhtaid=672">Video</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-3" id="bada">
    <div class="card">
     <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
      <div class="card-body">
        <h5><b>Python Developer</b></h5>
         <hr/>
        <i><h6><b>What ways have you used to keep your code DRY?</b></h6></i>
        <hr/>
        <p class="bd">
          These are questions that get you off-guard?Access all responses for $129
        </p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href=""
              id="navbarDropDown"
              role="button"
              data-toggle="dropdown"
            >
              <button type="btn" class="btn-primary">Select</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a class="dropdown-item" target="_blank" href="https://app.box.com/file/533942318311">Questions</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="{% url 'main:pay' %}">Templates</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="{% url 'main:pay' %}">Samples</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://us02web.zoom.us/rec/play/5ZRVtNlJl_e_YcgCaxGvWAyI7YFde-tXqqLjtvGO5Tj9QoG2PpSSOsJ8uW4Qp_Y5jNxOpNoQPfQsbMch.Gg2Jw9_nf8K6N7nN?continueMode=true&_x_zm_rtaid=cOAhJIf_SyKckoSoC3qrkA.1621398576855.7982fa9aad96328e8c548bb80b53f7fa&_x_zm_rhtaid=672">Video</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<!-------------------Job Market Section------------------------->
<section id="job_market">
<div class="job_market text-center">
<h3 class="title">Getting into the Job Market</h3>
<div class="row text-center">
  <div class="col-md-4 services">
    <!-- <img src="static/img/services/service1.png" class="service-img" >-->
    <h5>Application Process</h5>
    <p>
      We do offer tremendous assistance in the application process. Join and
      learn how experts do it.
    </p>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href=""
          id="navbarDropDown"
          role="button"
          data-toggle="dropdown"
        >
          <button type="btn" class="btn-primary">Select</button>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropDown">
   <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1y8bMA01KNAykHiAaF8LIrzWI_JSAIeHN/view?usp=sharing">Resume Preparation Video</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://docs.google.com/document/d/18acgFSw3bvQiIDqatgwK4eQkPbEyWwzgB_m8aSBnbTk/edit">Resume Preparation</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://docs.google.com/document/d/17RxXz8c5bjX9OrdbWR97qpoM4P-zqVgweOpNY4-CsnA/edit">Sample Resume 1</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href=" https://docs.google.com/document/d/1PPAnIhGYMW62wXuihT0UiPKBAmWNZK-xAebK4pSm9Ko/edit">Sample Resume 2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="">Salary Negotiation(C2C/W2s)</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/#/s/a47ca0137ac973a7244c30822529e947f78642265c7cff21fb6eca1940110576 ">Job Tracker(Recruiters)</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-md-4 services">
    <!-- <img src="static/img/services/service1.png" class="service-img" >-->
    <h5>Networking</h5>
    <p>
      Work within a network,build a team and meet experienced professionals
      working in the field to respond to your questions.
    </p>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href=""
          id="navbarDropDown"
          role="button"
          data-toggle="dropdown"
        >
          <button type="btn" class="btn-primary">Select</button>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropDown">
          <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/?utm_source=recordingReadyNotification&utm_medium=email#/s/2fffdd47b8bfd8f75447b76446a58475680b364d0d10c5e4c78ff46f155d6f22"><b>Guest Speaker:</b> VP Francis Umude</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/?utm_source=recordingReadyNotification&utm_medium=email#/s/fab36e736f62941d738b0f739d6be19ec0ed31bc08cefe63b5ea3fbf0dce5e9b"><b>Guest Speaker:</b> Data Analyst James Kontoh</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="#"><b>Guest Speaker:</b> Business Analyst Gladys Mwongo</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-md-4 services">
    <!-- <img src="static/img/background/service1.png" class="service-img" >-->
    <h5>Interview Strategy</h5>
    <p>
      We will offer training in Job Interview. Please Join and get access to
      past audio interviews and questions
    </p>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href=""
          id="navbarDropDown"
          role="button"
          data-toggle="dropdown"
        >
          <button type="btn" class="btn-primary">Select</button>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropDown">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://docs.google.com/document/d/1GZZ_6ME1QI-4zeHt0cQ1lNrztSTKKp5-D7K0ytOXgh8/edit#heading=h.gjdgxs">1. Introduction</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/15-82jaqBrXW21SoLJ5QNvGmltOrekv8F/view">Video. Introduction</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1fTt6e8pyeBI_VhlJAQAiqrAXYNHfLMwC/view?usp=sharing">2. Project Story</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1sLfe5IPeOLuZaWYtMc0MLJb9So5F5P6T/view?usp=sharing">3. Performance  Tuning</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1-EtnAyjv9jcf0SghL74i9AKG3lTOpHaK/view?usp=sharing">3. Agile vs Waterfall</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1aTig-f-1CNIdPNnIfYX2aSEoDjbmQg8o/view?usp=sharing">4.SDLC</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="#">5. Mock Interview</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="#">6. Sample Interviews</a>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
</section>
{% endblock content %}