{%extends "main/base_templates/base.html"%} {% load mathfilters %} {% block content %}
<section id="data_training">
          <div class="data_training text-center">
                <h3 class="title">WELCOME BACK {{user.first_name|upper }}</h3>
                <p class="p text-center">We Value Your hard work, and thanks for training with CODA</p>
               
                <a href="{% url 'data:job-create'%}" class="btn btn-primary btn-sm"
                >Track a New Job
              </a>
          </div> 
</section>

<section id="career">
  <div class="data_training text-center">
    <table class="table table-borderless" >
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>Username</th>
          <th>Position</th>
          <th>Recruiter</th>
          <th>Phone</th>
          <th>Primary</th>
          <th>Secondary</th>
          <th>Location</th>
          <th>Offer</th>
          <th>Description</th>
          <th>Status</th>
          <th>Updated_at</th>
          <th>Resume</th>
        </tr>
      </thead>
      <tbody>
        {% for job in jobs %}
            <tr>
              <td> <a class="mr-2" href="#">{{job.created_by}}</a></td>
                <td>{{job.position}}</td>
                <td>{{job.recruiter}}</td>
                <td>{{job.vendor_phone}}</td>
                <td>{{job.primary_tool}}</td>
                <td>{{job.secondary_tool}}</td>
                <td>{{job.job_location}}</td>
                <td>{{job.offer}}</td>
                <td>{{job.description}}</td>
                <td>{{job.status}}</td>
                <td>{{job.updated_at|date:"n/d/Y"}}</td>
                <td>
                  <a href="{{job.updated_resume.url}}" class="btn btn-secondary btn-sm"
                    >Resume
                  </a>
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
