{%extends "main/base_templates/base.html"%} {% block content %}
{% load static %}
{% block title %}
<!----{% if department %}{{ department.name }}{% else %}activities{% endif %}----->
{% endblock %}
<!--------------------------Slider Section--------------------------------->
<!-------------------Our home services Section------------------------->
<!-------------------1. Our  Job Report Section------------------------->
<section id="data_training">
<div class="data_training text-center">
{% if user.is_superuser %}
<h3 class="title">WELCOME BACK {{task.employee.first_name|upper }}</h3>
<p class="p text-center">We Value Your Work and effort training at CODA, you have been assigned <b>{{num_tasks}}</b> activities this month</p>
{% elif request.user|upper == view.kwargs.username|upper %}
<h3 class="title">WELCOME BACK {{task.employee.first_name|upper }}</h3>
<p class="p text-center">We value your work and effort training at CODA, you have been assigned <b>{{num_tasks}}</b> activities this month</p>
{% else %}
<h3 class="title">TASKS FOR {{view.kwargs.username|upper}}</h3>
{% endif %}
</div> 
</section>

<!----
<section id="career">
  <div class="career text-center">
    <!----
    <div  class="row">
      <div class="col">
        <div class="card card-body">
          <form method="get">
            {% csrf_token %}
            {{myFilter.form}}
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
---->
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">  
        <tr>
          <th>Full Name</th>
          <th>Date Uploaded</th>
          <th>Category</th>
          <th>Question</th>
          <th>Download</th>
          <th>Link</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        {% for upload in  client_interviews  %}
        <tr>
          <td> <a class="mr-2" href="#"> {{upload.client.first_name}},{{upload.client.last_name}}</a></td>
          <td>{{upload.upload_date|date:"F d, Y"}}</td>
          <td>{{upload.category}}</td>
          <td>{{upload.question_type}}</td>
          <td>
            <a href="{{upload.doc.url}}" class="btn btn-secondary btn-sm"
              >Download
            </a>
          </td>
          <td>
            <a href="{{upload.link}}" class="btn btn-secondary btn-sm"
              >Review
            </a>
          </td>
          <td> <a class="article-title" href="{% url 'data:interview-detail' upload.id %}">Edit</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}