{%extends "main/base_templates/analysis_index.html"%} 
{%block content %}
<style type="text/css">
  .signature
  {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
  }
    #down_payment,#bonus
  {
    background:transparent;
    border:none;
    width: 12%;
  }
</style>
<div class="content-section">
    <div>
        <h3>CONTRACT</h3>
    </div>
<div>
    <img
    src="\media\banner\banner.jpg"
    class="d-block img-fluid"
    width="1500px"
    alt="banner"
  />
</div>


    <fieldset class="form-group">
      <legend class="border-bottom  text-center">
        <p class="lead  text-center">
            STUDENT TRAINING CONTRACT
        </p>
      </legend>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
      <div class="row">
        <div class="col-md-6">
            CODA TRAINING <br>
            DATA ANALYSIS TRAINING CONTRACT
        </div>
        <div class="col-md-6">
            FEES: <span class="fees">USD.{{payment_data.payment_fees}}</span> <br>
            DATE: {{contract_date}}
        </div>
      </div>


      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />

          <div class="row">
            <div class="col-md-12">
                <h4>TRAINING INFORMATION</h4>
                <b>Training Contract Period</b> <br>
                  &emsp;<input type="radio" id="One_month" name="duration" value="1" {% if payment_data.plan == 1 %} checked {% else %}disabled{% endif %}>
                  <label for="Training">One Month</label>
                  <input type="radio" id="two_month" name="duration" value="2" {% if payment_data.plan == 2 %} checked {% else %}disabled{% endif %}>
                  <label for="Training"> Two Month</label>
                  <input type="radio" id="three_month" name="duration" value="3" {% if payment_data.plan == 3 %} checked {% else %}disabled{% endif %}>
                  <label for="Training"> Three Month</label>
            </div>
            <div class="col-md-12">
                <b>Training Conferences</b> <br>
                  &emsp;<b>1.Tableau &ensp;2.Zoom</b>
            </div>
          </div>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />

      <h4>STUDENT INFORMATION</h4>
      <div class="row">
        <div class="col-md-6">
            Student Name: <br>
            Student Address: <br>
            Student Phone: <br>
            Student Email: 
        </div>
        <div class="col-md-6">
            {{student_data.first_name}} {{student_data.last_name}} <br>
            {%if student_data.address %}{{student_data.address}}{% else %} - {% endif %} <br>
            {{student_data.phone}} <br>
            {{student_data.email}}
        </div>
      </div>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
          <div class="row">
            <div class="col-md-6">
                <h4>PAYMENT INFORMATION</h4>
                Student FEES: USD.{{payment_data.payment_fees}}  <br>
                Student Down payment: USD.{{payment_data.down_payment}} <br>
                Student Fee Bonus: USD.{{payment_data.student_bonus}}<br>
                Student Fee Balance: USD.{{payment_data.student_balance}}
            </div>
            <div class="col-md-6">
                <h4>METHOD OF PAYMENT:</h4>
                <input type="radio" name="payment_type" value="paypal" {% if payment_data.payment_method  == "paypal" %} checked {% else %}disabled{% endif %}>
                Paypal <br>
                <input type="radio" name="payment_type" value="cash_app" {% if payment_data.payment_method  == "cash_app" %} checked {% else %}disabled{% endif %}>
                Cash App <br>
                <input type="radio" name="payment_type" value="Venmo" {% if payment_data.payment_method  == "Venmo" %} checked {% else %}disabled{% endif %}>
                Venmo
            </div>
          </div>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />

          <div class="row" >
            <div class="col-md-12">
                <h4>SIGNATORY:</h4>
                Student signature: {{payment_data.client_signature}}<br>
                Company Rep:       {{payment_data.company_rep }}<br>

            </div>
          </div>

    </fieldset>
</div>

{% endblock content%}





