{%extends "main/base_templates/analysis_index.html"%} 
{%block content %}
<style type="text/css">
  .signature
  {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
  }
    #down_payment,#bonus
  {
    background:transparent;
    border:none;
    width: 12%;
  }


</style>
<div class="content-section">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">EMPLOYEE CONTRACT POLICY</h3>
            </div>

            <div class="col-md-12">

            </div>




        </div>
    </div>



</div>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
{% endblock content%}





