{% extends "main/base_templates/new_base.html" %} {% load crispy_forms_tags %} {% block content %}
<!-------------------Cards-Category Section----------------------->
<div class="container-fluid padding">
  <div class="row padding text-center">
    <div class="col-md-4" id="bada">
      <div class="card">
           <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
           <div class="card-body">
              <h4><b>{{ user.username}}</b></h4>
              <img
              class="rounded-circle account-img"
              src="{{ user.profile.image.url }}"
            />
              <hr/>
              <p class="bd">
                {{ user.email }}
              </p>
              <a href="{% url 'management:companyagenda' %}" >
                <button type="button" class="btn btn-primary">GET MORE INFORMATION</button>
              </a>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
    {% endblock content %}