{%extends "main/base_templates/base.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <h2>All Clients</h2>
    {% if user.is_active or user.is_superuser %}
    <a
      class="btn btn-secondary btn-sm mt-1 mb-1"
      href="{%url 'accounts:tracker-update' object.id%}"
    >
      Update</a
    >
    <a
      class="btn btn-danger btn-sm mt-1 mb-1"
      href="{%url 'accounts:tracker-delete' object.id%}"
    >
      Delete</a
    >
    {% endif %}

    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Category</th>
          <th>Task</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
       
            <tr>
              <td>{{object.login_date|date:"F d, Y"}}</td>
              <td>{{object.author}}</td>
              <td>{{object.category}}</td>
              <td>{{object.task}}</td>
              <td>{{object.start_time}}</td>
              <td>{{object.end}}</td>
              <td>{{object.duration}}</td>
            </tr>
      </tbody>
    </table>
  </div>

</section>
{% endblock content %}
