{%extends "main/base_templates/application_base.html"%} {% block content %}
{% load crispy_forms_tags %}
<section id="career">
  <div class="career text-center">
    <br><br>
    <h2>COMPANY CREDENTIALS</h2>
    <div class="row">
      <div class="col-md-6">
        <p><a href="{% url 'accounts:account-newcredentialcategory'%}" class="btn btn-primary btn-sm"
          >ADD NEW CREDENTIAL CATEGORY
        </a></p>

      </div>
      <div class="col-md-6">
        <p><a href="{% url 'accounts:account-newcredentials'%}" class="btn btn-primary btn-sm"
          >ADD NEW CREDENTIAL
        </a></p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card cardbody">
              <form method="get">
                {{credential_filters.form}}
                <button type="submit">Search</button>
              </form>
            </div>
        </div>
    </div>

    </div>
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <!-- <th>Date</th>
          <th>id</th> -->
          <th>Department</th>
          <th>Category</th>
          <th>Link/URL</th>
          <th>User Name/Email</th>
          <!-- <th>password</th> -->
          <!-- <th>is_active</th>
          <th>is_featured</th> -->
          {% if request.user.is_superuser or request.user.is_admin%}
          <th>Update</th>
          <!-- <th>Delete</th> -->
          {% endif %}
          {% if show_password == True %}
            <th>password</th>
          {% else %}
            <th>
              <button onclick="showpasswords(this)">Show passwords</button>
            </th>
          {% endif %}
        <!-- fields = ['category','name', 'slug','description','password','link_name','link','is_active','is_featured'] -->
        </tr>
      </thead>
      <tbody>
        {% for credential in credential_filters.qs %}
        <tr>
          <!-- <td>{{credential.entry_date|date:"F d, Y"}}</td>
          <td>{{credential.id}}</td> -->
          <td>
            {% for category in credential.category.all %}
              {{category.department}}
            {% endfor %} 
          </td>
          <td>
            {% for category in credential.category.all %}
              {{category.category}}
            {% endfor %} 
          </td>
          <td>
            <a class="text-dark  text-decoration-none" 
            data-toggle="tooltip" title="{{  credential.description  }}"
            href=" {{  credential.link  }}">
            {{  credential.name  }}
            </a>
        </td>
        <td>
          {{  credential.link_name  }}
      </td>
          <!-- <td>{{credential.password}}</td> -->
          
          <!-- <td>{{credential.is_active}}</td>
          <td>{{credential.is_featured}}</td> -->
          
          {% if request.user.is_superuser or request.user.is_admin%}
          <td> <a class="article-title" href="{%url 'accounts:credential-update' credential.id  %}">Edit</a></td>
          <!-- <td> <a class="article-title" href="#">Delete</a></td> -->
          {% endif%}

          {% if show_password == True %}
            {% if request.user.is_superuser == True %}
              <td>{{credential.password}}</td>
            {% elif request.user.is_admin == True %}
              {% if credential.user_types == "Admin" or credential.user_types == "Employee" %}
                <td>{{credential.password}}</td>
              {% else %}
                <td>No access</td>
              {% endif %}
            {% elif request.user.is_staff == True %}
              {% if credential.user_types == "Employee" %}
                <td>{{credential.password}}</td>
              {% else %}
                <td>No access</td>
              {% endif %}

            {% endif %}

          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<script>

   //siteurl = "https://codadev.herokuapp.com"
  siteurl ="{{request.session.siteurl}}"
  console.log(siteurl)
  function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');

  function showpasswords(){
    window.location.href = siteurl+"/accounts/security_verification"
  }
</script>
{% endblock content %}