{%extends "main/base_templates/application_base.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <br><br>
    <h2>COMPANY CREDENTIALS</h2>
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>Date</th>
          <th>Department</th>
          <th>Category</th>
          <th>name</th>
          <th>link_name</th>
          <!-- <th>password</th> -->
          <th>is_active</th>
          <th>is_featured</th>
          <th>Update</th>
          <th>Delete</th>
          {% if show_password == True %}
            <th>password</th>
          {% else %}
            <th>
              <button onclick="showpasswords(this)">Show passwords</button>
            </th>
          {% endif %}
        <!-- fields = ['category','name', 'slug','description','password','link_name','link','is_active','is_featured'] -->
        </tr>
      </thead>
      <tbody>
        {% for credential in credentials %}
        <tr>
          <td>{{credential.entry_date|date:"F d, Y"}}</td>
          <td>
            {% for category in credential.category.all %}
              {{category.department}}
            {% endfor %} 
          </td>
          <td>
            {% for category in credential.category.all %}
              {{category.category}}
            {% endfor %} 
          </td>
          <td>
            <a class="text-dark  text-decoration-none" 
            data-toggle="tooltip" title="{{  credential.description  }}"
            href="#">
            {{  credential.name  }}
            </a>
        </td>
        <td>
          <a class="text-dark  text-decoration-none" 
          data-toggle="tooltip" title="{{ credential.password  }}"
          href="{{credential.link}}">
          {{  credential.link_name  }}
          </a>
      </td>
          <!-- <td>{{credential.password}}</td> -->
          
          <td>{{credential.is_active}}</td>
          <td>{{credential.is_featured}}</td>
          <td> <a class="article-title" href="#">Edit</a></td>
          <td> <a class="article-title" href="#">Delete</a></td>
          {% if show_password == True %}
            {% if request.user.is_superuser == True %}
              <td>{{credential.password}}</td>
            {% elif request.user.is_admin == True %}
              {% if credential.user_type == "Admin" or credential.user_type == "Employee" %}
                <td>{{credential.password}}</td>
              {% else %}
                <td>No access</td>
              {% endif %}
            {% elif request.user.is_employee == True %}
              {% if credential.user_type == "Employee" %}
                <td>{{credential.password}}</td>
              {% else %}
                <td>No access</td>
              {% endif %}

            {% endif %}

          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<script>

  // siteurl = "http://localhost:8000"
  siteurl ="{{request.session.siteurl}}"
  console.log(siteurl)
  function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');

  function showpasswords(){
    window.location.href = siteurl+"/accounts/security_verification"
  }
</script>
{% endblock content %}