{%extends "main/base_templates/new_base.html"%} {% block content %}
<section id="career"><!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, delete initial-scale=1.0">
        <title>Reporting Detail</title>
    </head>
    <body>
        <h1>Email delete</h1>
        <p>department: {{ obj.pk }}</p>
        <p>category: {{ obj.name }}</p>
        <p>slug: {{ obj.name }}</p>
        <p>description: {{ obj.name }}</p>
        <p>entry_date: {{ obj.name }}</p>
        <p>is_active: {{ obj.name }}</p>
        <p>description: {{ obj.is_active }}</p>in line</body>
        <!-- Add more fields as needed -->
    </body>
    </html>
    {% endblock content%}