{% block title %}Account Detail{% endblock %}

{% block content %}
<h2>Account Details</h2>
<ul>
    <li><strong>department:</strong> {{ account.id }}</li>
    <li><strong>category:</strong> {{ account.emai }}</li>
    <li><strong>slug:</strong> {{ account.email }}</li>
    <li><strong> description:</strong> {{ account.date_joined }}</li>
    <li><strong> entry_date:</strong> {{ account.date_joined }}</li>
    <li><strong> is_active:</strong> {{ account.date_joined }}</li>
    <li><strong> is_featured:</strong> {{ account.date_joined }}</li>
    <!-- Add other account details here -->
</ul>
<a href="#">adite  delete</a>
{% endblock %}
