{%extends "main/base_templates/application_base.html"%} {% block content %}
<section id="career">
    <div class="career text-center">
        <br><br>
        <h2>Email Verification</h2>

        <p> Check your Email and Otp here in order to view passwords.</p>
        
        <p style="color:red">
            {% if message != "" %}
                {{message}}
            {% endif %}
        </p>
        <form action="{% url 'accounts:account-crendentials' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="otp" class="otp" placeholder="Enter otp here" style="margin:20px 0" />

            <input type="submit" id="submit_otp" value="Submit" >
        </form>

    </div>

</section>

<script>
     siteurl = "http://localhost:8000"
  // siteurl = "https://www.codanalytics.net"

  function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');

  function otpsubmit(){
    $.ajax({
        type: "POST",
        url:  siteurl+"/accounts/credentials",
        mode: 'cors',
        withCredentials: false, 
        headers: { 'Access-Control-Allow-Origin': '*', "X-CSRFToken": csrftoken },
        xsrfHeaderName: "X-CSRFToken",
        data : { otp: $(".otp").val() },
        success: function(result){

        }
    });
  }

</script>
{% endblock content %}