{%extends "main/base_templates/base.html"%}
{%load crispy_forms_tags%}{% block content %}

<div class="sign-up-div">
  <form method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <fieldset class="form-group">
      <div class="row">
          <div class="col-lg-6 introduction-div ">
            <div class="row">
            <div class="select-div">
              <h1 class="position-relative">SIGN-UP</h1>
              <div class="content">
                <p class="mb-2">Welcome to CODA, Are you NEW here?</p>
                <p>
                  Sign-up to enjoy all the benefits and trainings CODA
                  provides.
                </p>
              </div>
              <h2>Pick your Category | Register As:</h2>
              <div class="d-flex">
            <div class="second-select-div">
              <div class="form-group">
              <div class="">
                <select
                  name="category"
                  class="select form-control"
                  id="id_category"
                  onchange="toggle_sub_selection(this.value)"
                >
                  <option
                    id="category_disabled"
                    value="0"
                    style="display: none"
                    selected
                  >
                    Select Category
                  </option>
                  <option value="1">Applicant Or Job Applicant</option>
                  <option value="2">Coda Staff Member</option>
                  <option value="3">Client Or Customer Or Student</option>
                  <option value="4">General User</option>
                </select>
              </div>
            </div>
            </div>
            </div>
            </div>
          <!-- <div class="col-md-2" id="sub_selection" style="display: none;">{{form.sub_category|as_crispy_field}}</div> -->
          <div class="col-md-6" id="sub_selection" style="display: none">
            <div id="div_id_sub_category" class="form-group">
              <label for="id_sub_category" class="requiredField">
                Sub Category:<span class="asteriskField">*</span>
              </label>
              <div class="">
                <select
                  name="sub_category"
                  class="select form-control"
                  id="id_sub_category"
                  onchange="checkSubCategoryValidity()"
                >
                  <option
                    id="subcategoryoption0"
                    value="0"
                    style="display: none"
                    selected
                  >
                    Select Sub Category
                  </option>
                  <!--Values for Clients -->
                  <option id="subcategoryoption1" value="1" selected="">
                    Job Support
                  </option>
                  <option id="subcategoryoption2" value="2">Students</option>
                  <!--Values for Employees/Staff -->
                  <option id="subcategoryoption3" value="3" selected="">
                    Full Time
                  </option>
                  <option id="subcategoryoption4" value="4">Contractual</option>
                  <option id="subcategoryoption5" value="5">Agent</option>
                  <option id="subcategoryoption6" value="6">DC48Kenya</option>
                  <option id="subcategoryoption6" value="7">DYC</option>
                  <option id="subcategoryoption7" value="8">Other</option>
                </select>
              </div>
            </div>
          </div>
        </div>
          </div>
          <!-- Dont touch below this -->
          <div class="col-lg-6 form-div">
            <div class="row">
              <div class="col-md-2 align-self-center">
                <p class="mb-0">First Name</p>
              </div>
              <div class="col-md-10">
                {{form.first_name|as_crispy_field}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 align-self-center">
                <p class="mb-0">Last Name</p>
              </div>
              <div class="col-md-10">
                {{form.last_name|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 align-self-center">
                <p class="mb-0">User Name</p>
              </div>
              <div class="col-md-10">
                {{form.username|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 align-self-center">
                <p class="mb-0">Password</p>
              </div>
              <div class="col-md-10">
                {{form.password1|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 align-self-center">
                <p class="mb-0">Confirm Password</p>
              </div>
              <div class="col-md-10">
                {{form.password2|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 align-self-center">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-md-10">
                {{form.email|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 align-self-center">
                <p class="mb-0">Gender</p>
              </div>
              <div class="col-md-10">
                {{form.gender|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 align-self-center">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-md-10">
                {{form.phone|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 align-self-center">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-md-10">
                {{form.address|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 align-self-center">
                <p class="mb-0">City</p>
              </div>
              <div class="col-md-10">
                {{form.city|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 align-self-center">
                <p class="mb-0">State</p>
              </div>
              <div class="col-md-10">
                {{form.state|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 align-self-center">
                <p class="mb-0">Country</p>
              </div>
              <div class="col-md-10">
                {{form.country|as_crispy_field }}
              </div>
            </div>
            
          <div class="row" id="resume-field" style="display: none">
            <div class="col-md-4">{{form.resume_file|as_crispy_field }}</div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
            <div class="col-md-6">
              <small class="text-muted text-center">
                Already Have An Account?
                <a class="ml-2" href="{% url 'accounts:account-login' %}">Sign In</a>
              </small>
            </div>
          </div>
          </div>
    </fieldset>
  </div>
  </form>
</div>
<script>
  function checkCategoryValidity() {
    var p = document.getElementById("id_category");
    if (p.value == "0") {
      p.setCustomValidity("Please Select an option");
    } else {
      p.setCustomValidity("");
    }
  }
  function checkSubCategoryValidity() {
    var p = document.getElementById("id_sub_category");
    var q = document.getElementById("id_category");
    if (q.value != "1") {
      if (p.value == "0") {
        p.setCustomValidity("Please Select an option");
      } else {
        p.setCustomValidity("");
      }
    }
  }

  checkCategoryValidity();
  // <option value="1">Applicant Or Job Applicant</option>
  //                 <option value="2">Coda Staff Member</option>
  //                 <option value="3">Client Or Customer Or Student</option>
  //                 <option value="4">General User</option>
  function toggle_sub_selection(selected_value) {
    if (selected_value == 3| selected_value == 4) {
      //If the Value seclected is Client
      document.getElementById("id_sub_category").style.display = "block";
      document.getElementById("id_sub_category").disabled = false;
      document.getElementById("resume-field").style.display = "none";
      document.getElementById("sub_selection").style.display = "";
      hideSubCategoryOption(3);
      hideSubCategoryOption(4);
      hideSubCategoryOption(5);
      // hideSubCategoryOption(6);
      showSubCategoryOption(1);
      showSubCategoryOption(2);
      showSubCategoryOption(6);
      showSubCategoryOption(7);
      selectSubCategoryOption(0);
    } 
    else if (selected_value == 2 )  {
      //If the Value seclected is staff
      document.getElementById("id_sub_category").style.display = "block";
      document.getElementById("id_sub_category").disabled = false;
      document.getElementById("resume-field").style.display = "none";
      document.getElementById("sub_selection").style.display = "";
      hideSubCategoryOption(1);
      hideSubCategoryOption(2);
      showSubCategoryOption(3);
      showSubCategoryOption(4);
      showSubCategoryOption(5);
      // showSubCategoryOption(6);
      selectSubCategoryOption(0);
    } 
    else {
      document.getElementById("resume-field").style.display = "block";
      document.getElementById("sub_selection").style.display = "none";
      document.getElementById("id_sub_category").disabled = true;
      document.getElementById("id_sub_category").style.display = "none";
    }

    checkCategoryValidity();
    checkSubCategoryValidity();
  }

  function hideSubCategoryOption(option) {
    document.getElementById("subcategoryoption" + option).style.display =
      "none";
  }
  function showSubCategoryOption(option) {
    document.getElementById("subcategoryoption" + option).style.display = "";
  }
  function selectSubCategoryOption(option) {
    document.getElementById("subcategoryoption" + option).selected = true;
  }
  document.getElementById("category_disabled").selected = true;
  document.getElementById("subcategoryoption0").selected = true;
</script>
{% endblock content%}