{%extends "main/base_templates/base.html"%}
{%load crispy_forms_tags%}{% block content %}
<div class="login-div">
	<div class="user_card">
		<div class="row">
			<div class="col-md-6 other-detail">
				<div class="container">
					<h2>WELCOME TO DYC PLATFORM</h2>
					<h3>Select Category and Sub Category on the right</h3>
					<div class="down-detail">
						<p>For any issues please click below for help!</p>
						<a href="#" class="btn btn-primary">HELP?</a>
					</div>
				</div>
			</div>

            <div class="col-md-6 form-div">
				<div class="container">
					<h2>CATEGORY</h2>
					<!-- <form method="post">
						{% csrf_token %}
						<div class="form-group">
							<label for="">Select Your Category</label>
							<div>
								{{ form.category}}
							</div>
							{% if form.category.errors %}
								<div class="text-danger">{{ form.category.errors|join:", " }}</div>
							{% endif %}
							{% if form.category.value %}
								<div class="text-success">You selected "{{ form.category.value }}".</div>
							{% endif %}
						</div>
						<div class="form-group">
							<label for="">Select Your SubCategory</label>
							<div>
								{{ form.sub_category }}
							</div>
							{% if form.sub_category.errors %}
								<div class="text-danger">{{ form.sub_category.errors|join:", " }}</div>
							{% endif %}
						</div>
						<div class="form-group form-checkbox d-flex mb-3">
							<input type="checkbox" name="" id="" />
							<label for="" class="align-items-center">Remember Me</label>
						</div>
						<button type="submit" class="btn btn-primary">Proceed</button>
					</form> -->
					
					<form method="post">
						{% csrf_token %}
						<div class="form-group">
							<label for="">Select Your Category</label>
                            <div>
                               {{ form.category }}
                            </div>
						</div>
						<div class="form-group">
							<label for="">Select Your SubCategory</label>
                            <div>
                                {{ form.sub_category }}
                            </div>
						</div>
					<div class="form-group form-checkbox d-flex mb-3">
						<input type="checkbox" name="" id="" />
						<label for="" class="align-items-center">Remember Me</label>
					</div>
					<button type="submit" class="btn btn-primary">Proceed</button>
				   </form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content%}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

{% if form.category.errors %}
    <div class="alert alert-danger">{{ form.category.errors }}</div>
{% endif %}

{% if form.category.value %}
    <p>You selected {{ form.category.value }}.</p>
{% endif %}
