{%extends "main/base_templates/new_base.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <div class="col-8">
      How to ace a BA, Data Analysis/Data Science Interview
    </div>

    <div class="row  mb-3 border-bottom font-weight-bold">
      {% if query%}
        <div class="col-12">
            Searched for {{query}}
        </div>
    {% else%}
      <div class="col-12 col-md-8 mx-auto py-5">
        {% include 'globalsearch/snippets/search-form.html' %}
      </div>
    {% endif%}
</div>
    <table style="width: 100%">
      <thead>
        <tr>
          <th>Number</th>
          <th>username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date Uploaded</th>
          <th>Applying as:</th>
          <th>Question</th>
          <th>Assignment</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        {% for upload in  object_list  %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{user.username}}</td>
          <td>{{upload.first_name}}</td>
          <td>{{upload.last_name}}</td>
          <td>{{upload.upload_date|date:"F d, Y"}}</td>
          <td>{{upload.category}}</td>
          <td>{{upload.question_type}}</td>
          <td>
            <a href="{{upload.doc.url}}" class="btn btn-secondary btn-sm"
              >Download
            </a>
          </td>
          <td>
            <a href="{{upload.link}}" class="btn btn-secondary btn-sm"
              >Review
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
