{%extends "main/base_templates/new_base.html"%}
{%load crispy_forms_tags%}{% block content %}

<div class="sign-up-div">
  <form method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <fieldset class="form-group">
      <div class="row">
          <div class="col-lg-6 introduction-div ">
            <div class="row">
            <div class="select-div">
              <h1 class="position-relative">CONTACT FORM</h1>
              <div class="content">
                <p class="mb-2">Welcome to CODA</p>
                <p>
                  Please fill the form alongside to send your 
                  message and staff will get back to you in 48 hours.
                </p>
              </div>
              <div class="d-flex">
            </div>
            </div>
        </div>
          </div>
          <!-- Dont touch below this -->
          <div class="col-lg-6 form-div">
              <div class="col-md-12">
                {{form.client_name.as_hidden}}
                {{form.type|as_crispy_field}}
                {{form.category|as_crispy_field}}
                {{form.challenge|as_crispy_field}}
              </div>
            <div class="form-group row">
              <div class="col-md-6">
                <button class="btn btn-primary btn-lg" type="submit">SEND</button>
              </div>
            </div>
          </div>
    </fieldset>
  </div>
  </form>
</div>

{% endblock content%}