{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'main/css/new_main.css' %}"
      />
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'main/css/show_services.css' %}"
      />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

      <!-- Add this script tag for Owl Carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

      
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'main/css/team_card.css' %}"
      />
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'main/css/email.css' %}"
      />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>  
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Add this in the <head> section of your HTML -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.3/plyr.css" />
    <script src="https://cdn.plyr.io/3.6.3/plyr.js"></script>

    

      {% if title %}
      <title>CODA - {{ title }}</title>
      {% else %}
      <title>CODA</title>
      {% endif %}
</head>

<body>
        {% include 'main/navbar_templates/home_navbar.html' %} 
        <div>
        {% block content %}
        
        {% endblock %}
    </div>

    {% include 'main/footer_templates/new_footer.html' %} 

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

    <script>
        $(".nav-btn").click(function () {
            $("#collapsibleNavbar").toggleClass('show')
        })
    </script>
    <!-- js for team_card.html  -->
    <script>
      document.querySelectorAll('.member-link').forEach(link => {
        link.addEventListener('click', e => {
          e.preventDefault();

          let memberInfo = link.closest('.member-info');
          let description = memberInfo.querySelector('.description');

          // Close other open descriptions
          document.querySelectorAll('.member-info.show-description').forEach(otherMemberInfo => {
            if (otherMemberInfo !== memberInfo) {
              otherMemberInfo.classList.remove('show-description');
              otherMemberInfo.style.height = ''; // Reset height
              otherMemberInfo.querySelector('.description').style.opacity = '0';
            }
          });

          // Toggle the current description
          memberInfo.classList.toggle('show-description');

          // Update height only if show-description is added
          if (memberInfo.classList.contains('show-description')) {
            if (!memberInfo.hasAttribute('data-original-height')) {
              // Store the original height in a data attribute
              memberInfo.setAttribute('data-original-height', memberInfo.offsetHeight);
            }

            const originalHeight = parseInt(memberInfo.getAttribute('data-original-height'));
            const descriptionHeight = description.offsetHeight;

            // Calculate new height
            const newHeight = originalHeight + descriptionHeight;

            // Update member info height
            memberInfo.style.height = `${newHeight}px`;
          } else {
            // Reset height to original value when description is closed
            memberInfo.style.height = '';
          }

          // Set description opacity based on show/hide state
          description.style.opacity = memberInfo.classList.contains('show-description') ? '1' : '0';
        });
      });


    </script>
    <!-- Platformoverview html -->
    <!-- Script for readmore for executive summary -->
    <script>
      function toggleReadMore() {
        var truncatedText = document.getElementById("truncatedText");
        var remainingText = document.getElementById("remainingText");
        var button = document.getElementById("readMoreButton");
    
        if (truncatedText.style.display === "none") {
          truncatedText.style.display = "block";
          remainingText.style.display = "none";
          button.innerHTML = "Read more";
        } else {
          truncatedText.style.display = "none";
          remainingText.style.display = "block";
          button.innerHTML = "Read less";
        }
      }
    </script>
    <!-- Script for success stories -->
    <script>
      var currentIndex = 0;
    
      function moveCarousel(direction) {
        var carousel = document.querySelector('.owl-carousel');
        var cardWidth = document.querySelector('.carousel-card').offsetWidth + 20; // Adjust for margin
    
        currentIndex += direction;
    
        if (currentIndex < 0) {
          currentIndex = 0;
        } else if (currentIndex >= {{ investments|length }} - 3) {
          currentIndex = {{ investments|length }} - 3;
        }
    
        var translateValue = -currentIndex * cardWidth;
        carousel.style.transform = 'translateX(' + translateValue + 'px)';
    
        updateVisibility();
      }
    
      function updateVisibility() {
        var cards = document.querySelectorAll('.carousel-card');
        cards.forEach(function(card, index) {
          if (index < currentIndex || index >= currentIndex + 3) {
            card.classList.add('hidden');
          } else {
            card.classList.remove('hidden');
          }
        });
      }
    </script>
    <!-- READMORE FOR NEWLAYOUT -->
    <style>
      .reead-more-button {
        margin-bottom: 10px;
        font-size: 19px;
        background-color: transparent;
        border: none;
        color: #e7ad4a;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
    </style>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var buttons = document.querySelectorAll('.reead-more-button');
    
        buttons.forEach(function(button) {
          button.addEventListener('click', function() {
            toggleReadMore(this);
          });
        });
    
        function toggleReadMore(button) {
          var index = button.getAttribute('data-index');
          var truncatedText = document.getElementById("truncatedText" + index);
          var remainingText = document.getElementById("remainingText" + index);
    
          if (truncatedText && remainingText) {
            if (truncatedText.style.display === "none") {
              truncatedText.style.display = "block";
              remainingText.style.display = "none";
              button.innerHTML = "Read more";
            } else {
              truncatedText.style.display = "none";
              remainingText.style.display = "block";
              button.innerHTML = "Read less";
            }
          }
        }
      });
    </script>

    <!-- Js for show services.html -->
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          var titleElement = document.querySelector('h2');
          var truncatedTitleElement = document.getElementById('truncatedTitle');
    
          if (titleElement) {
              var words = titleElement.innerText.split(' ');
    
              // Check if title contains more than 3 words
              if (words.length > 3) {
                  var truncatedTitle = words.slice(0, 2).join(' ');
                  truncatedTitleElement.innerText = truncatedTitle;
              } else {
                  // If the title has 3 or fewer words, display the original title
                  truncatedTitleElement.innerText = titleElement.innerText;
              }
          }
      });
    </script>
</body>

</html>