{%extends "main/base_templates/application_base.html"%} {%load crispy_forms_tags%}
{%block content %}
<div class="content-section">
  <form method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4 text-center">
        DAF EVIDENCE
        <p class="lead font-italic text-center">
         Kindly Enter Your Evidence in This Form
        </p>
        <hr />
      </legend>
      <div class="row">
        <div class="col-md-4">{{form.added_by|as_crispy_field}}</div>
        <div class="col-md-4">{{form.link_name|as_crispy_field}}</div>
      </div>
      <div class="row">
        <div class="col-md-4">{{form.task|as_crispy_field}}</div>
      </div>
      <div class="row">
        <div class="col-md-4">{{form.description|as_crispy_field}}</div>
      </div>
      <div class="row">
        <div class="col-md-4">{{form.link|as_crispy_field}}</div>
        <div class="col-md-4">{{form.linkpassword|as_crispy_field}}</div>
        <div class="col-md-4">{{form.doc|as_crispy_field}}</div>
      </div>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
  {% if user.admin%}
        <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
            <div class="row text-center">
                <div class="col-md-4">{{form.is_featured|as_crispy_field}}</div>
                <div class="col-md-4">{{form.is_active|as_crispy_field}}</div>
            </div>
    {% else %}
    <div class="row text-center">
        <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
    </div>
    {% endif %}
    
</div>
{% endblock content%}
