{%extends "main/base_templates/base.html"%} 

{% block content %}

<section id="career">
  <div class="career text-center">
    <h2>DAF EVIDENCE</h2>
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>Date</th>
          <th>added_by</th>
          <th>task </th>
          <th>link_name</th>
          <th>link</th>
          <th>doc</th>
          <th>is_featured</th>
        </tr>
      </thead>
      <tbody>
        {% for link in links %}
        <tr>
            <td>{{link.created_at}}</td>
            <td>
                <a href="{% url 'management:user_evidence' link.added_by %}" >{{link.added_by}}
                </a>
             </td>

            <td>
                <p>{{ link.task.activity_name }}</p>
                 <!-- {% for task in link.task.all %}
                 {% endfor %} -->
             </td>
            <td>
                <a class="text-dark  text-decoration-none" 
                data-toggle="tooltip" title="{{  link.description  }}"
                href="{{ link.link}}">
                {{  link.link_name}}
                </a>
            </td>
            <td>
                <button>
                    <a href="{{ link.link}}"
                    >Evidence
                </a>
            </button>
        </td>
        <td>
            <a class="text-dark  text-decoration-none" 
            href="{{ link.doc.url}}">
            Download
            </a>
        </td>
        
        <td>{{link.is_featured}}</td>
            <!-------
            <td>{{employee.id}}</td>
            <td>{{employee.category}}</td>
             {% if employee.category == 1 or employee.category == 2 %}
              {% endif %}
            --->
            <td> <a class="article-title" href="{%url 'management:evidence_update' link.id %}">Edit</a></td>
            <td> <a class="article-title" href="#">Delete</a></td>
            
        </tr>   
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
