{%extends "main/base_templates/base.html"%} {% block content %}
{% load static %}
{% block title %}
<!----{% if department %}{{ department.name }}{% else %}activities{% endif %}----->
{% endblock %}
<div>
    <img src="\media\banner\banner.jpg" class="d-block img-fluid" width="1500px" alt="banner" />
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center lh-1 mb-2">
                <h6 class="fw-bold">Payslip</h6> <span class="fw-normal">Payment slip for the month of {{deadline_date|date:"F d,Y"}}</span>
              </div>
            <div class="d-flex justify-content-end"> <span>Working Branch:MAKUTANO</span> </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">EMP Code</span> <small class="ms-3">CODA0274</small> </div>
                        </div>
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">EMP Name</span> <small class="ms-3"> {{user.first_name|upper }}</small>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div> <span class="fw-bolder">Mode of Pay</span> <small class="ms-3">MPESA</small> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">Designation</span> <small class="ms-3">DATA ANALYST(DA)
                                </small> </div>
                        </div>
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">Ac No./Phone No.</span> <small class="ms-3">{{user.phone|upper}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="mt-4 table table-bordered">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th scope="col">Earnings</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Deductions</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Earnings</th>
                            <td>{{ total_pay }}</td>
                            <th>Training Loan</th>
                            <td>{{ loan }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Points</th>
                            <td>{{ pointsearning }}</td>
                            <th>FA</th>
                            <td>{{ food_accomodation }}</td>
                        </tr>
                        <tr>
                            <th scope="row">EOM</th>
                            <td>{{ EOM }}</td>
                            <th>CM</th>
                            <td>{{ computer_maintenance }}</td>
                        </tr>
                        <tr>
                            <th scope="row">EOQ</th>
                            <td>{{ EOQ }}</td>
                            <th>Health Care</th>
                            <td>{{ health }}</td>
                        </tr>
                        <tr>
                            <th scope="row">EOY</th>
                            <td>{{ EOY }}</td>
                            <th>LS</th>
                            <td>{{ laptop_saving }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Laptop Bonus</th>
                            <td>{{ laptop_bonus }}</td>
                            <th scope="row">KRA</th>
                            <td>{{ kra }}</td>
                        </tr>

                        <tr>
                            <th scope="row">Holiday Wages</th>
                            <td>{{holidaypay}}</td>
                            <th scope="row"></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Night Allowance</th>
                            <td>{{Night_Bonus}}</td>
                            <th scope="row"></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Retirement Yearly Package</th>
                            <td>{{yearly}}</td>
                            <th scope="row"></th>
                            <td></td>
                        </tr>

                        <tr class="border-top">
                            <th scope="row">Total Earning</th>
                            <td>{{ total_value }}</td>
                            <th>Total Deductions</th>
                            <td>{{total_deduction}}</td>
                        </tr>

                        <tr class="border-top">
                            <th scope="row"></th>
                            <td></td>
                            <th>Net Earnings</th>
                            <td>{{ net }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-4"> <br> <span class="fw-bold">Net Pay : {{ net_pay }}</span> </div>
                {% if balance_amount %}
                    <div class="col-md-4"> <br> <span class="fw-bold">Loan Balance : {{ balance_amount }}</span> </div>
                {% endif %}
                <div class="border col-md-8">
                    <div class="d-flex flex-column"> <span>In Words</span> <span>Translate</span> </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div class="d-flex flex-column mt-2"> <span class="fw-bolder">For CODA</span> <span
                        class="mt-4">Authorised Signatory</span> </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}