{% extends "main/base_templates/base.html" %}
{% load static %}

{% block title %}
<!----{% if department %}{{ department.name }}{% else %}activities{% endif %}----->
{% endblock title %}

{% block content %}
<div>
    <img src="\media\banner\banner.jpg" class="d-block img-fluid" width="1500px" alt="banner" />
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center lh-1 mb-2">
                <h6 class="fw-bold">Payslip</h6> <span class="fw-normal">Payment slip for the month of {{ deadline_date|date:"F d,Y" }}</span>
              </div>
            <div class="d-flex justify-content-end"> <span>Working Branch: MAKUTANO</span> </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">EMP Code</span> <small class="ms-3">CODA0274</small> </div>
                        </div>
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">EMP Name</span> <small class="ms-3"> {{ user.first_name|upper }}</small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">Mode of Pay</span> <small class="ms-3">MPESA</small> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">Designation</span> <small class="ms-3">DATA ANALYST(DA)
                                </small> </div>
                        </div>
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">Ac No./Phone No.</span> <small class="ms-3">{{ user.phone|upper }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="mt-4 table table-bordered">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th scope="col">Earnings</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Deductions</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Earnings</td>
                            <td>{{ earned_salary }}</td>
                            <td>Training Loan</td>
                            <td>{{ deductions.loan_deduction }}</td>
                        </tr>
                        <tr>
                            <td>Points:</td>
                            <td>{{ bonus.points_earned }}</td>
                            <td>FA</td>
                            <td>{{ deductions.food_accommodation }}</td>
                        </tr>
                        <tr>
                            <td>EOM</td>
                            <td>{{ bonus.EOM }}</td>
                            <td>CM</td>
                            <td>{{ deductions.computer_maintenance }}</td>
                        </tr>
                        <tr>
                            <td>EOQ</td>
                            <td>{{ bonus.EOQ }}</td>
                            <td>Health Care</td>
                            <td>{{ deductions.health }}</td>
                        </tr>
                        <tr>
                            <td>EOY</td>
                            <td>{{ bonus.EOQ }}</td>
                            <td>LS</td>
                            <td>{{ deductions.ls_amount }}</td>
                        </tr>
                        <tr>
                            <td>Laptop Bonus</td>
                            <td>{{ bonus.lb_amount }}</td>
                            <td>KRA</td>
                            <td>{{ deductions.kra }}</td>
                        </tr>

                        <tr>
                            <td>Holiday Wages</td>
                            <td>{{ bonus.holiday_pay }}</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>Night Allowance</td>
                            <td>{{ bonus.night_bonus }}</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>Retirement Yearly Package</td>
                            <td>{{ rp_amount }}</td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr class="border-top">
                            <td>Total Earning</td>
                            <td>{{ total_earning }}</td>
                            <td>Total Deductions</td>
                            <td>{{ total_deductions }}</td>
                        </tr>

                        <tr class="border-top">
                            <td> </td>
                            <td> </td>
                            <td>Net Earning</td>
                            <td>{{ net_earning }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <br> <span class="fw-bold">Net Pay : {{ net_pay }}</span> <br />
                    {% if loan_balance > 0 %}
                        <span class="fw-bold">Balance Amount : {{ loan_balance }}</span>
                    {% endif %}
                </div>
                <div class="border col-md-8">
                    <div class="d-flex flex-column"> <span>In Words</span> <span>Translate</span> </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div class="d-flex flex-column mt-2"> <span class="fw-bolder">For CODA</span> <span
                        class="mt-4">Authorised Signatory</span> </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
