{%extends "main/base_templates/new_base.html"%} {% block content %}
<section id="career">
  <div class="data_training text-center">
    <h3 class="title">DAF ACTIVITIES</h3>
    <p class="p text-center">Click on your name to access your monthly tasks <b>{{num_tasks}}</b> activities this month</p>
    <div class="row">
      <div class="col-md-4">
        <p>
          <a href="{% url 'management:newcategory'%}" class="btn btn-secondary btn-sm">ADD CATEGORY</a>
          <a href="{% url 'management:newtaskgroup'%}" class="btn btn-secondary btn-sm">ADD GROUP</a>
        </p>

      </div>
      <div class="col-md-4">
          <form method="POST"  class="form-group">
              {% csrf_token %}
              <div class="col-12">
                  <div class="row">
                      <div class="col-md-12">
                          <label for="user_tasks_filter">To filter by Category Tag</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <p>{{ form.category }} <button class="btn btn-outline-info" type="submit">Filter</button></p>
                      </div>
                  </div>
              </div>
          </form>
      </div>
      <div class="col-md-4">
        <p><a href="{% url 'management:newtask'%}" class="btn btn-secondary btn-sm"
          >ADD TASK
        </a></p>
      </div>
    </div>
    <div class="container-fluid mr-auto">
      <div class="row text-center">
        {% for task in  tasksummary  %}
            <div class="col-md-2" id="bada">
              <div class="card">
                <div class="card-body">
                  <h5><b>task.Target</b></h5>
                  <hr/>
                  <i><h6>task.Description</h6></i>
                  <hr/>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
    </div> 
  </div> 
  <br>
  <hr>
  <div class="career text-center">
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">  
        <tr>
          <th>Check</th>
          <th>Full Name</th>
          <th>Task</th>
          <th>Group</th>
          <th>Deadline</th>
          <th>Submission</th>
          <th>Points</th>
          <th>Max Points</th>
          <th>Maximum Earnings</th>
          <th>Earnings</th>
          <th>Evidence</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody id="table_body_data">
       
        {% for task in  tasks  %}

          <tr>
              <td><input type="checkbox" class="checkthis" /></td>
              {% if task.employee.first_name == "" or  task.employee.last_name == "" %}
              <td>
              <a class="article-title" href="{% url 'management:user_task' task.employee %}">
                {{task.employee}}
                </a>
              </td>

              {% else %}
              <td>
              
                <a class="article-title" href="{% url 'management:user_task' task.employee %}">
                {{task.employee.first_name}},{{task.employee.last_name}}
                </a>
              </td>
              {% endif %}
              <td>
                  <a class="text-dark  text-decoration-none" 
                  data-toggle="tooltip" title="{{  task.description  }}"
                  href="{{ category.get_absolute_url }}">
                  {{  task.activity_name  }}
                  </a>
              </td>
              <td>{{task.groupname}}</td>
              <td>{{task.deadline}}</td>
              <td>{{task.submission|date:"F d, Y"}}</td>
              <td>{{task.point}}</td>
              <td>{{task.mxpoint}}</td>
              <td>{{task.mxearning}}</td>
              <td>{{task.get_pay}}</td>
              <td>
                <button>
                  <a href="{{task.task_url}}">Button</a>
                </button>
              </td>
              {%if user.is_admin or user.is_superuser%}
              <td> <a class="article-title" href="{% url 'management:taskdetail' task.id %}">Edit</a></td>
              {%endif%}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="no_data_text" style="width:100%;text-align:center;display:none">No data for the category. </div>
  </div>
</section>
{% endblock content %}
