{%extends "main/base_templates/base.html"%} {% block content %}
<section id="career">
  <div class="data_training text-center">
    <h3 class="title">DAF ACTIVITIES</h3>
    <p class="p text-center">Click on your name to access your monthly tasks <b>{{num_tasks}}</b> activities this month</p>
    <div class="row">
      <div class="col-md-6">
        <p>
          <a href="{% url 'management:newcategory'%}" class="btn btn-secondary btn-sm">ADD CATEGORY</a>
          <a href="{% url 'management:newtaskgroup'%}" class="btn btn-secondary btn-sm">ADD GROUP</a>
        </p>

      </div>
      <div class="col-md-6">
        <p><a href="{% url 'management:newtask'%}" class="btn btn-secondary btn-sm"
          >ADD TASK
        </a></p>
      </div>
    </div>
    <div class="container-fluid mr-auto">
      <div class="row text-center">
        {% for task in  tasksummary  %}
            <div class="col-md-2" id="bada">
              <div class="card">
                <div class="card-body">
                  <h5><b>task.Target</b></h5>
                  <hr/>
                  <i><h6>task.Description</h6></i>
                  <hr/>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
    </div> 
  </div> 
  <div style="float: right">
    <label for="category_filter">To filter by Category &nbsp;</label>
    <select name="category_filter" >
        <option value="" disabled selected hidden>Choose a Category</option>
        <option value="Meetings">Meetings</option>
        <option value="Data Analysis">Data Analysis</option>
        <option value="Stocks & Options">Stocks & Options</option>
        <option value="Website Development">Website Development</option>
        <option value="Department">Department</option>
        <option value="Other">Other</option>
    </select>
  </div>
  <br>
  <hr>
  <div class="career text-center">
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">  
        <tr>
          <th>Check</th>
          <th>Full Name</th>
          <th>Task</th>
          <th>Group</th>
          <th>Deadline</th>
          <th>Submission</th>
          <th>Points</th>
          <th>Max Points</th>
          <th>Maximum Earnings</th>
          <th>Earnings</th>
          <th>Evidence</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody id="table_body_data">
       
        {% for task in  object_list  %}

          <tr>
              <td><input type="checkbox" class="checkthis" /></td>
              {% if task.employee.first_name == "" or  task.employee.last_name == "" %}
              <td>
              <a class="article-title" href="{% url 'management:user_task' task.employee %}">
                {{task.employee}}
              </td>

              {% else %}
              <td>
              <a class="article-title" href="{% url 'management:user_task' task.employee %}">
                {{task.employee.first_name}},{{task.employee.last_name}}
              </td>
              {% endif %}
              <td>
                  <a class="text-dark  text-decoration-none" 
                  data-toggle="tooltip" title="{{  task.description  }}"
                  href="{{ category.get_absolute_url }}">
                  {{  task.activity_name  }}
                  </a>
              </td>
              <td>{{task.group}}</td>
              <td>{{task.deadline}}</td>
              <td>{{task.submission|date:"F d, Y"}}</td>
              <td>{{task.point}}</td>
              <td>{{task.mxpoint}}</td>
              <td>{{task.mxearning}}</td>
              <td>{{task.get_pay}}</td>
              <td>
                <button>
                  <a href="{% url 'management:new_evidence' task.id %}">Button</a>
                </button>
              </td>
              {%if user.is_admin or user.is_superuser%}
              <td> <a class="article-title" href="{% url 'management:taskdetail' task.id %}">Edit</a></td>
              {%endif%}
          </tr>
          
        {% endfor %}

      </tbody>
    </table>
    <div class="no_data_text" style="width:100%;text-align:center;display:none">No data for the category. </div>
  </div>
</section>


<script>
  // siteurl = "http://localhost:8000"
  siteurl ="{{request.session.siteurl}}"

  function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');

  $('select').on('change', function() {
    $.ajax({
        type: "POST",
        url:  siteurl+"/management/tasks/filterbycategory",
        mode: 'cors',
        withCredentials: false, 
        headers: { 'Access-Control-Allow-Origin': '*', "X-CSRFToken": csrftoken },
        xsrfHeaderName: "X-CSRFToken",
        data : { category:this.value },
        success: function(result){
            
          
          var tasks = result["result"]
          console.log("result",result,tasks,tasks.length);
          var html = "";
          if(tasks.length == 0){
            $("#table_body_data").html("");
            $(".no_data_text").css("display","block")
          }
          else{
            $(".no_data_text").css("display","none")
            for( key in tasks){
              var key =  tasks[key]
              html += `<tr> <td><input type="checkbox" class="checkthis" /></td>`;
              employee_usertask_url = "{% url 'management:user_task' 123 %}".replace("123",key['employee'])
              if(key["first_name"] == "" || key["last_name"] == ""){
                html+=`<td> <a class="article-title" href="`+employee_usertask_url+`">`+key['employee']+`</a></td>`
              }
              else{
                html+=`<td> <a class="article-title" href="`+employee_usertask_url+`"><xmp>`+key['first_name']+`,`+key["last_name"]+`</xmp></a></td>`
              }
              html+=`<td><a class="text-dark  text-decoration-none" data-toggle="tooltip" title=`+key['description']+` href="">`+key["activity_name"]+`</a></td>`+
                    `<td>`+key['group']+`</td>`+
                    `<td>`+key['deadline']+`</td>`+
                    `<td>`+key['submission']+`</td>`+
                    `<td>`+key['point']+`</td>`+
                    `<td>`+key['mxpoint']+`</td>`+
                    `<td>`+key['mxearning']+`</td>`+
                    `<td>`+key['get_pay']+`</td>`+
                    `<td><button><a href="`+"{% url 'management:new_evidence' 123 %}".replace("123",key['id'])+`">Button</a></button></td>`+
                    `<td><a class="article-title" href="`+"{% url 'management:taskdetail' 123 %}".replace("123",key['id'])+`">Edit</a></td> </tr>`
              
            }
            $("#table_body_data").html(html);
          }
        }
    });
  });
</script>
{% endblock content %}
