{%extends "main/base_templates/base.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <h2>All Clients</h2>
    {% if user.is_active or user.is_superuser %}
    <a
      class="btn btn-secondary btn-sm mt-1 mb-1"
      href="{%url 'management:updatetask' object.id%}"
    >
      Update</a
    >
    <a
      class="btn btn-danger btn-sm mt-1 mb-1"
      href="{%url 'management:deletetask' object.id%}"
    >
      Delete</a
    >
    {% endif %}

    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
            <th>username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Submission</th>
            <th>Deadline</th>
            <th>time_remaining</th>
            
            <th>Task</th>
            <th>Points</th>
            <th>Max Points</th>
            <th>Max Earnings</th>
            <th>Earning</th>
        </tr>
      </thead>
      <tbody>
            <tr>
                <td>{{object.user}}</td>
                <td>{{object.user.first_name}}</td>
                <td>{{object.user.last_name}}</td>
                <td>{{object.submission|date:"F d, Y"}}</td>
                <td>{{object.deadline|date:"F d, Y"}}</td>
                <td>{{object.time_remaining}}</td>
                <td>{{object.activity_name}}</td>
                <td>{{object.point}}</td>
                <td>{{object.mxpoint}}</td>
                <td>{{object.mxearning}}</td>
                <td>{{object.get_pay}}</td>
            </tr>
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
