{%extends "main/base_templates/base.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">  
        <tr>
          <th>Check</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Task</th>
          <th>Group</th>
          <th>Slug</th>
          <th>Deadline</th>
          <th>Submission</th>
          <th>Points</th>
          <th>Maximum Points</th>
          <th>Maximum Earnings</th>
          <th>Earnings</th>
          <th>Evidence</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>

        {% for task in  object_list  %}
            <tr>

                <td><input type="checkbox" class="checkthis" /></td>
                <td>{{task.user.first_name}}</td>
                <td>{{task.user.last_name}}</td>
                <td>
                    <a class="text-dark  text-decoration-none" 
                    data-toggle="tooltip" title="{{  task.description  }}"
                    href="{{ category.get_absolute_url }}">
                    {{  task.activity_name  }}
                    </a>
                </td>
                <td>{{task.group}}</td>
                <td>{{task.slug}}</td>
                <td>{{task.deadline}}</td>
                <td>{{task.submission}}</td>
                <td>{{task.point}}</td>
                <td>{{task.mxpoint}}</td>
                <td>{{task.mxearning}}</td>
                <td>{{task.get_pay}}</td>
               <td>
                <button>
                  <a href="#" class="btn btn-secondary btn-sm"
                  >Button
                </a>
                </button>
              </td>
              <td> <a class="article-title" href="{% url 'management:taskdetail' task.id %}">Edit</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}