{%extends "main/base_templates/base.html"%} {% block content %}
{% load static %}
{% block title %}
<!----{% if department %}{{ department.name }}{% else %}activities{% endif %}----->
{% endblock %}
<!--------------------------Slider Section--------------------------------->
<!-------------------Our home services Section------------------------->
<!-------------------1. Our  Job Report Section------------------------->
<section id="data_training">

<div class="data_training text-center">
  <h3 class="title">WELCOME BACK {{user.first_name|upper }}</h3>
  <h3 class="title">{{time_remaining}}</h3>
  <p class="p text-center">We Value Your Time Here at CODA, you have been assigned <b>{{num_tasks}}</b> activities with <b>{{time_remaining}}</b> days left this month</p>
<div class="container-fluid mr-auto">
      <div class="row text-center">
                    <div class="col-md-2" id="bada">
                      <div class="card">
                        <div class="card-body">
                          <h5><b>Target</b></h5>
                          <hr/>
                          <i><h6>Ksh. {{GoalAmount}}</h6></i>
                          <hr/>
                          <i><p>Assigned Amount</p></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2" id="bada">
                      <div class="card">
                      <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                        <div class="card-body">
                          <h5><b>Earned</b></h5>
                          <hr/>
                          <i><h6>Ksh.{{total_pay}}</h6></i>
                          
                          <hr/>
                          <i><p>Keep making progress</p></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2" id="bada">
                      <div class="card">
                      <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                        <div class="card-body">
                          <h5><b>Pending</b></h5>
                          <hr/>
                          <i><h6>Ksh. {{paybalance}}</h6></i>
                          <hr/>
                          <i><p>Kindly complete more tasks</p></i>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-2" id="bada">
                      <div class="card">
                      <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                        <div class="card-body">
                          <h5><b>Points</b></h5>
                          <hr/>
                          <i><h6>{{Points}}/{{MaxPoints}} Points</h6></i>
                          <hr/>
                          <i><p>Completed {{Points}} with {{pointsbalance}} left </p></i>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-2" id="bada">
                      <div class="card">
                      <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                        <div class="card-body">
                          <h5><b>Net Income</b></h5>
                          <hr/>
                          <i><h6>Ksh.{{net}}</h6></i>
                          <hr/>
                          <i><p>Thank You!
                            
                           </p></i>
                           <!-- <a href="{% url 'management:user_payslip' user.username %}">More</a> -->
                           
                           <a href="{% url 'management:user_payslip' request.session.employee_name %}">More</a>
                           
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2" id="bada">
                      <div class="card">
                      <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                        <div class="card-body">
                          <h5><b>Benefits</b></h5>
                          <hr/>
                          <i><h6>Benefits & tips on Increasing Your Pay</h6></i>
                          <hr/>
                          <i><a href="{% url 'management:hr'%}">More</a></i>
                        </div>
                      </div>
                    </div>
      </div>


      
    </div> 
</div> 

</section>


<!----
<section id="career">
  <div class="career text-center">
    <!----
    <div  class="row">
      <div class="col">
        <div class="card card-body">
          <form method="get">
            {% csrf_token %}
            {{myFilter.form}}
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
---->
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">  
        <tr>
          <th>Check</th>
          <th>Task</th>
          <th>Deadline</th>
          <th>Submission</th>
          <th>Points</th>
          <th>Target Points</th>
          <th>Target Amount</th>
          <th>Earnings</th>
          <th>Evidence</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        {% for task in  tasks  %}
            <tr>
                <td><input type="checkbox" class="checkthis" /></td>
                <td>
                    <a class="text-dark  text-decoration-none" 
                    data-toggle="tooltip" title="{{  task.description  }}"
                    href="{{ category.get_absolute_url }}">
                    {{  task.activity_name  }}
                    </a>
                </td>
                <!--  <td>{{task.employee}}</td>
                <!--<td>{{task.group}}</td>-->
                <td>{{task.deadline|date:"F d, Y"}}</td>
                <td>{{task.submission|date:"F d, Y"}}</td>
                <td>{{task.point}}</td>
                <td>{{task.mxpoint}}</td>
                <td>{{task.mxearning}}</td>
                <td>{{task.get_pay}}</td>
               <td>
                <button>
                  <a href="{% url 'management:new_evidence' task.id %}">
                    Upload Evidence
                  </a>
                </button>
              </td>
              <!-- <td> <a class="article-title" href="https://docs.google.com/spreadsheets/d/1Uiz7k6uP6ifoyiWp073rwliPw1CqVFVJUbKGyqJ-58s/edit?pli=1#gid=0">Excel Evidence</a></td> -->
              <td> <a class="article-title" href="{% url 'management:userupdatetask' task.id %}">Edit</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}