<nav class="navbar navbar-expand-md navbar-dark bg-steel sticky-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="{% url 'management:dckdashboard' %}">DYC</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggle"
        aria-controls="navbarToggle"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'main:dc_layout' %}"
              >Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a class="dropdown-item" href="https://drive.google.com/file/d/1rJOH-2lBnrMdu121N2Q0LfH_WSyFQujd/view?usp=share_link
"
                >Global Governance</a
              >
              <a class="dropdown-item" href="https://docs.google.com/document/d/1yMhYvaR9qdz1NhN56zgXyot-c9uTaiN4kcArK_4j0qw/edit
"
              >County Governance</a
            >
            </div>
          </li>
  
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Diaspora TaskForce
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
              <a
                class="dropdown-item"
                href="https://docs.google.com/document/d/1n7rQo2EhSEcLbfYC8vy7pkgYvj78Fcgk/edit?usp=share_link&ouid=115037154650831613074&rtpof=true&sd=true
"
                >Health</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://docs.google.com/presentation/d/1nPqoFhLC62_O3ucBDo9hY2UcR8SRhWBs/edit?usp=share_link&ouid=115037154650831613074&rtpof=true&sd=true

"
                >Education</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://public.tableau.com/app/profile/coda2331/viz/DC48-KENYAREPORT22012023_V1/DC48Landingpage?publish=yes
"
                >Financial Report</a
              >
            </div>
          </li>
          {% if user.is_authenticated %}
          {% if user.is_admin or  user.is_employee or  user.is_superuser%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"  id="navbarDropDown" role="button" data-toggle="dropdown"
              >Reports</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                    <!-- <a class="dropdown-item" href="https://drive.google.com/file/d/1UsSmmJv5_83ZRegObGhgGE3C5eIJ-4E1/view"
                         target="" >Company Agenda</a >
                          <div class="dropdown-divider"></div> -->
                    <a class="dropdown-item" href="{% url 'main:finance' %}" 
                         target="" >Finance</a>
                          <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://public.tableau.com/shared/3HZWMYMB2?:display_count=n&:origin=viz_share_link"
                        target="_blank" >Finance Report</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'management:assess' %}"
                        target="" >Weekly Assessment </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'main:it' %}"
                            target="" >IT Department</a>
                </div>
          </li>
          {% endif %}
          {% endif %}
        </ul>
        <div class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"  id="navbarDropDown" role="button" data-toggle="dropdown"
              >Account</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                      {% if user.is_admin or user.is_superuser %}
                            <a class="dropdown-item" href="{% url 'management:companyagenda'%}" target="" >My Account</a >
                              <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'accounts:accounts-users'%}" target="" >Users</a>
                              <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'account-logout' %}" target="" >Logout</a>
                      {% else %}
                      <a class="dropdown-item" href="{% url 'finance:list-inflow'%}" target="" >My Account</a >
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'account-logout' %}" target="" >Logout</a>
                      {% endif %}
                </div>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"  id="navbarDropDown" role="button" data-toggle="dropdown"
              >Support</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                      {% if user.is_admin or  user.is_employee or  user.is_superuser %}
                            <a class="dropdown-item"href="{% url 'main:contact' %}" target="" >Help?</a >
                              <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'management:requirements-active' %}" target="" >Active Requirements</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1gTia0pMaLGDW7bBBTxTDcqnCA8sqCcrzKrKZEItWmH4/edit#gid=1318432858" target="_blank" >Excel Requirements</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1TsCcmsebLOONpiJRnyruG9iRS6sxzpxBFaSL_QnR3tU/edit#gid=965191431" target="_blank" >Requirements Justification</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'getdata:upload-data'%}" target="" >Data/Assets</a>
                                <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'getdata:generate-data'%}" target="" >Big Data</a>
                                <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'getdata:all_logs'%}" target="" >Logs</a>
                                <div class="dropdown-divider"></div>
                      {% else %}
                      <a class="dropdown-item" href="{% url 'main:contact' %}" target="" >Help?</a>
                      {% endif %}
                </div>
          </li>
          {% else %}
          <a class="nav-item nav-link" href="{% url 'main:dc_login' %}"
            >Login</a
          >
          <a class="nav-item nav-link" href="{% url 'main:dc_register' %}"
            >Register</a
          >
          {% endif %}
          {% if request.user.is_client or request.user.is_employee or request.user.is_applicant and request.user.is_authenticated  and request.user.customer_payment_history.payment_fees < 3000 %}
            <a class="nav-item nav-link" href="{% url 'finance:pay' %}"
            >Make Payment {{request.user.customer_payment_history.payment_fees}}</a>
          >
          {% else %}
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  
