{%extends "main/base_templates/base.html"%}
{% load mathfilters %}
{% block content %}
<section id="rating">
  <div class="rating text-center">
    <h2>Expense Report</h2>
    <hr>
  </div>
  <div class="row text-center">
    <div class="col-md-3 amount_msg" id="bada">
      <div class="card">
        <div class="card-body">
          <h5><b>Total Amount</b></h5>
          <hr/>
          <!-- <i><h6>{{GoalAmount}}</h6></i> -->
          <i><h6>Ksh.{{total_amt}}</h6></i>
          <hr/>
          <font size="-1"
          <i><p>Total amount</p></i>
          </font>
        </div>
      </div>
    </div>
    <div class="col-md-3 amount_msg" id="bada">
      <div class="card">
        <div class="card-body">
          <h5><b>Expenditure</b></h5>
          <hr/>
          <!-- <i><h6>{{GoalAmount}}</h6></i> -->
          <i><h6>Ksh.{{expenditure}}</h6></i>
          <hr/>
          <font size="-1"
          <i><p>Total Expenditure</p></i>
          </font>
        </div>
      </div>
    </div>

    <div class="col-md-3 amount_msg" id="bada">
      <div class="card">
        <div class="card-body">
          <h5><b>Balance</b></h5>
          <hr/>
          <i><h6>Ksh.{{balance_amount}}</h6></i>
          <hr/>
          <i><p>Balance Amount</p></i>
        </div>
      </div>
    </div>
    <div class="col-md-3 amount_msg" id="bada">
      <div class="card">
        <div class="card-body">
          <div class="row text-center">
              <p><a href="{% url 'finance:outflow_entry'%}" class="btn btn-secondary btn-sm"
                >Add Expense
              </a></p>
          </div>
          <div class="row text-center">
              <p>
                <a href="{% url 'finance:inflow-list'%}" class="btn btn-secondary btn-sm"
                >Cash Inflow Report
              </a>
            </p>
          </div>
        <hr/>
          <!-- <i><h6>{{GoalAmount}}</h6></i> -->
          <i><h6>Exchange Rate :KES.{{rate}}</h6></i>
        </div>
        </div>
      </div>
    </div>
  <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>Category</th>
          <th>Sender</th>
          <th>Receiver</th>
            <!-- <th>Phone</th> -->
            <!-- <th>Department</th> -->
            <!-- <th>Method</th>
            <th>period</th> -->
            <th>Quantity</th>
            <th>Amount</th>
            <!-- <th>Amount(Ksh)</th> -->
            <th>Paid by</th>
            <th>Receipt</th>
        </tr>
      </thead>
      <tbody>
        {% for transanction in transactions %}
        <tr>
          <td>
            <a class="text-dark  text-decoration-none" 
            data-toggle="tooltip" title="{{  transanction.description  }}"
            href="{{ category.get_absolute_url }}">
            {{transanction.category}}
            </a>
        </td>
        <td>
        <a class="article-title" href="{% url 'finance:userinflow' transanction.sender %}">
          {{transanction.sender.username}}
        </td>
           <td>{{transanction.receiver}}</td>
           <!-- <td>{{transanction.phone}}</td> -->
            <!-- <td>{{transanction.department}}</td> -->
          <!-- <td>{{transanction.method}}</td>
          <td>{{transanction.period}}</td> -->
          <!-- <td>{{transanction.payment_method}}</td> -->
          <td>{{transanction.qty}}</td>
          <td>{{transanction.amount}}</td>
          <!-- <td>{{transanction.qty|mul:transanction.amount}}</td>  -->
          <!-- <td>{{transanction.amount}}</td>  -->
          <!-- <td>{{amount_ksh}}</td>  -->
          <td>{{transanction.transaction_date|date:"n/d/Y"}}</td>
          <!-- <td> <a class="article-title" href="{{receipt_url}}">View Receipt</a></td> -->
          <!-- <td> <a class="article-title" href="{{receipt_url}}">View Receipt</a></td> -->
          <td> <a class="article-title" href="{{transanction.receipt_link}}">View Receipt</a></td>
          {%if user.is_admin or user.is_superuser%}
          <td> <a class="article-title" href="{% url 'finance:outflow-update' transanction.id %}">Edit</a></td>
          <td> <a class="article-title" href="{% url 'finance:outflow-delete' transanction.id %}">Delete</a></td>
          {%endif%}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}