
{% extends "main/base_templates/new_base.html" %} {% block content %}
<section id="job_market">
    <div class="job_market text-center">
        <h3 class="title">Getting into the Job Market</h3>
        <div class="row text-center">
        <div class="col-md-4 services">
            <!-- <img src="static/img/services/service1.png" class="service-img" >-->
            <h4>Application Process</h4>
            <p>
            We do offer tremendous assistance in the application process. Join and
            learn how experts do it.
            </p>
            <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
                >
                <button type="btn" class="btn-primary">Select</button>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" target="_blank" href="">Salary Negotiation(C2C/W2s)</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="https://docs.google.com/spreadsheets/d/1TAF0bplGXlR_wBTk3zg1eF_qd-spp3R0/edit#gid=700542120">Job Tracker(Recruiters)</a>
                </div>
            </li>
            </ul>
        </div>

        <div class="col-md-4 services">
            <!-- <img src="static/img/services/service1.png" class="service-img" >-->
            <h4>Networking</h4>
            <p>
            Work within a network,build a team and meet experienced professionals
            working in the field to respond to your questions.
            </p>
            <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
                >
                <button type="btn" class="btn-primary">Select</button>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/?utm_source=recordingReadyNotification&utm_medium=email#/s/2fffdd47b8bfd8f75447b76446a58475680b364d0d10c5e4c78ff46f155d6f22"><b>Guest Speaker:</b> VP Francis Umude</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/?utm_source=recordingReadyNotification&utm_medium=email#/s/fab36e736f62941d738b0f739d6be19ec0ed31bc08cefe63b5ea3fbf0dce5e9b"><b>Guest Speaker:</b> Data Analyst James Kontoh</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="#"><b>Guest Speaker:</b> Business Analyst Gladys Mwongo</a>
                </div>
            </li>
            </ul>
        </div>

        <div class="col-md-4 services">
            <!-- <img src="static/img/background/service1.png" class="service-img" >-->
            <h4>Interview Strategy</h4>
            <p>
            We will offer training in Job Interview. Please Join and get access to
            past audio interviews and questions
            </p>
            <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
                >
                <button type="btn" class="btn-primary">Select</button>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href=" https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.gb867311a18_3_7">1. PPT Resume</a>
                <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/#/s/6a888eb578c472c2789dbad091444ac0d47978314241d6e6c68d53c5db893695">2. Video. Resume</a>
                <a class="dropdown-item" target="_blank" href="https://docs.google.com/document/d/17RxXz8c5bjX9OrdbWR97qpoM4P-zqVgweOpNY4-CsnA/edit#">3. Sample Resume</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href=" https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.gb867311a18_3_7">1. PPT: Project Story</a>
                <a class="dropdown-item" target="_blank" href="https://transcripts.gotomeeting.com/#/s/48bd0a617e040748be484cf499954110f1ef8d378cef80b179b289e17fab322c">2. Video: Project Story</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="https://docs.google.com/document/d/1GZZ_6ME1QI-4zeHt0cQ1lNrztSTKKp5-D7K0ytOXgh8/edit#heading=h.gjdgxs">1. PPT : Introduction</a>
                <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/15-82jaqBrXW21SoLJ5QNvGmltOrekv8F/view">2. Video. Introduction</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href=" https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.gb867311a18_3_7">1. PPT:Performance Tuning</a>
                <a class="dropdown-item" target="_blank" href=" https://transcripts.gotomeeting.com/#/s/48bd0a617e040748be484cf499954110f1ef8d378cef80b179b289e17fab322c">2. Video:Performance Tuning</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="#">1. PPT   : Agile vs Waterfall</a>
                <a class="dropdown-item" target="_blank" href="#">2. Video : Agile vs Waterfall</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href=" https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.gb867311a18_3_7">1. PPT   : SDLC</a>
                <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1PeimUo4HfKZaDKuuZkDXMn0hCHNdfq2u/view?usp=sharing">2. Video : SDLC</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href=" https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.gb867311a18_3_7">1. PPT   : Testing</a>
                <a class="dropdown-item" target="_blank" href="#">2. Video : Testing</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="#">1. PPT   : Environment</a>
                <a class="dropdown-item" target="_blank" href="#">2. Video : Evenvironment</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="https://docs.google.com/presentation/d/16lEz7t6fEMLmnelYC43RZEQedc810y7a/edit#slide=id.p1">1. ppt :End to End Interview</a>
                <a class="dropdown-item" target="_blank" href="https://us02web.zoom.us/rec/play/5ZRVtNlJl_e_YcgCaxGvWAyI7YFde-tXqqLjtvGO5Tj9QoG2PpSSOsJ8uW4Qp_Y5jNxOpNoQPfQsbMch.Gg2Jw9_nf8K6N7nN?continueMode=true&_x_zm_rtaid=cOAhJIf_SyKckoSoC3qrkA.1621398576855.7982fa9aad96328e8c548bb80b53f7fa&_x_zm_rhtaid=672">2. End to End</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="https://docs.google.com/spreadsheets/d/13hZNxQ7HdHZ-gEusOCv_9clOKocDlcgw5s1wEiwdasY/edit#gid=1526948344">6. Dataset-Interview Questions</a>
                <a class="dropdown-item" target="_blank" href="https://public.tableau.com/app/profile/coda2331/viz/CodaInterviewQuestions/InterviewDashboard">7. Interview Workbook</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="https://app.box.com/folder/75616426882">5. Mock Interview</a>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="https://us02web.zoom.us/rec/share/G6HG6E-UFuuR8Z7IeIJPmQYpQS_bFwqDsUNr2MbBIGdq3obWEuqlFzxm_oWvWaeZ.uGhlVl3Dy35qBYgJ">5. Mock Interview</a>
                <p>J*i0YMvJ</p>
                </div>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="https://us02web.zoom.us/rec/play/5ZRVtNlJl_e_YcgCaxGvWAyI7YFde-tXqqLjtvGO5Tj9QoG2PpSSOsJ8uW4Qp_Y5jNxOpNoQPfQsbMch.Gg2Jw9_nf8K6N7nN?continueMode=true&_x_zm_rtaid=cOAhJIf_SyKckoSoC3qrkA.1621398576855.7982fa9aad96328e8c548bb80b53f7fa&_x_zm_rhtaid=672">Managing Field Project</a>
                <p>z31k9@X6</p>
                </div>

                https://us02web.zoom.us/rec/play/5ZRVtNlJl_e_YcgCaxGvWAyI7YFde-tXqqLjtvGO5Tj9QoG2PpSSOsJ8uW4Qp_Y5jNxOpNoQPfQsbMch.Gg2Jw9_nf8K6N7nN?continueMode=true&_x_zm_rtaid=cOAhJIf_SyKckoSoC3qrkA.1621398576855.7982fa9aad96328e8c548bb80b53f7fa&_x_zm_rhtaid=672
                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href=" https://transcripts.gotomeeting.com/#/s/7dc9bc1578680027d2ec28bcd7b33b6621817a597886ef944af8caa1f1361f78">Powerful Testimonies</a>
                </div>
               
            </li>
            </ul>
        </div>
        </div>
        </div>
    </section>

    {% endblock content %}