{%extends "main/base_templates/analysis_index.html"%} {%load crispy_forms_tags%}
{%block content %}
<div class="content-section">
  <form method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom  text-center">
        <p class="lead font-italic mt-4  text-center text-color:white">
            .
        </p>
        <p class="lead font-italic mt-4  text-center">
            CREDENTIALS
        </p>
      </legend>
      <div class="row text-center">
        <div class="col-md-6" id="bada">
          <div class="card">
          <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
            <div class="card-body">
              <h5><b>Enter Department</b></h5>
              <div class="row">
                <!-- fields = ['category','name', 'slug','description','password','link_name','link','is_active','is_featured'] -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" id="bada">
          <div class="card">
          <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
            <div class="card-body">
              <h5><b>SUBCATEGORY</b></h5>
              <hr/>
              <div class="row">
              </div>
            </div>
          </div>
        </div>
</div>
<hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
      <div class="row">
        <div class="col-md-3">{{ form.category|as_crispy_field }}</div>
        <div class="col-md-3">{{ form.name|as_crispy_field }}</div>
        <div class="col-md-3">{{form.slug|as_crispy_field }}</div>
        <div class="col-md-3">{{form.added_by|as_crispy_field }}</div>
      </div>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
      <div class="row">
          <div class="col-md-4">{{ form.description|as_crispy_field }}</div>
          <div class="col-md-4">{{ form.link|as_crispy_field }}</div>
          <div class="col-md-4">{{form.password|as_crispy_field }}</div>
        </div>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
      <div class="row">
        <div class="col-md-4">{{ form.link_name|as_crispy_field }}</div>
        <div class="col-md-4">{{ form.is_active|as_crispy_field }}</div>
        <div class="col-md-4">{{form.is_featured|as_crispy_field }}</div>
      </div>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock content%}





