{%extends "main/base_templates/new_base.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <!-- "employee_categories":employee_categories,
    "active_employees":active_employees, -->
    {% for subcategory in  employee_subcategories  %}
       
        <div class="col-md-12">
          <p><a href="#" class="btn btn-primary btn-sm">
            {% if subcategory == 1 %}
            FULL TIME
            {% elif subcategory == 2 %} 
            CONTRACTUAL
            {% else %} 
            AGENT
            {% endif %} 
          </a></p>
        </div>
        <h2 class="title"></h2>
    <hr>
    <table class="table table-borderless">
      {% include 'main/snippets_templates/table/empheaders.html' with instance=employee %}
      {% for employee in active_employees %}
          {% if employee.sub_category == subcategory %}
          {% include 'main/snippets_templates/table/emptable.html' with instance=employee %}
          {% endif %} 
      {% endfor %}
    </table>
    {% endfor %}
  </div>
</section>
{% endblock content %}
