{%extends "main/base_templates/new_base.html"%} {% load mathfilters %} {% block content %}

<div class="text-center">
  <h2>YOUR PORTFOLIO</h2>
</div>

<div class="col" style="padding: 10px;">
  <div class="card cardbody">
    <form class="row" method="get">
      <div class="col-md-6">
        {{filter.form}}
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
      <div class="col-md-6 d-flex justify-content-end align-items-center">
        <a href="{% url 'investing:portfoliocreate' %}" class="btn btn-primary ml-2">Create</a>
      </div>
    </form>
  </div>
</div>


</div>
{% if hide_summary %}
  <div class="container-fluid mr-auto">
    <div class="row text-center">
                      <div class="col-md-2 amount_msg" id="bada">
                        <div class="card">
                          <div class="card-body">
                            <h5><b>Buying Power</b></h5>
                            <hr/>
                            <!-- <i><h6>{{GoalAmount}}</h6></i> -->
                            <i><h6>{{total_amount}}</h6></i>
                            <hr/>
                            <i><p>your balance</p></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2" id="bada">
                        <div class="card">
                        <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                          <div class="card-body">
                            <h5><b>Invested Amount</b></h5>
                            <hr/>
                            <i><h6>{{invested_amount}}</h6></i>
                            
                            <hr/>
                            <i><p>Keep investing</p></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2" id="bada">
                        <div class="card">
                        <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                          <div class="card-body">
                            <h5><b>Remaining Buying Power</b></h5>
                            <hr/>
                            <i><h6>{{remaining_amount}}</h6></i>
                            <hr/>
                            <font size="-1">
                            <i><p>saved amount</p></i>
                          </font>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-2" id="bada">
                        <div class="card">
                        <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                          <div class="card-body">
                            <h5><b>Max Investment Amount</b></h5>
                            <hr/>
                            <font size="-1">
                              <i><h6>{{threshold_amount}}</h6></i>
                              <hr/>
                              <i><p>your investment threshold:({{investment_threshold}} %)</p></i>
                              
                            </font>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-2 point_msg" id="bada" data-toggle="tooltip">
                        <div class="card">
                          <div class="card-body">
                            <h5><b>Total Theta</b></h5>
                            <hr/>
                            <i><h6>{{total_theta}}</h6></i>
                            <hr/>
                            <i><p> total theta formula: sum of(particular symbol theta * 100 * number_of_contract) 
                            </p></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2" id="bada">
                        <div class="card">
                          <div class="card-body">
                            <h5><b>Total delta</b></h5>
                            <hr/>
                            <i><h6>{{total_delta}}</h6></i>
                            <hr/>
                            <i><p>total delta formula: sum of(particular symbol delta * 100 * number_of_contract) </p></i>
                          </div>
                        </div>
                      </div>
    </div> 
  </div> 
{% endif %}
<section id="career">
  <div class="career text-center">
    {% if portfolio.count == 0 %}
    NO DATA
    {% else %}
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
            {% if user.is_superuser %}
            <th>user</th>
            {% endif %}
            <th>symbol</th>
            <th>industry</th>
            <th>action</th>
            <th>strategy</th>
            <th>amount/cost</th>
            <th>Max Reward</th>
            <th>Exit_Reward</th>
            <th>Rank</th>
            <th>expiry</th>
            <th>earnings_date</th>
            <th>condition</th>
            <th>Update</th>
        </tr>
      </thead>
      <tbody>
       
        {% for obj in portfolio %}
            <tr>
                {% if user.is_superuser %}
                <td><a href="{% url 'investing:my_portfolio' %}?username={{obj.user.username}}">{{obj.user}}</a></td>
                {% endif %}
                <td><a class="text-dark  text-decoration-none" 
                  data-toggle="tooltip" title="{{  obj.comment  }} : {{obj.on_date}}" href=""
                >{{obj.symbol}}</a>
                </td>
                <td>{{obj.industry}}</td>
                <td>{{obj.action}}</td>
                <td>{{obj.strategy}}</td>
                <td>{{obj.amount}}</td>
                <!-- <td>{{obj.returns}}</td> -->
                <td>{{obj.max_reward}}</td>
                {% if obj.strategy == 'debit' %}
                <td>{{ obj.max_reward|mul:0.30 }}</td>
                {% else %}
                <td>{{ obj.max_reward|mul:0.50 }}</td>
                {% endif %}
                <!-- {% if obj.strategy != 0 %}
                <td>{{obj.returns}}</td>
                {% endif %} -->
                <td>{{obj.implied_volatility_rank}}</td>
                <td>{{obj.expiry}}</td>
                <td>{{obj.earnings_date}}</td>
                <td>{{obj.condition_name}}</td>
                <td><a class="article-title" href="{% url 'investing:portfolioupdate' obj.symbol %}?model={{obj.strategy}}">Edit</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>

</section>
{% endblock content %}
