{%extends "investing/index.html"%} {% block content %}
<!--------------------------Slider Section--------------------------------->
<!-------------------Our Services Section------------------------->

<section id="service">
  <div class="service text-center">

    <div class="row text-center">
      <div class="col-md-12">
        <div class="img-top">
          <img src="\media\investing\investing_v2.jpg" 
          class="d-block img-fluid"
          alt="home1"
          >
          <div class="centered">
              <h2>FINANCIAL INVESTMENT</h2>
              <p>We Teach, You Invest, You Grow!
              <p></p>
                <li></li><a href="/register" target="_blank">
                  <button type="button" class="btn btn-primary">Join Today</button>
              </a>
          </div>
        </div>
      </div>

      </div>
    </div>
</section>

<!-------------------FINANCIAL EDUCATION Section------------------------->

<section id="service">
  <div class="service text-center">
    <div class="title">
      <h3 >WHAT WE TEACH </h3>
      <p>
        We teach Investing Strategies. You set your strategy at your own manageable risk tolerance level.Repeat!
      </p>
    </div>
 
    <div class="row text-center">
      <div class="col-md-8">
        <div class="img-bottom-left">
          <img src="\media\investing\investing_v1.jpg" 
          class="d-block img-fluid"
          alt="home1"
          >
          <div class="centered">
              <h2>Incoming Gerating Strategies</h2>
              <p>Sign up to take this class for just $ 1499
              <p></p>
              <a href="/register" target="_blank">
                  <button type="button" class="btn btn-primary">Join Today</button>
              </a>
          </div>
        </div>
      </div>
      <div class=" col-md-4">
        <h5><b>Elementary</b></h5> 
        <ul>
          <li><a class="invest-link" href="/service">1. Investing in Stocks</a></li>
          <li><a class="invest-link" href="/">2. The power of covered Calls</a></li>
          <li><a class="invest-link" href="/">3. Cash Secured Put Strategy</a></li>
        </ul>
      
        <hr/>
          <h5><b>Advanced Level</b></h5> 
          <ul>
            <li><a class="invest-link" href="/register">1. The Wheel Strategy</a></li>
            <li><a class="invest-link" href="/">2. Radioactive Trading</a></li>
            <li><a class="invest-link" href="/">3. Credit Spreads</a></li>
          </ul>
        <hr/>
          <h5><b>Access videos</b></h5> 
          <ul>
            <li><a class="invest-link" href="/service">Introduction to Stocks</a></li>
            <li><a class="invest-link" href="/">Covered Calls & Cash Secured Puts</a></li>
            <li><a class="invest-link" href="/">Learn Cash Secured Put Strategy</a></li>
          </ul>
    </div>

    </div>
  </div>
</section>


<section id="footer">
    <div class="footer">
        <footer>
            <h4>Trademark | Company Policy | Contracts | Specifications</h4>
            </h4>
        </footer>
    </div>
    <div class="f_Color">
        <div class="container text-center">
            <!--- <h3 class="title">BA & PROJECT MANAGEMENT</h3> -->
            <div class="row text-center">
                <div class="col-md-3 ">
                    <!-- <img src="static/img//service1.png" class="service-img" >-->
                    <h5>About Us</h5>
                    <ul>
                       <li> <a class="footer-link" href="/service">Meet the service</a></li>
                          <li><a class="footer-link" href="/">Partners</a></li>
                          <li><a class="footer-link" href="/">Location</a></li>
                          <li><a class="footer-link" href="/">Our Network</a></li>
                          <li><a class="footer-link" href="/">Connect</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                    <h5>Core Services</h5>
                          <li><a class="footer-link" href="/">Training</a></li>
                          <li><a class="footer-link" href="/">Project Management</a></li>
                          <li><a class="footer-link" href="/">Job Networking</a></li>
                          <li><a class="footer-link" href="/">Recruitment</a></li>
                          <li><a class="footer-link" href="/">Resume Prep</a></li>
                </div>
                <div class="col-md-3 services">
                    <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                    <h5>Technologies</h5>
                          <li><a class="footer-link" href="https://www.youtube.com/watch?v=gWZtNdMko1k&list=PLWPirh4EWFpGXTBu8ldLZGJCUeTMBpJFK">Tableau</a></li>
                          <li><a class="footer-link" href="/">SQL</a></li>
                          <li><a class="footer-link" href="/">Python</a></li>
                          <li><a class="footer-link" href="https://www.youtube.com/watch?v=6DZ7YVeCeqg">Alteryx</a></li>
                          <li><a class="footer-link" href="/">Advanced Excel</a></li>
                </div>
                <div class="col-md-3">
                    <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                    <h5>More Resources</h5>
                          <li><a class="footer-link" target="_blank"
                            href="https://www.youtube.com/watch?v=RbWCBz5fBBw&list=PL5nViEmyYI0ZpbH5jjFPvMZVDDPqvd080">Business
                            Analysis</a></li>
                          <li><a class="footer-link" target="_blank"
                            href="https://public.tableau.com/en-us/s/resources">Tableau Resources</a></li>
                          <li><a class="footer-link" target="_blank"
                            href="https://www.youtube.com/watch?v=ZNObiptSMSI&list=PL08903FB7ACA1C2FB"> SQL by Venkat</a></li>
                          <li><a class="footer-link" target="_blank"
                            href="https://www.youtube.com/watch?v=YYXdXT2l-Gg&list=PL-osiE80TeTt2d9bfVyTiXJA-UTHn6WwU" target="_blank">Python by Corey</a></li>
                          <li><a class="footer-link" href="www.w3schools.com">General Links(w3schools)</a></li>
                </div>
            </div>
        </div>
    </div>
  </section>

{% endblock content %}
