{%extends "main/base_templates/base.html"%} {% block content %}
<!-------------------Our Services Section------------------------->
<!-------------------Trade Management Section------------------------->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h2 class="display-6">Course Overview</h2>
    </div>
    <hr/>
    <div class="col-12">
      <p class="lead">
          This Course will be held on Saturday & Sunday from 10AM-3PM EST.We will be covering the topics below.
      </p>
    </div> 
  </div> 
  </div>

<section id="training">
 <div class="container-fluid padding">
  <div class="row padding text-center">
    <div class="col-md-4" id="gi">
      <div class="card">
       <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
        <div class="card-body">
          <h4><b>General Introduction</b></h4>
          <hr/>
          <p class="gi">
           Stocks & Option Trading & factors for opening broakearage account.
          </p>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" target="_blank" href="https://docs.google.com/document/d/1Re8Dw6h0HfyILyuKbklqyJLoVabIRjy7NwBjQo-d55c/edit">Course Overview</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="#">Investors Details</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="#">Powerpoint Presentation</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="#">Video 1: Introduction</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="#">Your Assignments</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="col-md-4" id="fina">
      <div class="card">
        <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
        <div class="card-body">
          <h4><b>Pychology of Trading</b></h4>
          <hr/>
          <p class="fi">
            The most important topic of all time: The Psychology of Trading.
          </p>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" target="_blank" href="#">Pychology of Trading</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="#">Pychology of Trading</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="col-md-4" id="cota">
      <div class="card">
        <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
        <div class="card-body">
          <h4><b>Tools: Stocks/Options</b></h4>
          <hr/>
          <p class="co">
            Tools that are utilized to make trading easier for investors.
          </p>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item"  href="https://robinhood.com/stocks/9f1399e5-5023-425a-9eb5-cd3f91560189/chart">MCD,RSI</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1pQ2wX7nLOjCIi1g8KaavuFm79xpZSgSm/view">Option Play</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="https://www.optionsprofitcalculator.com/calculator/">Option Calculator </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" target="_blank" href="https://robinhood.com/">Robinhood</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
<!-------------------Strategies Section------------------------->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h2 class="display-6">Option Strategies</h2>
    </div>
    <hr/>
    <div class="col-12">
      <p class="lead">
          The more you know them, the better equipped you are to control the market.
      </p>
    </div> 
  </div> 
  </div>

    <section id="training">
      <div class="container-fluid padding">
       <div class="row padding text-center">
         <div class="col-md-4" id="cc">
           <div class="card">
            <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
             <div class="card-body">
               <h4><b>CC & CSPs</b></h4>
               <hr/>
               <p>
                 Basic Strategies of options trading: Naked Calls/Puts.
               </p>
               <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href=""
                    id="navbarDropDown"
                    role="button"
                    data-toggle="dropdown"
                  >
                    <button type="btn" class="btn-primary">Select</button>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                    <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=zpQFFMp8HgI">Introduction to Options</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=-BqepSCjGms">Long/Short Call & Put</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=siFsIleNTzk">Wheel Strategy</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=LmqbVg9zqjQ">Poor Man's Covered Call</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=9KuLA95kqzk">Radioactive Trading</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=BuvJB72CYi0">Cheat Sheet</a>
                  </div>
                </li>
              </ul>
             </div>
           </div>
         </div>
         <hr>
         <div class="col-md-4" id="fina">
           <div class="card">
             <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
             <div class="card-body">
               <h4><b>Spreads</b></h4>
               <hr/>
               <p class="fi">
                Learn the power of option spreads to optimize your returns.
               </p>
               <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href=""
                    id="navbarDropDown"
                    role="button"
                    data-toggle="dropdown"
                  >
                    <button type="btn" class="btn-primary">Select</button>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                    <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=dPwEl8d6LrI">Credit Spreads</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=dPwEl8d6LrI">Debit Spreads</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=E9J7nNpR_rM">Calendar Spread</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=E9J7nNpR_rM">Diagonal Spread</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=PRTAUm6qixg">Cheat Sheet</a>
                  </div>
                </li>
              </ul>
             </div>
           </div>
         </div>
         <hr>
         <div class="col-md-4" id="tools">
           <div class="card">
             <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
             <div class="card-body">
               <h4><b>Advanced Spreads</b></h4>
               <hr/>
               <p class="co">
               Advanced strategies gives a trader the ability to fly.Get started!
               </p>
               <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href=""
                    id="navbarDropDown"
                    role="button"
                    data-toggle="dropdown"
                  >
                    <button type="btn" class="btn-primary">Select</button>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                    <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=6UOk_78nVio">Iron Condor</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=NgpLxQChNmQ">Collar</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=74btEDpZOgU">Straddle & Strangle</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=tmDBN5of89U">Butterfly</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=PRTAUm6qixg">Cheat Sheet</a>
                  </div>
                </li>
              </ul>
             </div>
           </div>
         </div>
         </div>
       </div>
     </section>
<!-------------------Trade Management Section------------------------->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h2 class="display-6">Trade Management</h2>
    </div>
    <hr/>
    <div class="col-12">
      <p class="lead">
          Without managing your trade, you are trading blind.
      </p>
    </div> 
  </div> 
  </div>

     <section id="training">
      <div class="container-fluid padding">
       <div class="row padding text-center">
         <div class="col-md-4" id="cc">
           <div class="card">
            <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
             <div class="card-body">
               <h4><b>Exit Strategies</b></h4>
               <hr/>
                <p>Use known parameters to Enter/Exit a trade/Option</p>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href=""
                      id="navbarDropDown"
                      role="button"
                      data-toggle="dropdown"
                    >
                      <button type="btn" class="btn-primary">Select</button>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                      <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=pB96T0ciL5g">Size of Portifolio</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=kr2WQ53LTsQ">RSI Indicators</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=MXfRxbPNAKM">Stop Loss</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" target="_blank" href="#">Cheat Sheet</a>
                    </div>
                  </li>
                </ul>
             </div>
           </div>
         </div>
         <hr>
         <div class="col-md-4" id="fina">
           <div class="card">
             <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
             <div class="card-body">
               <h4><b>Tips & Tricks</b></h4>
               <hr/>
               <p>The Speciality's Way.No one does it better than the coach</p>
               <ul class="navbar-nav ml-auto">
                 <li class="nav-item dropdown">
                   <a
                     class="nav-link dropdown-toggle"
                     href=""
                     id="navbarDropDown"
                     role="button"
                     data-toggle="dropdown"
                   >
                     <button type="btn" class="btn-primary">Select</button>
                   </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                     <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=GQ5zjG05hf8">High Volatile Stocks-Debit Spreads</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=3T0Gi-jqt28">Neutral-Bullish-Credit Spreads</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=HNYavABueuo">Wheel Strategy-Stock Familiarity</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" target="_blank" href="#">Cheat Sheet</a>
                   </div>
                 </li>
               </ul>
             </div>
           </div>
         </div>
         <hr>
         <div class="col-md-4" id="tools">
           <div class="card">
             <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
             <div class="card-body">
               <h4><b>Key References</b></h4>
               <hr/>
               <p>Are you a Bull,Hog or a bear? Know the difference.</p>
               <ul class="navbar-nav ml-auto">
                 <li class="nav-item dropdown">
                   <a
                     class="nav-link dropdown-toggle"
                     href=""
                     id="navbarDropDown"
                     role="button"
                     data-toggle="dropdown"
                   >
                     <button type="btn" class="btn-primary">Select</button>
                   </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                     <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=GQ5zjG05hf8">High Volatile Stocks-Debit Spreads</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=3T0Gi-jqt28">Neutral-Bullish-Credit Spreads</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=HNYavABueuo">Wheel Strategy-Stock Familiarity</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" target="_blank" href="#">Cheat Sheet</a>
                   </div>
                 </li>
               </ul>
             </div>
           </div>
         </div>
         </div>
       </div>
     </section>
{% endblock content %}
