<section id="service">
    <div class="service text-center">
      <h3 class="title">OUR SPECIALIZATION</h3>
      <div class="row text-center">
  
        <div class="col-md-3">
          <img
            src="..\media\background\commitment_v1.jpg"
            class="team-img"
            width="100px"
            height="150px"
          />
          <h3>COVERED CALLS</h3>
          <p>
            Selling covered calls and collection of Premium
  
          </p>
          <a href="#" target="_blank">
            <button type="button" class="btn btn-primary">Learn Covered Call</button>
          </a>
        </div>
  
         <div class="col-md-3">
                <img
                  src="..\media\background\commitment_v1.jpg"
                  class="team-img"
                  width="100px"
                  height="150px"
                />
                <h3>CASH SECURED PUTS</h3>
                <p>
                  Selling a Put and collect premium and a cash collateral is held till expiration..
  
                </p>
                <a href="#" target="_blank">
                  <button type="button" class="btn btn-primary">Cash Secured Puts</button>
                </a>
              </div>
  
  
       <div class="col-md-3">
                <img
                  src="..\media\background\commitment_v1.jpg"
                  class="team-img"
                  width="100px"
                  height="150px"
                />
                <p>
                  A combination of the Cash Secured Puts and Covered Call Strategy.Click to see how it is done!
  
                </p>
                <a href="#" target="_blank">
                  <button type="button" class="btn btn-primary">Wheel Strategy</button>
                </a>
        </div>
  
        
       <div class="col-md-3">
        <img
          src="..\media\background\commitment_v1.jpg"
          class="team-img"
          width="100px"
          height="150px"
        />
        <h3>Radioactive Trading</h3>
        <p>
          This is a married Put. Idea is buy the shares with insurance via put purchase.Understand it!
  
        </p>
        <a href="#" target="_blank">
          <button type="button" class="btn btn-primary">Radioactive Trading</button>
        </a>
  </div>
        </div>
  
  
        <div class="row text-center">
  
          <div class="col-md-3">
            <img
              src="..\media\background\commitment_v1.jpg"
              class="team-img"
              width="100px"
              height="150px"
            />
            <h3>COVERED CALLS</h3>
            <p>
              Selling covered calls and collection of Premium
    
            </p>
            <a href="#" target="_blank">
              <button type="button" class="btn btn-primary">Learn Covered Call</button>
            </a>
          </div>
    
           <div class="col-md-3">
                  <img
                    src="..\media\background\commitment_v1.jpg"
                    class="team-img"
                    width="100px"
                    height="150px"
                  />
                  <h3>CASH SECURED PUTS</h3>
                  <p>
                    Selling a Put and collect premium and a cash collateral is held till expiration..
    
                  </p>
                  <a href="#" target="_blank">
                    <button type="button" class="btn btn-primary">Cash Secured Puts</button>
                  </a>
                </div>
    
    
         <div class="col-md-3">
                  <img
                    src="..\media\background\commitment_v1.jpg"
                    class="team-img"
                    width="100px"
                    height="150px"
                  />
                  <p>
                    A combination of the Cash Secured Puts and Covered Call Strategy.Click to see how it is done!
    
                  </p>
                  <a href="#" target="_blank">
                    <button type="button" class="btn btn-primary">Wheel Strategy</button>
                  </a>
          </div>
    
          
         <div class="col-md-3">
          <img
            src="..\media\background\commitment_v1.jpg"
            class="team-img"
            width="100px"
            height="150px"
          />
          <h3>Radioactive Trading</h3>
          <p>
            This is a married Put. Idea is buy the shares with insurance via put purchase.Understand it!
    
          </p>
          <a href="#" target="_blank">
            <button type="button" class="btn btn-primary">Radioactive Trading</button>
          </a>
    </div>
          </div>
  
          
      </div>
  </section>
  
  
  <section id="service">
    <div class="service text-center">
      <h3 class="title">OUR SPECIALIZATION</h3>
      <!--------------------------WHY US Section--------------------------------->
  <div id="slider">
    <div id="headerSlider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#headerSlider" data-slide-to="0" class="active"></li>
          <li data-target="#headerSlider" data-slide-to="1"></li>
          <li data-target="#headerSlider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          
          <div class="carousel-item active">
            <img src="..\media\background\why_v3.jpg" 
            class="d-block img-fluid"
            width="1500px"
            alt="home1"
            >
            <div class="carousel-caption">
                <h2>Customer Relationships</h2>
                <p>Building Customer Relationships is our number one priority.
                <p></p>
                <!--
                <a href="#" target="_blank">
                    <button type="button" class="btn btn-primary">Explore Why</button>
                </a>
                -->
            </div>
          </div>
  
          <div class="carousel-item">
            <div class="row text-center">
             
              <div class="col-md-3">
                <img
                  src="..\media\background\cost_v1.jpg"
                  class="team-img"
                  width="100px"
                  height="150px"
                />
                <h3>Cost Effectiveness</h3>
                <p>
                 You get all you need to know in investment,and Data Analysis Courses for just $2999.
                </p>
                <a href="{% url 'main-coach_profile' %}" target="_blank">
                  <button type="button" class="btn btn-primary">Sign Up!</button>
                </a>
              </div>
              <div class="col-md-3">
                <img
                  src="..\media\background\delivery_v1.jpg"
                  class="team-img"
                  width="100px"
                  height="150px"
                />
                <h3>We Deliver</h3>
                <p>
                  Utilization of Agile methodology to deliver high quality services to our customers.
                </p>
                <a href="{% url 'data-financialsystem' %}" target="_blank">
                  <button type="button" class="btn btn-primary">See Our deliverables</button>
                </a>
              </div>
              <div class="col-md-3">
                <img
                  src="..\media\background\teamwork_v1.jpg"
                  class="team-img"
                  width="100px"
                  height="150px"
                />
                <h3>Team Work</h3>
                <p>
                 Over 20 years of experience in all our services.You can trust the quality of our work.
                </p>
                <a href="{% url 'main-team' %}" target="_blank">
                  <button type="button" class="btn btn-primary">Meet the team</button>
                </a>
              </div>
            </div>
          </div>
  
          
        </div>
        <a class="carousel-control-prev" href="#headerSlider" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#headerSlider" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  
        
  
      </div>
  
  </div>
  </section>
  
  <!-------------------CONTACT US------------------------->
  
  <section id="service">
    <div class="service text-center">
      <h3 class="title">CONTACT US</h3>
      <p>
        We Would Love to Hear From You!
       </p>
  <hr/>
        <div class="row text-center">
          <div class="col-md-3">
            <h3>Call Us</h3>
            <img
              src="..\media\icons\phone_v1.jpg"
              class="team-img"
              width="100px"
              height="100px"
            />
            <p>
             4174137966/18122002265
            </p>
          </div>
          <div class="col-md-3">
            <h3>Email</h3>
            <img
              src="..\media\icons\email_v1.jpg"
              class="team-img"
              width="100px"
              height="100px"
            />
           
            <p>
              info@codanalytics.net
              Coachofanalytics@gmail.com
            </p>
          </div>
          <div class="col-md-3">
            <h3>Social Media</h3>
            <img
              src="..\media\icons\facebook_v1.jpg"
              class="team-img"
              width="100px"
              height="100px"
            />
            <a href="#" target="_blank"> <p>Vist US</p>  </a>
          </div>
          <div class="col-md-3">
            <h3>Address</h3>
            <img
              src="..\media\icons\phone_v1.jpg"
              class="team-img"
              width="100px"
              height="100px"
            />
      
            <p>
              3557 W Rockwood St,
              Springfield,MO,65807
            </p>
          </div>
        </div>
      </div>
  </section>
  