{% load static %}
<!-------------------Footer------------------------->
<div class="container-fluid padding" id="footer">
    <div class="row text-left">
        <div class="col-md-3">
          <hr class="light">
          <h5>About Us</h5>
          <hr class="light">
          <ul>
              <li> <a class="footer-link" href="/service">Meet the service</a></li>
              <li> <a class="footer-link" href="/">Partners</a></li>
              <li> <a class="footer-link" href="/">Location</a></li>
              <li> <a class="footer-link" href="/">Our Network</a></li>
              <li> <a class="footer-link" href="/">Connect</a></li>
          </ul>
        </div>
  
        <div class="col-md-3">
          <hr class="light">
          <h5>Consultancy Services</h5>
          <hr class="light">
          <ul>
            <li>  <a class="footer-link" href="/">Business Management</a></li>
            <li>  <a class="footer-link" href="/">Field Projects</a></li>
            <li>  <a class="footer-link" href="/">Plot Surverys</a></li>
            <li>  <a class="footer-link" href="/">Errands</a></li>
            <li>  <a class="footer-link" href="/">Other</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <hr class="light">
          <h5>BI Training</h5>
          <hr class="light">
          <ul>
            <li>  <a class="footer-link" href="/">Data Analysis Training</a></li>
            <li>  <a class="footer-link" href="/">Project Management</a></li>
            <li>  <a class="footer-link" href="/">Job Networking</a></li>
            <li>  <a class="footer-link" href="/">Recruitment</a></li>
            <li>  <a class="footer-link" href="/">Resume Prep</a></li>
          </ul>
        </div>
  
        <div class="col-md-3">
          <hr class="light">
          <h5>Financial Investment</h5>
          <hr class="light">
          <ul>
            <li>  <a class="footer-link" target="_blank"
              href="https://www.youtube.com/watch?v=RbWCBz5fBBw&list=PL5nViEmyYI0ZpbH5jjFPvMZVDDPqvd080">Stocks
              </a></li>
          <li>  <a class="footer-link" target="_blank"
              href="https://public.tableau.com/en-us/s/resources">Options</a></li>
          <li>  <a class="footer-link" target="_blank"
              href="https://www.youtube.com/watch?v=ZNObiptSMSI&list=PL08903FB7ACA1C2FB"> ETFs</a></li>
          <li>  <a class="footer-link" target="_blank"
              href="https://www.youtube.com/watch?v=YYXdXT2l-Gg&list=PL-osiE80TeTt2d9bfVyTiXJA-UTHn6WwU" target="_blank">Cryptocurrency</a></li>
          </ul>
        </div>
        </div>
  <!-------------------Socket Section------------------------->
        <div class="col-12 socket" >
          <hr class="light">
          <h5>&copy; www.codanalytics.net</h5>
        </div>
  </div>
  <hr class="light-100">
  </div>