{% load static %}
<!-------------------Footer------------------------->
<div class="container-fluid padding" id="footer">
    <div class="row text-left">
        <div class="col-md-4">
          <hr class="light">
          <h5><b>Elementary</b></h5> 
          <hr class="light">
          <ul>
            <li><a class="invest-link" href="https://www.youtube.com/watch?v=Za_HZqDTw7g">Buying and Selling</a></li>
            <li><a class="invest-link" href="https://www.youtube.com/watch?v=httC1CuW3yM">Psychology of Trading</a></li>
            <li><a class="invest-link" href="https://transcripts.gotomeeting.com/?utm_source=recordingReadyNotification&utm_medium=email#/s/64e0878ee0de073a844432c3aeb2c56772b34dbc027db70263a6828bf0575f90">Covered Calls & Cash Secured Puts</a></li>
            <li><a class="invest-link" href="https://www.youtube.com/watch?v=QwJ-i5xJz8s&feature=youtu.be">Understanding Power of Graphs</a></li>
          </ul>
        </div>
  
        <div class="col-md-4">
          <hr class="light">
          <h5><b>Advanced Level</b></h5> 
          <hr class="light">
          <ul>
            <li><a class="invest-link" href="https://www.youtube.com/watch?v=EcsErh9Airs">The Wheel Strategy</a></li>
            <li><a class="invest-link" href="/">Radioactive Trading</a></li>
            <li><a class="invest-link" href="/">Credit Spreads</a></li>
            <li><a class="invest-link" href="/">Iron Condor</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <hr class="light">
          <h5><b>Access videos & Powerpoints</b></h5> 
          <hr class="light">
          <ul>
            <li><a class="invest-link" href="{% url 'investing:uploaded' %}">Access Powerpoints</a></li>
            <li><a class="invest-link" href="{% url 'investing:uploaded' %}">Access Class Videos</a></li>
            <li><a class="invest-link" href="https://app.optionsplay.com/">Options Play</a></li>
            <li><a class="invest-link" href="https://www.optionseducation.org/">Option Industry Council</a></li>
          </ul>
        </div>
        </div>
        <!-------------------Socket Section------------------------->
        <div class="col-12 socket" >
          <hr class="light">
          <h5>&copy; www.codanalytics.net</h5>
        </div>
  </div>
  <hr class="light-100">
  </div>