<div class="py-5" style="background-color: #35bdbd;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="/" class="logolink" style="margin-left: 0px;margin-bottom: 30px;">
                    DC<span style="color: red;">48K</span>
                </a>
                <p style="color: white; max-width: 510px; font-size: 14px;">
                    We have years of experience working with artists and entertainers across various industries, and we are passionate about helping our clients succeed. Our company is committed to providing personalized services that meet clients' needs. We work closely with them to develop customized strategies and plans that help them achieve their goals.
                </p>
            </div>
            <div class="col-md-6" style="margin-top: 44px;">
                <div class="row text-white footer-liinks-div">
                    <div class="col-md-3">
                        <div>
                            <a>Sign In</a>
                            <a>Register</a>
                            <a>Log Out</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <a>Our Story</a>
                            <a>Why DC48K</a>
                            <a>Contacts</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <a>FAQ</a>
                            <a>Student Support</a>
                            <a>Welfare</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <a>Privacy Policy</a>
                            <a>Terms Of Use</a>
                            <a>Copyright</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>