
{%extends "main/base_templates/analysis_index.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <h2>MY WORK</h2>
    <a href="{% url 'main:newplan' %}" class="btn btn-secondary btn-sm" target="_blank"
    >ADD AN ITEM
  </a>
  <hr>
    <table class="table table-borderless" style="width: 100%">
        {% include 'main/snippets_templates/table/plantableheaders.html' with instance=plan %}
        {% for plan in  plans  %}
                {% include 'main/snippets_templates/table/plantable.html' with instance=plan %}
        {% endfor %}
      </table>
  </div>
</section>
{% endblock content %}
