<tbody>
    <tr>
            <td>{{instance.reporting_date|date:"F d, Y"}}</td>
            <td>{{instance.reporter.username}}</td>
            <td>{{instance.reporter.first_name}}</td>
            <td>{{instance.reporter.last_name}}</td>
            <td>{{instance.method}}</td>
            <td>{{instance.interview_type}}</td>
            <td>{{instance.rate}}</td>
        <td>
          <a
          href="{%url 'application:trainee-update' instance.id %}" 
            class="btn text-secondary px-0"
          > 
          <h4><b>☑</b></h4> 
      </a>
        </td>
      <td>
          <a
          href="{%url 'application:trainee-delete' instance.id %}" 
            class="btn text-secondary px-0"
          >
           <h4><b>x</b></h4> 
          </a>
        </td>
       
      </tr>
</tbody>