{%extends "users/index.html"%} {% block content %}
<!--------------------------Slider Section--------------------------------->
<section id="service-slider">
  <div class="service-slider text-center">
          <div id="headerSlider" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="..\media\data\data-home_v5.jpg" 
                  class="d-block img-fluid"
                  alt="home2"
                  >
                  <div class="carousel-caption">
                    <h1 class="display-2">Become a data Analyst</h1>
                    <p>Learn data analysis on our online platform in as little as 13 weeks</p>
                      <a href="/register" target="_blank">
                            <button type="button" class="btn btn-outline-light btn-lg">View Demo</button>
                        </a>
                        <a href="/register" target="_blank">
                          <button type="button" class="btn btn-primary btn-lg">Get Started</button>
                      </a>
                  </div>
                </div>
              </div>
            </div>
</div>
</section>
