{%extends "main/base_templates/analysis_index.html"%}
{%block content %}
<style type="text/css">
  .sign
  {
    background:transparent;
    border:none;
    border-bottom:1px solid #000000;
  }
  #down_payment
  {
    background:transparent;
    border:none;
    width: 12%;
  }
</style>
<div class="content-section">
    <div>
        <h3>CONTRACT</h3>
    </div>
<div>
    <img
    src="\media\banner\banner.jpg"
    class="d-block img-fluid"
    width="1500px"
    alt="banner"
  />
</div>

    <fieldset class="form-group">
      <legend class="border-bottom  text-center">
        <p class="lead  text-center">
            JOB SUPPORT TRAINING CONTRACT
        </p>
      </legend>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
      <div class="row">
        <div class="col-md-6">
            CODA CONTRACT <br>
            <b>JOB SUPPORT</b>
        </div>
        <div class="col-md-6">
            FEES: <b><span class="fees">USD.{{payment_data.payment_fees}}</span></b><br>
            DATE: {{contract_date}}</br>
        </div>
      </div>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />

      <div class="row">
        <div class="col-md-6 square_radio">
            <h4>TRAINING INFORMATION</h4>
            <b>Job Support Contract Period</b> <br>

              &emsp;<input type="radio" class="One_month" name="duration" value="1"  {% if payment_data.plan == 1 %} checked {% else %}disabled{% endif %}>
              <label for="Training">One Month</label>
              <input type="radio" id="two_month" name="duration" value="2" {% if payment_data.plan == 2 %} checked {% else %}disabled{% endif %}>
              <label for="Training"> Two Month</label>
              <input type="radio" id="three_month" name="duration" value="3" {% if payment_data.plan == 3 %} checked {% else %}disabled{% endif %}>
              <label for="Training"> Three Month</label><br>
              <b>Training Conferences</b> <br>
            &emsp;<b>1.Tableau &ensp;  2.Zoom</b>
        </div>
        <div class="col-md-6">
        <h4>PLAN</h4>
            <b><span class="plan">
              {{selected_plan}} hours
            </span> </b> <br>
              &emsp;<b>1.Job Support Hours:<span id="job_support_hrs">{{job_support_hours}}</span><br>
              &emsp;2.Training Hours:<span id="train_hrs">30</span></b>
        </div>
      </div>
    <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />

      <h4>CLIENT INFORMATION</h4>
      <div class="row">
        <div class="col-md-6">
            Client Name: <br>
            Client Address: <br>
            Client Phone:<br>
            Client Email:
        </div>
        <div class="col-md-6">
            {{job_support_data.first_name}} {{job_support_data.last_name}}<br>
            {% if job_support_data.address %}{{job_support_data.address}}{% else %} - {% endif %} <br>
            {{job_support_data.phone}} <br>
            {{job_support_data.email}}
        </div>
      </div>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
      
      <div class="row">
        <div class="col-md-6">
          <h4>PAYMENT INFORMATION</h4>
            FEES: <b>USD.{{payment_data.payment_fees}}</b><br>
            Down Payment:USD.{{payment_data.down_payment}}<br>
            Fee Balance: {{ payment_data.jobsupport_balance}}<br>
            PLAN:{% widthratio payment_data.plan 1 40 %}</br>
        </div>
        <div class="col-md-6">
            <h4>METHOD OF PAYMENT:</h4>
            <input type="radio" id="One_month" name="payment_type" value="paypal" {% if payment_data.payment_method  == "paypal" %} checked {% else %}disabled{% endif %}>
            Paypal<br>
            <input type="radio" id="One_month" name="payment_type" value="cash_app" {% if payment_data.payment_method  == "cash_app" %} checked {% else %}disabled{% endif %}>
            Cash App<br>
            <input type="radio" id="One_month" name="payment_type" value="Venmo" {% if payment_data.payment_method  == "Venmo" %} checked {% else %}disabled{% endif %}>
            Venmo</br>
        </div>
      </div>    
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />

    <div class="row">
      <div class="col-md-6">
        <h4>SIGNATORY</h4>
        Client Signature: {{payment_data.client_signature }}</br>
        Date: {{payment_data.client_date}}</br>
      </div>
      <div class="Col-md-6">
        <br>
       Company Rep: {{payment_data.company_rep}}<br>
       Date: {{payment_data.rep_date}}</br>
      </div>
    </div>
    <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
</div>

{% endblock content%}




