{%extends "main/base_templates/new_base.html"%}
{% load mathfilters %}
{% block content %}
<section id="rating">
  <div class="rating text-center">
    <h2>Cashflows</h2>
    <h5>Expenses :$ {{expenses}}</h5>
    <hr>
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>Date</th>
          <th>Sender</th>
          <th>Receiver</th>
          <th>Method</th>
          <th>Quantity</th>
          <th>Amount</th>
          <th>Total</th>
          <th>Description</th>
          <th>Update</th>
          <!-- <th>total_score</th>-->
        </tr>
      </thead>
      <tbody>
        {% for outflow in outflows %}
        <tr>
          <td>{{outflow.activity_date|date:"n/d/Y"}}</td>
          <td>{{outflow.sender}}</td>
          <td>{{outflow.receiver}}</td>
          <td>{{outflow.method}}</td>
          <td>{{outflow.qty}}</td>
          <td>{{outflow.amount}}</td>
          <td>{{outflow.qty|mul:outflow.amount}}</td> 
          <td>{{outflow.description}}</td>
          <td> <a class="article-title" href="{% url 'management:outflow-detail' outflow.id %}">Edit</a></td>
          <td> </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}