{%extends "main/base_templates/base.html"%} {% load mathfilters %}{% block content %}
<section id="career">
  <div class="career text-center">
    <h2>All Clients</h2>
    {% if object.employee == user %}
    <a
      class="btn btn-secondary btn-sm mt-1 mb-1"
      href="{%url 'management:outflow-update' object.id%}"
    >
      Update</a
    >
    <a
      class="btn btn-danger btn-sm mt-1 mb-1"
      href="{%url 'management:outflow-delete' object.id%}"
    >
      Delete</a
    >
    {% endif %}
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>Receiver</th>
          <th>Category</th>
          <th>period</th>
          <th>Total</th>
          <th>Description</th>
          <!-- <th>total_score</th>-->
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{object.receiver}}</td>
          <td>{{object.category}}</td>
          <td>{{object.method}}</td>
          <td>{{object.qty|mul:object.amount}}</td> 
          <td>{{object.description}}</td>
          <td> </td>
        </tr>

      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
