{%extends "main/base_templates/base.html"%}
{% load mathfilters %}
{% block content %}
<section id="rating">
  <div class="rating text-center">
    <h2>Cashflows</h2>
    <h2>Amount Paid : {{total}}</h2>
    <hr>
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>Date</th>
          <th>Sender</th>
          <th>Receiver</th>
          <th>Phone</th>
          <th>Department</th>
          <th>Category</th>
          <th>period</th>
          <th>Method</th>
          <th>Quantity</th>
          <th>Amount</th>
          <th>Total</th>
          <th>Description</th>
          <!-- <th>total_score</th>-->
        </tr>
      </thead>
      <tbody>
        {% for inflow in inflows %}
        {% if inflow.sender == user %}
        <tr>
          <td>{{inflow.transaction_date|date:"n/d/Y"}}</td>
          <td>{{inflow.sender}}</td>
          <td>{{inflow.receiver}}</td>
          <td>{{inflow.phone}}</td>
          <td>{{inflow.department}}</td>
          <td>{{inflow.category}}</td>
          <td>{{inflow.period}}</td>
          <td>{{inflow.method}}</td>
          <td>{{inflow.qty}}</td>
          <td>{{inflow.amount}}</td>
          <td>{{inflow.qty|mul:inflow.amount}}</td> 
          <td>{{inflow.description}}</td>
          <td> </td>

        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}