{%extends "main/base_templates/base.html"%}
{% load mathfilters %}
{% block content %}
<section id="rating">
  <div class="rating text-center">
    <h2>Cashflows</h2>
    <hr>
    <div class="row text-center">
      <div class="col-md-4" id="gi">
          <p><a href="{% url 'finance:dcinflow'%}" class="btn btn-secondary btn-sm"
              >Add Revenue
          </a></p>
      </div>
      <div class="col-md-4" id="gi">
        <p>
          <a href="{% url 'finance:list-inflow'%}" class="btn btn-secondary btn-sm"
            >Finance Report
          </a>
       </p>
      </div>
  </div>
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>Date</th>
          <th>Sender</th>
          <th>Receiver</th>
          <th>Phone</th>
          <th>Category</th>
          <!-- <th>Department</th> -->
          <th>Method</th>
          <th>prriod</th>
          <th>Quantity</th>
          <th>Amount</th>
          <th>Total</th>
          <!-- <th>total_score</th>-->
        </tr>
      </thead>
      <tbody>
        {% for transanction in transactions %}
        <tr>
          <td>{{transanction.transaction_date|date:"n/d/Y"}}</td>
          <td>{{transanction.sender}}</td>
          <td>{{transanction.receiver}}</td>
          <td>{{transanction.phone}}</td>
          <!-- <td>{{transanction.department}}</td> -->
          <td>
            <a class="text-dark  text-decoration-none" 
            data-toggle="tooltip" title="{{  transanction.description  }}"
            href="#">
            {{transanction.category}}
            </a>
        </td>
          <td>{{transanction.method}}</td>
          <td>{{transanction.period}}</td>
          <td>{{transanction.payment_method}}</td>
          <td>{{transanction.qty}}</td>
          <td>{{transanction.amount}}</td>
          <td>{{transanction.qty|mul:transanction.amount}}</td> 
          {%if user.is_admin or user.is_superuser%}
          <td> <a class="article-title" href="{% url 'finance:dcinflow-update' transanction.id %}">Edit</a></td>
          <td> <a class="article-title" href="{% url 'finance:dcinflow-delete' transanction.id %}">Delete</a></td>
          {%endif%}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}