<!-- templates/finance/payments/failed.html -->
{% extends "main/base_templates/new_base.html" %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Failed</title>
</head>
<body>
{% block content %}
<div class="container">
    <h1>Payment Failed</h1>
    <p>There was an issue with the payment initiation. Please try again.</p>
</div>
{% endblock content%}
</body>
</html>
