{%extends "main/base_templates/application_base.html"%} {% block content %}
<section id="career">
  <div class="data_training text-center">
    <h3 class="title">PAYMENT HISTORY</h3>
    <td> <a class="article-title" href="{% url 'finance:newpay'%}">Modify Employee Loan</a></td>
  </div> 
<hr>
  <div class="career text-center">
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">  
        <tr>
          <th>user</th>
          <th>category</th>
          <th>amount</th>
          <th>created_at</th>
          <th>updated_at</th>
          <th>is_active</th>
          <th>training_loan_amount</th>
          <th>total_earnings_amount</th>
          <th>Deduction_date</th>
          <th>Deduction_amount</th>
          <th>balance_amount</th>
        </tr>
      </thead>
      <tbody>

        {% for payment in  payments  %}
            <tr>
              <td>{{payment.user}}</td>
              <td>{{payment.category}}</td>
              <td>{{payment.amount}}</td>
              <td>{{payment.created_at|date:"n/d/Y"}}</td>
              <td>{{payment.updated_at|date:"n/d/Y"}}</td>
              <td>{{payment.is_active}}</td>
              <td>{{payment.training_loan_amount}}</td>
              <td>{{payment.total_earnings_amount}}</td>
              <td>{{payment.deduction_date|date:"n/d/Y"}}</td>
              <td>{{payment.deduction_amount}}</td>
              <td>{{payment.balance_amount}}</td>
              <td> <a class="article-title" href="{% url 'finance:loan-update' payment.id %}">Edit</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}