{%extends "main/base_templates/base.html"%} {% block content %}
<section id="career">
  <div class="data_training text-center">
    <h3 class="title">PAYMENT HISTORY</h3>
    <td> <a class="article-title" href="{% url 'finance:newpayment'%}">Make a Payment</a></td>
  <div class="container-fluid mr-auto">
        <div class="row text-center">
          {% for task in  tasksummary  %}
              <div class="col-md-2" id="bada">
                <div class="card">
                  <div class="card-body">
                    <h5><b>task.Target</b></h5>
                    <hr/>
                    <i><h6>task.Description</h6></i>
                    <hr/>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
      </div> 
  </div> 
<hr>
  <div class="career text-center">
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">  
        <tr>
            <th>id </th>
            <th>customer </th>
            <th>payment_fees</th>
            <th>down_payment</th>
            <th>student_bonus</th>
            <th>fee_balance</th>
            <th>plan </th>
            <th>payment_method</th>
            <th>contract_submitted_date</th>
            <!-- <th>client_signature</th>
            <th>company_rep </th>
            <th>client_date</th>
            <th>rep_date</th> -->
            <th>Update</th>
        </tr>
      </thead>
      <tbody>

        {% for payment in  payments  %}
            <tr>
                <td>{{payment.id }}</td>
                <td>{{payment.customer }}</td>
                <td>{{payment.payment_fees}}</td>
                <td>{{payment.down_payment}}</td>
                <td>{{payment.student_bonus}}</td>
                <td>{{payment.fee_balance}}</td>
                <td>{{payment.plan }}</td>
                <td>{{payment.payment_method}}</td>
                <td>{{payment.contract_submitted_date}}</td>
                <!-- <td>{{payment.client_signature}}</td>
                <td>{{payment.company_rep }}</td>
                <td>{{payment.client_date}}</td>
                <td>{{payment.rep_date}}</td> -->
              <td> <a class="article-title" href="{% url 'finance:payment-update' payment.id %}">Edit</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}