{%extends "main/base_templates/application_base.html"%} {% block content %}
<section id="career">
  <div class="data_training text-center">
    <h3 class="title">PAYMENT CONFIGS</h3>
    <td> <a class="article-title" href="{% url 'finance:newpaymentconfigs'%}">Set Payment Configurations</a></td>
  <div class="container-fluid mr-auto">
        <div class="row text-center">
          {% for task in  tasksummary  %}
              <div class="col-md-2" id="bada">
                <div class="card">
                  <div class="card-body">
                    <h5><b>task.Target</b></h5>
                    <hr/>
                    <i><h6>task.Description</h6></i>
                    <hr/>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
      </div> 
  </div> 
  <div class="career text-center">
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">  
        <tr>
            <th>id</th>
            <th>user</th>
            <th>L_status</th>
            <th>loan</th>
            <th>repay%</th>
            <th>lp_status</th>
            <th>lb_amt</th>
            <th>ls_amt</th>
            <th>ls_mx_limit</th>
            <th>rp_start_period</th>
            <th>rp_start_amt</th>
            <th>rp_Inc</th>
            <th>rp_Inc_mx</th>
            <th>rp_Inc_Inc</th>
            <th>rp_Inc_Inc_cycle</th>
            <th>HP</th>
            <th>NB</th>
            <th>CM</th>
            <th>FA</th>
            <th>Health</th>
            <th>kra</th>
            <th>eom</th>
            <th>eoq</th>
            <th>eoy</th>
            <th>Update</th>
        </tr>
      </thead>
      <tbody>

        {% for config in  payconfigs  %}
            <tr>
                <td>{{config.id}}</td>
                <td>{{config.user}}</td>
                <td>{{config.loan_status}}</td>
                <td>{{config.loan_amount}}</td>
                <td>{{config.loan_repayment_percentage}}</td>
                <td>{{config.laptop_status}}</td>
                <td>{{config.lb_amount}}</td>
                <td>{{config.ls_amount}}</td>
                <td>{{config.ls_max_limit}}</td>
                <td>{{config.rp_starting_period}}</td>
                <td>{{config.rp_starting_amount}}</td>
                <td>{{config.rp_increment_percentage}}</td>
                <td>{{config.rp_increment_max_percentage}}</td>
                <td>{{config.rp_increment_percentage_increment}}</td>
                <td>{{config.rp_increment_percentage_increment_cycle}}</td>
                <td>{{config.holiday_pay}}</td>
                <td>{{config.night_bonus}}</td>
                <td>{{config.computer_maintenance}}</td>
                <td>{{config.food_accommodation}}</td>
                <td>{{config.health}}</td>
                <td>{{config.kra}}</td>
                <td>{{config.eom_bonus}}</td>
                <td>{{config.eoq_bonus}}</td>
                <td>{{config.eoy_bonus}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}