  {%extends "main/base_templates/new_base.html"%}
  {% load mathfilters %}
  {% block content %}
  <section id="rating">
    <div class="rating text-center">
      <div class="row text-center">
          <div class="row text-center">
            <div class="col-md-2 amount_msg" id="bada">
                <div class="card">
                  <div class="card-body">
                    <h5><b>WELCOME BACK</b></h5>
                    <hr/>
                    <i><h6>{{user.first_name|upper }}</h6></i>
                    <hr/>
                    {% if request.user.is_superuser %}
                    <p>
                      <i><h6>Exchange Rate :KES.{{rate}}</h6></i>
                   </p>
                   {% else %}
                   <p>
                    <a href="#" class="btn btn-secondary btn-sm"
                      >Rate
                    </a>
                 </p>
                    {%endif %}
                  </div>
                </div>
                <!-- <div class="col-md-2"> -->
                  <form method="POST"  class="form-group">
                      {% csrf_token %}
                      <div class="col-12">
                          <div class="row">
                              <div class="col-md-12">
                                  <label for="department_filter">To filter by Department</label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <p>{{ form.name }} <button class="btn btn-outline-info" type="submit">Search</button></p>
                              </div>
                          </div>
                      </div>
                  </form>
              <!-- </div> -->
              </div>
              
              <div class="col-md-8" id="bada">
                <div class="card">
                  <div class="card-body">
                    <h5><b>CASH OUTFLOW PORTAL</b></h5>
                    <font size="-1"
                    <a class="btn btn-primary" href="#"  style="background-color: #5b67a2; border-color: #4CAF50;">USD. {{total_amt|floatformat:2}}</a>
                    <!-- <i><h6>Total Amount : USD. {{total_amt|floatformat:2}}</h6></i> -->
                  </font> 

                    <hr/>
                    <div class="row text-center">
          
                      {% for item in data %}
                          <div class="col-md-3">
                              <div class="card">
                                  <div class="card-body">
                                      <!-- <a class="btn btn-primary" href="{% url 'finance:coda_budget_estimation' app='all' %}" style="background-color: #4CAF50; border-color: #4CAF50;">{{ item.title }}</a> -->
                                      <a class="btn btn-primary" href="{{ item.link}}" style="background-color: #4CAF50; border-color: #4CAF50;">{{ item.title }}</a>
                                      <hr/>
                                      <i><h6>USD. {{ item.value|floatformat:2 }}</h6></i>
                                  </div>
                              </div>
                          </div>
                      {% endfor %}
                  </div>

                    <hr/>
                    <div class="row text-center">

                  </div>
                    </b></i>
                  </div>
                </div>
              </div>
              <div class="col-md-2" id="bada">
                <div class="card">
                  <div class="card-body">
                    <h5><b>ACTIONS</b></h5>
                    <hr/>
                    <i><h6>{{payday}}</h6></i>
                    <hr/>
                    <div class="col-md-12" id="gi">
                      <p><a href="{% url 'finance:finance-transact'%}" class="btn btn-secondary btn-sm"
                          >Add Transaction
                      </a></p>
                  </div>
                  <div class="col-md-12" id="gi">
                    <p>
                      <a href="{% url 'main:finance'%}" class="btn btn-secondary btn-sm"
                        >Finance Landing Page
                      </a>
                   </p>
                  </div>
                  </div>
                </div>
              </div>
            </div>
    </div>

      <table class="table table-borderless" style="width: 100%">
        <thead class="border-bottom font-weight-bold">
          <tr>
            <th>Date</th>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Phone</th>
            <th>Department</th>
            <th>Category</th>
            <th>Type</th>
            <th>Method</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for transanction in transactions %}
          <tr>
            <td>{{transanction.activity_date|date:"n/d/Y"}}</td>
            <td>{{transanction.sender}}</td>
            <td>{{transanction.receiver}}</td>
            <td>{{transanction.phone}}</td>
            <td>{{transanction.department}}</td>
            <td>
              <a class="text-dark  text-decoration-none" 
              data-toggle="tooltip" title="{{  transanction.description  }}"
              href="#">
              {{transanction.category}}
              </a>
          </td>
            <td>{{transanction.type}}</td>
            <td>{{transanction.payment_method}}</td>
            <td>{{transanction.qty}}</td>
            <td>{{transanction.amount}}</td>
            <td>{{transanction.qty|mul:transanction.amount}}</td> 
            {%if user.is_admin or user.is_superuser%}
            <td> <a class="article-title" href="{% url 'finance:transaction-detail' transanction.id %}">Edit</a></td>
            <td> <a class="article-title" href="{% url 'finance:transaction-delete' transanction.id %}">Delete</a></td>
            {%endif%}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
  {% endblock content %}