{% extends "main/base_templates/accounts_base.html" %} 
{%load crispy_forms_tags%}
{% block content %}
<style>
#tasks_suggestions{
    display: none;
    position: absolute;
    width: 100%;
    top: 80px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.10);
    padding: 5px 0px;
    z-index: 1;
    height: 300px;
    overflow-y: scroll;
}
.tasksug_dropdown_list{
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    border-left: 5px solid transparent;
}
#add_activity_boxes{
    /* width:100%;
    height:80px;
    border: 1px solid #ccc;
    border-radius: 4px; */
}
.share_tag{
    display: block;
    float: left;
    background-color: #e1e1e1;
    margin: 5px;
    padding: 5px;
}
#div_id_description,#div_id_point,#div_id_mxpoint,#div_id_mxearning{
    display: none;
}

</style>
<div class="content-section">
  <!-- <form method="POST"> -->
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Add Your Points</legend>

        <div id="div_id_group" class="form-group"> 
            <label for="id_group" class=" requiredField">Group<span class="asteriskField">*</span> </label> 
            <div class=""> 
                <input type="text" name="group" value="Group A" maxlength="255" class="textinput textInput form-control" required id="id_group"> <small id="hint_id_group" class="form-text text-muted">Required</small> 
            </div> 
        </div> 
        <div id="div_id_category" class="form-group"> <label for="id_category" class=" requiredField">Category<span class="asteriskField">*</span> </label> 
            <div class=""> 
                <select name="category" class="select form-control" id="id_category"> 
                    <option value="" disabled selected>Select your option</option>
                    {% for cat in category %}
                        <option value="{{cat.id}}">{{cat}}</option> 
                    {% endfor %}
                </select>
            </div> 
        </div> 
        <div id="div_id_employee" class="form-group"> <label for="id_employee" class=" requiredField">Employee<span class="asteriskField">*</span> </label> 
            <div class=""> 
                <select name="employee" class="select form-control" id="id_employee"> 
                    {% for emp in employess %}
                        <option value="{{emp.id}}">{{emp}}</option> 
                    {% endfor %}
                </select> 
            </div> 
        </div> 
        <button id="add_employee"> Add Employee</button>
        <div id="div_id_activity_name" class="form-group" style="position: relative"> 
            <label for="id_activity_name" class=" requiredField">Activity Name<span class="asteriskField">*</span> </label> 
            <!-- <div class=""> 
                <input type="text" name="activity_name" maxlength="255" class="textinput textInput form-control" required id="id_activity_name">  
            </div>  -->
            <div style="width:100%;height:80px;border: 1px solid #ccc;border-radius: 4px;">
                <span id="add_activity_boxes"></span>
                <div>
                    <input type="text" name="activity_name" maxlength="255" class="textinput textInput form-control" placeholder="Enter Activity Name here" required id="id_activity_name" autocomplete="off" style="border: none;height:100%">  
                </div>
            </div>

            <div id="tasks_suggestions">
            </div>
        </div> 
        <div id="div_id_description" class="form-group"> <label for="id_description" class=" requiredField">Description<span class="asteriskField">*</span> </label> 
            <div class=""> 
                <textarea name="description" cols="60" rows="2" class="textarea form-control" required id="id_description">Add description on this activity</textarea> 
            </div> 
        </div> 
        <div id="div_id_point" class="form-group"> <label for="id_point" class=" requiredField">Point<span class="asteriskField">*</span> </label> 
            <div class=""> 
                <input type="number" name="point" step="0.01" class="numberinput form-control" required id="id_point"> <small id="hint_id_point" class="form-text text-muted">Should be less than Maximum Points assigned</small> 
            </div> 
        </div> 
        <div id="div_id_mxpoint" class="form-group"> <label for="id_mxpoint" class=" requiredField">Mxpoint<span class="asteriskField">*</span> </label> 
            <div class=""> 
                <input type="number" name="mxpoint" step="0.01" class="numberinput form-control" required id="id_mxpoint"> <small id="hint_id_mxpoint" class="form-text text-muted">Maximum 200</small> 
            </div> 
        </div> 
        <div id="div_id_mxearning" class="form-group"> <label for="id_mxearning" class=" requiredField"> Mxearning<span class="asteriskField">*</span> </label> 
            <div class=""> 
                <input type="number" name="mxearning" step="0.01" class="numberinput form-control" required id="id_mxearning"> <small id="hint_id_mxearning" class="form-text text-muted">Maximum 4999.99</small> 
            </div> 
        </div>

 
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit" id="taskformsubmit">
            Submit
        </button>
    </div>
  <!-- </form> -->
</div>

<script>
//   siteurl = "http://localhost:8000"
  siteurl ="{{request.session.siteurl}}"
  
  function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                      var cookie = jQuery.trim(cookies[i]);
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
    }
  var csrftoken = getCookie('csrftoken');

  $('#id_employee').on('change', function() {
      console.log("HEREEE");
      
      $.ajax({
          type: "POST",
          url:  siteurl+"/management/gettotalduration/",
          mode: 'cors',
          withCredentials: false, 
          headers: { 'Access-Control-Allow-Origin': '*', "X-CSRFToken": csrftoken },
          xsrfHeaderName: "X-CSRFToken",
          data : {"name":$(this).val()},
          success: function(result){
            
            console.log(result["value"]);
            
            $("#id_point").attr("max",result["value"]);

          }
      });
  })
  
  $("#id_activity_name").focusout(function() {
      console.log("+++++++focusout+++++++++++",$(this).val());
      $.ajax({
            type: "POST",
            url:  siteurl+"/management/getaveragetargets/",
            mode: 'cors',
            withCredentials: false, 
            headers: { 'Access-Control-Allow-Origin': '*', "X-CSRFToken": csrftoken },
            xsrfHeaderName: "X-CSRFToken",
            data : {"taskname":$(this).val()},
            success: function(result){
              
              console.log(result);
              $("#id_mxpoint").val(result["target_points"]);
              $("#id_mxearning").val(result["target_amount"])
              
            }
        });

  })

    //   NEW Code
    $('#add_employee').on('click', function() {
        $("#div_id_employee").append($("#div_id_employee").children().eq(1).html())
    })
    var alltaskslist 
    $('#id_category').on('change', function() {
        $.ajax({
            type: "POST",
            url:  siteurl+"/management/gettasksuggestions/",
            mode: 'cors',
            withCredentials: false, 
            headers: { 'Access-Control-Allow-Origin': '*', "X-CSRFToken": csrftoken },
            xsrfHeaderName: "X-CSRFToken",
            data : {"category":$(this).val()},
            success: function(result){

                alltaskslist = result["tasklist"].filter((c, index) => {
                    return result["tasklist"].indexOf(c) === index;
                });
                $("#tasks_suggestions").html("")
                for(task in alltaskslist){
                    $("#tasks_suggestions").append(`<div class="tasksug_dropdown_list"><span>`+alltaskslist[task]+`</span></div>`)
                }
            
            }
        });
    })

    $("#id_activity_name").on('click', function() {
        $("#tasks_suggestions").css("display","block");
    })

    $(document).on("click",".tasksug_dropdown_list", function(e) {
        // $("#id_activity_name").val($(this).children().eq(0).text())
        $("#add_activity_boxes").append(`<span class="share_tag">`+$(this).children().eq(0).text()+`</span>`)
        
        $("#tasks_suggestions").css("display","none");
    })    

    window.onclick = function(event) {
        if (event.target != document.getElementById("id_activity_name")) {
            document.getElementById("tasks_suggestions").style.display = "none";
        }
    }

    $("#id_activity_name").on("keypress",function(e) {
        var charCode = e.which || e.keyCode;
        var val = $(this).val();
        keypress(charCode, val);
    });
    var counter = 0
    function keypress(charCode, val){
        if(charCode == 13 ) {
            
            if(alltaskslist.includes(val)){
                $("#add_activity_boxes").append(`<span class="share_tag">`+val+`</span>`)
            }
            else if(counter < 1){
                counter = counter+1
                $("#add_activity_boxes").append(`<span class="share_tag">`+val+`</span>`)
                $("#div_id_description,#div_id_point,#div_id_mxpoint,#div_id_mxearning").css("display","block")
            }
            else{
                alert("You cannot add more than one new task,but instead you can select from existing task names.")
            }
        }
        else{
            console.log("alltaskslist",alltaskslist)
            console.log("val",val)
            const matches = alltaskslist.filter(element => {
                if (element.indexOf(val) !== -1) {
                    return true;
                }
                else if (element.indexOf(val.toLowerCase()) !== -1){
                    return true;
                }
                else if (element.indexOf(val.toUpperCase()) !== -1){
                    return true;
                }
            });
            console.log("matches",matches)
            $("#tasks_suggestions").html("")

            for(task in matches){
                $("#tasks_suggestions").append(`<div class="tasksug_dropdown_list"><span>`+matches[task]+`</span></div>`)
            }

        }
    }


    $("#taskformsubmit").on("click",function() {
        console.log("++++++++taskformsubmit++++");
        
        var profiledata = new FormData();
        profiledata.set('group', $("#id_group").val() )
        profiledata.set('category', $("#id_category").val() )
        
        employee_arr =[]
        for (let step = 0; step < $("select[name='employee']").length; step++) {
            employee_arr.push($("select[name='employee']")[step].value)
        }
        profiledata.set('employee',employee_arr)
        activity_arr = []
        for (let step = 0; step < $(".share_tag").length; step++) {
            activity_arr.push($(".share_tag").eq(step).text())
        }
        profiledata.set('activitys',activity_arr)

        profiledata.set('description', $("#id_description").val() )
        profiledata.set('point', $("#id_point").val() )
        profiledata.set('mxpoint', $("#id_mxpoint").val() )
        profiledata.set('mxearning', $("#id_mxearning").val() )

        $.ajax({
            type: "POST",
            url:  siteurl+"/management/newtask/",
            mode: 'cors',
            withCredentials: false, 
            headers: { 'Access-Control-Allow-Origin': '*', "X-CSRFToken": csrftoken },
            xsrfHeaderName: "X-CSRFToken",
            data : profiledata,
            processData: false,
            contentType: false,
            success: function(result){

               if(result["success"]){
                    window.location.href = siteurl+"/management/tasks"
               }
                
            }
        });
    })


</script>

{% endblock content%}
