{% extends "main/base_templates/accounts_base.html" %} {%load crispy_forms_tags%}{% block content %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Add Your Points</legend>
      {{ form|crispy }}
      <input type="hidden" name="next" value="{{ request.path }}">
    </fieldset>
    <div class="form-group">
          <button class="btn btn-outline-info" type="submit" >
              Submit
          </button>
    </div>
  </form>
</div>


<script>
  siteurl = "http://localhost:8000"
  // siteurl = "https://www.codanalytics.net"
  
  function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                      var cookie = jQuery.trim(cookies[i]);
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
    }
  var csrftoken = getCookie('csrftoken');

  $('#id_employee').on('change', function() {
      console.log("HEREEE");
      
      $.ajax({
          type: "POST",
          url:  siteurl+"/management/gettotalduration/",
          mode: 'cors',
          withCredentials: false, 
          headers: { 'Access-Control-Allow-Origin': '*', "X-CSRFToken": csrftoken },
          xsrfHeaderName: "X-CSRFToken",
          data : {"name":$(this).val()},
          success: function(result){
            
            console.log(result["value"]);
            
            $("#id_point").attr("max",result["value"]);

          }
      });
  })
  
  $("#id_activity_name").focusout(function() {
      console.log("+++++++focusout+++++++++++",$(this).val());
      $.ajax({
            type: "POST",
            url:  siteurl+"/management/getaveragetargets/",
            mode: 'cors',
            withCredentials: false, 
            headers: { 'Access-Control-Allow-Origin': '*', "X-CSRFToken": csrftoken },
            xsrfHeaderName: "X-CSRFToken",
            data : {"taskname":$(this).val()},
            success: function(result){
              
              console.log(result);
              $("#id_mxpoint").val(result["target_points"]);
              $("#id_mxearning").val(result["target_amount"])
              
            }
        });

  })

</script>

{% endblock content%}