{% extends "main/base_templates/accounts_base.html" %} 
{%load crispy_forms_tags%}
{% block content %}

<style>
  #tasks_suggestions{
    display: none;
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.10);
    padding: 5px 0px;
    z-index: 1;
    height: 300px;
    overflow-y: scroll;
}
.tasksug_dropdown_list{
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    border-left: 5px solid transparent;
}

  #id_activity_name{
    position: relative;
  }
</style>
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Add Your Points</legend>
      {{ form|crispy }}
      <input type="hidden" name="next" value="{{ request.path }}">
    </fieldset>
    <div class="form-group">
          <button class="btn btn-outline-info" type="submit" >
              Submit
          </button>
    </div>
  </form>
</div>


<script>
  siteurl = "http://localhost:8000"
  // siteurl = "https://www.codanalytics.net"
  
  function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                      var cookie = jQuery.trim(cookies[i]);
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
    }
  var csrftoken = getCookie('csrftoken');

  $('#id_employee').on('change', function() {
      console.log("HEREEE");
      
      $.ajax({
          type: "POST",
          url:  siteurl+"/management/gettotalduration/",
          mode: 'cors',
          withCredentials: false, 
          headers: { 'Access-Control-Allow-Origin': '*', "X-CSRFToken": csrftoken },
          xsrfHeaderName: "X-CSRFToken",
          data : {"name":$(this).val()},
          success: function(result){
            
            console.log(result["value"]);
            
            $("#id_point").attr("max",result["value"]);

          }
      });
  })
  
  $("#id_activity_name").focusout(function() {
      console.log("+++++++focusout+++++++++++",$(this).val());
      $.ajax({
            type: "POST",
            url:  siteurl+"/management/getaveragetargets/",
            mode: 'cors',
            withCredentials: false, 
            headers: { 'Access-Control-Allow-Origin': '*', "X-CSRFToken": csrftoken },
            xsrfHeaderName: "X-CSRFToken",
            data : {"taskname":$(this).val()},
            success: function(result){
              
              console.log(result);
              $("#id_mxpoint").val(result["target_points"]);
              $("#id_mxearning").val(result["target_amount"])
              
            }
        });

  })

  $("#id_activity_name").attr("autocomplete","off")
  $("#div_id_activity_name").append(`<div id="tasks_suggestions"></div>`)
  $("#div_id_category").css("display","none")
  var alltaskslist 

  
  $.ajax({
      type: "POST",
      url:  siteurl+"/management/gettasksuggestions/",
      mode: 'cors',
      withCredentials: false, 
      headers: { 'Access-Control-Allow-Origin': '*', "X-CSRFToken": csrftoken },
      xsrfHeaderName: "X-CSRFToken",
      data : {"category": $("#id_category").val()},
      success: function(result){
        
          alltaskslist = result["tasklist"].filter((c, index) => {
              return result["tasklist"].indexOf(c) === index;
          });

          for(task in alltaskslist){
              $("#tasks_suggestions").append(`<div class="tasksug_dropdown_list"><span>`+alltaskslist[task]+`</span></div>`)
          }
      
      }
  });

  $("#id_activity_name").on("keypress",function(e) {
        var charCode = e.which || e.keyCode;
        var val = $(this).val();
        keypress(charCode, val);
  });

  function keypress(charCode, val){
      if(charCode == 13 ) {
          $("#add_activity_boxes").append(`<span class="share_tag">`+val+`</span>`)
      }
      else{
          console.log("alltaskslist",alltaskslist)
          console.log("val",val)
          const matches = alltaskslist.filter(element => {
              if (element.indexOf(val) !== -1) {
                  return true;
              }
              else if (element.indexOf(val.toLowerCase()) !== -1){
                  return true;
              }
              else if (element.indexOf(val.toUpperCase()) !== -1){
                  return true;
              }
          });
          console.log("matches",matches)
          $("#tasks_suggestions").html("")

          for(task in matches){
              $("#tasks_suggestions").append(`<div class="tasksug_dropdown_list"><span>`+matches[task]+`</span></div>`)
          }

      }
  }

  $("#id_activity_name").on('click', function() {
      $("#tasks_suggestions").css("display","block");
  })


  $(document).on("click",".tasksug_dropdown_list", function(e) {

      $("#id_activity_name").val($(this).children().eq(0).text())
      
      $("#tasks_suggestions").css("display","none");
      
  })  



</script>

{% endblock content%}