{%extends "main/DYC/dyc_base.html"%}
{%load crispy_forms_tags%}{% block content %}

<div class="sign-up-div">
    {% csrf_token %}
      <div class="row">
          <div class="col-lg-6 introduction-div ">
                <div class="row">
                <div class="select-div">
                    <h2  class="position-relative">Pick your preferred method of payment</h2>
                  <div class="content">
                    <p class="mb-2">Unlock Your Potential with DYC Training</p>
                    <p>
                      Are you ready to take your career to the next level? DYC training can help you unlock your potential and achieve your goals. We offer a wide range of courses and programs to suit your needs, and our flexible payment options make it easy to get started. 
                      <br>
                      <div class="p-3 mb-2 bg-primary text-white">Don't wait - make a payment today and discover what you're truly capable of.</div>
                    </p>
                  </div>
                  <h2>Need Help?:</h2>
                    <div class="d-flex">
                        <p>
                            Kindly, contact us at info@codanalytics.net
                          </p>
                    </div>
                </div>
            </div>
            
          </div>
            <div class="col-md-6  text-center">
                <h4><b>Modes of Payments</b></h4>
                <hr>
                  <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                    <div class="pay text-center padding-auto">
                      <div class="pay_header">
                            <div>
                                <div class="box-element hidden" id="payment-info">
                                      
                                      <!-- <label for="Training">Amount to be Paid </label> -->
                                      <input type="text" id="priceId" hidden> 
                                      <id="priceId"> 
                                        <button type="button" class="btn btn-primary">
                                          $Amount to be Paid <b>$ {{cost}}</b> 
                                        </button>
                                      <a class="article-title" href="#">
                                        <button type="button" class="btn btn-primary">
                                          Edit
                                        </button>
                                      </a>
                                      </id>
                                    <br>
                                      <div id="paypal-button-container"></div>
                                </div>
                            </div>
                        </div>
                    </div>
      
              <!-- Set up a container element for the button -->
              <!-- Include the PayPal JavaScript SDK -->
              <!-- <script src="https://www.paypal.com/sdk/js?client-id=AemSepU21NzcaMEfxSeOLtbQXldABFn6c7Oe8rPYTMROlEaPUvfFifzL3xc8SVqb_7wLF0RNQ2U8UWlW&currency=USD"></script> -->
              <!-- <script src="https://www.paypal.com/sdk/js?client-id=AUh-FQfbK8DQGOXim6JvjWhgZqkdRTiPX6YoGEfYl7JmBE_Txy3tmlq2LBXkgGaoHz4E8Mmjc0BrD0Xg"></script> -->
              <script src="https://www.paypal.com/sdk/js?client-id=AbtQ8f6AsZQsh6lWE9BxvCVxnZqfS4-aXoowwPv-Oxm0DyQWcgFQ0ifpAD6nEIvTttz2s2GSZ4ETMrCO"></script>
      
            <script>
              
              document.getElementById("priceId").value = "{{payments.down_payment|add:10}}";
              // document.getElementById("priceId").value = "{{payments.payment_fees}}";
              var price=document.getElementById('priceId');
              var amount=price.value;
              function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
                }
                var csrftoken = getCookie('csrftoken');
                  function completeOrder(){
                    var url = "{% url 'finance:payment_complete' %}"
      
                    fetch(url, {
                      method:'POST',
                      headers:{
                        'Content-type':'application/json',
                        'X-CSRFToken':csrftoken,
                      },
                      body:JSON.stringify({"down_payment":amount})
                    })
                  }
      
                // Render the PayPal button into #paypal-button-container
                paypal.Buttons({
                    // Set up the transaction
                    createOrder: function(data, actions) {
                        return actions.order.create({
                            purchase_units: [{
                                amount: {
                                    value:amount
                                }
                            }]
                        });
                    },
                    // Finalize the transaction
                    onApprove: function(data, actions) {
                        return actions.order.capture().then(function(orderData) {
                            // Successful capture! For demo purposes:
                            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                            var transaction = orderData.purchase_units[0].payments.captures[0];
      
                            completeOrder()
                            alert('Transaction completed successfully with Transaction ID: ' + transaction.id);
                        });
                    }
                }).render('#paypal-button-container');
            </script>
            
            
                <div class="card">
                        <h4><b>Other Modes of Payments</b></h4>
                        <hr/>
                        <font size="2">
                          <p>
                            Select your preferred method of payment to receive payment details in your email.
                        </p>
                        </font>
                        <div class="row text-center">
                          <div class="col-md-4" id="gi">
                            {% with 'cashapp' as cashapp %}
                            <a href="{% url 'finance:payment_method' cashapp %}" target="_blank">
                              <button type="button" class="btn btn-primary btn-lg">cashapp</button>
                            </a>
                            {% endwith %}
                          </div>
                          <div class="col-md-4" id="gi">
                            {% with 'zelle' as zelle %}
                            <a href="{% url 'finance:payment_method' zelle %}" target="_blank">
                              <button type="button" class="btn btn-outline-info btn-lg">Zelle</button>
                            </a>
                            {% endwith %}
                          </div>
                          <div class="col-md-4" id="gi">
                            {% with 'mpesa' as mpesa %}
                            <a href="{% url 'finance:payment_method' mpesa %}" target="_blank">
                              <button type="button" class="btn btn-secondary btn-lg">Mpesa</button>
                            </a>
                            {% endwith %}
                          </div>
                        </div>
                        <hr>
                  </div>
    
  </div>
          </div>
</div>
{% endblock content%}