<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{company_name}} Application Accept</title>
</head>
<body style="font-family: Arial, sans-serif;">

    <div style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ccc;">

        <h2 style="color: #333;">{{company_name}} Application Accept</h2>

        <p>Dear {{name}},</p>

        <p>Congratulations! We are pleased to inform you that your application in {{company_name}} has been successful. We were impressed with your qualifications and believe that your skills align perfectly with our team's needs.</p>

        <p> please proceed to start on your first interview.</p>

        <p>Once again, congratulations on reaching this stage, and we look forward to getting to know you better!</p>

        <p>Kind regards,<br>
        {{company_name}}<br>
        Thank you.<br>
        Human Resource 
    </div>

</body>
</html>
