<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{company_name}} Application Feedback</title>
</head>
<body style="font-family: Arial, sans-serif;">

    <div style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ccc;">

        <h2 style="color: #333;">{{company_name}} Application Feedback</h2>

        <p>Dear {{name}},</p>

        <p>Thank you for your interest in {{company_name}}. We appreciate the time and effort you invested in your application. After thorough review, we wanted to provide you with some constructive feedback.</p>

        <p>While your application showed promise, we believe there are areas where you can further enhance your candidacy:</p>

        <ul>
            <li>Managment</li>
            <li>Language Profiecency</li>
            <li>Reporting</li>
        </ul>

        <p>We encourage you to continue developing your skills and gaining experience in these areas. We appreciate your dedication to personal and professional growth, and we welcome you to reapply in the future once you feel confident in these aspects.</p>
        CODA <br>
        Thank you.<br>
        Human Resource 

    </div>

</body>
</html>
