<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">
  <div class="container-fluid">
      <a class="navbar-brand logo-text" href="{% url 'main:layout'%}">CODA</a>
      <button class="navbar-toggler nav-btn" type="button" data-bs-toggle="coll apse"
          data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'main:layout'%}">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'main:layout'%}">About</a>
              </li>

              <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                  Training
                  </a>
                 
                  <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                    {% if user.is_admin or  user.is_staff or  user.is_superuser %}
                      {% for category in categories %}
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{{category.get_url}}"
                        >{{category.title|capfirst}}</a>
                      {% endfor%}
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#"
                      >Add/Edit</a>
                      {% else%}
                      <a class="dropdown-item" href="#"
                      >training</a>
                      {% endif %}
                  </div>
                  
                 
                </li>
              <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Interview
                  </a>
                  
                  <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                    {% if user.is_admin or  user.is_staff or  user.is_superuser %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"
                    >Interview</a>
                      {% for role in roles %}
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{{role.get_url}}"
                        >{{role.question_type|capfirst}}</a>
                      {% endfor%}
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#"
                      >Add/Edit</a>
                      {% else%}
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#"
                      >interview</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#"
                      >Transcripts</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#"
                      >Practice Session</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#"
                      >Prep Questions</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#"
                      >Interview Responses</a>
                      {% endif %}
                  </div>
                </li>

              <li class="nav-item">
                  <p class="mb-1" style="font-size: 8px;text-align: right;">MODULE PROGRESS %</p>
                  <div class="progress" style="border-radius: 20px;width: 150px;">
                      <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60"
                          aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </li>
              <li class="nav-item">
                  <div>
                    <a class="nav-link" href="#">
                      <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
                    </a>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</nav>