{% extends "main/base_templates/new_base.html" %} 
{% block content %}
<section id="testimonials-section">
  <div class="testimonials text-center">
    <div class="col-12">
      <h1 class="display-6" style="font-size: 30px;">WHAT OUR CLIENTS SAY ABOUT US</h1>
    </div>
    <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
    
<div class="section">
    <div class="row">
        <div class="col-md-3">
          <div class="emp border-light">
            <!-- <h1 class="display-6" style="font-size: 24px;">WHAT OUR CLIENTS SAY ABOUT US</h1> -->
            <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5;">
              <!-- {% for team_member in team_members %}
                {% if team_member.title == category %}
                  {{ team_member.description }}
                {% endif %}
              {% endfor %} -->
            </p>
          </div>
        </div>
        <div class="col-md-9">
          <div class="emp">
            <div class="row text-center commit">
                {% for post in posts %}
                      <div class="col-md-4">
                          <!-- <div class="img-div p-3">
                              <img src="#" class="team-img rounded-circle" width="120px" height="120px" alt="Team Member Image">
                          </div> -->
                        <h3 class="display-4" style="font-size: 20px; color: orange;">{{ post.writer.first_name }},{{ post.writer.last_name }}

                            <!-- -{{ post.date_posted|date:"F d, Y" }} -->
                        </h3>
                          <h5>{{ post.title }}</h5>
                          <p style="font-size: 16px;">{{ post.content|truncatewords:30}}</p>
                          {% if request.user.is_admin or request.user.is_superuser or request.user == post.writer %}
                              <a href="{% url 'main:post-update' post.id %}">Update</a>
                          {% endif %}
                      </div>
            {% endfor %}
            </div>
          </div>
        </div>
    </div>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
  </div>
  <a
  class="btn btn-secondary btn-md mt-1 mb-1"
  href="{%url 'main:post-create' %}"
>
  Add Your Story</a
>
  </div>
</section>
{% endblock content %}

