{%extends 'layout.html'%}
{%block content%}
<div class="col-md-4">
    <div class="content-section">
        <h3>Report Portal</h3>
        <p class='text-muted'>Please Select a Report from the Menu
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">
                    <a
                        href="https://public.tableau.com/profile/chris2050#!/vizhome/HouseConstructionDashboard/CONSTRUCTIONREPORT">Financial
                        Reports</a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a
                        href="https://public.tableau.com/profile/chris2050#!/vizhome/Employeedashboard_15796037272920/Homepage">Human
                        Resource</a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="https://public.tableau.com/profile/chris2050#!/vizhome/SerenaV3/MainMenu">IT Reports</a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a
                        href="https://public.tableau.com/profile/chris2050#!/vizhome/TWReport_v4/SummaryReport2">Marketing</a>
                </li>
            </ul>
        </p>
    </div>
</div>
</div>
{% endblock content %}