{%extends "main/base.html"%} {% block content %}
<section id="about">
  <div class="about text-center">
    <h3 class="title">WHY US?</h3>
    <div class="row text-center">
      <div class="col-md-4 about-column1">
        <div class="about-content">
          <h3>About</h3>
          <p>
            Since its inception, Crown Data Analysis and Consultancy LLC(CODA)
            has provided our customers with high quality services and training
            in numerous industries with efficiency and effective at a fair price
            both locally & internationally.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <h3>Expertise & Experience</h3>
        <div class="progress">
          <div class="progress-bar" style="width: 100%;">100%</div>
        </div>
        <p>Project Management</p>
        <div class="progress">
          <div class="progress-bar" style="width: 95%;">95%</div>
        </div>
        <p>Business Analysis</p>
        <div class="progress">
          <div class="progress-bar" style="width: 90%;">90%</div>
        </div>
        <p>Data Analysis</p>
      </div>

      <div class="col-md-4 about-column-2">
        <h3>Why we are different</h3>
        <ul>
          <li>We understand our customers unique needs</li>
          <li>We Believe in doing business with Integrity</li>
          <li>We deliver on schedule</li>
          <li>We prepare you for the current job market</li>
          <li>We advice and advance your Resume Creation</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
