<!--
{%extends "data/basedata.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <h2>Download Documents For Use</h2>
    <hr />
    <table style="width: 100%">
      <thead>
        <tr>
          <th>Date Uploaded</th>
          <th>Document Name</th>
          <th>Document</th>
        </tr>
      </thead>
      <tbody>
        {% for codadocument in codadocuments %}
        <tr>
          <td>{{codadocument.date_uploaded|date:"F d, Y"}}</td>
          <td>{{codadocument.document_name}}</td>
          <td>
            <a
              href="{{codadocument.codadoc.url}}"
              class="btn btn-primary btn-sm"
              >Download
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
-->
