{% extends "main/base_templates/base.html"%} 
{% block content %}
<style>
  #alt_method{
    width:100%;
    border: none;
  }
</style>
<div class="container-fluid text-center align-items-center">
    <p>
      <h2 style="align-items: center; text-align: center; padding:auto;">WELCOME TO PAYMENT PORTAL</h2>
    </p>
</div> 

<section id="payment_top mb-0">
<div class="background_header text-center">

  <h5><i>Please make a payment to access the course/interview materials. Thank You!</i></h5>
  <hr />

  <div class="pay text-center padding-auto">
    <div class="pay_header">
      <div>
        <div class="box-element hidden" id="payment-info">
              <h2 class="text-center m-4">Method 1: Paypal</h2>
              <label for="Training">Amount to be Paid</label>
              <input type="text" id="priceId">

<div id="paypal-button-container"></div>
</div>
      <!-- Set up a container element for the button -->


  <!-- Include the PayPal JavaScript SDK -->
  <script src="https://www.paypal.com/sdk/js?client-id=AemSepU21NzcaMEfxSeOLtbQXldABFn6c7Oe8rPYTMROlEaPUvfFifzL3xc8SVqb_7wLF0RNQ2U8UWlW&currency=USD"></script>

  <script>
    
    document.getElementById("priceId").value = "{{payments.payment_fees}}";
    var price=document.getElementById('priceId');
    var amount=price.value;
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

        function completeOrder(){
          var url = "{% url 'main:payment_complete' %}"

          fetch(url, {
            method:'POST',
            headers:{
              'Content-type':'application/json',
              'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({"payment_fees":amount})
          })
        }


      // Render the PayPal button into #paypal-button-container
      paypal.Buttons({

          // Set up the transaction
          createOrder: function(data, actions) {
              return actions.order.create({
                  purchase_units: [{
                      amount: {
                          value:amount
                      }
                  }]
              });
          },

          // Finalize the transaction
          onApprove: function(data, actions) {
              return actions.order.capture().then(function(orderData) {
                  // Successful capture! For demo purposes:
                  console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                  var transaction = orderData.purchase_units[0].payments.captures[0];

                  completeOrder()
                  alert('Transaction completed successfully with Transaction ID: ' + transaction.id);

                  // Replace the above to show a success message within this page, e.g.
                  // const element = document.getElementById('paypal-button-container');
                  // element.innerHTML = '';
                  // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                  // Or go to another URL:  actions.redirect('thank_you.html');
              });
          }


      }).render('#paypal-button-container');
  </script>
  <div>
    <div class="background_header text-center" id="alt_method">
      <hr />
      <h2>Method 2: Use</h2>
      <p>a. Cashapp: $cmaghas</p>
      <p>b. venmo: cmaghas</p>
  </div>
</section>
{% include 'main/footer_templates/footer.html' %}
{% endblock content %}