
{%extends "main/base_templates/analysis_index.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <h2>MY PLAN</h2>
    <a href="{% url 'main:newplan' %}" class="btn btn-secondary btn-sm" target="_blank"
    >ADD AN ITEM
  </a>
  <hr>
  {% for category in  plan_categories  %}
  <h2 class="title">{{category}}</h2>
    <table class="table table-borderless" style="width: 100%">
        {% include 'main/snippets_templates/table/plantableheaders.html' with instance=plan %}
        {% for plan in  plans  %}
            {% if plan.category == category %}
                {% include 'main/snippets_templates/table/plantable.html' with instance=plan %}
            {% endif %}
        {% endfor %}
      </table>
    {% endfor %}
  </div>
</section>
{% endblock content %}
