{%extends "main/base_templates/base.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <h2>USER PROFILES</h2>
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>User</th>
          <th>Position</th>
          <!-- <th>Description</th> -->
          <th>Update</th>
          <th>Delete</th>
          <!---
          <th>CustomerId</th>
          <th>Registering For:</th>
        -->
        </tr>
      </thead>
      <tbody>
        {% for user in coda_team %}
            <tr>
              <td>{{user.user}}</td>
              <td>{{user.position}}</td>
              <!-- <td>{{user.description}}</td> -->
              <td> <a class="article-title" href="{% url 'main:update_profile' user.id %}">Edit</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
