{% extends "main/base_templates/new_base.html" %} 
{% block title %}About Us{% endblock %}
{% block content %}
<section id="testimonials-section">
  <div class="testimonials text-center">
    <div class="col-12">
      <h1 class="display-6" style="font-size: 30px;">{{ title }}</h1>
    </div>
    <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
    {% include 'main/snippets_templates/cards/team_card.html'%}
  </div>
</section>
{% endblock content %}
