{%extends "data/basedata.html"%} {%load crispy_forms_tags%} {% block content %}

<!-------------------Our Services Section------------------------->
<section id="project">
  <div class="project text-center">
    <div class="business_header">
      <h3 class="title text-center">Rating Candidates</h3>
    </div>
    <div class="row text-center">
      <div class="col-md-12 project">
        <div class="rate">
          <h3>Rating Candidates</h3>
          <p>
            On a scale(0-5) rate time,punctuality and Communication Skills for
            candidates
          </p>
          <hr />
          <form method="POST" enctype="multipart/form-data">
            <div class="form-row">
              <div class="form-group col-md-4 mb-0">
                {% csrf_token %}{{ form.first_name|as_crispy_field }}
              </div>
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
