{%extends "main/base_templates/analysis_index.html"%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-dismissible alert-danger">
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            </div>
        {% endfor %}
    </ul>
        </div>
{% endif %}
    <div class="row">
        <div class="col-md-5 top-coloumn">
            <div class="mt-4" style="width: 75px;height: 4px;background-color: #E7AD4A;"></div>
           
            <p class="font-weight-bold text-white">Generate Sample Review 
                On Single Click
                </p>

            <h3 class="font-weight-bold" style="color : #E7AD4A">{{ object.question_type|capfirst }}</h3>

            <p class="title-para">
                {{ object.desc1 }}
            </p>

            <div>
                <div class="d-flex align-items-center mb-3">
                    <div class="background-count-bullet">1</div>
                    <a class="text-white" target="_blank" href="#">
                        <p class="text-white ml-4 mb-0">Write Review Title</p>
                    </a>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <div class="background-count-bullet">2</div>
                    <a class="text-white" target="_blank" href="#">
                        <p class="text-white ml-4 mb-0">Generate Sample Review</p>
                    </a>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <div class="background-count-bullet">3</div>
                    <a class="text-white" target="_blank" href="#">
                        <p class="text-white ml-4 mb-0">Copy Sample Review and Paste in content</p>
                    </a>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <div class="background-count-bullet">4</div>
                    <a class="text-white" target="_blank" href="#">
                        <p class="text-white ml-4 mb-0">Click on Submit Review!</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-7 top-left-coloumn" style="padding-left: 15px !important;padding-right: 0px !important;">
            <div class="content-section">
                <form method="POST">
                  {% csrf_token %}
                  <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Write Review</legend>
                    {{ form|crispy }}
                  </fieldset>
                  <div class="col-md-10">
                    <a href="{% url 'main:post-create' %}">
                        Generate Another Review
                    </a>  
                  </div>
                  <div class="col-md-10">
                    Sample :{{response}}
                  </div>
                  <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit Review
                    </button>
                  </div>
                </form>
              </div>
        </div>
    </div>
</div>

{% endblock %}

