
<!-------------------Data Analysis Footer------------------------->
{% load static %}
<div class="footer">
    <footer>
        <h4>Trademark|Company Policy</h4>
        </h4>
    </footer>
</div>
        <!--- <h3 class="title">BA & PROJECT MANAGEMENT</h3> -->
        <div class="row text-left">
            <div class="col-md-3 ">
                <!-- <img src="static/img//service1.png" class="service-img" >-->
                <h5>About Us</h5>
                <ul>
                    <li> <a class="footer-link" href="/service">Meet the service</a></li>
                    <li> <a class="footer-link" href="/">Partners</a></li>
                    <li> <a class="footer-link" href="/">Location</a></li>
                    <li> <a class="footer-link" href="/">Our Network</a></li>
                    <li> <a class="footer-link" href="/">Connect</a></li>
                </ul>

            </div>
            <div class="col-md-3 ">
                <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                <h5>Core Services</h5>
                <ul>
                  <li>  <a class="footer-link" href="/">Training</a></li>
                  <li>  <a class="footer-link" href="/">Project Management</a></li>
                  <li>  <a class="footer-link" href="/">Job Networking</a></li>
                  <li>  <a class="footer-link" href="/">Recruitment</a></li>
                  <li>  <a class="footer-link" href="/">Resume Prep</a></li>
                </ul>

            </div>
            <div class="col-md-3 services">
                <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                <h5>Technologies</h5>
                <ul>
                  <li> <a class="footer-link" href="https://www.youtube.com/watch?v=gWZtNdMko1k&list=PLWPirh4EWFpGXTBu8ldLZGJCUeTMBpJFK">Tableau</a></li>
                  <li> <a class="footer-link" href="/">SQL</a></li>
                  <li> <a class="footer-link" href="/">Python</a></li>
                  <li> <a class="footer-link" href="https://www.youtube.com/watch?v=6DZ7YVeCeqg">Alteryx</a></li>
                  <li> <a class="footer-link" href="/">Advanced Excel</a></li>
                </ul>

            </div>
            <div class="col-md-3">
                <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                <h5>More Resources</h5>
                <ul>
                  <li>  <a class="footer-link" target="_blank"
                    href="https://www.youtube.com/watch?v=RbWCBz5fBBw&list=PL5nViEmyYI0ZpbH5jjFPvMZVDDPqvd080">Business
                    Analysis</a></li>
                <li>  <a class="footer-link" target="_blank"
                    href="https://public.tableau.com/en-us/s/resources">Tableau Resources</a></li>
                <li>  <a class="footer-link" target="_blank"
                    href="https://www.youtube.com/watch?v=ZNObiptSMSI&list=PL08903FB7ACA1C2FB"> SQL by Venkat</a></li>
                <li>  <a class="footer-link" target="_blank"
                    href="https://www.youtube.com/watch?v=YYXdXT2l-Gg&list=PL-osiE80TeTt2d9bfVyTiXJA-UTHn6WwU" target="_blank">Python by Corey</a></li>
                <li>  <a class="footer-link" href="www.w3schools.com">General Links(w3schools)</a></li>

                  
                </ul>

            </div>
        </div>