
{% extends "main/base_templates/base.html"%} {%load crispy_forms_tags%}{% block content %}
	
<div class="content-section">
  <form method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4 text-center">
        REGISTRATION
        <p class="text-center">
          Please Complete the form below.Thanks in advance
        </p>
      </legend>

      <div class="row">
		    <div class="col-md-4">{{ form.category|as_crispy_field }}</div>
        <div class="col-md-4">{{form.first_name|as_crispy_field}}</div>
        <div class="col-md-4">{{form.last_name|as_crispy_field }}</div>
     </div>

      <div class="row">
        <div class="col-md-4">{{ form.username|as_crispy_field }}</div>
		<div class="col-md-4">{{ form.password1|as_crispy_field }}</div>
        <div class="col-md-4">{{form.password2|as_crispy_field }}</div>
      </div>
	  <div class="row">
		<div class="col-md-4">{{form.email|as_crispy_field }}</div>
		<div class="col-md-4">{{form.phone|as_crispy_field }}</div>
        <div class="col-md-4">{{ form.gender|as_crispy_field }}</div>
      </div>

	  <div class="row">
        <div class="col-md-12">{{ form.address|as_crispy_field }}</div>
        
      </div>

	  <div class="row">
		<div class="col-md-4">{{form.city|as_crispy_field }}</div>
        <div class="col-md-4">{{ form.state|as_crispy_field }}</div>
        <div class="col-md-4">{{form.country|as_crispy_field }}</div>
      </div>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Sign Up</button>
    </div>
  </form>
  <div class="border-top pt-3 text-center">
    <small class="text-muted text-center">
      Already Have An Account?
      <a class="ml-2" href="{% url 'accounts:account-login' %}">Sign In</a>
    </small>
  </div>
</div>
{% endblock content%}