
{%extends "main/base_templates/new_base.html"%}
{%load crispy_forms_tags%}{% block content %}
<div class="login-div">
	<div class="user_card">
		<div class="d-flex justify-content-center">
			<h4 id="form-title">LOGIN</h4>
	    </div>
			<div class="d-flex justify-content-center">
				<font size="3"
					color="white">
					{{msg}}
				  </font>
			</div>
		<div class="row">
			<div class="col-md-6 form-div">
				<div class="container">
					<h2>Login</h2>
					<form method="post">
						{% csrf_token %}
						<div class="form-group">
							<label for="">Enter Your Username</label>
							{{ form.username }}
						</div>
						<div class="form-group">
							<label for="">Enter Your Password</label>
							{{ form.password }}
						</div>
						<div class="form-group">
							<label for="">Select Your Category</label>
							<select name="" id="" class="form-control rounded-0">
								<option value="">Select</option>
							</select>
						</div>
					
					<div class="form-group form-checkbox d-flex mb-3">
						<input type="checkbox" name="" id="" />
						<label for="" class="align-items-center">Remember Me</label>
					</div>
					<button type="submit" class="btn btn-primary">LOG IN</button>
				</form>
				</div>
			</div>
			<div class="col-md-6 other-detail">
				<div class="container">
					<h2>Need Help?</h2>
					<h3>Forgot Your Login Detail?</h3>
					<p class="mb-2">Rerieve your <span>USERNAME</span></p>
					<p>Rerieve your <a href="{% url 'password_reset' %}">PASSWORD</span></a>
					<div class="down-detail">
						<p>NOT YET REGISTERED?</p>
						<a href="{% url 'accounts:join' %}" class="btn btn-primary">SIGN UP</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content%}