{% extends "main/base_templates/base.html" %}
{% load static %}
{% load mathfilters %}
{% block title %}
{% if category %}{{ category.name }}{% else %}activities{% endif %}
{% endblock %}
{% block content %}
<head>
    <style>
        label{
            display: block;
        }
        #overlay {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            background: #999;
            width: 100%;
            height: 100%;
            opacity: 0.8;
            z-index: 100;
        }
    
        #popup {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            background: #fff;
            width: 600px;
            height: 600px;
            margin-left: -300px; /*Half the value of width to center div*/
            margin-top: -300px; /*Half the value of height to center div*/
            z-index: 200;
        }
    </style>
</head>
<main>
    <br>
    <h2 id="demo"></h2>
    <div class="album py-5 bg-light">
        <h4 class="text-center text-dark">WELCOME TO HR DEPARTMENT</h4>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div style="border: 1px solid black;padding:20px;">
                            <h5 class="text-center text-dark">My Dashboard</h5>
                            {% if user.is_employee %}
                            <div style="border: 1px solid black;padding:20px;">
                                <a class="dropdown-item" href="{% url 'management:user_task' request.user %}" target="" >My DAF</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'management:user_task_history' user.id %}" target="" >Last DAF</a>
                                  <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'accounts:tracker-list'%}" target="" >Client Tracker</a>
                                  <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'application:internal' %}" target="" >My Training</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'application:internal' %}" target="" >BI Schedule</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'management:user_evidence' request.user %}" target="__blank" >My Evidence</a>
                                <div class="dropdown-divider"></div>
                            {%endif%}
                            {% if user.is_superuser %}
                            <a class="dropdown-item" href="{% url 'accounts:tracker-list'%}" target="" >Client Tracker</a>
                                <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'management:evidence'%}" target="__blank" >Evidence</a>
                                <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'management:tasks'%}" target="" >Tasks</a>
                                <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'management:taskhistory'%}" target="" >History Tasks</a>
                                <div class="dropdown-divider"></div>
                             <a class="dropdown-item" href="{% url 'application:internal' %}" target="" >My Training</a>
                                <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'application:internal' %}" target="" >BI Schedule</a>
                                <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'application:internal' %}" target="" >My Schedule</a>
                                <div class="dropdown-divider"></div>
                                <!-- {% with 'resume' as resume %}
                                <a class="dropdown-item" href="{% url 'data:question-detail' resume %}" target="__blank" >My Interview</a>
                                <div class="dropdown-divider"></div>
                                {%endwith%} -->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'account-logout' %}" target="" >Logout</a>
                               {% endif %}
                            </div>
                        {% for departments,sub_departments in  data.items  %}
                        {% if departments == "HUMAN RESOURCE" or  departments == "FINANCE" or departments == "REFERENCE" %} 
                            <div style="padding:10px;border: 1px solid black;margin-top: 10px;font-size: 12px">
                                <p style="background:#bcbce2;font-weight:bold">{{departments}}</p>
                                <div style="float: right;">
                                    <button class="update_links" onclick="update_links(this)">Update links</button>
                                </div>
                                <div class="links">
                                    {% for sub,links in  sub_departments.items  %}
                                        
                                        {% if links.items|length != 0 %}
                                            <span>{{sub}}</span>
                                            {% for linkname,link in links.items %}
                                                <a href="{{link}}" style="display: block"/>{{linkname}} </i></a>
                                            {% endfor %}
                                        {% else %}
                                            <a href="{{links}}" style="display: block"/>{{sub}} </i></a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {%endif%}
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-6">
                            <img 
                            {%for image in images%}
                                {% if image.name == "bg_ceo_10222022_v1"%}
                                    src="{{googledriveurl}}={{image.image_url}}"
                                    style="width: 100%;height:50%;"
                                {%endif%}
                            {% endfor %}
                            >
                            <img 
                            {%for image in images%}
                                {% if image.name == "background_agenda_v1"%}
                                    src="{{googledriveurl}}={{image.image_url}}"
                                    style="width: 100%;height:50%;"
                                {%endif%}
                            {% endfor %}
                            >
                </div>

                <div class="col-md-3">
                    <div style="border: 1px solid black;padding:20px;">
                        <h5 class="text-center text-dark">Company Agenda</h5>
                        {% for departments,sub_departments in  data.items  %}
                        {% if departments == "BASICS" or departments == "IT" or  departments == "MARKETING" or  departments == "PROJECTS" %} 
                            <div style="padding:10px;border: 1px solid black;margin-top: 10px;font-size: 12px">
                                <p style="background:#bcbce2;font-weight:bold">{{departments}}</p>
                                <div style="float: right;">
                                    <button class="update_links" onclick="update_links(this)">Update links</button>
                                </div>
                                <div class="links">
                                    {% for sub,links in  sub_departments.items  %}
                                        
                                        {% if links.items|length != 0 %}
                                            <span>{{sub}}</span>
                                            {% for linkname,link in links.items %}
                                                <a href="{{link}}" style="display: block"/>{{linkname}} </i></a>
                                            {% endfor %}
                                        {% else %}
                                            <a href="{{links}}" style="display: block"/>{{sub}} </i></a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div id="overlay"></div>
<div id="popup">
    <div class="popupcontent" style="text-align:center">
        <h2>Update Links</h2>
        <label> Departments : </label>
        <select name="departments" id="departments">
            <!-- <option value="volvo">Volvo</option> -->
        </select>
        <div id="sub_departments_block">
            <label> Sub-department : </label>
            <select name="sub_departments" id="sub_departments">
                <option value="" disabled selected>Select your sub-department</option>
            </select>
        </div>
        <label> Link Name : </label>
        <select name="linkname" id="linkname">
            <option value="" disabled selected>Select your linkname</option>
        </select>

        <label> Link URL : </label>
        <input type="text" name="link_url" id="link_url" placeholder="Enter link here">

        <button id="submit_updatelink">Update Link</button>
    </div>
</div>
<!-- <script type="text/javascript" src="{% static 'companyagenda.json' %}"></script> -->
<script type="text/javascript" src="https://www.thetimenow.com/ttn-embed.min.js"></script>
<script>
    //  siteurl = "http://localhost:8000"
    siteurl ="{{request.session.siteurl}}"

    var jsondata = {{data | safe }}

    function update_links(e){
        console.log(jsondata)
        console.log($(e).parent().prev().text().length);
        console.log($(e).parent().next().children()[0].tagName);
        
        
        $("#overlay").css("display","block");
        $("#popup").css("display","block");

        $("#departments").html(`<option value="`+$(e).parent().prev().text()+`">`+$(e).parent().prev().text()+`</option>`)
        console.log(jsondata[$(e).parent().prev().text()])
        
        if($(e).parent().next().children()[0].tagName == "A"){
            $("#sub_departments_block").css("display","none")
            $("#linkname").html(`<option value="" disabled selected>Select your linkname</option>`)
            for(let [key, value] of Object.entries(jsondata[$(e).parent().prev().text()]) ){
                $("#linkname").append(`<option value="`+key+`">`+key+`</option>`)
            }
        }
        else{
            $("#sub_departments_block").css("display","block")
            $("#sub_departments").html(`<option value="" disabled selected>Select your sub-department</option>`)
            $("#linkname").html(`<option value="" disabled selected>Select your linkname</option>`)
            for(let [key, value] of Object.entries(jsondata[$(e).parent().prev().text()]) ){
                $("#sub_departments").append(`<option value="`+key+`">`+key+`</option>`)
            }
        }
    }

    $('#sub_departments').on('change', function() {
        $("#linkname").html(`<option value="" disabled selected>Select your linkname</option>`)
        for(let [key, value] of Object.entries(jsondata[$('#departments').val()][this.value]) ){
            $("#linkname").append(`<option value="`+key+`">`+key+`</option>`)
        }
    });

    $('#linkname').on('change', function() {
        $("#link_url").val("")
        if($("#sub_departments_block").css("display") == "none"){
        $("#link_url").val(jsondata[$('#departments').val()][this.value])
        }
        else{
            $("#link_url").val(jsondata[$('#departments').val()][$('#sub_departments').val()][this.value])
        }
    });


    function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    $("#submit_updatelink").on("click",function(){
        $.ajax({
            type: "POST",
            url:  siteurl+"/management/companyagenda/updatelinks",
            mode: 'cors',
            withCredentials: false, 
            headers: { 'Access-Control-Allow-Origin': '*', "X-CSRFToken": csrftoken },
            xsrfHeaderName: "X-CSRFToken",
            data : { department:$('#departments').val(),subdepartment:$('#sub_departments').val(),linkname:$('#linkname').val(),link_url:$('#link_url').val()},
            success: function(result){
                if(result["success"]){
                    window.location.href = "/management/companyagenda/"
                }
            }

        })
    })

    $("#overlay").on("click",function(){
        $("#overlay").css("display","none");
        $("#popup").css("display","none");

        $("#link_url").val("")
    })
</script>



<!-- 
<script>
const monthNames = ["January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"];

// Set the date we're counting down to
// var today = new Date(new Date().toLocaleString('en-US', {timeZone: 'Africa/Djibouti',}))
var today = new Date()
var nextDay = new Date(today);
nextDay.setDate(today.getDate() + 1);

if(today.getHours() == 19 && today.getMinutes() >= 00 && today.getSeconds() >= 00 ){
    var countDownDate = new Date(monthNames[nextDay.getMonth()]+" "+nextDay.getDate()+", "+nextDay.getFullYear()+" 19:00:00").getTime();
}
else{
    var countDownDate = new Date("Jul 17, 2022 19:00:00").getTime();
}

// var countDownDate = new Date("Jul 17, 2022 19:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

// Get today's date and time
var now = Date.parse(new Date().toLocaleString('en-US', {timeZone: 'Africa/Djibouti',}).slice(0, 19).replace('T', ' '))
    
// Find the distance between now and the count down date
var distance = countDownDate - now;
    
// Time calculations for days, hours, minutes and seconds
var days = Math.floor(distance / (1000 * 60 * 60 * 24));
var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
// Output the result in an element with id="demo"
document.getElementById("demo").innerHTML = "Countdown:&nbsp;"+ hours + "h "
+ minutes + "m " + seconds + "s ";

// If the count down is over, write some text 
if (distance <= 0) {

        // clearInterval(x);
        // document.getElementById("demo").innerHTML = "EXPIRED";
        today = new Date()
        nextDay = new Date(today);
        nextDay.setDate(today.getDate() + 1);

        if(today.getHours() == 19 && today.getMinutes() >= 00 && today.getSeconds() >= 00 ){
            countDownDate = new Date(monthNames[nextDay.getMonth()]+" "+nextDay.getDate()+", "+nextDay.getFullYear()+" 19:00:00").getTime();
        }
        else{
            countDownDate = new Date("Jul 17, 2022 19:00:00").getTime();
        }
}
}, 1000);

</script>
-->

{% endblock %}
