{% extends "main/base_templates/new_base.html" %}
{% load static %}
{% load mathfilters %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}activities{% endif %}
{% endblock %}
{% block content %}

{% include 'main/snippets_templates/static/styling.html'%}
<hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
<h4 class="text-center text-dark">WELCOME TO CODA</h4>
<div class="row text-center">
    {% for name, url in header_links.items %}
        <div class="col-md-2">
            <a class="btn btn-secondary" href="{{ url }}">{{ name }}</a>
            <div class="dropdown-divider"></div>
        </div>
    {% endfor %}
</div>
<hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
<main>
    <div class="row">
        {% for department, subcategories_with_links in categories_with_links %}
        <div class="col-md-3">
            <div style="padding: 10px; border: 1px solid black; margin-top: 10px;">
                <div style="display: flex; align-items: center; justify-content: space-between; background: #bcbce2; padding: 5px;">
                    <p style="font-weight: bold; margin: 0;">{{ department.name }}</p>
                    {% if request.user.is_superuser or request.user.is_admin %}
                        <a href="{% url 'management:update_agenda' title='department' pk=department.pk %}" class="edit-btn">&#10004;</a>
                    {% endif %}
                </div>
                <div class="links">
                    {% for subcategory, links in subcategories_with_links %}
                        <div style="display: flex; align-items: center; justify-content: space-between; margin-top: 5px;">
                            <span>{{ subcategory.name }}</span>
                            {% if request.user.is_superuser or request.user.is_admin %}
                                <a href="{% url 'management:update_agenda' title='subcategory' pk=subcategory.pk %}" class="edit-btn">&#10004;</a>
                            {% endif %}
                        </div>
                        {% for link in links %}
                            <div style="display: flex; align-items: center; justify-content: space-between; margin-top: 5px;">
                                <a href="{{ link.url }}" style="flex-grow: 1;">{{ link.name }}</a>
                                {% if request.user.is_superuser or request.user.is_admin %}
                                    <a href="{% url 'management:update_agenda' title='link' pk=link.pk %}" class="edit-btn">&#10004;</a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    
    </div>
</main>
{% endblock %}
