
{% extends "main/base_templates/new_base.html" %}
{% load static %}
{% load mathfilters %}
{% block title %}
{% if category %}{{ category.name }}{% else %}activities{% endif %}
{% endblock %}
{% block content %}
<hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
<main>
      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
      <div class="row text-center">
        <div class="col-md-2">
          <a class="btn btn-secondary" href="{% url 'investing:training'%}" target="__blank" >My Training</a>
      </div>
      <div class="col-md-2">
        {% with 'resume' as resume %}
        <a class="btn btn-secondary" href="{% url 'investing:user_investments' request.user %}" target="__blank" >Investments</a>
        {%endwith%}
      </div>
      <div class="col-md-2">
        <a class="btn btn-secondary" href="{% url 'investing:overboughtsold' symbol=None %}" target="__blank" >My Positions</a>
      </div>
      <!-- <div class="col-md-2">
        <a class="btn btn-secondary" href="{% url 'accounts:user-list' request.user %}" target="__blank" >My Time</a>
      </div> -->
      <div class="col-md-2">
        <a class="btn btn-secondary" href="{% url 'main:my_availability' %}" target="__blank" >My Schedule</a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-secondary" href="{% url 'management:user_session' request.user %}" target="__blank" >My Sessions</a>
      </div>
    </div>
    <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
    <div class="row text-center">
        <div class="col-md-2">
          <a class="btn btn-secondary" href="{% url 'finance:mycontract' request.user %}" target="__blank" >My Contract</a>
        </div>
        <div class="col-md-2">
          {% if request.user.category == 3 or request.user.category == 4 %}
          <a href="{% url 'main:display_service' slug="data_analysis" %}" class="btn btn-secondary">New Contract</a>
          {% elif user.category == 5 %}
          <a href="{% url 'main:display_service' slug="investing" %}" class="btn btn-secondary">New Contract</a>
          {%else%}
          <a href="{% url 'investing:newinvestment' %}" class="btn btn-secondary">New Contract</a>
          {%endif%}
        </div>
        <div class="col-md-2">
          <a class="btn btn-secondary" href="#" target="__blank" >Make Payment</a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-secondary" href="#" target="__blank" >Update My Profile</a>
      </div>
      <div class="col-md-2">
        <a href="{% url 'main:contact'%}" class="btn btn-secondary">Help?</a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-secondary" href="{% url 'account-logout'%}" target="__blank" >Logout</a>
      </div>
      </div>
      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
      <div class="col-md-12 hover">
        <img 
        {%for image in images%}
            {% if image.name == "bg_ceo_10222022_v1"%}
                src="{{googledriveurl}}={{image.image_url}}"
                style="width: 100%;height:100%;"
            {%endif%}
        {% endfor %}
        >
</div>
</main>
{% endblock %}




