{% extends "main/base_templates/new_base.html" %}
{% load static %}
{% load mathfilters %}
{% block title %}
{% if category %}{{ category.name }}{% else %}activities{% endif %}
{% endblock %}
{% block content %}
<main>
    <br>
    <h2 id="demo"></h2>
    <div class="album py-5 bg-light">
        <h4 class="text-center text-dark">WELCOME TO HR DEPARTMENT</h4>
        <div class="container">
            <div class="row">
                
                <div class="col-md-3 hover">
                    <h5 class="text-center text-dark">My Dashboard</h5>
                    <div style="border: 1px solid black;padding:20px;">
                            <p>Kindly,select an item to proceed</p>
                    </div>
                    {% if user.is_client %}
                    <div style="border: 1px solid black;padding:20px;">
                        <a class="dropdown-item" href="{% url 'data:train'%}" target="__blank" >My Training</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'data:interviewlist' %}" target="__blank" >My Work</a>
                        <div class="dropdown-divider"></div>
                        {% with 'resume' as resume %}
                        <a class="dropdown-item" href="{% url 'data:question-detail' resume %}" target="__blank" >My Interview</a>
                        <div class="dropdown-divider"></div>
                        {%endwith%}
                        <a class="dropdown-item" href="{% url 'management:user_session' request.user %}" target="__blank" >My Sessions</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'accounts:user-list' request.user %}" target="__blank" >My Time</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'finance:mycontract' request.user %}" target="__blank" >My Contract</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'finance:newcontract' request.user %}" target="__blank" >New Contract</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'main:pay'%}" target="__blank" >Make Payment</a>
                    {%endif%}
                       {% if user.is_applicant%}
                       <a class="dropdown-item" href="{% url 'application:policies' %}" target="__blank" >My Application</a>
                       <div class="dropdown-divider"></div>
                       <a class="dropdown-item" href="{% url 'application:interview'%}" target="__blank" >My Interview</a>
                       <div class="dropdown-divider"></div>
                       {% endif %}
                       <div class="dropdown-divider"></div>
                       <a class="dropdown-item" href="{% url 'account-logout' %}" target="" >Logout</a>
                    </div>
                </div>

                <div class="col-md-6 hover">
                            <img 
                            {%for image in images%}
                                {% if image.name == "bg_ceo_10222022_v1"%}
                                    src="{{googledriveurl}}={{image.image_url}}"
                                    style="width: 100%;height:100%;"
                                {%endif%}
                            {% endfor %}
                            >
                            
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}


