  {%extends "main/DYC/dyc_base.html"%}
  {%load crispy_forms_tags%}{% block content %}

  <div class="sign-up-div">
      {% csrf_token %}
        <div class="row">

            <div class="col-lg-4 introduction-div ">
                  <div class="row">
                  <div class="select-div">
                    <h2  class="position-relative ">DYC MENU</h2>
                    <div class="content">
                      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
                      <div>
                        <a href="#" <h2  class="position-relative text-white">Home</h2></a>
                      </div>
                      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
                      <div>
                        <a href="{% url 'finance:userpay' %}" <h2  class="position-relative text-white">Make Payment</h2></a>
                      </div>
                      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
                      <div>
                        <a href="#" <h2  class="position-relative text-white">Sign Contract</h2></a>
                      </div>
                      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
                      <div>
                        <a href="{% url 'accounts:clients' %}" <h2  class="position-relative text-white">Registered Members</h2></a>
                      </div>
                      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
                      <div>
                        <a href="{% url 'main:contact' %}" <h2  class="position-relative text-white">Help?</h2></a>
                      </div>
                      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
                    </div>

                  </div>
              </div>
            </div>
            <div class="col-lg-4 introduction-div ">
                  <div class="row">
                  <div class="select-div">
                    <h2  class="position-relative ">DCK MENU</h2>
                    <div class="content">
                      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
                      <div>
                        <a href="{% url 'main:dc_layout' %}" <h2  class="position-relative text-white">Home</h2></a>
                      </div>
                      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
                      <div>
                        <a href="{% url 'finance:userpay' %}" <h2  class="position-relative text-white">Make Payment</h2></a>
                      </div>
                      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
                      <div>
                        <a href="{% url 'finance:newcontract' request.user %}" <h2  class="position-relative text-white">Sign Contract</h2></a>
                      </div>
                      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
                      <div>
                        <a href="{% url 'finance:dcklist' %}" <h2  class="position-relative text-white">Registered Members</h2></a>
                      </div>
                      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
                      <div>
                        <a href="{% url 'main:contact' %}" <h2  class="position-relative text-white">Help?</h2></a>
                      </div>
                      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
                    </div>

                  </div>
              </div>
            </div>
            <div class="col-lg-4 introduction-div ">
                  <div class="row">
                  <div class="select-div">
                    <h2  class="position-relative ">CODA MENU</h2>
                    <div class="content">
                      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
                      <div>
                        <a href="{% url 'main:layout' %}" <h2  class="position-relative text-white">Home</h2></a>
                      </div>
                      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
                      <div>
                        <a href="{% url 'finance:userpay' %}" <h2  class="position-relative text-white">Make Payment</h2></a>
                      </div>
                      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
                      <div>
                        <a href="#" <h2  class="position-relative text-white">Sign Contract</h2></a>
                      </div>
                      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
                      <div>
                        <a href="#" <h2  class="position-relative text-white">Registered Members</h2></a>
                      </div>
                      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
                      <div>
                        <a href="{% url 'main:contact' %}" <h2  class="position-relative text-white">Help?</h2></a>
                      </div>
                      <hr style="height:3px;border:none;color:rgb(102, 102, 122);background-color:rgb(157, 157, 178);" />
                    </div>

                  </div>
              </div>
            </div>
            </div>
  </div>
  {% endblock content%}