{%extends "main/base_templates/base.html"%} {% block content %}
<!-------------------404------------------------->
<div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4">Page Not Found</h1>
      </div>
      <hr/>
      <div class="col-12">
        <p class="lead">
          {{message}}
        </p>
        <p class="lead">
          Please Contact admin directly at info@codanalytics.net
        </p>
      </div> 
    </div> 
    </div>
    {% endblock content %}