{%extends "main/base_templates/base.html"%} {% block content %}
<!-------------------404------------------------->
<div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <font size="2">
         <b>{{title}}</b> 
      </font>
      </div>
      <hr/>
      <div class="col-12">
        <p class="lead">
        </p>
        <p class="lead">
          <font size="2"><i>{{message}}</i></font>
          {% if link %}
          <p>Or click
            <a href="{{link}}" target=”_blank”>
              HERE
          </a> 
          to your account.
        </p>
          {% endif %}
          {% if title == 'CONFIGURATIONS'%}
          <a href="{% url 'finance:paymentconfigs' %}" >click
          </a>
          {% endif %}
          <!-- {% with path=link %}
          <a href=path >click
          </a>
          {% endwith %} -->
        </p>
        <p class="lead">
          <font size="-1"><i>{{contact}}</i></font>
        </p>
      </div> 
    </div> 
    </div>
    {% endblock content %}