{%load crispy_forms_tags%}
<div class="content-section text-dark h6">
  {% if request.path == 'data/resume/' %}
  <form action={% url 'data:project_story' %} method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom h5 mb-1">Please fill in the form below</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-md btn-bc font-weight-bold" type="submit">
        Submit
      </button>
    </div>
  </form>
</div>
 {%else%}
  <!-- <form action="{% url 'data:resume' %}" method="POST"> -->
  <form action="/data/methodology/" method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom h5 mb-1">Please fill in the form below</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-md btn-bc font-weight-bold" type="submit">
        Submit
      </button>
    </div>
  </form>
</div>
{%endif%}