{%extends "main/base_templates/new_base.html"%} {%load crispy_forms_tags%}
{%block content %}

<div class="upload">
  <h3 class="display-6 text-center">Entry Form</h3>
  <p class="lead font-italic text-center">
    Please fill the form below with all the transanctions for the day.
  </p>
  <form method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token%}
    <div class="row">
      <div class="col-md-6">{{ form.company|as_crispy_field }}</div>
      <div class="col-md-6">{{ form.position|as_crispy_field }}
    </div>
    </div>
    <div class="row">
      
      <div class="col-md-6">{{ form.category|as_crispy_field }}</div>
      <div class="col-md-6">{{ form.question|as_crispy_field }}</div>
      <div class="col-md-6">{{ form.response|as_crispy_field }}</div>
      
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <button type="submit " class="btn btn-success">
          <i class="fas fa-database"></i>Submit
        </button>
      </div>
    </div>
  </form>
  <div></div>
</div>
{% endblock content %}