{% extends "main/base_templates/analysis_index.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 top-coloumn">
                <p class="title-sub-head">
                   {{title}}
                </p>
                <p class="title-para">
                   <i>
                    {{ad_title}}
                </i> 
                </p>
            </div>
            <div class="col-md-4 top-coloumn text-white">
                <div style="padding:2rem">
                    <center>
                        <a href="{% url 'main:service_plans' slug='full-course' %}" class="btn btn-md btn-bc">See Courses</a>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-md-12 top-coloumn bottom-coloumn">
            <div>
                <p class="title-sub-pay text-center">
                    <b>Go Back to Questions</b><br>
                    <b>
                        <font size="-1"><i>Question:{{ question.question}}-{{ response.id}}</i></font>
                            
                    </b>
                </p>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 ">
                    <p class="title-sub-pay text-center">
                        <b>Edit Your Response</b><br>
                            <a href="{% url 'data:user_response_update' pk=id %}" class="btn btn-secondary btn-sm">Edit</a>
                    </p>
                    </div>
                    <div class="col-md-4">
                        <p class="title-sub-pay text-center">
                            <b>All Your Responses</b><br>
                                <a href="{% url 'data:prep_reponses'%}" class="btn btn-secondary btn-sm">More</a>
                        </p>
                    </div>
                <div class="col-md-4">
                    <p class="title-sub-pay text-center">
                        <b>Respond to More Questions</b><br>
                            <a href="{% url 'data:prepquestions'%}" class="btn btn-secondary btn-sm">More</a>
                    </p>
                </div>
            </div>
        </div>
        {% include 'main/snippets_templates/response.html' with instance=response %}
    </div>
    {% endblock content %}
