{%extends "application/index.html"%} {%load crispy_forms_tags%}
{%block content %}
<section>
 
<div class="row">
    <div class="col-md-12"></div>
    <div class="col-md-12">
        <div class="card card-body">
            <button class="btn btn-sm btn-primary" id="Employee Renumeration">APPLICANTS</button>
            <!-- Data Table -->
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">Application Date </th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Phone</th>
                  <th scope="col">country</th>
                  <th scope="col">Update</th>
                </tr>
              </thead>
              <tbody id="applications-table">


                
              </tbody>
                    
            </table>
        </div>
    </div>
    <div class="col-md-12"></div>
</div>
 
</section>
{%endblock content %}
