{%extends "main/base_templates/new_base.html"%} {% block content %}
<section id="career">
  <div class="data_training text-center">
    <h3 class="title">CLIENT_EXCEPTION</h3>
    <p class="p text-center">Click on your name to access your monthly tasks <b>{{num_tasks}}</b> activities this month</p>
    <div class="row">
      <div class="col-md-4">
        <p>
          <a href="#" class="btn btn-secondary btn-sm">ADD CATEGORY</a>
          <a href="#" class="btn btn-secondary btn-sm">ADD GROUP</a>
        </p>

      </div>    
    <div class="container-fluid mr-auto">
      <div class="row text-center">          
  <div class="career text-center">
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">  
        <tr>         
          <th>exception_id</th>
          <th>exception_date</th>
          <th>exception_week</th>
          <th>comments</th>
          <th>exception_type_id</th>
          <th>project_user_id</th>
          <th>project_user_rts_id</th>
          <th>exception_flag</th>
          <th>pitch_flag</th>
          <th>late_nights</th>
          <th>vacations</th>          
        </tr>
      </thead>
      <tbody id="table_body_data">
       
        {% for Exception in exceptions  %}

          <tr>          
                  <a class="text-dark  text-decoration-none" 
                  data-toggle="tooltip" title="{{  task.description  }}"
                  href="#"></a>
              </td>
              <td>{{Exception.exception_id}}</td>
              <td>{{Exception.exception_date}}</td>
              <td>{{Exception.exception_week}}</td>
              <td>{{Exception.comments}}</td>
              <td>{{Exception.exception_type_id}}</td>
              <td>{{Exception.project_user_id}}</td>
              <td>{{Exception.project_user_rts_id}}</td>
              <td>{{Exception.exception_flag}}</td>
              <td>{{Exception.pitch_flag}}</td>
              <td>{{Exception.late_nights}}</td>
              <td>{{Exception.vacations}}</td>                                 
              <td>
                <button>
                  <a href="#"></a>
                </button>
              </td>
              {%if user.is_admin or user.is_superuser%}
              <td> <a class="article-title" href="#"></a></td>
              {%endif%}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="no_data_text" style="width:100%;text-align:center;display:none">No data for the category. </div>
  </div>
</section>
{% endblock content %}




