{%extends "data/basedata.html"%} {%load crispy_forms_tags%} {%block content %}
<div class="upload">
  <h3>Upload Your First Interview Work</h3>
  <form method="POST" enctype="multipart/form-data">
    <div class="form-group col-md-3 mb-0">
      {{ form.Interviewid|as_crispy_field }}
    </div>
    <div class="form-group col-md-3 mb-0">
      {{ form.interviewppt|as_crispy_field }}
    </div>
    <div class="form-group col-md-3 mb-0">
      {{ form.interviewtab|as_crispy_field }}
    </div>
    <div class="form-group col-md-3 mb-0">
      {{ form.interviewalteryx|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
      {{ form.interviewdb|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
      {{ form.interviewother|as_crispy_field }}
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock content %}
