{%extends "data/basedata.html"%} {%load crispy_forms_tags%} {%block content %}
<!---
<div class="upload">
  <h3>Upload Your CV/Resume</h3>
  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />
  </form>
</div>
 --->

<div class="upload">
  <h3>Upload Your CV/Resume</h3>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token%} {{ form|crispy }}
    <button type="submit">Submit</button>
  </form>
</div>

<!---
<div class="upload">
  <h3>Upload Your First Interview Work</h3>
  <form method="POST" enctype="multipart/form-data">
    <div class="form-group col-md-3 mb-0">
      {% csrf_token%} {{ form.Interviewid|as_crispy_field }}
    </div>
    <div class="form-group col-md-3 mb-0">
      {% csrf_token%}{{ form.interviewppt|as_crispy_field }}
    </div>
    <div class="form-group col-md-3 mb-0">
      {% csrf_token%}{{ form.interviewtab|as_crispy_field }}
    </div>
    <div class="form-group col-md-3 mb-0">
      {% csrf_token%} {{ form.interviewalteryx|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
      {% csrf_token%}{{ form.interviewdb|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
      {% csrf_token%}{{ form.interviewother|as_crispy_field }}
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
--->
{% endblock content %}
