{%extends "data/basedata.html"%} {%load crispy_forms_tags%} {% block content %}
<!-------------------Our Services Section------------------------->
<section id="project">
  <div class="project text-center">
    <div class="business_header">
      <h3 class="title text-center">First Interview</h3>
    </div>

    <div class="row text-center">
     
      <div class="col-md-12 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4></h4>
        <p>
         You are required to go through the following step by step interview process on the three sections which covers ETL(Alteryx),Database(SQL) and Tableau, which are the most commonly used tools in CODA.
         Our assessment and evaluation in this section will be based on the following:
         1. The ability for a candidate to follow step by step instructions and the requirements given.
         2. The ability for a candidate to learn a new tool and the utilization of the tool to meet business requirements.
       3. The ability for the candidate to organize deliverables/his or her submissions
           4. The ability for a candidate to be organized, audible and flawless during presentation
       
        </p>
       </div>
    </div>
    <!-------------------------ETL WORKFLOW----------------------------------->
    <div class="data_header">
      <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
      <h3 class="title text-center">1. Alteryx - Extraction,Transformation & Loading</h3>
    </div>

    <div class="row text-center">
      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Instructions</h4>
        <p>Click on the link below, watch the installation video and install Alteryx tool.Then proceed to the next tab to watch and create your workflow based on the requirements provided.
        </p>
        <div class="ETL">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">

                <a class="dropdown-item" href=" https://docs.google.com/presentation/d/1sTflaF0yS8nYS4Trm9gx0H4HPH0zN7qBu9O27-vMN7A/edit#slide=id.p1 ">Installation Guide Link</a>

                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href=" https://drive.google.com/file/d/1JllAXWyMmMV66UmKro7OCTp_ZuOqMYxX/view"
                  target="_blank"
                  >Backlog/Requirements</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://drive.google.com/file/d/1hDMaa9b-sjbsHGy7n4upseNdiKnSvAL-/view"
                  target="_blank"
                  >Planning Poker</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Creating Workflow</h4>
        <p>
          Using the Finance Data provided,you are requred to come up with a workflow 
      based on the attached requirements.Please click on the videos to watch and understand 
      how to create a workflow.
        </p>

        <div class="ETL">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
 
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">

                <a
              class="dropdown-item"
              href="https://docs.google.com/spreadsheets/d/1EwHOboaZFKn6FdzmByZZGe5TsrbnqPdc/edit#gid=886321968 "
              target="_blank"
              >Backlog/Requirements
              </a>
              <div class="dropdown-divider"></div>

              <a 
               class="dropdown-item" 
               href="https://docs.google.com/spreadsheets/d/13UnRSbACsExsi3zoVRffbutzfcXoDsFOIGrbp-EGer0/edit#gid=1882813916" 
               target="_blank"> Dataset:Finance Data
            </a>
                <div class="dropdown-divider"></div>
                <a
              class="dropdown-item"
              href="https://transcripts.gotomeeting.com/#/s/ab8aa7c2fd92c65f00e5769e98304b4e93b7393cb53aadbaebd116930fcc5cdc"
              target="_blank"
              >Video1: Introduction to Alteryx
            </a>
				
				
				<div class="dropdown-divider"></div>
				
        <a
        class="dropdown-item"
        href="https://transcripts.gotomeeting.com/#/s/5bf5697577af8446633504dcec35ab87b335bec244ea997ae860a83bfd890ebe"
        target="_blank"
        >Video2: Creation of Workflow
      </a>
		</div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        		
		<h4>Quality Assurance-Testing</h4>
    <p>
      Click on the link below to access Test Script template. Using it as an example, perform tests and come up with testing scenarios for all the activities in the requirements provided.
    </p>

        <div class="Testing">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1ljf3BCdMZZOTPIue6c8hsXC_gKkJTDfB/edit#gid=1847756889">Access the Test Script</a>
                <div class="dropdown-divider"></div>
               <a
                class="dropdown-item"
                href="https://drive.google.com/file/d/1jwtmbq3kYmtq3ZzJ1jkS5vMb8SiBEZTS/view"
                target="_blank"
                >Video1 - Testing in Alteryx</a
              >
				
				
				<div class="dropdown-divider"></div>
				
                <a
                  class="dropdown-item"
                  href="https://drive.google.com/file/d/17vy0vhuFCH7wq-dsk64F7rMfuBcefgPE/view"
                  target="_blank"
                  >Video 3: Retrieval</a
                >
				
              </div>
				
              </div>
            </li>
          </ul>
        </div>
    </div>
<!-------------------------Database----------------------------------->
<div class="data_header">
  <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
  <h3 class="title text-center">
    2. Database - SQL
  </h3>
</div>

<div class="row text-center">
  <div class="col-md-4 project">
    <!-- <img src="static/img/services/service1.png" class="service-img" >-->
    <h4>A.DBA Backlog</h4>
    <p>Please Watch the attached videos on installation, Backlog/Requirements and Planning Poker. Afterwards Proceed to install Microsoft SQL Server and come up with your set of requirements.
    </p>
    <div class="dba">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href=""
            id="navbarDropDown"
            role="button"
            data-toggle="dropdown"
          >
            <button type="btn" class="btn-primary">Select</button>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropDown">
            <a class="dropdown-item" href=" https://drive.google.com/file/d/148J8xhikG5CqroObDjUtNC3r7vk9HmxF/view ">Installation</a>
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              href=" https://drive.google.com/file/d/1JllAXWyMmMV66UmKro7OCTp_ZuOqMYxX/view"
              target="_blank"
              >Backlog/Requirements</a
            >
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              href="https://drive.google.com/file/d/1hDMaa9b-sjbsHGy7n4upseNdiKnSvAL-/view"
              target="_blank"
              >Planning Poker</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-4 project">
    <!-- <img src="static/img/services/service1.png" class="service-img" >-->
    <h4>B.Normalizaton</h4>
    <p>
      Watch the attached videos on Table normalization. Click on the dataset link to access dataset and use it to perform table normalization.
    </p>

    <div class="DBA">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href=""
            id="navbarDropDown"
            role="button"
            data-toggle="dropdown"
          >
            <button type="btn" class="btn-primary">Select</button>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropDown">
            <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/13UnRSbACsExsi3zoVRffbutzfcXoDsFOIGrbp-EGer0/edit#gid=1882813916 " target="_blank"
              >Dataset:Finance Data</a
            >
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              href="https://drive.google.com/file/d/1_qdxD5R4LvbS_YMSclEL2hkSIPIEoUAM/view"
              target="_blank"
              >Video1: Introduction</a
            >
    
    
    <div class="dropdown-divider"></div>
    
            <a
              class="dropdown-item"
              href="https://drive.google.com/file/d/1lOKmjY7r7y19dhLVZeei8s_dzY_cUcf5/view"
              target="_blank"
              >Video 2: Normalization </a
            >
</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-4 project">
    <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        
<h4>C.Creation,Insertion & Retrieval</h4>
    <p>
      Watch the below videos by clicking on the links then proceed and Create tables, insert data into the tables and retrieve data from the tables.
    </p>

    <div class="DBA">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href=""
            id="navbarDropDown"
            role="button"
            data-toggle="dropdown"
          >
            <button type="btn" class="btn-primary">Select</button>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropDown">
            <a class="dropdown-item" href=" https://drive.google.com/file/d/1iemWbgHnUnWjAYPavrwQvieeJ5iwd77U/view " target="_blank"
              >Video 1: Creation</a
            >
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              href="https://drive.google.com/file/d/1iemWbgHnUnWjAYPavrwQvieeJ5iwd77U/view"
              target="_blank"
              >Video 2: Insertion</a
            >
    
    
    <div class="dropdown-divider"></div>
    
            <a
              class="dropdown-item"
              href="https://transcripts.gotomeeting.com/#/s/ad91ad7918436bc295c722fc1e9c02f61d2773ac4e065cbf5468ce559d69e984"
              target="_blank"
              >Video 3: Retrieval</a
            >
    
          </div>
    
          </div>
        </li>
      </ul>
    </div>
</div>
    <!-------------------------Reporting Section----------------------------------->
    <div class="data_header">
      <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
      <h3 class="title text-center">
        3. Tableau - High Level and Detail level Reporting
      </h3>
    </div>


    <div class="row text-center">
      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Installation/Requirements</h4>
        <p>
          Click on the link below to watch the video on Tableau Installation then proceed to Install Tableau .
          After installation,proceed to Dataset and Case Overview</p>
        <div class="dba">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href="  "></a>
                <a
                  class="dropdown-item"
                  href=" https://www.youtube.com/watch?v=QYnkudCxbmE&feature=youtu.be"
                  target="https://drive.google.com/file/d/1i1jFu3Qb4wfLubfcjQgproK4RklIhaLf/view"
                  >	Installation</a
                >
				              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a
                  class="dropdown-item"
                  href="https://docs.google.com/spreadsheets/d/13UnRSbACsExsi3zoVRffbutzfcXoDsFOIGrbp-EGer0/edit#gid=1882813916"
                  target="_blank"
                  >Dataset</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://drive.google.com/file/d/1JllAXWyMmMV66UmKro7OCTp_ZuOqMYxX/view "
                  target="https://drive.google.com/file/d/1JllAXWyMmMV66UmKro7OCTp_ZuOqMYxX/view"
                  >Backlog/Requirements</a
                >
				
				<div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://drive.google.com/file/d/1hDMaa9b-sjbsHGy7n4upseNdiKnSvAL-/view"
                  target="_blank"
                  >Planning Poker</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 services">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Dataset & Use Case Overview</h4>
        <p>
         Watch the Video on the Financial Usecase to familiarize yourself with the Usecase then proceed to visualization in tableau. You will be using the dataset below to create reports.
        </p>

        <div class="UI">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/970aab910830a8cf09def8e0080e7becad596ba22bb39d9da2dc2c8fad5fdee4"
                  target="_blank"
                  >Financial Dataset</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href=""
                  target="_blank"
                  >Video: Financial Use Case Overview</a
                >
             
              </div>
			 
              </div>
            </li>
          </ul>
        </div>

      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Visualization in Tableau</h4>
        <p>
          Watch the videos and CREATE ALL the reports in tableau using the given dataset. You will be required to demonstrate your work to the panel for consideration.
        </p>

        <div class="ETL">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
               <!-- 
                <a
                  class="dropdown-item"
                  href="https://drive.google.com/file/d/1WR0mMKbA8cyjVaXkGIQRC6jrVl_Z1auC/view"
                  >Video 1: Introduction to Tableau</a
                >
                <div class="dropdown-divider"></div>
                --->
                <a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/475fef0f20201724f609c26c9d07b7e0f1680518aa8e37ffebd767ea4cd917b1"
                  target="_blank"
                  >Video 1: Landing Page-CODA Financial Main Page</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/d640a4ee96f8b83655a1906f77f299281102f5a06b298b696438cb23296a79a2"
                  target="_blank"
                  >Video 2: Summary Page-Financial Executive Overview</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/95627afbf777e71d393bfd3640dbd5de5148a90088ce31054920deea38b0e3a0 "
                  target="_blank"
                  >Video 3: Detailed Report-Financial Insight Report</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/2d9c71cabeca60f62fed1f8ef11f996784514d190f968d9e15695892e37a6388"
                  target="_blank"
                  >Video 4: Detailed Page-List Report</a
                >
            </div>
          </div>
        </li>
      </ul>
    </div>
    </div>
                <!-------------------------Uploading work----------------------------------->
    <div class="data_header">
      <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
      <h3 class="title text-center">
        4. Attachments & Uploads
      </h3>
    </div>

    <div class="row text-center">
      <div class="col-md-12 services">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <p>
         Please Send us an email to 
         <a href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank">rc.hrdepartment@gmail.com</a> with all your uploads/attachments 
         and Indicate when you will be available to present your work to our panel so that we can schedule you.Thank You
        </p>

        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-12">
          <a
          class="dropdown-item"
          href="{% url 'application-firstupload' %}"
          target="_blank"
          ><button type="submit " class="btn btn-secondary">
            <i class="fas fa-database"></i>Please Proceed
          </button></a
        >
        </div>
      </div>
  </div>
</section>
{% endblock content %}


