{%extends "data/index.html"%} {%load crispy_forms_tags%} {% block content %}
<!-------------------Our Services Section------------------------->
<section id="project">
  <div class="project text-center">
    <div class="business_header">
      <hr>
      <h3 class="title text-center">------</h3>
      <h3 class="title text-center">First Interview</h3>
      <hr>
    </div>
 <!-------------------------Understanding CODA Section----------------------------------->
 <div class="data_header">
  <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
  <h3 class="title text-center">1. Understanding CODA</h3>
</div>

<div class="row text-center">

<!-------------------------Database----------------------------------->
<div class="col-md-12 project">
<!-- <img src="static/img/services/service1.png" class="service-img" >-->
<h4></h4>
<p>
Watch the following videos on company projects,Meetings and Values and come up with a detailed powerpoint documenting the projects. Our assessment and evaluation in this section will be based on the following:
1. The ability for a candidate to follow step by step instructions and the requirements given.
2. The ability for a candidate to learn a new tool and the utilization of the tool to meet business requirements.
3. The ability for the candidate to organize deliverables/his or her submissions
  4. The ability for a candidate to be organized, audible and flawless during presentation
</p>
</div>

  <div class="col-md-4 project">
    <!-- <img src="static/img/services/service1.png" class="service-img" >-->
    <h4>About Company</h4>
    <p>Watch videos on projects and come up with a detailed powerpoint documenting the projects.
    </p>
    <div class="dba">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href=""
            id="navbarDropDown"
            role="button"
            data-toggle="dropdown"
          >
            <button type="btn" class="btn-primary">Select</button>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropDown">
            <a class="dropdown-item" href="https://transcripts.gotomeeting.com/#/s/141d17af5f8144b91896ba105f2fcb4857b993c7cb7a41bccfe87db0cce6dbfb">Company Overview</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://transcripts.gotomeeting.com/#/s/e3c9c63a30dd96d319643661e8617d1c4e97e42a982bb6e907d8627cba6d99a1">Field Projects</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1sS11ZMgJFkVhH8xvktgmzZ9aPUAAnPFsFaPoDLjMJwI/edit?usp=sharing    ">BI Training</a>

          </div>
        </li>
      </ul>
    </div>
  </div>
<!-------------------------Reporting Section----------------------------------->
<div class="col-md-4 project">
<!-- <img src="static/img/services/service1.png" class="service-img" >-->
<h4>Meetings & Company Values </h4>
<p>Watch the following videos and come up with a summary documenting our Company Values. </p>
<div class="ETL">
<ul class="navbar-nav ml-auto">
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href=""
      id="navbarDropDown"
      role="button"
      data-toggle="dropdown"
    >
      <button type="btn" class="btn-primary">Select</button>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropDown">

      <a class="dropdown-item" href="https://transcripts.gotomeeting.com/#/s/08f983eee7ae3733f8f97ec67b5e0e6632679bedbdf1855997337e9d4b560f14    ">Managerial Meetings</a>
      
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="https://transcripts.gotomeeting.com/#/s/27e4a104496c4e8d497aabd4fedf24fe35f91a22d05e962df24592cf5b6d854c ">General Meeting</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="https://transcripts.gotomeeting.com/#/s/27e4a104496c4e8d497aabd4fedf24fe35f91a22d05e962df24592cf5b6d854c ">Scrum Meeting</a></a>
    </div>
  </li>
</ul>
</div>
</div>


<div class="col-md-4 project">
<!-- <img src="static/img/services/service1.png" class="service-img" >-->
<h4>Company Systems</h4>
<p>
We are a company that runs on systems. Click on the links to understand what each is all about.
</p>
<div class="ETL">
<ul class="navbar-nav ml-auto">
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href=""
      id="navbarDropDown"
      role="button"
      data-toggle="dropdown"
    >
      <button type="btn" class="btn-primary">Select</button>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropDown">
      <a 
      class="dropdown-item" 
      href="https://transcripts.gotomeeting.com/#/s/64e6bf4c7856b85d1d75dc6281b7f2b4acd91a8dbcdd96d5d1e1222a1e81d08f    " 
      target="_blank"> Payment System(DAF)
   </a>
   <div class="dropdown-divider"></div>
     <a 
      class="dropdown-item" 
      href="    " 
      target="_blank">90 DAY-1 on 1 Session
   </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="https://drive.google.com/file/d/1T_mxQCQQXt8cHXiBvLZ_CWlhB2-5Pyww/view    ">Company Values & The Box System</a>
  </div>
  </li>
</ul>
</div>
</div>
</div>
 <!-------------------------Uploading work----------------------------------->
            <div class="data_header">
              <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
              <h3 class="title text-center">
                2. Attachments & Uploads
              </h3>
            </div>
            
            <div class="row text-center">
              <div class="col-md-12 services">
                <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                <p>
                 Please Send us an email to 
                 <a href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank">rc.hrdepartment@gmail.com</a> with all your uploads/attachments 
                 and Indicate when you will be available to present your work to our panel so that we can schedule you.Thank You
                </p>
            
                </div>
              </div>
             <!--
              <div class="row text-center">
                <div class="col-md-12">
                  <a
                  class="dropdown-item"
                  href="{% url 'application-firstupload' %}"
                  target="_blank"
                  ><button type="submit " class="btn btn-secondary">
                    <i class="fas fa-database"></i>Please Proceed
                  </button></a
                >
                </div>
              </div>
              -->
    
  </div>
</section>
{% endblock content %}