{%extends "data/index.html"%} {%load crispy_forms_tags%} {% block content %}
<!-------------------Our Services Section------------------------->
<section id="project">
  <div class="project text-center">
    <div class="business_header">
      <h3 class="title text-center">First Interview</h3>
    </div>

    <div class="row text-center">
     
      <div class="col-md-12 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4></h4>
        <p>
         You are required to go through the following step by step interview process on the three sections which covers ETL(Alteryx),Database(SQL) and Tableau, which are the most commonly used tools in CODA.
         Our assessment and evaluation in this section will be based on the following:
         1. The ability for a candidate to follow step by step instructions and the requirements given.
         2. The ability for a candidate to learn a new tool and the utilization of the tool to meet business requirements.
       3. The ability for the candidate to organize deliverables/his or her submissions
           4. The ability for a candidate to be organized, audible and flawless during presentation
       
        </p>
       </div>
    </div>
    <!-------------------------Data Analysis Section----------------------------------->
    <div class="data_header">
      <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
      <h3 class="title text-center">1. Data Analysis Section</h3>
    </div>

    <div class="row text-center">
      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Alteryx - ETL</h4>
        <p>
          Please click on the videos to understand how to create, and test the workflow and replicate the work using the dataset attached.
        </p>

        <div class="ETL">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
 
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">

                <a class="dropdown-item" href=" https://docs.google.com/presentation/d/1sTflaF0yS8nYS4Trm9gx0H4HPH0zN7qBu9O27-vMN7A/edit#slide=id.p1 ">Installation Guide Link</a>
                <div class="dropdown-divider"></div>

                <a
              class="dropdown-item"
              href="https://docs.google.com/spreadsheets/d/1EwHOboaZFKn6FdzmByZZGe5TsrbnqPdc/edit#gid=886321968 "
              target="_blank"
              >Backlog/Requirements
              </a>
              <div class="dropdown-divider"></div>

              <a 
               class="dropdown-item" 
               href="https://docs.google.com/spreadsheets/d/13UnRSbACsExsi3zoVRffbutzfcXoDsFOIGrbp-EGer0/edit#gid=1882813916" 
               target="_blank"> Dataset:Finance Data
            </a>
                <div class="dropdown-divider"></div>
        <a
        class="dropdown-item"
        href="https://transcripts.gotomeeting.com/#/s/5bf5697577af8446633504dcec35ab87b335bec244ea997ae860a83bfd890ebe"
        target="_blank"
        >Video: Creation of Workflow
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1ljf3BCdMZZOTPIue6c8hsXC_gKkJTDfB/edit#gid=1847756889">Access the Test Script</a>
      <div class="dropdown-divider"></div>
     <a
      class="dropdown-item"
      href="https://drive.google.com/file/d/1jwtmbq3kYmtq3ZzJ1jkS5vMb8SiBEZTS/view"
      target="_blank"
      >Video - Testing in Alteryx</a
    >
		</div>
            </li>
          </ul>
        </div>
      </div>
<!-------------------------Database----------------------------------->
      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Database-SQL</h4>
        <p>Watch videos on installation,Requirements,Normalization and creation,insertion and retrieval.
        </p>
        <div class="dba">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href=" https://drive.google.com/file/d/148J8xhikG5CqroObDjUtNC3r7vk9HmxF/view ">Installation</a>
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href=" https://drive.google.com/file/d/1JllAXWyMmMV66UmKro7OCTp_ZuOqMYxX/view"
                  target="_blank"
                  >Backlog/Requirements</a
                >
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/13UnRSbACsExsi3zoVRffbutzfcXoDsFOIGrbp-EGer0/edit#gid=1882813916 " target="_blank"
                >Dataset:Finance Data</a
              >
              <div class="dropdown-divider"></div>
    
              <a
                class="dropdown-item"
                href="https://drive.google.com/file/d/1lOKmjY7r7y19dhLVZeei8s_dzY_cUcf5/view"
                target="_blank"
                >Video 1: Normalization </a
              >
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href=" https://drive.google.com/file/d/1iemWbgHnUnWjAYPavrwQvieeJ5iwd77U/view " target="_blank"
                  >Video 2: Creation & Insertion</a
                >
                <div class="dropdown-divider"></div>

                <a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/ad91ad7918436bc295c722fc1e9c02f61d2773ac4e065cbf5468ce559d69e984"
                  target="_blank"
                  >Video 3: Retrieval</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
<!-------------------------Reporting Section----------------------------------->
      <div class="col-md-4 services">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>Tableau - Reporting</h4>
        <p>
         Watch the Video on the Financial Usecase then proceed to CREATE ALL the reports in tableau using the given dataset.
        </p>

        <div class="UI">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a
                class="dropdown-item"
                href=" https://www.youtube.com/watch?v=QYnkudCxbmE&feature=youtu.be"
                target="https://drive.google.com/file/d/1i1jFu3Qb4wfLubfcjQgproK4RklIhaLf/view"
                >	Installation</a
              >
              <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/970aab910830a8cf09def8e0080e7becad596ba22bb39d9da2dc2c8fad5fdee4"
                  target="_blank"
                  >Financial Dataset</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href=""
                  target="_blank"
                  >Video: Financial Use Case Overview</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/475fef0f20201724f609c26c9d07b7e0f1680518aa8e37ffebd767ea4cd917b1"
                  target="_blank"
                  >Video 1: Landing Page-CODA Financial Main Page</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/d640a4ee96f8b83655a1906f77f299281102f5a06b298b696438cb23296a79a2"
                  target="_blank"
                  >Video 2: Summary Page-Financial Executive Overview</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/95627afbf777e71d393bfd3640dbd5de5148a90088ce31054920deea38b0e3a0 "
                  target="_blank"
                  >Video 3: Detailed Report-Financial Insight Report</a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://transcripts.gotomeeting.com/#/s/2d9c71cabeca60f62fed1f8ef11f996784514d190f968d9e15695892e37a6388"
                  target="_blank"
                  >Video 4: Detailed Page-List Report</a
                >
              </div>
              </div>
            </li>
          </ul>
        </div>
    </div>


     <!-------------------------Data Analysis Section----------------------------------->
     <div class="data_header">
      <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
      <h3 class="title text-center">2. Understanding CODA</h3>
    </div>

    <div class="row text-center">

<!-------------------------Database----------------------------------->
<div class="col-md-12 project">
  <!-- <img src="static/img/services/service1.png" class="service-img" >-->
  <h4></h4>
  <p>
    Watch the following videos on company projects,Meetings and Values and come up with a detailed powerpoint documenting the projects, CODA is involved in
  </p>
 </div>

      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4>About Company</h4>
        <p>Watch videos on projects and come up with a detailed powerpoint documenting the projects.
        </p>
        <div class="dba">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href="https://transcripts.gotomeeting.com/#/s/141d17af5f8144b91896ba105f2fcb4857b993c7cb7a41bccfe87db0cce6dbfb">Company Overview</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://transcripts.gotomeeting.com/#/s/e3c9c63a30dd96d319643661e8617d1c4e97e42a982bb6e907d8627cba6d99a1">Field Projects</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1sS11ZMgJFkVhH8xvktgmzZ9aPUAAnPFsFaPoDLjMJwI/edit?usp=sharing    ">BI Training</a>

              </div>
            </li>
          </ul>
        </div>
      </div>
<!-------------------------Reporting Section----------------------------------->
<div class="col-md-4 project">
  <!-- <img src="static/img/services/service1.png" class="service-img" >-->
  <h4>Meetings & Company Values </h4>
  <p>Watch the following videos and come up with a summary documenting our Company Values. </p>
  <div class="ETL">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href=""
          id="navbarDropDown"
          role="button"
          data-toggle="dropdown"
        >
          <button type="btn" class="btn-primary">Select</button>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropDown">

          <a class="dropdown-item" href="https://transcripts.gotomeeting.com/#/s/08f983eee7ae3733f8f97ec67b5e0e6632679bedbdf1855997337e9d4b560f14    ">Managerial Meetings</a>
          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://transcripts.gotomeeting.com/#/s/27e4a104496c4e8d497aabd4fedf24fe35f91a22d05e962df24592cf5b6d854c ">General Meeting</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="https://transcripts.gotomeeting.com/#/s/27e4a104496c4e8d497aabd4fedf24fe35f91a22d05e962df24592cf5b6d854c ">Scrum Meeting</a></a>
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="col-md-4 project">
  <!-- <img src="static/img/services/service1.png" class="service-img" >-->
  <h4>Company Systems</h4>
  <p>
    We are a company that runs on systems. Click on the links to understand what each is all about.
  </p>
  <div class="ETL">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href=""
          id="navbarDropDown"
          role="button"
          data-toggle="dropdown"
        >
          <button type="btn" class="btn-primary">Select</button>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropDown">
          <a 
          class="dropdown-item" 
          href="https://transcripts.gotomeeting.com/#/s/64e6bf4c7856b85d1d75dc6281b7f2b4acd91a8dbcdd96d5d1e1222a1e81d08f    " 
          target="_blank"> Payment System(DAF)
       </a>
       <div class="dropdown-divider"></div>
         <a 
          class="dropdown-item" 
          href="    " 
          target="_blank">90 DAY-1 on 1 Session
       </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://drive.google.com/file/d/1T_mxQCQQXt8cHXiBvLZ_CWlhB2-5Pyww/view    ">Company Values & The Box System</a>
      </div>
      </li>
    </ul>
  </div>
</div>
</div>
                <!-------------------------Uploading work----------------------------------->
    <div class="data_header">
      <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
      <h3 class="title text-center">
        3. Attachments & Uploads
      </h3>
    </div>

    <div class="row text-center">
      <div class="col-md-12 services">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <p>
         Please Send us an email to 
         <a href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank">rc.hrdepartment@gmail.com</a> with all your uploads/attachments 
         and Indicate when you will be available to present your work to our panel so that we can schedule you.Thank You
        </p>

        </div>
      </div>
     <!--
      <div class="row text-center">
        <div class="col-md-12">
          <a
          class="dropdown-item"
          href="{% url 'application-firstupload' %}"
          target="_blank"
          ><button type="submit " class="btn btn-secondary">
            <i class="fas fa-database"></i>Please Proceed
          </button></a
        >
        </div>
      </div>
      -->
  </div>
</section>
{% endblock content %}


