<!--
  {%extends "data/basedata.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <h2>All Applicants</h2>
    <hr />
    <table style="width: 100%">
      <thead>
        <tr>
          <th>username</th>
          <th>Date Uploaded</th>
          <th>Powerpoint</th>
          <th>Tableau</th>
          <th>Alteryx</th>
          <th>Database</th>
          <th>Other Work</th>
        </tr>
      </thead>
      <tbody>
        {% for iupload in iuploads %}
        <tr>
          <td>{{iupload.username}}</td>
          <td>{{iupload.upload_date|date:"F d, Y"}}</td>
          <td>
            <a
              href="{{iupload.interviewppt.url}}"
              class="btn btn-secondary btn-sm"
              >Download
            </a>
          </td>
          <td>
            <a href="{{iupload.tableau.url}}" class="btn btn-secondary btn-sm"
              >Download
            </a>
          </td>
          <td>
            <a href="{{iupload.alteryx.url}}" class="btn btn-secondary btn-sm"
              >Download
            </a>
          </td>
          <td>
            <a href="{{iupload.SQL.url}}" class="btn btn-secondary btn-sm"
              >Download
            </a>
          </td>
          <td>
            <a href="{{iupload.other.url}}" class="btn btn-secondary btn-sm"
              >Download
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
--->
