{%extends "main/base.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <!--- <h3 class="title">BA & PROJECT MANAGEMENT</h3> -->
    <div class="row text-center">
      <div class="col-md-12">
        <h3>Interview Portal</h3>
        <hr />
        <h5>Data Analysis Section</h5>
        <p>
          Welcome to Your Interview Portal. You have successful submitted your
          cv/resume and as we go through your submissions please proceed to your
          first interview. In this section, you are required to undergo a data
          analysis interview by clicking on the button below.Your Interview
          starts today and you are hereby given 5 business days to complete it
          and schedule a presentation with our esteemed panel for valuation.
        </p>
        <a href="{% url 'application-first_interview' %}">
          <button type="button" class="btn btn-primary">First Interview</button>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
