{%extends "application/baseapplication.html"%} {% block content %}
<!-------------------Our Services Section------------------------->
<section id="project">
  <div class="project text-center">
    <div class="business_header">
      <h3 class="title text-center">WELCOME TO YOUR INTERVIEW PORTAL</h3>
    </div>
    <div class="row text-center">
      <div class="col-md-12 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <h4></h4>
        <p>
          Building a payment system that tracks employee’s acvitivities across
          business lines. Reporting deliverables included highlighting Gross
          pay, Net pay and Deductions in each department alongside their
          associated activities.
        </p>
        <!--
        <a href="#" target="_blank">
          <button type="button" class="btn1 btn-primary">More</button>
        </a>
      --></div>
    </div>
    <!-------------------------FIRST INTERVIEW----------------------------------->
    <div class="">.</div>
    <div class="data_header">
      <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
      <h3 class="title text-center">1. First Interview-Data Analysis</h3>
    </div>
    <div class="row text-center">
      <div class="col-md-12 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <p>
            ETL Team used Alteryx to Extract , Transform and Load for reporting
            and management purposes.Watch how our ETL Team came up with this
            wonderful Workflow.
        </p>
        <div class="ETL">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href="#">Access the Workflow</a>
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://drive.google.com/open?id=1yDLxQXOIhjG3ObgC15EEKyzf3mGrIE1e"
                  target="_blank"
                  >Watch Video</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="col-md-4 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
      </div>
    </div>

     <!-------------------------FIRST INTERVIEW----------------------------------->
     <div class="">.</div>
     <div class="data_header">
       <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
       <h3 class="title text-center">1. Second Interview-Other Tools</h3>
     </div>
     <div class="row text-center">
       <div class="col-md-12 project">
         <!-- <img src="static/img/services/service1.png" class="service-img" >-->
         <p>
          In this section you will be provided an opportunity to prove yourself in the following set of tools. MS Project for Project Management and VCDC for Video editing and Paint for wireframes.Access the following information and prepare a powerpoint presentation.
          </p>
         <div class="ETL">
           <ul class="navbar-nav ml-auto">
             <li class="nav-item dropdown">
               <a
                 class="nav-link dropdown-toggle"
                 href=""
                 id="navbarDropDown"
                 role="button"
                 data-toggle="dropdown"
               >
                 <button type="btn" class="btn-primary">Select</button>
               </a>

             </li>
           </ul>
         </div>
       </div>
       
     </div>


      <!-------------------------FIRST INTERVIEW----------------------------------->
    <div class="">.</div>
    <div class="data_header">
      <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
      <h3 class="title text-center">1. FIRST INTERVIEW-DATA ANALYSIS</h3>
    </div>
    <div class="row text-center">
      <div class="col-md-12 project">
        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
        <p>
          ETL Team used Alteryx to Extract , Transform and Load for reporting
          and management purposes.Watch how our ETL Team came up with this
          wonderful Workflow.
        </p>
        <div class="ETL">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropDown"
                role="button"
                data-toggle="dropdown"
              >
                <button type="btn" class="btn-primary">Select</button>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                <a class="dropdown-item" href="#">Access the Workflow</a>
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="https://drive.google.com/open?id=1yDLxQXOIhjG3ObgC15EEKyzf3mGrIE1e"
                  target="_blank"
                  >Watch Video</a
                >
              </div>
            </li>
          </ul>
        </div>
    </div>
  </div>
</section>
<section id="footer">
  <div class="footer" >
      <footer>
          <h4>Trademark | Company Policy | Contracts | Specifications</h4>
          </h4>
      </footer>
  </div>
  <div class="f_Color">
      <div class="container text-center">
          <!--- <h3 class="title">BA & PROJECT MANAGEMENT</h3> -->
          <div class="row text-center">
              <div class="col-md-3 ">
                  <!-- <img src="static/img//service1.png" class="service-img" >-->
                  <h5>About Us</h5>
                  <li class="footer-sub-item active">
                      <a class="footer-link" href="/team">Meet the Team</a>
                      <a class="footer-link" href="/">Partners</a>
                      <a class="footer-link" href="/">Location</a>
                      <a class="footer-link" href="/">Our Network</a>
                      <a class="footer-link" href="/">Connect</a>
                  </li>
              </div>
              <div class="col-md-3 ">
                  <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                  <h5>Core Services</h5>
                  <li class="footer-sub-item active">
                      <a class="footer-link" href="/">Training</a>
                      <a class="footer-link" href="/">Project Management</a>
                      <a class="footer-link" href="/">Job Networking</a>
                      <a class="footer-link" href="/">Recruitment</a>
                      <a class="footer-link" href="/">Resume Prep</a>
                  </li>
              </div>
              <div class="col-md-3 services">
                  <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                  <h5>Technologies</h5>
                  <li class="footer-sub-item active">
                      <a class="footer-link" href="https://www.youtube.com/watch?v=gWZtNdMko1k&list=PLWPirh4EWFpGXTBu8ldLZGJCUeTMBpJFK">Tableau</a>
                      <a class="footer-link" href="/">SQL</a>
                      <a class="footer-link" href="/">Python</a>
                      <a class="footer-link" href="https://www.youtube.com/watch?v=6DZ7YVeCeqg">Alteryx</a>
                      <a class="footer-link" href="/">Advanced Excel</a>
                  </li>
              </div>
              <div class="col-md-3">
                  <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                  <h5>More Resources</h5>
                  <li class="footer-sub-item active">
                      <a class="footer-link" target="_blank"
                          href="https://www.youtube.com/watch?v=RbWCBz5fBBw&list=PL5nViEmyYI0ZpbH5jjFPvMZVDDPqvd080">Business
                          Analysis</a>
                      <a class="footer-link" target="_blank"
                          href="https://public.tableau.com/en-us/s/resources">Tableau Resources</a>
                      <a class="footer-link" target="_blank"
                          href="https://www.youtube.com/watch?v=ZNObiptSMSI&list=PL08903FB7ACA1C2FB"> SQL by Venkat</a>
                      <a class="footer-link" target="_blank"
                          href="https://www.youtube.com/watch?v=YYXdXT2l-Gg&list=PL-osiE80TeTt2d9bfVyTiXJA-UTHn6WwU" target="_blank">Python by Corey</a>
                      <a class="footer-link" href="www.w3schools.com">General Links(w3schools)</a>
                  </li>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock content %}

