{%extends "application/baseapplication.html"%} {%load crispy_forms_tags%}
{%block content %}
<div class="content-section">
  <form method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4 text-center">
        Company Policy
        <p class="lead font-italic text-center">
          Please Enter the company policy.
        </p>
        <hr />
      </legend>
      <div class="row">
        <div class="col-md-6">{{ form.first_name|as_crispy_field }}</div>
        <div class="col-md-6">{{form.last_name|as_crispy_field }}</div>
      </div>
      <div class="row">
        <div class="col-md-6">{{ form.policy_type|as_crispy_field }}</div>
        <div class="col-md-6">{{form.description|as_crispy_field }}</div>
      </div>
      <div class="row">
        <div class="col-md-6">{{form.policy_doc|as_crispy_field }}</div>
      </div>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock content%}




