{%extends "application/baseapplication.html"%} {%load crispy_forms_tags%}
{%block content %}

<div class="upload">
  <h3 class="display-6 text-center">Rate The Candidates</h3>
  <p class="lead font-italic text-center">
    Rate Candidates and Employees on all categories in your department
  </p>
  <form method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token%}
    <div class="row">
      <div class="col-md-6">{{ form.first_name|as_crispy_field }}</div>
      <div class="col-md-6">{{form.last_name|as_crispy_field }}</div>
    </div>
    <div class="row">
      <div class="col-md-6">{{ form.topic|as_crispy_field }}</div>
      <div class="col-md-6">{{ form.punctuality|as_crispy_field }}</div>
    </div>
    <div class="row">
      <div class="col-md-6">{{ form.communication|as_crispy_field }}</div>
      <div class="col-md-6">{{ form.understanding|as_crispy_field }}</div>
    </div>

    <div class="row text-center">
      <div class="col-md-6">
        <button type="submit " class="btn btn-success">
          <i class="fas fa-database"></i>Submit
        </button>
      </div>
    </div>
  </form>
  <div></div>
</div>
{% endblock content %}
