{%extends "data/basedata.html"%} {% block content %}
<section id="rating">
  <div class="rating text-center">
    <h2>All Applicants</h2>
    <hr />
    <table style="width: 100%">
      <thead>
        <tr>
          <th>Rating Id</th>
          <th>Rating Date</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Punctuality</th>
          <th>Communication</th>
          <th>Topic</th>
          <!--
          <th>Total Score</th>
         
          <th>Country</th>
           <th>Cover Letter</th>-->
        </tr>
      </thead>
      <tbody>
        {% for rating in ratings %}
        <tr>
          <td>{{rating.id}}</td>
          <td>{{rating.rating_date}}</td>
          <td>{{rating.first_name}}</td>
          <td>{{rating.last_name}}</td>
          <td>{{rating.punctuality}}</td>
          <td>{{rating.communication}}</td>
          <td>{{rating.topic}}</td>
          <!---
          <td>{{rating.total_score}}</td>

          
          <td>
            <a href="{{applicant.resume.url}}" class="btn btn-primary btn-sm"
              >Download Resume
            </a>
          </td>
          
          <td>

            <a href="{{applicant.cover.url}}" class="btn btn-primary btn-sm"
              >Download Cover Letter
            </a>
          </td>
        --></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
