{%extends "main/base.html"%} {% block content %}
<section id="rating">
  <div class="rating text-center">
    <h2>Rating Results For All Applicants</h2>

    <!--------
    
    <div class="row">
      <div class="col">
        <div class="card card-body">
    
          <form method="get">
            {{myFilter.form}}
    
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
    
        </div>
      </div>
      
    </div>
      ------>
    <br>
    <div class="row">
      <div class="col-md-3">
        {{total_punctuality}}
      </div>
      <div class="col-md-3">
        {{total_communication}}
       </div>
       <div class="col-md-3">
        {{total_understanding}}
       </div>
    </div>

  <br>

    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>Date</th>
          <th>First</th>
          <th>Last</th>
          <th>Topic</th>
          <th>Punctuality</th>
          <th>Communication</th>
          <th>Understanding</th>
          <th></th>
          <!-- <th>total_score</th>-->
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for rating in ratings %}
          <td>{{rating.rating_date|date:"F d, Y"}}</td>
          <td>{{rating.first_name}}</td>
          <td>{{rating.last_name}}</td>
          <td>{{rating.topic}}</td>
          <td>{{rating.punctuality}}</td>
          <td>{{rating.communication}}</td>
          <td>{{rating.understanding}}</td>
          <td>
            <a
              href="{% url 'employee_update' rating.id}"
              class="btn text-secondary px-0"
            >
              edit
            </a>
          </td>
          <!--    <td>{{total_score}}</td>-->
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
