<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<style>
    .hidden{
        display:none;
    }

    .country{
        max-width:80px; 
    }

</style>

<div class="row">

    <div class="col-md-12"></div>

    <div class="col-md-12">
        <div class="card card-body">
            <button class="btn btn-sm btn-primary" id="Employee Renumeration">Employee Renumeration System</button>
            <!-- Data Table -->
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">Application Date </th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Phone</th>
                  <th scope="col">country</th>
                  <th scope="col">Update</th>
                </tr>
              </thead>
              <tbody id="applications-table">


                
              </tbody>
                    
            </table>
        </div>
    </div>
    <div class="col-md-12"></div>
</div>

<script>

    function updateApplicationPOST(data){
        var url = '/application/updateapplication/'
        $.ajax({
            method:'POST',
            url:url,
            data:data,
            success:function(){
                
            }
        })


    }


    function deleteApplicationPOST(data){
        var url = 'deleteapplication/'
        $.ajax({
            method:'POST',
            url:url,
            data:data,
            success:function(){
                
            }
        })
    }


    var applications = []
    var dataURL = 'applicationapi/'
    $.ajax({
        method:'GET',
        url:dataURL,
        success:function(response){
            applications = response
            console.log(applications)
            for (var i in applications){
                addRow(applications[i])
                i.submmited
   
            }
        }
    })

    function addRow(obj){
        var row = `<tr scope="row" class="application-row-${obj.id}">
                       <td id="submitted-${obj.id}" data-applicationid="${obj.id}"">${obj.submitted}</td>
                       <td id="first_name-${obj.id}" data-applicationid="${obj.id}"">${obj.first_name}</td>
                       <td id="last_name-${obj.id}" data-applicationid="${obj.id}"">${obj.last_name}</td>
                       <td id="phone-${obj.id}" data-applicationid="${obj.id}"">${obj.phone}</td>
                       <td id="country-${obj.id}" data-applicationid="${obj.id}"">${obj.country}</td>
                       
                       <td>
                            <button class="btn btn-sm btn-danger" data-applicationid=${obj.id} id="delete-${obj.id}">Delete</button>
                            <button class="btn btn-sm btn-info" disabled data-applicationid="${obj.id}"  id="save-${obj.id}">Save</button>
                            <button class="btn btn-sm btn-danger hidden" data-applicationid="${obj.id}"  id="cancel-${obj.id}">Cancel</button>
                            <button class="btn btn-sm btn-primary hidden" data-applicationid="${obj.id}"  id="confirm-${obj.id}">Confirm</button>
                       </td>
                   </tr>`

        $('#applications-table').append(row)


        $(`#delete-${obj.id}`).on('click', deleteApplication)
        $(`#cancel-${obj.id}`).on('click', cancelDeletion)
        $(`#confirm-${obj.id}`).on('click', confirmDeletion)
        $(`#save-${obj.id}`).on('click', saveUpdate)

        $(`#country-${obj.id}`).on('click', editcountry)
        
    }

    function editcountry(){
        var applicationid = $(this).data('applicationid')
        var value = $(this).html()

        $(this).unbind()
        $(this).html(`<input class="country form-control" data-applicationid=${applicationid} id="application-${applicationid}" type="text" value="${value}">`)

        $(`.country`).on('keyup', function(){
            var applicationid = $(this).data('applicationid')
            var saveBtn = $(`#save-${applicationid}`)
            saveBtn.prop('disabled', false)

        })

    }


    function saveUpdate(){
        console.log('Saved!')
        var applicationid = $(this).data('applicationid')
        var saveBtn = $(`#save-${applicationid}`)
        var row = $(`.application-row-${applicationid}`)

        saveBtn.prop('disabled', true)
        row.css('opacity', "0.5")

        var country = $(`#application-${applicationid}`).val()
        var data = {'id':applicationid, 'country':country}

        updateApplicationPOST(data)

        setTimeout(function(){
            row.css('opacity', '1')
        }, 2000)


    }

    function deleteApplication(){
        var applicationid = $(this).data('applicationid')

        var deleteBtn = $(`#delete-${applicationid}`)
        var saveBtn = $(`#save-${applicationid}`)
        var cancelBtn = $(`#cancel-${applicationid}`)
        var confirmBtn = $(`#confirm-${applicationid}`)

        deleteBtn.addClass('hidden')
        saveBtn.addClass('hidden')

        cancelBtn.removeClass('hidden')
        confirmBtn.removeClass('hidden')
    }

    function cancelDeletion(){
        var applicationid = $(this).data('applicationid')

        var deleteBtn = $(`#delete-${applicationid}`)
        var saveBtn = $(`#save-${applicationid}`)
        var cancelBtn = $(`#cancel-${applicationid}`)
        var confirmBtn = $(`#confirm-${applicationid}`)

        deleteBtn.removeClass('hidden')
        saveBtn.removeClass('hidden')

        cancelBtn.addClass('hidden')
        confirmBtn.addClass('hidden')

    }

    function confirmDeletion(){
        var applicationid = $(this).data('applicationid')
        var row = $(`.application-row-${applicationid}`)
        row.remove()
        var data = {'id':applicationid}
        deleteApplicationPOST(data)

    }


</script>

