<style type="text/css">
    .tg {
      border-collapse: collapse;
      border-spacing: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .tg td {
      border-color: black;
      border-style: solid;
      border-width: 1px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
    }
    .tg th {
      border-color: rgb(0, 0, 0);
      border-style: solid;
      border-width: 1px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      font-weight: normal;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
    }
    .tg .tg-67dp {
      background-color: #dce6f1;
      text-align: left;
      vertical-align: bottom;
    }
    .tg .tg-8xdm {
      background-color: #817b7b;
      color: #ffffff;
      font-family: Impact, Charcoal, sans-serif !important;
      font-size: 15px;
      text-align: center;
      vertical-align: bottom;
    }
    .tg .tg-xs21 {
      background-color: #817b7b;
      color: #ffffff;
      font-family: Impact, Charcoal, sans-serif !important;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      vertical-align: bottom;
    }
    .tg .tg-7zrl {
      text-align: left;
      vertical-align: bottom;
    }
  </style>
