{%extends "application/baseapplication.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <h2>uploading Your Documents</h2>
    <hr />
    <table style="width: 100%">
      <thead>
        <tr>
          <th>username</th>
          <th>Date Uploaded</th>
          <th>Powerpoint</th>
        </tr>
      </thead>
      <tbody>
        {% for iupload in iuploads %}
        <tr>
          <td>{{iupload.username}}</td>
          <td>{{iupload.upload_date|date:"F d, Y"}}</td>
          <td>
            <a
              href="{{iupload.interviewppt.url}}"
              class="btn btn-secondary btn-sm"
              >Download ppt
            </a>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
