{% extends "main/base_templates/new_base.html" %} 
{% block content %}
<section id="career">
  <div class="data_training text-center">
    <h3 class="title">WCAG WEBSITE</h3>
    <p class="p text-center">Click on your name to access your monthly tasks <b>{{ num_tasks }}</b> activities this month</p>
    <div class="row">
      <div class="col-md-4">
        <p>
          <a href="#" class="btn btn-secondary btn-sm">ADD CATEGORY</a>
          <a href="#" class="btn btn-secondary btn-sm">ADD GROUP</a>
        </p>
      </div>
    </div>
    <div class="container-fluid mr-auto">
      <div class="row text-center">
        <div class="career text-center">
          <table class="table table-borderless" style="width: 100%">
            <thead class="border-bottom font-weight-bold">
              <tr>
                <th>Page Name</th>
                <th>Website URL</th>
                <th>Improvements</th>
                <th>Created At</th>
                <th>Updated At</th>               
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="table_body_data">
              {% for website in websites %}
                <tr>
                  <td>{{ website.page_name }}</td>
                  <td>{{ website.website_url }}</td>
                  <td>{{ website.improvements }}</td>
                  <td>{{ website.created_at|date:"F j, Y, g:i a" }}</td>
                  <td>{{ website.updated_at|date:"F j, Y, g:i a" }}</td>
                  <td>               
                    <a href="#">Update</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>          
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
