{%extends "main/base_templates/base.html"%}
{% load mathfilters %}
{% block content %}
<section id="rating">
  <div class="rating text-center">
    <h2>Cashflows</h2>
    <h5>Revenue :$ {{revenue|mul:2}} </h5>
    <hr>
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>Date</th>
          <th>Sender</th>
          <th>Receiver</th>
          <th>Method</th>
          <th>Quantity</th>
          <th>Amount</th>
          <th>Total</th>
          <th>Description</th>
          <th>Update</th>
          <!-- <th>total_score</th>-->
        </tr>
      </thead>
      <tbody>
        {% for inflow in inflows %}
        <tr>
          <td>{{inflow.transaction_date|date:"n/d/Y"}}</td>
          <td>{{inflow.sender}}</td>
          <td>{{inflow.receiver}}</td>
          <td>{{inflow.method}}</td>
          <td>{{inflow.qty}}</td>
          <td>{{inflow.amount}}</td>
          <td>{{inflow.qty|mul:inflow.amount}}</td> 
          <td>{{inflow.description}}</td>
          <td> <a class="article-title" href="{% url 'management:inflow-detail' inflow.id %}">Edit</a></td>
          <td> </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}