/*-------------------------whole Page--------------------------------------------*/
html {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: white;
  padding: 0;
  margin: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}
/*------------------------- Navigation Section---------------------------------------------*/
.bg-steel {
  background: #351286;
}

ul {
  margin: 0;
}
.site-header .navbar-nav .nav-link {
  color: #ffffff;
}
.site-header .navbar-nav .nav-link:hover {
  color: #384cbe;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
/*------------------------- Main Section---------------------------------------*/
.container {
  padding: 10px 20px;
  /* border: 1px solid #dddddd;--*/
}

/*------------------------- Home Section: Services---------------------------------------*/
#service .service .title {
  background-color: rgba(4, 54, 95, 0.952);
  height: 40px;
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  color: #fcfcfc;
}

/*------------------------- Project Template--------------------------------------*/
#project .project .title {
  background-color: rgba(4, 54, 95, 0.952);
  height: 40px;
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  color: #fcfcfc;
}

/*------------------------- Training Template--------------------------------------*/
#training .training .title {
  background-color: rgba(4, 54, 95, 0.952);
  height: 40px;
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  color: #fcfcfc;
}

/* ---------------------------------------*/
.content-section {
  color: #444444;
  align-items: center;
}
.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}
.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}
.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}
.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}
.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 120px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
/*------------------------- footer Section--------------------------------------------*/
#footer .footer {
  background-color: rgba(4, 54, 95, 0.952);
  height: 40px;
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  color: #fcfcfc;
}

.footer-link {
  color: #000000;
  display: inline-block;
  text-align: left;
}
.f_Color li {
  color: #fcfcfc;
  text-decoration: none;
}
/*------------------------- table Section--------------------------------------------*/
#rating .rating .tg {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-67dp {
  background-color: #dce6f1;
  text-align: left;
  vertical-align: bottom;
}
.tg .tg-8xdm {
  background-color: #9b9b9b;
  color: #333333;
  font-family: Impact, Charcoal, sans-serif !important;
  font-size: 15px;
  text-align: center;
  vertical-align: bottom;
}
.tg .tg-xs21 {
  background-color: #9b9b9b;
  color: #333333;
  font-family: Impact, Charcoal, sans-serif !important;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
}
.tg .tg-7zrl {
  text-align: left;
  vertical-align: bottom;
}
