/*-------------------------whole Page--------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

/*-------------------------whole Page--------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --golden-color: #e7ad4a;
  --blue-color: #243865;
}

.banner-div {
  background-image: url("../img/banner.7ca125ee945a.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.banner-div::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(0, 0, 0, 0.85)), color-stop(80%, rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 50%, rgba(0, 0, 0, 0.45) 80%, rgba(0, 0, 0, 0) 100%);
}

.banner-div div {
  position: absolute;
  z-index: 2;
  bottom: 6rem;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.banner-div h2 {
  color: var(--golden-color);
  text-transform: uppercase;
  font-size: 52px;
  font-weight: 800;
}

.banner-div h1 {
  font-size: 90px;
  color: white;
  text-shadow: 0px 0px 22px black;
}

.strip-div {
  color: #2f2f30;
  background-color: #f5f5f5;
}

.strip-div p {
  text-align: center;
  font-size: 44px;
  letter-spacing: 1px;
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
  padding: 5rem 0;
  line-height: 1.7;
}

.services-div .row {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.services-div h2 {
  color: var(--blue-color);
  font-weight: 700;
}

.services-div p {
  font-size: 24px;
  margin-top: 1.5rem;
}

.services-div a {
  text-decoration: none;
  background-color: var(--golden-color);
  color: white;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 1rem;
  font-weight: 600;
}

.services-div img {
  height: 28rem;
  width: 100%;
}

.testimonials-div {
  background-color: #dcdcdc;
  text-align: center;
  padding: 4rem 0 3rem;
}

.testimonials-div h1 {
  font-size: 64px;
  margin-bottom: 2rem;
  color: var(--golden-color);
  letter-spacing: 2px;
}

.testimonials-div .img-div span {
  height: 150px;
  width: 150px;
  background-color: var(--blue-color);
  display: inline-block;
  border: 20px solid white;
  outline: 10px solid var(--blue-color);
  border-radius: 100px;
}

.testimonials-div h2 {
  text-transform: uppercase;
  color: var(--blue-color);
  font-size: 42px;
  margin: 1.5rem 0 1rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.testimonials-div p {
  font-size: 24px;
  width: 78%;
  margin: 0 auto;
}

.testimonials-div h3 {
  font-size: 24px;
  margin: 1rem 0 0.5rem;
  font-weight: 600;
  color: var(--golden-color);
  text-transform: uppercase;
}

.testimonials-div h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: var(--blue-color);
  margin: 1rem 0 3rem;
  letter-spacing: 1px;
}

.testimonials-div .owl-nav {
  display: none;
}

.testimonials-div .owl-carousel .owl-dots.disabled {
  display: block;
}

.testimonials-div .owl-carousel button.owl-dot {
  background-color: var(--golden-color);
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  border-radius: 50px;
}

.testimonials-div .owl-carousel button.owl-dot.active {
  background-color: var(--blue-color);
}

.back-to-top-btn {
  padding: 10rem 0 5rem;
}

.back-to-top-btn a {
  text-transform: uppercase;
  background-color: var(--golden-color);
  color: white;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1px;
}

@media (max-width: 992px) {
  .banner-div div {
    bottom: 3rem;
  }

  .banner-div h2 {
    font-size: 40px;
  }

  .banner-div h1 {
    font-size: 56px;
  }

  .strip-div p {
    width: 100%;
    font-size: 36px;
  }

  .services-div .row {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .services-div p {
    font-size: 20px;
  }

  .testimonials-div h1 {
    font-size: 56px;
  }

  .testimonials-div h2 {
    font-size: 36px;
  }

  .testimonials-div p {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .banner-div h1 {
    font-size: 52px;
  }

  .services-div .row {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .services-div p {
    font-size: 20px;
  }

  .testimonials-div h1 {
    font-size: 38px;
    letter-spacing: 1px;
  }

  .testimonials-div h2 {
    font-size: 28px;
    letter-spacing: 1px;
  }

  .testimonials-div p {
    width: 100%;
    font-size: 20px;
  }
}

.logo-text {
  color: #243865 !important;
  font-size: 3rem !important;
  font-weight: bold;
}

.nav-items>a {
  color: #ADB4C5 !important;
}

.navbar .navbar-brand {
  font-size: 30px;
}

.navbar .nav-item {
  padding: 10px 20px;
}

.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
}

.fa-bars {
  color: #007bff;
  font-size: 30px;
}

@media (max-width: 576px) {
  .banner-div h2 {
    font-size: 32px;
  }

  .banner-div h1 {
    font-size: 36px;
  }

  .strip-div p {
    padding: 3rem 0;
    line-height: 1.5;
    font-size: 26px;
  }

  .services-div .row {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .services-div img {
    height: auto;
  }

  .services-div p {
    font-size: 16px;
  }

  .services-div a {
    margin-top: .5rem;
  }

  .testimonials-div {
    padding: 3rem 0;
  }

  .testimonials-div h1 {
    font-size: 34px;
    margin-bottom: 1.5rem;
  }

  .testimonials-div h2 {
    font-size: 24px;
  }

  .testimonials-div p {
    font-size: 16px;
  }

  .testimonials-div h3 {
    font-size: 22px;
  }

  .testimonials-div h4 {
    margin-bottom: 2rem;
  }

  .back-to-top-btn {
    padding: 6rem 0 3rem;
  }
}