<style>
    table {
        width: 100%;  /* Take up the full width of its container */
        border-collapse: collapse;  /* Remove gaps between table cells */
    }

    th, td {
        padding: 10px;  /* Add padding to all table header and data cells */
        border: 1px solid #ddd;  /* Add a light border around cells */
    }

    th {
        background-color: #f2f2f2;  /* Slight gray background for headers */
    }
</style>

{% if financial_data %}
    <table>
        <thead>
            <tr>
                <th>Key</th>
                {% for key in financial_data.keys %}
                    <td>{{ key }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Value</th>
                {% for value in financial_data.values %}
                    <td>{{ value|floatformat:2}}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endif %}


<!-- {% if financial_data %}
    <table>
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in financial_data.items %}
                <tr>
                    <td>{{ key }}</td> :<td>{{ value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %} -->


<!-- For a DataFrame (like financials):

{% if data %}
    <table>
        <thead>
            <tr>
                {% for column in data.columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for index, row in data.iterrows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}





