{%extends "main/base_templates/base.html"%} {% block content %}
<section id="career">
  <div class="data_training text-center">
    <h3 class="title">WHATSAPP GROUPS</h3>
    <p class="p text-center">Click on your name to access your monthly tasks <b>{{num_tasks}}</b> activities this month</p>
    <div class="row">
      <div class="col-md-6">
        <p>
          <a href="{% url 'main:whatsapp_new'%}" class="btn btn-secondary btn-sm">ADD GROUP</a>
        </p>
      </div>
      <div class="col-md-6">
        <p><a href="#" class="btn btn-secondary btn-sm"
          >ADD TO COME..
        </a></p>
      </div>
    </div>
  </div> 
  <br>
  <hr>
  <div class="career text-center">
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">  
        <tr>
            <th>group_name</th>
            <th>group_id </th>
            <th>image_url</th>
            <th>message</th>
            <th>created_at</th>
            <th>updated_at</th>
        </tr>
      </thead>
      <tbody id="table_body_data">
       
        {% for obj in  whatsaapitems  %}
          <tr>
            <td>{{obj.group_name}}</td>
            <td>{{obj.group_id }}</td>
            <td>{{obj.image_url}}</td>
            <td>{{obj.message}}</td>
            <td>{{obj.created_at}}</td>
            <td>{{obj.updated_at}}</td>
              <td>
                <button>
                  <a href="{{task.task_url}}">Button</a>
                </button>
              </td>
              {%if request.user%}
              <td> <a class="article-title" href="{% url 'main:whatsapp_update' obj.id %}">Edit</a></td>
              {%endif%}
              {%if user.is_admin or user.is_superuser%}
              <td> <a class="article-title" href="{% url 'main:delete_whatsapp' obj.id %}">Delete</a></td>
              {%endif%}
          </tr>
          
        {% endfor %}

      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
