{%extends "main/base_templates/analysis_index.html"%} {%load crispy_forms_tags%}
{%block content %}
<div class="content-section">
  <form method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom  text-center">
        <p class="lead font-italic mt-4  text-center text-color:white">
            .
        </p>
        <p class="lead font-italic mt-4  text-center">
            DAILY STAND-UP SESSION
        </p>
      </legend>
      <div class="row text-center">
        <div class="col-md-6" id="bada">
          <div class="card">
          <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
            <div class="card-body">
              <h5><b>Training Work</b></h5>
              <hr/>
              <i><h6>1. Assigned Videos  &#160 2. Powerpoints </h6></i>
              <i><p>3. Practices(Assignments) </p></i>
            </div>
          </div>
        </div>
        <div class="col-md-6" id="bada">
          <div class="card">
          <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
            <div class="card-body">
              <h5><b>Interview Work</b></h5>
              <hr/>
              <i><p>1. Resume &nbsp 2. Introduction &nbsp3. Project Story &nbsp 4. Methodology</p></i>
              <i><p>5. SDLC &nbsp 6. Performance &nbsp 7. Testing &nbsp 8. Deployment</p></i>
            </div>
          </div>
        </div>
</div>
<hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
      <div class="row">
        <div class="col-md-3">{{ form.trained_by|as_crispy_field }}</div>
        <div class="col-md-3">{{form.client_name|as_crispy_field }}</div>
        <div class="col-md-3">{{form.category|as_crispy_field }}</div>
        <div class="col-md-3">{{form.type|as_crispy_field }}</div>
        
      </div>
      <div class="row">
        <div class="col-md-4">{{ form.task|as_crispy_field }}</div>
        <div class="col-md-4">{{form.plan|as_crispy_field }}</div>
        <div class="col-md-4">{{form.challenge|as_crispy_field }}</div>
      </div>
      <div class="row">
        <div class="col-md-6">{{ form.uploaded|as_crispy_field }}</div>
      </div>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock content%}





