<div class="dropdown-menu" aria-labelledby="navbarDropDown">
    {% if user.is_staff %}
          <a class="dropdown-item"href="{% url 'main:team' %}" target="" >My Account</a >
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'management:user_task' request.user %}" target="" >My DAF</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'management:user_task_history' user.id %}" target="" >Last DAF</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'accounts:user-list' request.user %}" target="" >My Time</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'application:internal' %}" target="" >Internal(1-1)</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'account-logout' %}" target="" >Logout</a>
          
    {% elif user.is_admin or user.is_superuser %}
          <a class="dropdown-item"href="{% url 'main:team' %}" target="" >My Account</a >
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'accounts:accounts-users'%}" target="" >Users</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'management:user_task' request.user %}" target="" >Current DAF</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'management:user_task_history' user.id %}" target="" >Last DAF</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'management:tasks'%}" target="" >Tasks</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'management:taskhistory'%}" target="" >History Tasks</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'accounts:user-list' request.user %}" target="" >My Time</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'application:internal' %}" target="" >Internal(1-1)</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'account-logout' %}" target="" >Logout</a>
    {% elif user.is_client %}
      <a class="dropdown-item" href="{% url 'accounts:user-list' request.user %}" target="" >My Time</a>
          <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'account-logout' %}" target="" >Logout</a>
    {% else %}
      <a class="dropdown-item" href="{% url 'account-logout' %}" target="" >Logout</a>
    {% endif %}
</div>