
  <section id="data_training">
  <div class="data_training text-center">
      <h3 class="title"></h3>
      <div class="row text-center">
          <div class="col-md-8" id="gi">
              <div class="card">
                {% if instance.image %}
                <img src="{{instance.image.url}}" class="card-img-top" alt="{{instance.title}}">
                {% endif %}
                <div class="card-body">
                  <h4><b>{{instance.title}}</b></h4>
                  <hr/>
                  <p class="gi">
                    {% if value.title == "General Meeting" %} 
                          <div class="row text-center">
                              <div class="col-md-6">
                                  {% for employee in employees %}
                                  {{employee}}<br>
                                  {%endfor%}
                              </div>
                              <div class="col-md-6">
                                <font size="-1">
                                  {% for dep in departments %}
                                  {{dep}}<br>
                                  {%endfor%}
                                </font>
                              </div>
                          </div>
                          {% endif %}
                    {{instance.description}}
                  </p>
                  <hr>
                  <div class="row text-center">
                    <div class="col-md-6">
                      <a href="{{instance.link}}" class="btn btn-secondary">Access</a>
                  </div>
                    <div class="col-md-6">
                      <a href="{{instance.video}}" class="btn btn-secondary">Video</a>
                  </div>
                  </div>
              </ul>
            </div>
          </div>
        </div>
  </section>

