<div class="content-section">
  <form method="get">
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">{{ message }}</legend>
          <!-- Render the 'symbol' filter field -->
          <div class="form-field">
              {{ instance.form.symbol.label_tag }}
              {{ instance.form.symbol }}
          </div>
          <!-- Render the 'action' filter field -->
          <div class="form-field">
              {{ instance.form.action.label_tag }}
              {{ instance.form.action }}
          </div>
          <!-- Render the 'event' filter field -->
          <div class="form-field">
              {{ instance.form.event.label_tag }}
              {{ instance.form.event }}
          </div>
          <div class="form-field">
              {{ instance.form.date.label_tag }}
              {{ instance.form.date }}
          </div>
      </fieldset>
      <div class="form-group">
          <button class="btn btn-outline-info" type="submit">
              Submit
          </button>
      </div>
  </form>
</div>
