      <!-- <div class="content-section">
        <form method="get">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{message}}</legend>
            {{credential_filters}}
          </fieldset>
          <div class="form-group">
                <button class="btn btn-outline-info" type="submit" >
                    Submit
                </button>
          </div>
        </form>
      </div> -->

<!-- <div class="content-section">
      <form method="get">
        {{ credential_filters.form.as_p }}
        <input type="submit"/>
    </form>
</div> -->

<!-- {% for obj in credential_filters.qs %}
{% include 'main/snippets_templates/filtercard.html'%}
{% endfor %}

{% for filter in credential_filters.qs%}
{% include 'main/snippets_templates/filtercard.html'%}
{% endfor %} -->