<tbody>
    <tr>
        <!-- <td>{{instance.created_at|date:"n-d-Y"}}</td> -->
        <td>{{instance.goal}}</td>
        <td>{{instance.task}}</td>
        <td>{{instance.responsible_party}}</td>
        <td>{{instance.duration}}</td>
        <td>{{delivery_date|date:"n-d-Y"}}</td>
        <td>{{instance.is_active}}</td>
        <td>{{instance.status}}</td>
        <td> <a class="article-title" href="{% url 'main:update_plan' instance.id %}">Edit</a></td>
        <td> <a class="article-title" href="{% url 'main:delete_plan' instance.id %}"">Delete</a></td>
        </tr>
</tbody>