        <div class="row bottom-coloumn">
            <div class="col-md-12 top-coloumn bottom-coloumn">
                    <div class="row">
                        <div class="col-md-12 top-coloumn bg-white">
                            <div class="row">
                                <div class="col-md-12" id="gi">
                                    <div class="card">
                                        <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                                        <div class="card-body">
                                            <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
                                            <p class="gi">
                                                {% for paragraph in paragraphs %}
                                                    {{ paragraph }}<br>
                                                {% endfor %}
                                            </p>
                                            <hr/>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 ">
                        </div>
                    </div>
            </div>
            <div class="col-md-5 bottom-left-coloumn">
                <div style="padding-top: 2.2rem;">
                </div>
            </div>
        </div>