{% load static %}

<div class="section">
  {% for category, members in team_categories.items %}
  <div class="row">
      <div class="col-md-3">
        <div class="emp border-light">
          <h1 class="display-6" style="font-size: 24px;">{{ category }}</h1>
          <p class="descriptionside" style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.8;">
            {% for team_member in team_members %}
              {% if team_member.title == category %}
                {{ team_member.description }}
              {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
      <div class="col-md-9">
        <div class="emp">
          <div class="row text-center commit">
            {% for member in members %}
                {% if member.description %}
                    <div class="col-md-4">
                        <div class="img-div p-3">
                            <img src="{{ googledriveurl }}{{ member.img_url }}" onerror="handleImageError(this, '{{member.user.first_name}}')" class="team-img rounded-circle" width="120px" height="120px" alt="Team Member Image">
                        </div>
                        <div class="member-info">
                          <a href="#" class="member-link">
                            <h3 class="display-6" style="font-size: 18px;">{{ member.user.first_name }}, {{ member.user.last_name }}</h3>
                            <h5  style="font-size: 18px;">{{ member.position }}</h5>
                          </a>
                          <p class="description" style="font-size: 15px;">{{ member.description }}</p>
                        </div>
                        {% if member.is_admin or member.is_superuser or member == member.user %}
                            <a href="{% url 'main:update_profile' member.user.id %}">Update Profile</a>
                        {% endif %}
                    </div>
                {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
  </div>
    <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
  {% endfor %}
</div>

<script>
  function handleImageError(img, name) {
    img.style.height = '120px'; // Set the desired height in pixels
    img.style.width = '120px';  // Set the desired width in pixels
    // img.remove(); // Remove the grandparent div
    console.log(name)
    if (img.src.includes('/static/')){
      img.src = "" //"{% static '/main/img/profile/profile.jpeg' %}"
    }
    else{
      img.src = "{% static 'main/img/profile/' %}"+ name.toLowerCase() +".jpeg"
      // img.src = "{% static '/main/img/service-1.jpg' %}"
    }
  }
</script>