<div class="section">
    {% for category, members in team_categories.items %}
    <div class="row">
        <div class="col-md-3">
          <div class="emp border-light">
            <h1 class="display-6" style="font-size: 24px;">{{ category }}</h1>
            <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5;">
              {% for team_member in team_members %}
                {% if team_member.title == category %}
                  {{ team_member.description }}
                {% endif %}
              {% endfor %}
            </p>
          </div>
        </div>
        <div class="col-md-9">
          <div class="emp">
            <div class="row text-center commit">
              {% for member in members %}
                <div class="col-md-4">
                  <div class="img-div p-3">
                    <img src="{{ googledriveurl }}={{ member.img_url }}" class="team-img rounded-circle" width="120px" height="120px" alt="Team Member Image">
                  </div>
                  <h3 class="display-6" style="font-size: 20px;">{{ member.user.first_name }}, {{ member.user.last_name }}</h3>
                  <h5>{{ member.position }}</h5>
                  <p style="font-size: 16px;">{{ member.description }}</p>
                  {% if member.is_admin or member.is_superuser or member == member.user %}
                    <a href="{% url 'main:update_profile' member.user.id %}">Update Profile</a>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
    </div>
      <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
    {% endfor %}
  </div>
  