{% if user.sub_category == 4 %}
<div class="row">
    <div class="col-lg-12">
        <p class="lead  text-center">
            <b>Terms and Conditions</b>
        </p>
        <p>
            1. CODA Shall commence the payment of returns on 30 days from the day the money is received/deposited in the account<br>
            2. CODA shall provide all necessary information as requested by the client.<br>
            3. The amount shall not be withdrawn/requested after a minimum of 6 month.Any withdrawals before 6 month shall be subjected to a 10% penalty of the total amount.<br>
            4. The rate of interest shall be 7% of the amount invested.<br>
            5. After 6 month, the client should agree if need be to a maximum withdrawal of 33 % of the Buying Power.<br>
          </p>
    </div>
  </div>
  {%elif user.sub_category == 5 %}
  <div class="row">
      <div class="col-lg-12">
          <p class="lead  text-center">
              <b>Terms and Conditions</b>
          </p>
          <p>
              1. CODA Shall commence the payment of returns on 60 days from the day the money is received/deposited in the account<br>
              2. CODA shall provide all necessary information as requested by the client.<br>
              3. The amount shall not be withdrawn/requested after a minimum of 6 month.Any withdrawals before 6 month shall be subjected to a 10% penalty of the total amount.<br>
              4. The rate of interest shall be 5% of the total investment.<br>
              5. After 6 month, the client should agree if need be to a maximum withdrawal of 33 % of the Buying Power.<br>
            </p>
      </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-lg-12">
            <p class="lead  text-center">
                <b>Terms </b>
            </p>
            <p>
                1. All training sessions will be conducted virtually using the <b>GoToMeeting & ZOOM</b> platforms. The specific dates of the training sessions will be communicated by CODA. In the event of any change in the training platform, CODA will notify the Client via email and social media groups such as WhatsApp platforms.<br>
                2. CODA will provide all necessary learning materials, including PowerPoints and videos, throughout the training period.<br>
                3. The Client agrees to make payments according to the <b>payment schedule</b> attached to the contract.<br>
                4. The information provided during the training sessions is for educational and entertainment purposes only. It should not be construed as solicitation or financial advice for any underlying trades.<br>
                5. CODA will not be held liable for any loss incurred from trades made using the information or data provided on its site.<br>
              </p>
        </div>
      </div>
{% endif %}