{%extends "main/base_templates/analysis_index.html"%} 
{% load static %}
{% block title %}
{% if department %}{{ department.name }}{% else %}activities{% endif %}
{% endblock %}
{% block content %}
<!--------------------------Slider Section--------------------------------->
<!-------------------Our home services Section------------------------->
<!------------------- if category.upper in "category.upper------------------------->

{% include 'main/navbar_templates/data_navbar.html' %}
{% for category in categories %}
<section id="data_training">
    <div class="data_training text-center">
        <h3 class="title"> {{category.title}} </h3>
        {% for subcategory in category.featuredsubcategory_set.all %}
                <h4>{{subcategory.title}}</h4>
                <hr/>
                <p class="gi">
                {{subcategory.description}}
        </p>
        <div class="row text-center">
            {% for activity in subcategory.subcategories_fetured.all %}
            <div class="col-md-4" id="gi">
                <div class="card">
                  <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                    <div class="card-body">
                        <h6>{{activity.activity_name}}</h6>
                        <hr/>
                        <p class="gi">
                        {{activity.description}}
                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                    <a
                                    class="nav-link dropdown-toggle"
                                    href=""
                                    id="navbarDropDown"
                                    role="button"
                                    data-toggle="dropdown"
                                    >
                                    <button type="btn" class="btn-primary">Select</button>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                        {% for link in activity.activity_featured.all %}
                                        <a class="dropdown-item" target="_blank" href=" {{link.link}}"> {{link.link_name}}</a>
                                        <div class="dropdown-divider"></div>
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                            </div>
                            </div>
                    </div>
                    {%endfor%}
        </div>
        {%endfor%}
    </div>
    </section>
    {%endfor%}
{% endblock content %}




