{% extends "main/base_templates/new_base.html"%}
{% block content %}

<div class="container-fluid">
  <div class="row jumbotron">
    <div id="j-section" class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <!--<p class="lead">-->
        <!--Our goal is to empower individuals and organizations by training Stocks and Options to use proven techniques and market fundamentals to optimize their return on investment.-->
      <!--</p>-->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
    <a href="/register" target="_blank">
      <!--<button type="button" class="btn btn-primary btn-lg">Get Started</button>-->
    </a>
  </div>
  </div>

<!-------------------Our Services Section---------------------->
<!-------------------WHAT WE DO Section------------------------->

<!-------------------WHAT WE DO Section------------------------->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h2 class="display-4">TRINING DATA ANALYSIS</h2>
    </div>
    <hr/>
    <div class="col-12">
      <p class="lead">
          Enter a master class that meets all your trading needs in TRINING DATA ANALYSIS.
      </p>
    </div>
  </div>
</div>

    <!-------------------Cards-Category Section----------------------->
<div class="container-fluid padding">
  <div class="row padding text-center">
    <div class="col-md-4" id="bada">
      <div class="card">
       <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
        <div class="card-body">
          <h4><b>FULL COURSE</b></h4>
          <hr/>
          <p>TABLEAU(REPORTING)</p>
          <p>ALTERYX(ETL)</p>
          <p>DATABASE(SQL)</p>
          <p>3000</p>

          <a href="{% url 'data:train' %}" >
            <button type="button" class="btn btn-primary">Pay Now</button>
        </a>
        </div>
      </div>
    </div>
    <hr>Pay Now
    <div class="col-md-4" id="bada">
      <div class="card">
        <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
        <div class="card-body">
          <h4><b>Interview Training : Starter</b></h4>
          <hr/>
          <p>Without Coach</p>
          <p>299</p>
          <a href="{% url 'data:train' %}" >
            <button type="button" class="btn btn-primary">Pay Now</button>
        </a>
        </div>
      </div>
    </div>
    <hr>

    <div class="col-md-4" id="bada">
      <div class="card">
        <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
        <div class="card-body">
          <h4><b>Interview Training : Premium</b></h4>
          <hr/>
          <p>With Coach</p>
          <p>1500</p>
          <a href="{% url 'data:train' %}" >
            <button type="button" class="btn btn-primary">Pay Now</button>
        </a>
        </div>
      </div>
    </div>
    <hr>

  </div>
</div>


<br>
<br>


{% endblock content %}