{%extends "main/base_templates/analysis_index.html"%} {% block content %}

<section id="data_training">
    <div class="data_training text-center">
        <h3 class="title"> WELCOME BACK {{user.first_name|upper }} </h3>
        <p class="gi">
          An overview of tools that will be used to deliver the project.In this project we will use Tableau for reporting,Alteryx for ETL and SQL for database.
      </p>
        <div class="row text-center">
          {% for dsu in  object_list  %}
            <div class="col-md-4" id="gi">
                <div class="card">
                  <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                    <div class="card-body">
                      {% if dsu.trained_by.first_name == "" or  dsu.trained_by.last_name == "" %}
                        {{dsu.trained_by}} | {{dsu.created_at|date:"F d, Y"}}
                      {% else %}
                        {{dsu.trained_by.first_name}},{{dsu.trained_by.last_name}} | {{dsu.created_at|date:"F d, Y"}}
                      {% endif %}
                        <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
                        <p><b>Achievements</b></p>
                        {{dsu.task}}
                        <p class="gi">
                          {{dsu.task}}
                        </p>
                        <hr/>
                        <p><b>Staff/Client Plan</b></p>
                        <p class="gi">
                          {{dsu.plan}}
                        </p>
                        <hr/>
                        <p><b>Challeges</b></p>
                        <p class="gi">
                          {{dsu.challenge}}
                        </p>
                        
                    </div>
                  </div>
               </div>
              {%endfor%}
        </div>
    </div>
    </section>

{% endblock content %}




