{%extends "main/base_templates/analysis_index.html"%} {% block content %}
<section id="data_training">
  {% if request.path == '/data/student_feedback/' %}
  <div class="data_training text-center">
    <h3 class="title">STUDENTS FEEDBACK</h3>
    <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
    <p class="p text-center"> </p>
    <p class="gi">
      Students feedback/retrospective on how the course is progressing.
  </p>
    <div class="row text-center">
      {% for response in  responses  %}
        <div class="col-md-4" id="gi">
            <div class="card">
              <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                <div class="card-body">
                  {% if response.question == "" or  response.question.last_name == "" %}
                    {{response.user.username}} | {{response.upload_date|date:"F d, Y"}}
                  {% else %} 
                  {{response.user.username}} | {{response.upload_date|date:"F d, Y"}}
                  {% endif %}
                    <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
                    <p><b>Responses</b></p>
                    <p class="gi">
                      {{response.question}}
                    </p>
                    <hr/>
                    <p><b>Additional Comments</b></p>
                    <p class="gi">
                      {{response.comment}}
                    </p>
                    <hr/>
                </div>
              </div>
           </div>
          {%endfor%}
    </div>
</div>
{% else %}
  <div class="data_training text-center">
    <h3 class="title">DAILY STAND-UP SESSION</h3>
    <a href="{% url 'data:dsu_entry'%}" class="btn btn-primary btn-sm"
    >NEXT CLIENT/STAFF
  </a>
  <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
  <p class="p text-center"> </p>
  
        <p class="gi">
          Summary of what clients/staff have accomplished on a daily/weekly basis.Gives the management a chance to deal with the challenges faced by clients/staff.
      </p>
        <div class="row text-center">
          {% for dsu in  object_list  %}
            <div class="col-md-4" id="gi">
                <div class="card">
                  <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                    <div class="card-body">
                      {% if dsu.trained_by.first_name == "" or  dsu.trained_by.last_name == "" %}
                        {{dsu.trained_by}} | {{dsu.created_at|date:"F d, Y"}}
                      {% else %} 
                        {{dsu.trained_by.first_name}},{{dsu.trained_by.last_name}} | {{dsu.created_at|date:"F d, Y"}}
                        {% endif %}
                        <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
                        <p><b>Achievements</b></p>
                        <p class="gi">
                          {{dsu.task}}
                        </p>
                        <hr/>
                        <p><b>Staff/Client Plan</b></p>
                        <p class="gi">
                          {{dsu.plan}}
                        </p>
                        <hr/>
                        <p><b>Challeges</b></p>
                        <p class="gi">
                          {{dsu.challenge}}
                        </p>
                        
                      </div>
                    </div>
                  </div>
                  {%endfor%}
                </div>
              </div>
    {% endif%}
  </section>
{% endblock content %}




