{% extends "main/base_templates/new_base.html"%}
{% block content %}

<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h2 class="display-4">{{title}}</h2>
    </div>
    <hr/>
    <div class="col-12">
      <p class="lead">
       {{description}}
      </p>
    </div>
  </div> 
</div>
<div class="container-fluid padding">
  <div class="row padding">
    {% for service in services %}
    <div class="col-md-3" id="bada">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center"><b>{{service.subcategory}}</b></h4>
          <!-- <h4 class="text-center"><b>Full Course</b></h4> -->
          <hr/>
          <ul>
            <li><b>{{service.name}}:</b>{{service.description}}</li>
            <!-- <li><b>Data Analysis:</b> Train on Reporting(Tableau,PowerBI),ETL(Alteryx),Database(SQL,Snowflake)</li>
            <li><b>Interview:</b>Help to prepare for the interview in the industry on questions ranging from resume,performance to use case descriptions</li> -->
          </ul>
          <a href="{% url 'data:train' %}" >
            <button type="button" class="btn btn-primary">Read More</button>
          </a>
          {%if request.user.is_superuser %}
          <a href="{% url 'main:update_service' service.id %}" >
            <button type="button" class="btn btn-primary">edit</button>
          </a>
          {%endif%}
        </div>
      </div>
    </div>
    <hr>
    {% endfor %}

  </div>
</div> 

<br>
<br>

{% endblock content %}