{% extends "main/base_templates/new_base.html"%}
{% block content %}

<div class="container-fluid">
  <div class="row jumbotron">
    <div id="j-section" class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <!--<p class="lead">-->
        <!--Our goal is to empower individuals and organizations by training Stocks and Options to use proven techniques and market fundamentals to optimize their return on investment.-->
      <!--</p>-->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
    <a href="/register" target="_blank">
      <!--<button type="button" class="btn btn-primary btn-lg">Get Started</button>-->
    </a>
  </div>
  </div>

<!-------------------Our Services Section---------------------->
<!-------------------WHAT WE DO Section------------------------->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h2 class="display-4">Our Services</h2>
    </div>
    <hr/>
    <div class="col-12">
      <p class="lead">
        At CODA, our team of experts offers comprehensive training services to help individuals develop the skills and knowledge needed to succeed in their roles.
        The category of services here includes: Job Support, End to End Data Analysis Training and a single service trainig tailored to experts in the industry.
      </p>
    </div>
  </div> 
</div>

    <!-------------------Cards-Category Section----------------------->
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-3" id="bada">
      <div class="card">
       <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
        <div class="card-body">
          <h4 class="text-center"><b>Job Support</b></h4>
          <hr/>
          <ul>
            <li><b>Onboarding:</b> Help new hires get up to speed quickly and effectively plus overcome any technical or organizational obstacles that may arise in the workplace</li>
            <li><b>Troubleshooting:</b>Technical help on various platforms and tools such as Tableau, Power BI, Alteryx, SQL, Snowflake, and Python
            </li>
            <li><b>Requirements analysis:</b>Help individuals better understand project needs and identify effective strategies</li>
          </ul>
          <!-- <p>CODA offers comprehensive job support services to help individuals succeed in their roles and achieve their professional goals.
             Our services include onboarding, which involves providing new hires with the necessary resources and training to get up to speed
             quickly and effectively. We also specialize in troubleshooting technical issues on a variety of platforms and tools, including Tableau,
             Power BI, Alteryx, SQL, Snowflake, and Python. Our team of experts works quickly and efficiently to diagnose and resolve problems, 
             ensuring that employees can continue to work productively and effectively. Additionally, we provide requirements analysis to help 
             individuals better understand project needs and identify the most effective strategies for achieving success. By providing these valuable services,
             CODA empowers individuals to thrive in their positions and achieve their career aspirations. With our job support services,
             individuals can be confident that they have the support they need to overcome any technical or organizational obstacles and 
             achieve success in their work.</p> -->

          <a href="{% url 'data:job_support' %}" >
            <button type="button" class="btn btn-primary text-center">Select a Plan</button>
        </a>
        </div>
      </div>
    </div>
    <hr>
    <div class="col-md-3" id="bada">
      <div class="card">
       <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
        <div class="card-body">
          <h4 class="text-center"><b>Data Analysis/BA Training</b></h4>
          <hr/>
          <ul>
            <li><b>Project Based Training:</b>Trained on understanding a specific Use case that mimicks work environment</li>
            <li><b>Data Analysis:</b> Train on Reporting(Tableau,PowerBI),ETL(Alteryx),Database(SQL,Snowflake)</li>
            <li><b>Interview:</b>Help to prepare for the interview in the industry on questions ranging from resume,performance to use case descriptions</li>
          </ul>
          <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->

          <a href="{% url 'data:train' %}" >
            <button type="button" class="btn btn-primary">Read More</button>
        </a>
        </div>
      </div>
    </div>
    <hr>
    <div class="col-md-3" id="bada">
      <div class="card">
       <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
        <div class="card-body">
          <h4 class="text-center"><b>Application & Interview</b></h4>
          <hr/>
          <ul>
            <li><b>Guide on Interview Scripts:</b>Understand how to Write a response to interview questions</li>
            <li><b>Practice Sessions:</b> Offer guidance on self-paced interview sessions</li>
            <!-- <li><b>Access Questions/Responses:</b>Access questions and responses on the big questions an interviewer can ask</li> -->
            <li><b>Mock Interview:</b>Get interviewed by the Coach of Analytics</li>
            <li><b>Job Application & Networking:</b>Get interviewed by the Coach of Analytics</li>
          </ul>
          <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> -->

          <a href="{% url 'data:interview_roles' %}" >
            <button type="button" class="btn btn-primary">Read More</button>
        </a>
        </div>
      </div>
    </div>
    <hr>
    <div class="col-md-3" id="bada">
      <div class="card">
       <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
        <div class="card-body">
          <h4 class="text-center"><b>Single Course </b></h4>
          <hr/>
          <p>Offered to clients in the industry.Clients can either choose from the following</p>
          <ul>
            <li><b>Reporting:</b> Tableau and Power BI,</li>
            <li><b>ETL:</b> Alteryx for data cleaning </li>
            <li><b>Database:</b>SQL, Postgres and Snowflake</li>
            <li><b>Python Django:</b>Understand how to build a site using Django framework</li>
          </ul>
          <a href="{% url 'data:single_course' %}" >
            <button type="button" class="btn btn-primary">Read More</button>
        </a>
        </div>
      </div>
    </div>
    <hr>

  </div>
</div>
<br>
<br>

{% endblock content %}