{%extends "main/base_templates/new_base.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <h2>Editing Categories</h2>
    {% if user.is_active or user.is_superuser %}
    <a
      class="btn btn-secondary btn-sm mt-1 mb-1"
      href="{%url 'data:interview-update' object.id%}"
    >
      Update</a
    >
    <a
      class="btn btn-danger btn-sm mt-1 mb-1"
      href="{%url 'data:delete-interview' object.id%}"
    >
      Delete</a
    >
    {% endif %}
  </div>
</section>

<section id="career">
  <div class="career text-center">
    <h2>Editing Subcategories</h2>
    {% if user.is_active or user.is_superuser %}
    <a
      class="btn btn-secondary btn-sm mt-1 mb-1"
      href="#"
    >
      Update</a
    >
    <a
      class="btn btn-danger btn-sm mt-1 mb-1"
      href="#"
    >
      Delete</a
    >
    {% endif %}
  </div>
</section>


<section id="career">
  <div class="career text-center">
    <h2>Editing Activities</h2>
    {% if user.is_active or user.is_superuser %}
    <a
      class="btn btn-secondary btn-sm mt-1 mb-1"
      href="#"
    >
      Update</a
    >
    <a
      class="btn btn-danger btn-sm mt-1 mb-1"
      href="#"
    >
      Delete</a
    >
    {% endif %}
  </div>
</section>

<section id="career">
  <div class="career text-center">
    <h2>Links</h2>
    {% if user.is_active or user.is_superuser %}
    <a
      class="btn btn-secondary btn-sm mt-1 mb-1"
      href="#"
    >
      Update</a
    >
    <a
      class="btn btn-danger btn-sm mt-1 mb-1"
      href="#"
    >
      Delete</a
    >
    {% endif %}
  </div>
</section>
{% endblock content %}
