{%extends "management/payment_index.html"%} 
  {% load static %}
  {% load mathfilters %}
  {% block title %}
  {% if category %}{{ category.name }}{% else %}activities{% endif %}
  {% endblock %}
  {% block content %}

  <main>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="pb-3 h5">{{category.name|title}}</div>
          <div class="col">
              <div class="table-responsive">
                <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
                  <thead>
                      <th><input type="checkbox" id="checkall" /></th>
                      <th>Activity_name</th>
                      <th>Submission</th>
                      <th>Deadline</th>
                      <th>Late Penalty</th>
                      <th>Points</th>
                      <th>Max Points</th>
                      <th>Max Earning</th>
                      <th>Earning</th>
                        <th>Edit</th>
                  </thead>
          <tbody>

          {% for activity in activities %}  
          <tr>  
          <td><input type="checkbox" class="checkthis" /></td>
          <td>
              <a class="text-dark  text-decoration-none" 
              data-toggle="tooltip" title="{{  activity.description  }}"
              href="#">
              {{  activity.activity_name  }}
              </a>
          </td>
          <td>{{  activity.submission|date:"m/d/Y" }}</td>
          <td>{{  deadline  }}</td>
          <td>{{  activity.late_penalty}}</td>
          <td>{{  activity.point  }}</td>
          <td>{{  activity.mx_point}}</td>
          <td>{{  activity.mx_earning}}</td>
          <td>{{  activity.pay}}</td>
          <td><h4 ><a href="{%url 'management:activity-edit' activity.id %}">✔️</H4></a></p></td> 
          </tr>  
          {% endfor %} 
          <tr> 
              <td colspan="8" >Total</td>
              <td id="totalpay" style="font-weight: bold;"></td>
          </tr>
          </tbody>
          </table>
          </div>
          </div>
      </div>
    </div>
  </main>
  
  {% endblock %}