  {%extends "main/base_templates/base.html"%}
  {% load mathfilters %}
  {% block content %}
  <section id="rating">
    <div class="rating text-center">
      <h2>Cashflows</h2>
      <hr>
      <table class="table table-borderless" style="width: 100%">
        <thead class="border-bottom font-weight-bold">
          <tr>
            <th>Date</th>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Phone</th>
            <th>Department</th>
            <th>Category</th>
            <th>Method</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Total</th>
            <th>Description</th>
            <!-- <th>total_score</th>-->
          </tr>
        </thead>
        <tbody>
          {% for transanction in transactions %}
          <tr>
            <td>{{transanction.activity_date|date:"n/d/Y"}}</td>
            <td>{{transanction.sender}}</td>
            <td>{{transanction.receiver}}</td>
            <td>{{transanction.phone}}</td>
            <td>{{transanction.department}}</td>
            <td>{{transanction.category}}</td>
            <td>{{transanction.payment_method}}</td>
            <td>{{transanction.qty}}</td>
            <td>{{transanction.amount}}</td>
            <td>{{transanction.qty|mul:transanction.amount}}</td> 
            <td>{{transanction.description}}</td>
            <td> </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
  {% endblock content %}