{%extends "main/base_templates/base.html"%} {%load crispy_forms_tags%}
{%block content %}
<div class="content-section">
  <form method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom  text-center">
        <p class="lead font-italic mt-4  text-center">
            WEEKLY/DAILY EMPLOYEE ASSESSMENTS
        </p>
      </legend>
      <div class="row text-center">
        <div class="col-md-6" id="bada">
          <div class="card">
          <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
            <div class="card-body">
              <h5><b>Employees</b></h5>
              <hr/>
              <i><h6>1. Job Support  &#160 2. BI Training </h6></i>
              <i><p>3. Project(CITI,Website) &nbsp 4. Meetings(BI Session)</p></i>
            </div>
          </div>
        </div>
        <div class="col-md-6" id="bada">
          <div class="card">
          <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
            <div class="card-body">
              <h5><b>Trainees</b></h5>
              <hr/>
              <i><h6>1. Level 1 One on One Sessions</h6></i>
              <i><h6> 2. Meetings(Departmental)</h6></i>
            </div>
          </div>
        </div>
</div>
<hr/>
      <div class="row">
        <div class="col-md-3">{{ form.trained_by|as_crispy_field }}</div>
        <div class="col-md-3">{{form.client_name|as_crispy_field }}</div>
        <div class="col-md-3">{{form.category|as_crispy_field }}</div>
        <div class="col-md-3">{{form.type|as_crispy_field }}</div>
        
      </div>
      <div class="row">
        <div class="col-md-4">{{ form.task|as_crispy_field }}</div>
        <div class="col-md-4">{{form.plan|as_crispy_field }}</div>
        <div class="col-md-4">{{form.challenge|as_crispy_field }}</div>
      </div>
      <div class="row">
        <div class="col-md-6">{{ form.uploaded|as_crispy_field }}</div>
      </div>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock content%}





