{%extends "main/base_templates/base.html"%} {% block content %}
{% load static %}
{% block title %}
<!----{% if department %}{{ department.name }}{% else %}activities{% endif %}----->
{% endblock %}
<!--------------------------Slider Section--------------------------------->
<!-------------------Our home services Section------------------------->
<!-------------------1. Our  Job Report Section------------------------->

<section id="data_training">
<div class="data_training text-center">
  <h3 class="title">{{time_remaining}}</h3>
  <!-- <p class="p text-center">We Value Your Time Here at CODA, you have been assigned <b>{{num_tasks}}</b> activities with <b>{{time_remaining}}</b> days left this month</p> -->
<input type="hidden" name="amounts" value="{{GoalAmount}} {{total_pay}}" id="total_amount">
<div class="container-fluid mr-auto">
      <div class="row text-center">
                  <div class="col-md-3 amount_msg" id="bada">
                      <div class="card">
                        <div class="card-body">
                          <h5><b>Lever 1 Target</b></h5>
                          <hr/>
                          <!-- <i><h6>{{GoalAmount}}</h6></i> -->
                          <i><h6>{{client_target_sessions}}</h6></i>
                          <hr/>
                          <i><p>Meet Your Target</p></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3" id="bada">
                      <div class="card">
                      <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                        <div class="card-body">
                          <h5><b>No. of Sessions</b></h5>
                          <hr/>
                          <i><h6>{{num_sessions}}</h6></i>
                          
                          <hr/>
                          <i><p>Keep making progress</p></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3" id="bada">
                      <div class="card">
                      <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                        <div class="card-body">
                          <h5><b>Pending</b></h5>
                          <hr/>
                          <i><h6> {{client_bal_session}}</h6></i>
                          <hr/>
                          <i><p>Complete More Sessions</p></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 point_msg" id="bada" data-toggle="tooltip">
                      <div class="card">
                      <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                        <div class="card-body">
                          <h5><b>PAST REPORT</b></h5>
                          <hr/>
                          <i><h6>Access Past Report</h6></i>
                          <hr/>
                          <p>
                            <a href="{% url 'management:session' %}">Add Session</a>
                          </p>
                        </div>
                      </div>
                    </div>
      </div>
    </div> 
</div> 

</section>
    <table class="table table-borderless tasks" style="width: 100%">
      <thead class="border-bottom font-weight-bold">  
        <tr>
            <th>presenter</th>
            <th>department</th>
            <th>category</th>
            <th>subcategory</th>
            <th>Topic</th>
            <th>Created</th>
            <!-- <th>employee_type</th> -->
            <th>level</th>
            <th>Expires</th>
            <th>Session </th>
            <th>featured</th>
            <th>active</th>
            <th>Update</th>
        </tr>
      </thead>
      <tbody>
        {% for session in  sessions  %}
        <tr>
            <td>
                <a class="text-dark  text-decoration-none" 
                data-toggle="tooltip" title="#"
                href="{% url 'management:user_session' request.session.employee_name%}">
                {{session.presenter}}
                </a>
            </td>
            <td>{{session.department}}</td>
            <td>{{session.category}}</td>
            <td>{{session.subcategory}}</td>
            <td>
                <a class="text-dark  text-decoration-none" 
                data-toggle="tooltip" title="{{  session.description  }}"
                href=" {{  session.session_link  }}">
                {{session.topic}}
                </a>
            </td>
            <td>{{session.created_date|date:"n/d/Y"}}</td>
            <!-- <td>{{session.employee_type}}</td> -->
            <td>{{session.level}}</td>
            <td>{{session.expiration_date|date:"n/d/Y"}}</td>
            <td>{{session.session }}</td>
            <td>{{session.featured}}</td>
            <td>{{session.is_active}}</td>
            <td> <a class="article-title" href="{% url 'management:updatesession' session.id %}">Edit</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script> -->
<script type="text/javascript">
$(document).ready(function() {
var msg_data=[]
$('.tasks tbody>tr').each(function () { 
let task_data = ['sprint','general','recruitment','daf','meetings','bi support','job support','management']
html_task_data = $(this). children("td:nth-child(2)").text().trim();
html_points_data = $(this). children("td:nth-child(5)").text().trim();
if (task_data.includes(html_task_data.toLowerCase()) && parseInt(html_points_data) === 0 &&(!msg_data.includes(html_task_data)))
{
msg_data.push(html_task_data)
} 
});
if(msg_data.length != 0)
{
$(".point_msg").attr("title",`Your Pay will be delayed for this month kindly work on these activities ${msg_data.join(",").toString()}`)
}


var d = new Date();
var day = d.getDate();
let total_amount =$("#total_amount").val().split(" ");
let condition1 = (total_amount[1]/total_amount[0])*100;
let condition2 = day
if(parseInt(condition1) < 33 && parseInt(day) < 15)
{
$(".amount_msg").attr("title",`Your Pay will be delayed for last month kindly work on these activities ${msg_data.join(",").toString()}`)
}

const calculateDateifference = setInterval(function(){
    let endate = "{{enddate}}"
    date_future = new Date(endate)
    date_future.setHours(23, 59, 59, 999);
    date_now = new Date()

    seconds = Math.floor((date_future - (date_now))/1000);
    minutes = Math.floor(seconds/60);
    hours = Math.floor(minutes/60);
    days = Math.floor(hours/24);
    
    hours = hours-(days*24);
    minutes = minutes-(days*24*60)-(hours*60);
    seconds = seconds-(days*24*60*60)-(hours*60*60)-(minutes*60);
    
    $(".remaining-time").text(`${days} Days ${hours} Hours ${minutes} Mins ${seconds} Secs`);

  },1000);

});
</script>
{% endblock content %}
