{%extends "main/base_templates/new_base.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <h3 class="title">POTENTIAL CLIENTS</h3>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p><a href="{% url 'management:newclient'%}" class="btn btn-primary btn-sm"
          >NEW ASSESSMENT
        </a></p>
      </div>
      <div class="col-md-6">
        <p><a href="{% url 'management:clientassessment'%}" class="btn btn-primary btn-sm"
          >ASSESSMENTS
        </a></p>
      </div>
    </div>
    
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>first_name</th>
          <th>last_name</th>
          <!-- <th>email</th> -->
          <th>category</th>
          <th>type</th>
          <th>education</th>
          <th>rating_date</th>
          <!-- <th>skills</th> -->
          <!-- <th>experience</th> -->
          <th>Project Assessment</th>
          <th>BA Skills </th>
          <th>Reporting</th>
          <th>ETL</th>
          <th>Database</th>
          <th>Testing</th>
          <th>Deployment</th>
          <th>Non IT Exp</th>
          <th>IT Exp</th>
          <th>Total</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for skill in  object_list  %}
            <tr>
            <td>
                <a class="text-dark  text-decoration-none" 
                data-toggle="tooltip" title="#"
                href="#">
                {{skill.first_name}}
                </a>
            </td>
            <td>{{skill.last_name}}</td>
            <!-- <td>{{skill.email}}</td> -->
            <td>{{skill.category}}</td>
            <td>{{skill.type}}</td>
            <td>{{skill.education}}</td>
            <td>{{skill.rating_date|date:"F d, Y"}}</td>
            <!-- <td>{{skill.skills}}</td> -->
            <!-- <td>{{skill.experience}}</td> -->
            <td>{{skill.projectcharter}}</td>
            <td>{{skill.requirementsAnalysis }}</td>
            <td>{{skill.reporting}}</td>
            <td>{{skill.etl}}</td>
            <td>{{skill.database}}</td>
            <td>{{skill.testing}}</td>
            <td>{{skill.deployment}}</td>
            <td>{{skill.non_it_exp}}</td>
            <td>{{skill.it_exp}}</td>
            <td>{{skill.totalpoints}}</td>
            <td> <a class="article-title" href="{% url 'management:update_assessment' skill.id %}">Edit</a></td>
            <td> <a class="article-title" href="#">Delete</a></td>
            </tr>
         
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}