{%extends "main/base_templates/new_base.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <h3 class="title">GRIEVANCE FILE</h3>
    <hr>
    <div class="row">
      {% if slug == 'resolution' %}
      <div class="col-md-4">
        <p><a href="www.codanalytics.net/admin/management/conflict_resolution/add/" class="btn btn-primary btn-sm"
          >NEW RESOLUTION
        </a></p>
      </div>
      <div class="col-md-4">
        <p><a href="{% url 'management:grievance_file' slug='resolution' %}" class="btn btn-primary btn-sm"
          >ALL RESOLUTIONS
        </a></p>
      </div>
      <div class="col-md-4">
        <p><a href="{% url 'management:grievance_file'  slug='resolution' %}" class="btn btn-primary btn-sm"
          >ACTIVE
        </a></p>
      </div>
      {%  else %}
      <div class="col-md-3">
        <p><a href="{% url 'management:new_grievance' %}" class="btn btn-primary btn-sm"
          >NEW 
        </a></p>
      </div>
      <div class="col-md-3">
        <p><a href="{% url 'management:grievance_file' slug='all' %}" class="btn btn-primary btn-sm"
          >ALL GRIEVANCES
        </a></p>
      </div>
      <div class="col-md-3">
        <p><a href="{% url 'management:grievance_file' slug='active' %}" class="btn btn-primary btn-sm"
          >ACTIVE
        </a></p>
      </div>
      <div class="col-md-3">
        <p><a href="{% url 'management:grievance_file' slug='resolution' %}" class="btn btn-primary btn-sm"
          >Resoutions
        </a></p>
      </div>
      {% endif %}
    </div>
    
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>Full Name</th>
          <th>issue</th>
          <!-- <th>time</th> -->
          <th>location</th>
          {% if slug == 'resolution' %}
          <th>Resolution Deadline</th>
          <th>Fine</th>
          <th>Accountable Person</th>
          <th>Previous Actions</th>
          <th>Addition comments</th>
          {% else %}
          <th>date</th>
          <th>amount/Fine</th>
          <th>members_involved</th>
          <th>witnesses</th>
          <th>proposed_solution</th>
          {% endif %}
          <!-- <th>description</th> -->
          <th>reference_link</th>
          <!-- <th>confidentiality</th> -->
          <th>status </th>
          <th>is_active</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {% if slug == 'resolution' %}
        {% for resolution in  resolutions  %}
            <tr>
              {% if resolution.issue.confidentiality %}
              <td>admin</td>
              {% else %}
              <td>{{resolution.issue.reporter.first_name}},{{resolution.issue.reporter.last_name}}</td>
              {% endif %}
              <td>
                <a class="text-dark  text-decoration-none" 
                data-toggle="tooltip" title="{{  resolution.issue.description  }}"
                href="{% url 'management:grievance_file' slug='active' %}">
                {{resolution.issue.issue}}
                </a>
            </td>
            <!-- <td> <a class="article-title" href="{{resolution.reference_link}}">{{resolution.issue}}</a></td> -->
            <td>{{resolution.issue.location}}</td>
            <td>{{resolution.resolution_deadline}}</td>
            <td>{{resolution.fine}}</td>
            <td>
              <a class="text-dark  text-decoration-none" 
              data-toggle="tooltip" title="{{  resolution.members_involved  }}"
              href="#">
              {{resolution.accountable_person}}
              </a>
            </td>
            <td>
              <a class="text-dark  text-decoration-none" 
              data-toggle="tooltip" title="{{  resolution.previous_actions  }}"
              href="#">
              Action
              </a>
            </td>
            <td>
              <a class="text-dark  text-decoration-none" 
              data-toggle="tooltip" title="{{  resolution.additional_comments  }}"
              href="#">
              comments
              </a>
            </td>
              <td> <a class="article-title" href="{{resolution.issue.reference_link}}">Ref</a></td>
              <!-- <td>{{resolution.confidentiality}}</td> -->
              <td>{{resolution.issue.status }}</td>
              <td>{{resolution.is_active}}</td>
              {% if request.user.is_superuser %}
              <td> <a class="article-title" href="{% url 'management:update_resolution' resolution.id %}">Edit</a></td>
              {% else %}
              <td> <a class="article-title" href="#">Edit</a></td>
              {% endif %}
            </tr>
        {% endfor %}
        {% else %}
        {% for grievance in  grievances  %}
            <tr>
              {% if grievance.confidentiality %}
              <td>admin</td>
              {% else %}
              <td>{{grievance.reporter.first_name}},{{grievance.reporter.last_name}}</td>
              {% endif %}
              <td>
                <a class="text-dark  text-decoration-none" 
                data-toggle="tooltip" title="{{  grievance.description  }}"
                href="#">
                {{grievance.issue}}
                </a>
            </td>
            <!-- <td> <a class="article-title" href="{{grievance.reference_link}}">{{grievance.issue}}</a></td> -->
            <td>{{grievance.date}}@{{grievance.time}}</td>
            <td>{{grievance.location}}</td>
            <td>{{grievance.amount}}</td>
            <td>
              <a class="text-dark  text-decoration-none" 
              data-toggle="tooltip" title="{{  grievance.members_involved  }}"
              href="#">
              members
              </a>
            </td>
            <td>
              <a class="text-dark  text-decoration-none" 
              data-toggle="tooltip" title="{{  grievance.witnesses  }}"
              href="#">
              witnesses
              </a>
            </td>
            <td>
              <a class="text-dark  text-decoration-none" 
              data-toggle="tooltip" title="{{  grievance.proposed_solution  }}"
              href="#">
              Solution
              </a>
            </td>
              <td> <a class="article-title" href="{{grievance.reference_link}}">Ref</a></td>
              <!-- <td>{{grievance.confidentiality}}</td> -->
              <td>{{grievance.status }}</td>
              <td>{{grievance.is_active}}</td>
              {% if request.user.is_superuser %}
              <td> <a class="article-title" href="{% url 'management:update_grievance' grievance.id %}">Edit</a></td>
              {% else %}
              <td> <a class="article-title" href="#">Edit</a></td>
              {% endif %}
            </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}