{%extends "main/base_templates/base.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <h3 class="title">1-1 SESSIONS</h3>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p><a href="{% url 'management:session'%}" class="btn btn-primary btn-sm"
          >ADD NEW SESSION
        </a></p>
      </div>
      <div class="col-md-6">
        <p><a href="{% url 'management:sessions'%}" class="btn btn-primary btn-sm"
          >ACTIVE SESSIONS
        </a></p>
      </div>
    </div>
    
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
            <th>presenter</th>
            <th>department</th>
            <th>category</th>
            <th>subcategory</th>
            <th>Topic</th>
            <th>Created</th>
            <!-- <th>employee_type</th> -->
            <th>level</th>
            <th>Expires</th>
            <th>Session </th>
            <th>featured</th>
            <th>active</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for session in  object_list  %}
            <tr>
            <td>
                <a class="text-dark  text-decoration-none" 
                data-toggle="tooltip" title="#"
                href="{% url 'management:user_session' request.user %}">
                {{session.presenter}}
                </a>
            </td>
            <td>{{session.department}}</td>
            <td>{{session.category}}</td>
            <td>{{session.subcategory}}</td>
            <td>
                <a class="text-dark  text-decoration-none" 
                data-toggle="tooltip" title="{{  session.description  }}"
                href=" {{  session.session_link  }}">
                {{session.topic}}
                </a>
            </td>
            <td>{{session.created_date|date:"F d, Y"}}</td>
            <!-- <td>{{session.employee_type}}</td> -->
            <td>{{session.level}}</td>
            <td>{{session.expiration_date|date:"F d, Y"}}</td>
            <td>{{session.session }}</td>
            <td>{{session.featured}}</td>
            <td>{{session.is_active}}</td>
              <td> <a class="article-title" href="{% url 'management:updatesession' session.id %}">Edit</a></td>
              <td> <a class="article-title" href="#">Delete</a></td>
            </tr>
         
        {% endfor %}
      </tbody>
    </table>

  </div>
</section>
{% endblock content %}




