{%extends "main/base_templates/new_base.html"%} 
{% load static %}
{% block title %}
{% if department %}{{ department.name }}{% else %}activities{% endif %}
{% endblock %}
{% block content %}
<!--------------------------Slider Section--------------------------------->
<section id="data_training">
  <div class="data_training text-center">
    <h3 class="title">AUTOMATION</h3>
        <div class="row text-center">
            {% for value in Automation %}
            <div class="col-md-3" id="gi">
                {% include 'main/snippets_templates/card.html' with instance=value %}
          </div>
          {% endfor%}
          </div>
    </div>
  <div class="data_training text-center">
    <h3 class="title">STOCKS</h3>
        <div class="row text-center">
            {% for value in Stocks %}
            <div class="col-md-3" id="gi">
                {% include 'main/snippets_templates/card.html' with instance=value %}
          </div>
          {% endfor%}
          </div>
    </div>
  <div class="data_training text-center">
    <h3 class="title">General Information</h3>
        <div class="row text-center">
            {% for value in General %}
            <div class="col-md-3" id="gi">
                {% include 'main/snippets_templates/card.html' with instance=value %}
          </div>
          {% endfor%}
          </div>
    </div>
</section>
{% endblock content %}