{%extends "getmain/base_templates/analysis_index.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <!--- <h3 class="title">BA & PROJECT MANAGEMENT</h3> -->
    <div class="row text-center">
      <div class="col-md-12">
        <p>Click on the Button Below to Get Your Data.</p>

        <a href="{% url 'data-getdata' %}">
          <button type="button" class="btn btn-primary">Get Data</button>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
