<html>
<style>

    
    #message{
        text-align: center;
        font-size: 1.22em;

    }
    #item{
        font-size: 1.11rem;
        display: grid;
        grid-template-columns: repeat(7,1fr);
        justify-content:space-around;
        padding: 10px 10px 10px 5px;
        background-color: rgb(134, 243, 166);
        color: rgb(12, 7, 7);
    }

    #item div{
        text-align: center;
    }
    .meeting{
        font-size: 1.05em;
    }

</style>


<div id="message">---- {{message}} ----</div>

<br>
<div>
    <div id="item">
        <div>Name</div>
        <div>MeetingType</div>
        <div>MeetingID</div>
        <!-- <div>Attendance</div> -->
        <div>Attendee Names</div>
        <div>recording</div>
        <div>start</div>
        <div>end</div>
        <div>more details</div>
    </div>

    {% for item in data %}
    <hr>
        <div id="item">
            <div>{{item.subject}}</div>
            <div>{{item.meetingType}}</div>
            <div>{{item.meetingId}}  </div>
            <!-- <div>{{item.numAttendees}}</div> -->
            <div>{{item.attendeeNames}}</div>
            <div>
                <a href="{{item.recording}}" class="meeting" target="_blank"> Link </a>
            </div>
            <div>{{item.startTime}}</div>
            <div>{{item.endTime}}</div>
            <div> <a href="{{item.meetingId}}" class="meeting" target="_blank" id={{item.meetingId}}> more </a></div>
        </div>
    {% endfor %}
    <hr>

</div>


</html>


