<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>STOCK INFORMATION</h2>
{% if msg %}
    <h4>{{msg}}</h4>
{% endif %}
<table style="width:100%">
  <tr>
    <th>symbol </th>
    <th>action </th>
    <th>qty</th>
    <th>unit_price </th>
    <th>total_price </th>
    <th>date </th>
  </tr>
  {% for stock in stocks %}
  <tr>
    <td>{{stock.symbol }}</td>
    <td>{{stock.action }}</td>
    <td>{{stock.qty}}</td>
    <td>{{stock.unit_price }}</td>
    <td>{{stock.total_price }}</td>
    <td>{{stock.date}} </td>
  </tr>
  {% endfor %}
</table>

</body>
</html>

