    {%extends "main/base_templates/new_base.html"%} 
    {% load static %}
    {% block title %}
    {% if department %}{{ department.name }}{% else %}activities{% endif %}
    {% endblock %}
    {% block content %}
    <!--------------------------Slider Section--------------------------------->
    <!-------------------Our home services Section------------------------->
    <!-------------------1. Our  Job Report Section------------------------->
    <section id="data_training">
    <div class="data_training text-center">
        <h3 class="title">Applications-Upload Data</h3>
        <p>
            Upload only a CSV File, Check field formats to minimize errors during upload.
        </p>
        <div class="row text-center">
            <div class="col-md-4" id="gi">
                <h3 class="title">Finance App</h3>
                {% for finance_app in Finance %}
                <div class="card">
                <div class="card-body">
                    <a class="dropdown-item" target="_blank" href="">{{finance_app.title}}</b></h4></a>
                    <p><a href="{% url 'getdata:upload'%}" class="btn btn-secondary btn-sm"
                        >Upload File
                    </a>
<!--                        <p> {{finance_app.title}}</p>-->
                    {%if finance_app.title == " Transaction"%}
                        <form method="post" enctype="multipart/form-data" action="/getdata/datauploadcsv/">
                            {%csrf_token%}
                            &nbsp <input type="file" id="myfile" name="csv_upload"> <br>
                            <button type="submit">upload csv</button>
                        </form>
                    {% endif %}
                    </p>
            </div>
            </div>
            {% endfor %}
        </div>
            <div class="col-md-4" id="gi">
                <h3 class="title">Management App</h3>
                {% for management_app in Management %}
                <div class="card">
                <div class="card-body">
                    <a class="dropdown-item" target="_blank" href="">{{management_app.title}}</b></h4></a>
                    <div>
                        <form action="." method="POST" enctype="multipart/form-data">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <button type="submit">Upload File</button>
                        </form>
                    </div>
            </div>
            </div>
            {% endfor %}
        </div>
            <div class="col-md-4" id="gi">
                <h3 class="title">Data App</h3>
                {% for data_app in Data %}
                <div class="card">
                <div class="card-body">
                    <a class="dropdown-item" target="_blank" href="">{{data_app.title}}</b></h4></a>
                    <div>
                        <form action="." method="POST" enctype="multipart/form-data">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <button type="submit">Upload File</button>
                        </form>
                    </div>
                </div>
                </div>
            {% endfor %}
            </div>
            <div class="data_training text-center">
                <h3 class="title">DATA MIGRATIONS</h3>
                  <h4>XEL</h4>
                  <a href="{% url 'getdata:load_files_data' %}" target="">
                    <button type="button" class="btn btn-primary">Load</button>
                  </a>
            </div>
    </section>
    {% endblock content %}