    {%extends "main/base_templates/new_base.html"%} 
    {% load static %}
    {% block title %}
    {% if department %}{{ department.name }}{% else %}activities{% endif %}
    {% endblock %}
    {% block content %}
    <!--------------------------Slider Section--------------------------------->

    <!-------------------Our home services Section------------------------->
    <!-------------------1. Our  Job Report Section------------------------->
    <section id="data_training">
        <div class="data_training text-center">
            <h3 class="title">Applications-Upload Data</h3>
            <p>
                Upload only a CSV File, Check field formats to minimize errors during upload.
            </p>
            <div class="row text-center">
                {% for category, apps in categories.items %}
                    <div class="col-md-3" id="gi">
                        <h3 class="title">{{ category }} App</h3>
                        {% for app in apps %}
                            <div class="card">
                                <div class="card-body">
                                    <a class="dropdown-item" target="_blank" href="">{{ app.table_name }}</a>
                                    <a class="dropdown-item" target="_blank" href="{{ app.sample_file }}">Sample_file</a>
                                    <div>
                                        {{ app.url }}
                                        {% include 'main/snippets_templates/forms/uploadform.html' with instance=app.url %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <div class="row text-center">
        <div class="col-md-6" id="gi">
            <h3 class="title">DATA MIGRATIONS</h3>
                <div class="card">
                    <div class="card-body">
                        <a class="dropdown-item" target="_blank" href="">XEL</a>
                        <a href="#" target="">
                            <button type="button" class="btn btn-primary">Load</button>
                          </a>
                    </div>
                </div>
        </div>
        <div class="col-md-6" id="gi">
            <h3 class="title">Images/Assets</h3>
                <div class="card">
                    <div class="card-body">
                        <a class="dropdown-item" target="_blank" href="">Images</a>
                        <a href="{% url 'main:images' %}" target="">
                            <button type="button" class="btn btn-primary">Proceed</button>
                          </a>
                    </div>
                </div>
        </div>
</div>
    {% endblock content %}