{%extends "main/base_templates/analysis_index.html"%} {%load crispy_forms_tags%} {% block content %}
<!-------------------Our Services Section------------------------->
<section id="project">
    <div class="project text-center">
        <div class="business_header">
            <hr>
            <h3 class="title text-center">------</h3>
            <h3 class="title text-center">First Interview</h3>
            <hr>
        </div>
        <!-------------------------Understanding CODA Section----------------------------------->
        <div class="data_header">
            <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
            <h3 class="title text-center">1. Understanding CODA</h3>
        </div>

        <div class="row text-center">

            <!-------------------------Database----------------------------------->
            <div class="col-md-12 project">
                <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                <h4></h4>
                <p>
                    Watch the following videos on company projects,Meetings and Values and come up with a detailed
                    powerpoint
                    documenting the projects. Our assessment and evaluation in this section will be based on the
                    following:
                    <br>1. The ability for a candidate to <strong>follow step by step instructions and the requirements
                        given.</strong>
                    <br>2. The ability for a candidate to <strong>learn a new tool and the utilization of the tool to
                        meet
                        business requirements.</strong>
                    <br>3. The ability for the candidate to <strong>organize deliverables/his or her
                        submissions</strong>
                    <br>4. The ability for a candidate to be <strong>organized, audible and flawless during
                        presentation</strong>
                </p>
            </div>

            <div class="col-md-4 project">
                <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                <h4>About Company</h4>
                <p>Watch videos on projects and come up with a detailed powerpoint documenting the projects.
                </p>
                <div class="dba">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                data-toggle="dropdown">
                                <button type="btn" class="btn-primary">Select</button>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                <a class="dropdown-item" href="https://1drv.ms/v/s!AoeS7K2g0JkumQC-USmwlk-i9p0Y">Company
                                    Overview</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                    href="https://docs.google.com/presentation/d/1QI-PgHlMfvcSM13LPrGPmdBWOGDwgiCO/edit#slide=id.p2">Field
                                    Projects</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="https://1drv.ms/v/s!AoeS7K2g0JkumQC-USmwlk-i9p0Y">BI
                                    Training(Client Introduction)</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                    href="https://docs.google.com/spreadsheets/d/1sS11ZMgJFkVhH8xvktgmzZ9aPUAAnPFsFaPoDLjMJwI/edit?usp=sharing    ">BI
                                    Training</a>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-------------------------Reporting Section----------------------------------->
            <div class="col-md-4 project">
                <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                <h4>Meetings & Company Values </h4>
                <h4>Meetings </h4>
                <p>Watch the following videos and come up with a summary documenting our Company Values. </p>
                <div class="ETL">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                data-toggle="dropdown">
                                <button type="btn" class="btn-primary">Select</button>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropDown">

                                <a class="dropdown-item"
                                    href="https://1drv.ms/v/s!AoeS7K2g0JkumQR1MguvwqE55PY- ">Managerial
                                    Meetings</a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                    href="https://1drv.ms/v/s!AoeS7K2g0JkumQVRR6CM0Kjpdwq0?e=flYSyl ">General
                                    Meeting</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                    href="https://1drv.ms/v/s!AoeS7K2g0JkumQYBhxoY6VR5Ppdu">Departmental
                                    Meeting</a></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-md-4 project">
                <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                <h4>Company Systems</h4>
                <p>
                    We are a company that runs on systems. Click on the links to understand what each is all about.Come
                    up with a
                    summary for each on a powerpoint
                </p>
                <div class="ETL">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                data-toggle="dropdown">
                                <button type="btn" class="btn-primary">Select</button>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                <a class="dropdown-item" href="https://1drv.ms/v/s!AoeS7K2g0JkumQLIS8bLiEmhgZ_x"
                                    target="_blank">
                                    Payment System(DAF)
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                    href=" https://docs.google.com/spreadsheets/d/1VuFA5gj_PqHAbFep5OTn9eTTae7ahCVlRJqwOUBXx-U/edit?usp=sharing   "
                                    target="_blank">90 DAY-1 on 1 Session
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="https://1drv.ms/v/s!AoeS7K2g0JkumQM2JKqSwgw_MeNa">Company
                                    Values</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                    href="https://drive.google.com/file/d/1T_mxQCQQXt8cHXiBvLZ_CWlhB2-5Pyww/view    ">
                                    The
                                    Box System</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-------------------------Uploading work----------------------------------->
        <div class="data_header">
            <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
            <h3 class="title text-center">
                2. Attachments & Uploads
            </h3>
        </div>

        <div class="row text-center">
            <div class="col-md-12 services">
                <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                <p>
                    Please Send us an email to
                    <a href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
                        target="_blank">rc.hrdepartment@gmail.com</a> with all your uploads/attachments
                    and Indicate when you will be available to present your work to our panel so that we can schedule
                    you.Thank
                    You
                </p>

            </div>
        </div>

    </div>
</section>
{% endblock content %}