{%extends "main/base_templates/application_base.html"%} {%load crispy_forms_tags%} {% block content %}
      <!-------------------Our Services Section------------------------->
      <section id="project">
          <div class="project text-center">
              <div class="business_header">
                  <hr>
                  <h3 class="title text-center">FIRST INTERVIEW</h3>
              </div>

              <div class="row text-left">
                  <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                  <p class="text-center">
                      You are required to go through the following step by step interview process on the three
                      sections which covers ETL(Alteryx),Database(SQL) and Tableau, which are the most commonly
                      used tools in CODA.
                      Our assessment and evaluation in this section will be based on the following:
                  </p>
                  <div class="col-md-6 project">
                      <ul>
                          <li>1. The ability for a candidate to follow step by step instructions and the
                              requirements given.</li>
                          <li>2. The ability for a candidate to learn a new tool and the utilization of the tool
                              to meet business requirements.</li>
                      </ul>
                  </div>
                  <div class="col-md-6 project">
                      <ul>
                          <li>3. The ability for the candidate to organize deliverables/his or her submissions
                          </li>
                          <li>4. The ability for a candidate to be organized, audible and flawless during
                              presentation</li>
                      </ul>
                  </div>
              </div>
              <br><br><br>

              <div class="sectionA" style="display: block">
              <!-------------------------SECTION A: ALTERYX ----------------------------------->
              <div class="data_header">
                  <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
                  <h4 class="title text-center">SECTION A : WORKFLOW-DATA CLEANING</h4>

              </div>
              <!-------------------------Reporting Section----------------------------------->
              <div class="row text-center">
                  <div class="col-md-9 services">
                      <table class="tg">
                          <thead>
                              <tr>
                                  <th class="tg-8xdm">
                                      <span style="text-decoration: none">Topic</span>
                                  </th>
                                  <th class="tg-xs21">
                                      <span style="font-weight: 400; text-decoration: none">Description</span>
                                  </th>
                                  <th class="tg-xs21">
                                      <span style="font-weight: 400; text-decoration: none">Link</span>
                                  </th>
                              </tr>
                          </thead>
                          <tbody>

                              <tr>
                                  <td class="tg-7zrl">
                                      <span
                                          style="font-weight: 400; text-decoration: none; color: black">INSTALLATION</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span
                                          style="font-weight: 400; text-decoration: none; color: black">Installing
                                          Alteryx</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">
                                          <a
                                              href="https://docs.google.com/presentation/d/1sTflaF0yS8nYS4Trm9gx0H4HPH0zN7qBu9O27-vMN7A/edit#slide=id.p1 ">
                                              Click
                                          </a>
                                      </span>
                                  </td>
                              </tr>

                              <tr>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">DAF DATA
                                          CLEANING</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">DAF data
                                          cleaning workflow</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">
                                          <a
                                              href="https://drive.google.com/file/d/1OEXN4XKm3_yFPmmrZoTh6fcietP3a6cM/view?usp=sharing">
                                              Click
                                          </a>
                                      </span>
                                  </td>
                              </tr>

                              <tr>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">WHATSAAP
                                          MESSAGES</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">Cleaning
                                          Messages</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">
                                          <a
                                              href="https://drive.google.com/file/d/1K2UAbtZHiz26TSzc2PrUFNvithF1PkoE/view?usp=sharing">
                                              Click
                                          </a>
                                      </span>
                                  </td>
                              </tr>

                              <tr>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">ALTERYX
                                          PPT</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">Use the
                                          powerpoint to follow along, you will use the same ppt in presenting your
                                          work</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">
                                          <a
                                              href="https://docs.google.com/presentation/d/1v68aYsEXskx0Ze6CEbM9k8HLjMlgHY5ZOOScsGO7j54/edit#slide=id.p1 ">
                                              Click
                                          </a>
                                      </span>
                                  </td>
                              </tr>

                          </tbody>
                      </table>
                  </div>
                  <div class="col-md-3 services">
                      <div class="card">
                          <div class="card-body">
                              <h6> Alterlyx Instructions</h6>
                              <hr />
                              <p class="gi">
                                  Install alteryx and create a workflow to clean the following raw data. You can
                                  make use of the video and the powerpoint for guidence. <br>
                                  <a
                                      href="https://drive.google.com/file/d/1_cMfvtyZaWre9YtR5ZoSyo9K3-KnQKn5/view">
                                      <button>Whatsaap Data </button>
                                  </a>
                                  <a
                                      href="https://docs.google.com/spreadsheets/d/1bf8DQ0XBZknXzO3iXp3gti0sMYCcPjQicJqL4j8zKcM/edit#gid=1203491039 ">
                                      <button>DAF Data </button>
                                  </a>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              </div>

              <!-------------------------SECTION B: DATABASE MANAGEMENT----------------------------------->
              <div class="sectionB" style="display: none">
              <div class="data_header" >
                  <!-- <img src="static/img/background/data_training.jpg" class="training_img" />-->
                  <h4 class="title text-center">SECTION B: DATABASE MANAGEMENT</h4>

              </div>
              <!-------------------------Reporting Section----------------------------------->
              <div class="row text-center">
                  <div class="col-md-9 services">
                      <table class="tg">
                          <thead>
                              <tr>
                                  <th class="tg-8xdm">
                                      <span style="text-decoration: none">Topic</span>
                                  </th>
                                  <th class="tg-xs21">
                                      <span style="font-weight: 400; text-decoration: none">Description</span>
                                  </th>
                                  <th class="tg-xs21">
                                      <span style="font-weight: 400; text-decoration: none">Link</span>
                                  </th>
                              </tr>
                          </thead>
                          <tbody>

                              <tr>
                                  <td class="tg-7zrl">
                                      <span
                                          style="font-weight: 400; text-decoration: none; color: black">INSTALLATION</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span
                                          style="font-weight: 400; text-decoration: none; color: black">Installing
                                          SQL Database</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">
                                          <a
                                              href="https://drive.google.com/file/d/148J8xhikG5CqroObDjUtNC3r7vk9HmxF/view?usp=drivesdk ">
                                              Click
                                          </a>
                                      </span>
                                  </td>
                              </tr>

                              <tr>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">End to
                                          End-SQL</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span
                                          style="font-weight: 400; text-decoration: none; color: black">Normalization,
                                          Creation and Retrieval of Data</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">
                                          <a
                                              href="https://onedrive.live.com/?cid=2E99D0A0ADEC9287&id=2E99D0A0ADEC9287%213210&parId=2E99D0A0ADEC9287%213207&o=OneUp">
                                              Click
                                          </a>
                                      </span>
                                  </td>
                              </tr>

                              <tr>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">SQL
                                          PPT</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">Use the
                                          powerpoint to follow along, you will use the same ppt in presenting your
                                          work</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">
                                          <a
                                              href="https://docs.google.com/presentation/d/13IQKwFjkkxJckPQWG-Q1ydZPv6tDfhpWUOt6j9mNgvQ/edit ">
                                              Click
                                          </a>
                                      </span>
                                  </td>
                              </tr>

                          </tbody>
                      </table>
                  </div>
                  <div class="col-md-3 services">
                      <div class="card">
                          <div class="card-body">
                              <h6>Database Instructions</h6>
                              <hr />
                              <p class="gi">
                                  Go through the end to end video on SQL Database. Practice along and send your
                                  snippets/your work in the email below.Prepare adequately for your incoming
                                  presentation.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
              <!-------------------------SECTION C : REPORT DEVELOPMENT----------------------------------->
              <div class="sectionC" style="display: none">
              <div class="data_header">
                  <h4 class="title text-center">
                      SECTION C : REPORT DEVELOPMENT
                  </h4>
              </div>
              <div class="row text-center">
                  <div class="col-md-9 services">
                      <table class="tg">
                          <thead>
                              <tr>
                                  <th class="tg-8xdm">
                                      <span style="text-decoration: none">Topic</span>
                                  </th>
                                  <th class="tg-xs21">
                                      <span style="font-weight: 400; text-decoration: none">Description</span>
                                  </th>
                                  <th class="tg-xs21">
                                      <span style="font-weight: 400; text-decoration: none">Link</span>
                                  </th>
                              </tr>
                          </thead>
                          <tbody>

                              <tr>
                                  <td class="tg-7zrl">
                                      <span
                                          style="font-weight: 400; text-decoration: none; color: black">INSTALLATION</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span
                                          style="font-weight: 400; text-decoration: none; color: black">Installing
                                          Tableau</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">
                                          <a href="https://www.youtube.com/watch?v=QYnkudCxbmE ">
                                              Click
                                          </a>
                                      </span>
                                  </td>
                              </tr>

                              <tr>
                                  <td class="tg-7zrl">
                                      <span
                                          style="font-weight: 400; text-decoration: none; color: black">Reporting</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span
                                          style="font-weight: 400; text-decoration: none; color: black">Developing
                                          an Executive Overview Report</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">
                                          <a
                                              href="https://drive.google.com/file/d/1yQBiDgt3y1faTfglDtVITEEnyyYIewui/view ">
                                              Click
                                          </a>
                                      </span>
                                  </td>
                              </tr>

                              <tr>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">Tableau
                                          PPT</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">Use the
                                          powerpoint to follow along, you will use the same ppt in presenting your
                                          work</span>
                                  </td>
                                  <td class="tg-7zrl">
                                      <span style="font-weight: 400; text-decoration: none; color: black">
                                          <a
                                              href="https://docs.google.com/presentation/d/1ASZkzSJBSoOqH6R83ZznChL6ISi5SC5_YI5N2XTZD1w/edit?usp=sharing ">
                                              Click
                                          </a>
                                      </span>
                                  </td>
                              </tr>

                          </tbody>
                      </table>
                  </div>
                  <div class="col-md-3 services">
                      <div class="card">
                          <div class="card-body">
                              <h6>Tableau Instructions</h6>
                              <hr />
                              <p class="gi">
                                  Go through the video and use the datasets from the workflow(Alteryx) in section
                                  A to create a report in tableau.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              </div>

              <!-- Upload works -->
            <div class="uploads_submission">
                <p>Note: Combine all the files and zip before uploading.</p>
                <input type="file" id="applicantworks" name="applicantworks"> 
                
              <a href="{% url 'application:section_b' %}">
                    <button id="next_section_btn" disabled>Next Section</button>
             </a>
                
            </div>

              <div class="sectionD" style="display: none">
                    <div class="data_header">
                        <h4 class="title text-center">
                            Your uploads will be evaluated by our team and will get back you.
                        </h4>
                    </div>
             </div>
              <!-------------------------SECTION D: UPLOADING/SENDING YOUR WORK----------------------------------->
              <!-- <div class="data_header">
                  <h4 class="title text-center">
                      SECTION D: UPLOADING/SENDING YOUR WORK
                  </h4>
              </div>
              <div class="row text-center">
                  <div class="col-md-12 services">
                      <div class="card">
                          <div class="card-body">
                              <p>
                                  Please Send us an email to
                                  <a href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
                                      target="_blank">rc.hrdepartment@gmail.com</a> with all your
                                  uploads/attachments
                                  and Indicate when you will be available to present your work to our panel so
                                  that we can schedule you. For any questions reach us at +254748763571.Thank You
                              </p>
                          </div>
                      </div>
                  </div>
              </div> -->

      </section>


<script>
    //  siteurl = "http://localhost:8000"
    siteurl = "https://www.codanalytics.net"

    if('{{section}}' == "A"){
        $(".sectionA").css("display","none")
        $(".sectionB").css("display","block")
    }
    else if('{{section}}' == "B"){
        $(".sectionA,.sectionB").css("display","none")
        $(".sectionC").css("display","block")
    }
    else if('{{section}}' == "C"){
        window.location.href = siteurl+"/application/policies/"
    }

   
    function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
        }
    var csrftoken = getCookie('csrftoken');

    $('#applicantworks').on('click', function() {
        document.getElementById("next_section_btn").disabled = false;
    })

    $('#next_section_btn').on('click', function() {
      
        var form = new FormData();
        form.set('myfile', $("#applicantworks")[0].files[0]);
        if($(".sectionA").css("display") == "block"){
            form.set('section', 'A');
        }
        else if($(".sectionB").css("display") == "block"){
            form.set('section', 'B');
        }
        else if($(".sectionC").css("display") == "block"){
            form.set('section', 'C');
        }

        $.ajax({
            type: "POST",
            url:  siteurl+"/application/uploadinterviewworks/",
            mode: 'cors',
            withCredentials: false, 
            headers: { 'Access-Control-Allow-Origin': '*', "X-CSRFToken": csrftoken },
            xsrfHeaderName: "X-CSRFToken",
            data : form,
            processData: false,
            contentType: false,
            success: function(result){
                
                console.log("result",result);

                $("#applicantworks").val(null)

                function getNextChar(char) {
                    return String.fromCharCode(char.charCodeAt(0) + 1);
                }

                $(".section"+form.get('section')).css("display","none")
                $(".section"+getNextChar(form.get('section'))).css("display","block")

                if(form.get('section') == "C"){
                    window.location.href = siteurl+"/application/policies/"
                }
              
            }
        });
    })  

</script>
{% endblock content %}