{%extends "main/base_templates/application_base.html"%} {% block content %}
<section id="rating">
  <div class="rating text-center">
    <h3>Welcome To Your Interview Portal</h3>
    <hr />
    <p>
      You have successful submitted your cv/resume and as we go through your
      submissions please proceed to start your interview process.There will be 4
      interview sessions which will test different sets of skills as summarized
      in the table below.
    </p>

    <table class="tg">
      <thead>
        <tr>
          <th class="tg-8xdm">
            <span style="text-decoration: none">Inteview</span>
          </th>
          <th class="tg-xs21">
            <span style="font-weight: 400; text-decoration: none"
              >Concentration</span
            >
          </th>
          <th class="tg-xs21">
            <span style="font-weight: 400; text-decoration: none"
              >Description</span
            >
          </th>
          <th class="tg-xs21">
            <span style="font-weight: 400; text-decoration: none"
              >Duration</span
            >
          </th>
          <th class="tg-xs21">
            <span style="font-weight: 400; text-decoration: none">Lead</span>
          </th>
        </tr>
      </thead>

      <tbody>
        {% for post in posts %}
        <tr>
          <td class="tg-7zrl">
            <span style="font-weight: 400; text-decoration: none; color: black"
              >{{post.Inteview}}</span
            >
          </td>
          <td class="tg-7zrl">
            <span style="font-weight: 400; text-decoration: none; color: black"
              >{{post.Concentration}}</span
            >
          </td>
          <td class="tg-7zrl">
            <span style="font-weight: 400; text-decoration: none; color: black"
              >{{post.Description}}</span
            >
          </td>
          <td class="tg-7zrl">
            <span style="font-weight: 400; text-decoration: none; color: black"
              >{{post.Duration}}</span
            >
          </td>
          <td class="tg-7zrl">
            <span style="font-weight: 400; text-decoration: none; color: black"
              >{{post.Lead}}</span
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr />
    <p>
      Your Interview starts today and you are hereby given 5 business days to
      complete it and schedule a presentation with our esteemed panel for
      valuation.
    </p>

    <a href="{% url 'application:section_a' %}">
      <button type="button" class="btn btn-primary">First Interview</button>
    </a>
  </div>
</section>
{% endblock content %}
