{% for category in categories %}
<section id="rating">
    <div class="rating text-center">
        {% for subcategory in category.featuredsubcategory_set.all %}

        {% if subcategory.title == variable_title %}
        <table class="table table-borderless" style="width: 100%">
            <thead class="border-bottom font-weight-bold">
                <h4><b>{{subcategory.title}}</b></h4>
                <div>
                    {{subcategory.description}}
                </div>
                <tr>
                <!--<th>Edit</th>-->
                    <!-- <th>Date</th>
                    <th>Sub Category</th> -->
                    <th>Activity</th>
                    <th>Description</th>
                    <th>Link</th>
                    {% if request.user.is_superuser or request.user.is_admin%}
                    <th>Edit</th>
                    <th>Delete</th>
                    {% endif%}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for activity in subcategory.subcategories_fetured.all %}
                   <!-- <td>{{activity.created_by}}</td>-->
                    <!-- <td>{{activity.updated_at|date:"F d, Y"}}</td> -->
                    <!-- <td>{{subcategory.title}}</td> -->
                    <td>
                      <a class="text-dark  text-decoration-none" 
                      data-toggle="tooltip" title="{{activity.guiding_question}}"
                      href="#">
                      {{activity.activity_name}}
                      </a>
                  </td>
                    <!-- <td>{{activity.activity_name}}</td> -->
                    <td>{{activity.description}}</td>
                    <td>
                        <ul class="navbar-nav mt-auto">
                            <li class="nav-item dropdown">
                                    <a
                                    class="nav-link dropdown-toggle"
                                    href=""
                                    id="navbarDropDown"
                                    role="button"
                                    data-toggle="dropdown"
                                    >
                                    <button type="btn" class="btn-primary">Select</button>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                        <div class="row text-center">
                                            {% for link in activity.activity_featured.all %}
                                            <div class="col-md-6" id="gi">
                                                <a class="dropdown-item" target="_blank" href=" {{link.link}}"> {{link.link_name}}</a>
                                                {% if request.user.is_superuser or request.user.is_admin%}
                                                <span align="right">
                                                    <a href="{% url 'data:update-links' link.id %}">✅</a>
                                                  </span>
                                                  {% endif %}
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                    </td>
                    
                    {% if request.user.is_superuser or request.user.is_admin%}
                    <td><h4 ><a href="{% url 'data:update-activity' activity.id %}">✅</H4></a></p></td> 
                        <td><h4 ><a href="{% url 'data:delete-activity' activity.id %}">❎</H4></a></p></td>  
                    {% endif %}
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% endfor %}
    </div>
</section>
{%endfor%}