{%extends "main/base_templates/new_base.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <h3 class="title">ADS MANAGEMENT</h3>
    <div class="row">
      <div class="col-md-6">
        <p><a href="{% url 'marketing:ads_new'%}" class="btn btn-primary btn-sm"
          >NEW AD
        </a></p>
      </div>
      <div class="col-md-6">
        <p><a href="{% url 'main:layout'%}" class="btn btn-primary btn-sm"
          >BACK
        </a></p>
      </div>
    </div>
    <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          {% if request.user.is_superuser %}
          <th>User</th>
          {% endif %}
          <th>AD Title</th>
          <th>Long_Title</th>
          <th>company</th>
          <!-- <th>short_name</th> -->
          <th>company_site</th>
          <!-- <th>meeting_link</th> -->
          <!-- <th>video_link</th> -->
          <th>signature</th>
          <!-- <th>bulletin</th>
          <th>message</th> -->
          <th>image_name</th>
          <!-- <th>link</th> -->
          <!-- <th>created_at</th> -->
          <th>updated_at</th>
          <th>is_active</th>
          <th>is_featured</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in  ad_items  %}
            <tr>
              {% if request.user.is_superuser %}
              <th>{{obj.my_user}}</th>
              {% endif %}
              <td>{{obj.ad_title}}</td>
              <td>{{obj.bulletin}}</td>
              <!-- <td>{{obj.company}}</td> -->
              <td>{{obj.short_name}}</td>
              <td>{{obj.company_site}}</td>
              <!-- <td>{{obj.meeting_link}}</td>
              <td>{{obj.video_link}}</td> -->
              <td>{{obj.signature}}</td>
              <!-- <td>{{obj.bulletin}}</td>
              <td>{{obj.message}}</td> -->
              <td>{{obj.image_name}}</td>
              <!-- <td>{{obj.link}}</td> -->
              <!-- <td>{{obj.created_at}}</td> -->
              <td>{{obj.updated_at}}</td>
              <td>{{obj.is_active}}</td>
              <td>{{obj.is_featured}}</td>
              {%if request.user%}
              <td> 
                <p><a class="article-title" href="{% url 'marketing:ad_update' obj.id %}">Edit</a></p>
              </td>
              {%endif%}
              {%if user.is_admin or user.is_superuser%}
              <td> 
                <p><a class="article-title" href="{% url 'marketing:delete_ad' obj.id %}">Delete</a></p>
              </td>
              {%endif%}
            </tr>
         
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
