{%extends "main/base_templates/analysis_index.html"%} {% block content %}

<section id="data_training">
    <div class="data_training text-center">
        <h3 class="title">ADS MANAGEMENT</h3>
        <div class="row">
          <div class="col-md-6">
            <p><a href="{% url 'marketing:ads_new'%}" class="btn btn-primary btn-sm"
              >NEW AD
            </a></p>
          </div>
          <div class="col-md-6">
            <p><a href="{% url 'main:layout'%}" class="btn btn-primary btn-sm"
              >BACK
            </a></p>
          </div>
        </div>

        <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
        <p class="p text-center"> </p>
        <p class="gi">
          This is requirements that need to be worked on and they will be assigned to different developers. Kindly restrict yourself with your assigned requirements.
      </p>
        <div class="row text-center">
            {% for obj in  ad_items  %}
            <div class="col-md-6" id="gi">
                <div class="card">
                  <!-- <img src="\media\home\project2.jpg" class="card-img-top">--->
                    <div class="card-body">
                      <b> Group Name:{{obj.group_name}}|Group ID: {{obj.group_id }}|Created:{{obj.created_at|date:"F d, Y"}}</b>
                        <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
                        <p class="gi">
                            {{obj.message}}
                        </p>
                        <hr/>
                        <div class="row">
                          <div class="col-md-3">
                            <button>
                                <!-- <a href="{{task.task_url}}">Image</a> -->
                                <a href="{{obj.image_url}}">Image</a>
                              </button>
                          </div>
                          {%if request.user%}
                            <div class="col-md-3">
                              <p><a class="article-title" href="{% url 'marketing:ad_update' obj.id %}">Edit</a></p>
                            </div>
                          {%endif%}
                          {%if user.is_admin or user.is_superuser%}
                            <div class="col-md-3">
                                <p><a class="article-title" href="{% url 'marketing:delete_ad' obj.id %}">Delete</a></p>
                            </div>
                          {%endif%}
                        </div>
                    </div>
                  </div>
               </div>
              {%endfor%}
        </div>
    </div>
    </section>
{% endblock content %}



