{%extends "main/base_templates/new_base.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <h3 class="title">WHATSAPP GROUP MANAGEMENT</h3>
    {% if request.user.is_superuser %}
    <div class="">
      <p><a href="{% url 'marketing:refresh_groups'%}" class="btn btn-secondary btn-sm"
        >Refresh Groups
      </a></p>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-md-3">
        <p><a href="{% url 'marketing:whatsapp_new'%}" class="btn btn-primary btn-sm"
          >ADD GROUP
        </a></p>
      </div>
      <div class="col-md-3">
        <p><a href="{% url 'marketing:ads_list'%}" class="btn btn-primary btn-sm"
          >ADD AD
        </a></p>
      </div>
      <div class="col-md-3">
        <p><a href="{% url 'main:layout'%}" class="btn btn-primary btn-sm"
          >BACK
        </a></p>
      </div>
      <div class="col-md-3">
        TOTAL PARTICIPANTS
        <p>
            <a href="{% url 'main:layout' %}" class="btn btn-primary btn-sm" style="font-size: 50px;">
                {{ total_participants }}
            </a>
        </p>
    </div>
    </div>
    <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <!-- <th>id</th> -->
          <th>Category</th>
          <th>Ad Type</th>
          <!-- <th>Group_ID</th> -->
          <!-- <th>Slug</th> -->
          <th>Group Name</th>
          <th>Participants</th>
          <!-- <th>Image</th> -->
          <th>Update</th>
           <!---
          <th>Delete</th>
          <th>CustomerId</th>
          <th>Registering For:</th>
        -->
        </tr>
      </thead>
      <tbody>
        {% for obj in  whatsaapitems  %}
            <tr>
              <!-- <td>{{obj.created_at|date:"F d, Y"}}</td> -->
              <!-- <td>{{obj.id}}</td> -->
              <td>{{obj.category}}</td>
              <td>{{obj.type}}</td>
              <!-- <td>{{obj.group_id}}</td> -->
              <!-- <td>{{obj.slug}}</td> -->
              <td>{{obj.group_name}}</td>
              <!-- <td>{{obj.slug}}</td> -->
              <td>{{obj.participants}}</td>
              <!-- <td> <a class="article-title" href="{{obj.image_url}}">image</a></td> -->
              <td> <a class="article-title" href="{% url 'marketing:whatsapp_update' obj.id %}">Edit</a></td>
            </tr>
         
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
