{%extends "main/base_templates/new_base.html"%} {% block content %}
<section id="career">
  <div class="career text-center">
    <h3 class="title">WHATSAPP GROUP MANAGEMENT</h3>
    <div class="row text-center">
      <div class="col-md-2"></div>
            {% if request.user.is_superuser %}
            <div class="col-md-3">
              <p><a href="{% url 'marketing:refresh_groups'%}" class="btn btn-secondary btn-sm"
                >Refresh Groups
              </a></p>
            </div>
            {% endif %}
            <div class="col-md-3">
              <p><a href="{% url 'marketing:whatsapp_new'%}" class="btn btn-secondary btn-sm"
                >ADD GROUP
              </a></p>
            </div>
            <div class="col-md-3">
              <p><a href="{% url 'marketing:ads_list'%}" class="btn btn-secondary btn-sm"
                >CREATE AD
              </a></p>
            </div>
            <div class="col-md-2"></div>
    </div>

  <hr>
    <div class="row">
      <div class="col-md-2">
        <p><a href="{% url 'marketing:whatsapp_list' title='all'%}" class="btn btn-primary btn-sm"
          >ALL
        </a></p>
      </div>
      <div class="col-md-2">
        <p><a href="{% url 'marketing:whatsapp_list' title='featured_groups'%}" class="btn btn-primary btn-sm"
          >GOLD
        </a></p>
      </div>
      <div class="col-md-2">
        <p><a href="{% url 'marketing:whatsapp_list' title='silver'%}" class="btn btn-primary btn-sm"
          >SILVER
        </a></p>
      </div>
      <div class="col-md-2">
        <p><a href="{% url 'marketing:whatsapp_list' title='basic'%}" class="btn btn-primary btn-sm"
          >Basic
        </a></p>
      </div>
      <div class="col-md-2">
        <p><a href="{% url 'marketing:whatsapp_list' title='active_groups'%}" class="btn btn-primary btn-sm"
          >ACTIVE GROUPS
        </a></p>
      </div>
      <div class="col-md-2">
        TOTAL PARTICIPANTS
        <p>
            <a href="{% url 'main:layout' %}" class="btn btn-primary btn-sm" style="font-size: 50px;">
                {{ total_participants }}
            </a>
        </p>
    </div>

    </div>
    <div>
      <form method="post">
        {% csrf_token %}

        <label for="dropdown">Select category:</label>
        
        <select name="category" id="dropdown">
          {%for category in category_choices%}
          <option value="{{category}}">{{category}}</option>
          {%endfor%}
        </select>

        <label for="dropdown">Select ads_type:</label>

        <select name="ads_type" id="dropdown">
          {%for ads_type in ads_type_choices%}
          <option value="{{ads_type}}">{{ads_type}}</option>
          {%endfor%}
        </select>

        <label for="dropdown">Select option:</label>

        <select name="dropdown_option" id="dropdown">
            <option value="is_active">is_active</option>
            <option value="is_featured">is_featured</option>
        </select>
        
        <button type="submit" name="action" value="search">search</button>
        <button type="submit" name="action" value="true">Checked</button>
        <button type="submit" name="action" value="false">Unchecked</button>
    </form>
    </div>
    <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <!-- <th>id</th> -->
          <th>Category</th>
          <th>Ad Type</th>
          <!-- <th>Group_ID</th> -->
          <!-- <th>Slug</th> -->
          <th>Group Name</th>
          <th>Participants</th>
          <!-- <th>Image</th> -->
          <th>Update</th>
           <!---
          <th>Delete</th>
          <th>CustomerId</th>
          <th>Registering For:</th>
        -->
        </tr>
      </thead>
      <tbody>
        {% for obj in  whatsapp_items  %}
            <tr>
              <!-- <td>{{obj.created_at|date:"F d, Y"}}</td> -->
              <!-- <td>{{obj.id}}</td> -->
              <td>{{obj.category}}</td>
              <td>{{obj.type}}</td>
              <!-- <td>{{obj.group_id}}</td> -->
              <!-- <td>{{obj.slug}}</td> -->
              <td>{{obj.group_name}}</td>
              <!-- <td>{{obj.slug}}</td> -->
              <td>{{obj.participants}}</td>
              <!-- <td> <a class="article-title" href="{{obj.image_url}}">image</a></td> -->
              <td> <a class="article-title" href="{% url 'marketing:whatsapp_update' obj.id %}">Edit</a></td>
            </tr>
         
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}
