{% extends "main/base_templates/analysis_index.html"%} 
{% load static %}
{% block title %}
{% if department %}{{ department.name }}{% else %}activities{% endif %}
{% endblock %}
{% block content %}
<section id="data_training">
<div class="data_training text-center">
    <h3 class="title">Social Media</h3>
    <div class="row text-center">
        {% for card in social_media_cards %}
          {% include "main/snippets_templates/cards/social_media_card.html" %}
        {% endfor %}
    </div>
</section>
{% endblock content %}
