{% extends "main/base_templates/new_base.html" %}
{% block content %}

<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h2 class="display-6">{{ title }}</h2>
    </div>
    <hr>
    <div class="col-12">
      <p class="lead">{{ service_desc }}</p>
    </div>
  </div> 
</div>

<div class="container-fluid padding">
  <div class="row padding">
    {% for service in service_categories %}
    <div class="col-md-4 text-center" id="bada">
      <div class="card-group">
        <div class="card">
          <div class="">
            <p class="display-5 text-center"><b>{{ service.name }}{{ service.title }}</b></p>
            <hr>
            <b>{{ service.price|floatformat:2 }}</b>
            <p>
              <span class="description-short">{{ service.description|slice:":500" }}</span>
              <span class="description-full" style="display: none;">{{ service.description }}</span>
                      
                  {% if service.description|length > 500 %}
                    <a href="#" class="more-link">...more</a>
                  {% endif %}
                  <div class="row">
                    <div class="col-md-12">
                      {% if service.slug %}
                        <a href="{{ SITEURL }}/display_plans/{{ service.slug }}/"><button type="button" class="btn btn-primary">Proceed</button></a>
                      {% else %}
                        <a href="{% url 'main:layout' %}"><button type="button" class="btn btn-primary">Proceed</button></a>
                      {% endif %}
                    </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const moreLinks = document.querySelectorAll('.more-link');
    moreLinks.forEach(function(link) {
      link.addEventListener('click', function(event) {
        event.preventDefault();
        const descriptionShort = this.parentNode.querySelector('.description-short');
        const descriptionFull = this.parentNode.querySelector('.description-full');
        descriptionShort.style.display = 'none';
        descriptionFull.style.display = 'inline';
      });
    });
  });
</script>

{% endblock content %}
