{%extends "main/base_templates/base.html"%} {% block content %}
<!-------------------500 ERROR------------------------->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4"> System Issue</h1>
    </div>
    <hr/>
    <div class="col-12">
      <p class="lead">
        {{error_message}}
      </p>
      <p class="lead">
        <i>Email: {{contact_message}}</i> 
      </p>
    </div> 
  </div> 
  </div>
  {% endblock content %}

    