.member-info {
  position: relative;
}
.member-link {
  text-decoration: none;
  color: black; /* Change this to your preferred text color */
  transition: color 0.3s ease-in-out;
}

.member-link:hover {
  text-decoration: none;
  color: grey; /* Change this to your preferred hover text color */
}

.description {
  display: none;
  position: absolute;
  font-size: 16px;
  left: 0;
  width: 100%;
  padding: 20px;
  margin-top: 4px;
  background-color:white;
  box-shadow: 0 4px 8px black;
  border-radius: 18px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.descriptionside {
  
  font-size: 16px;
  background-color:#f0f0f0;
  box-shadow: 0 4px 8px black;
  border-radius: 14px; 
} 

.show-description .description {
  display: block;
  opacity: 1;
}
.description:hover {
  background-color: #f0f0f0; /* Change this to the desired hover background color */
}
.descriptionside:hover {
  background-color: white; /* Change this to the desired hover background color */
}
/* .member-info:hover .description {
  display: block;
  opacity: 1;
  background-color: #f0f0f0; 
} */
/* For images */


.team-img {
  object-fit: cover;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.img-div:hover .team-img {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(197, 15, 15, 0.2); 
}
