{%extends "main/base_templates/analysis_index.html"%}
{% load static %}
{% block title %}
{% if department %}{{ department.name }}{% else %}activities{% endif %}
{% endblock %}
{% block content %}

<section id="data_training">
    <div class="data_training text-center">
        <section id="job_market">
            <div class="job_market text-center">
                <h3 class="title">Section 1</h3>
                <div class="row text-center">
                    <div class="col-md-4 services">
                        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                        <h4>Resume</h4>
                        <p>
                            Walk me through your resume?
                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" target="_blank"
                                        href=" https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.gb867311a18_3_7">
                                        PPT Resume</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://drive.google.com/file/d/1y8bMA01KNAykHiAaF8LIrzWI_JSAIeHN/view?usp=sharing">
                                        Video. Resume</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://docs.google.com/document/d/17RxXz8c5bjX9OrdbWR97qpoM4P-zqVgweOpNY4-CsnA/edit#">
                                        Sample
                                        Resume</a>
                                </div>

                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4 services">
                        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                        <h4>Project Story</h4>
                          <p> Tell me about your last project?</p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" target="_blank"
                                        href="https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.gb867311a18_3_7">
                                        PPT: Project Story</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://drive.google.com/file/d/1fTt6e8pyeBI_VhlJAQAiqrAXYNHfLMwC/view?usp=sharing">
                                        Video: Project Story</a>
                                    <div class="dropdown-divider"></div>

                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4 services">
                        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                        <h4>Introduction</h4>
                        <p>
                          Tell me about yourself?
                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" target="_blank"
                                        href="https://docs.google.com/document/d/1GZZ_6ME1QI-4zeHt0cQ1lNrztSTKKp5-D7K0ytOXgh8/edit#heading=h.gjdgxs">
                                        PPT : Introduction</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://drive.google.com/file/d/15-82jaqBrXW21SoLJ5QNvGmltOrekv8F/view">
                                        Video.
                                        Introduction</a>
                                    <div class="dropdown-divider"></div>

                            </li>
                        </ul>
                    </div>
                    <h3 class="title">Section 2</h3>



                    <div class="col-md-4 services">
                        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                        <h4>Agile VS Waterfall</h4>
                        <p>
                            How do you apply agile methodology in a project
                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" target="_blank"
                                        href="https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit?usp=sharing&ouid=115037154650831613074&rtpof=true&sd=true">
                                        PPT : Agile vs Waterfall</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://drive.google.com/file/d/1-EtnAyjv9jcf0SghL74i9AKG3lTOpHaK/view?usp=sharing">Video
                                        : Agile vs Waterfall</a>
                                    <div class="dropdown-divider"></div>

                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 services">
                      <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                      <h4>Performance Tuning</h4>
                      <p>
                        How do you fine tune a slow performing report/application?
                      </p>
                      <ul class="navbar-nav ml-auto">
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                  data-toggle="dropdown">
                                  <button type="btn" class="btn-primary">Select</button>
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                  <a class="dropdown-item" target="_blank"
                                      href="https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.gb867311a18_3_7">
                                      PPT:Performance Tuning</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" target="_blank"
                                      href="https://drive.google.com/file/d/1MWdz0Cz7OpoqcUlQkpKE8pXXn6NBPFla/view?usp=sharing">
                                      Video:Performance Tuning</a>
                                  <div class="dropdown-divider"></div>

                          </li>
                      </ul>
                  </div>

                    <div class="col-md-4 services">
                        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                        <h4>SDLC</h4>
                        <p>
                            What procedure/give me step by step of how you will go about accomplishing a task as a
                            developer?
                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" target="_blank"
                                        href=" https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.gb867311a18_3_7">
                                        PPT : SDLC</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://drive.google.com/file/d/1PeimUo4HfKZaDKuuZkDXMn0hCHNdfq2u/view?usp=sharing">
                                        Video :
                                        SDLC</a>
                                    <div class="dropdown-divider"></div>

                            </li>
                        </ul>
                    </div>
                    <h3 class="title">Section 3</h3>
                    <div class="col-md-4 services">
                        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                        <h4>Testing</h4>
                        <p>
                          Tell me about your experience working as a QA?
                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" target="_blank"
                                        href=" https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.gb867311a18_3_7">
                                        PPT : Testing</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href=" https://docs.google.com/presentation/d/1FK8zeULES9jSZclJfbEDN_UKPSRSQHtH/edit#slide=id.gb867311a18_3_7">
                                        Video : Testing</a>
                                    <div class="dropdown-divider"></div>

                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4 services">
                        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                        <h4>Environment</h4>
                        <p>

                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" target="_blank" href="#">PPT : Environment</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank" href="#">Video : Environment</a>
                                    <div class="dropdown-divider"></div>

                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4 services">
                        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                        <h4>End to End Session</h4>
                        <p>

                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" target="_blank"
                                        href="https://docs.google.com/presentation/d/16lEz7t6fEMLmnelYC43RZEQedc810y7a/edit#slide=id.p1">
                                        ppt
                                        :End to End Interview</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://us02web.zoom.us/rec/play/5ZRVtNlJl_e_YcgCaxGvWAyI7YFde-tXqqLjtvGO5Tj9QoG2PpSSOsJ8uW4Qp_Y5jNxOpNoQPfQsbMch.Gg2Jw9_nf8K6N7nN?continueMode=true&_x_zm_rtaid=cOAhJIf_SyKckoSoC3qrkA.1621398576855.7982fa9aad96328e8c548bb80b53f7fa&_x_zm_rhtaid=672">
                                        Video: End to End</a>
                                    <div class="dropdown-divider"></div>

                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4 services">
                        <!-- <img src="static/img/services/service1.png" class="service-img" >-->
                        <h4>Workbook</h4>
                        <p>

                        </p>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropDown" role="button"
                                    data-toggle="dropdown">
                                    <button type="btn" class="btn-primary">Select</button>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" target="_blank"
                                        href="https://docs.google.com/spreadsheets/d/13hZNxQ7HdHZ-gEusOCv_9clOKocDlcgw5s1wEiwdasY/edit#gid=1526948344">
                                        Dataset-Interview Questions</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank"
                                        href="https://public.tableau.com/app/profile/coda2331/viz/CodaInterviewQuestions/InterviewDashboard">
                                        Interview Workbook</a>
                                    <div class="dropdown-divider"></div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Services Section -->
        <hr>
        <div classs="container  text-center">
        
            <a href="{% url 'data:resume'%}" class="btn btn-primary btn-sm">Start Process</a>
        </div>
        {% endblock content %}

      