/*-------------------------whole Page--------------------------------------------*/
html {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(255, 255, 255);
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/*------------------------- Navigation Section---------------------------------------------*/
.bg-steel {
  background: #241153;
}

ul {
  margin: 0;
}
.site-header .navbar-nav .nav-link {
  color: #ffffff;
}
.site-header .navbar-nav .nav-link:hover {
  color: #384cbe;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
/*------------------------- Main Section---------------------------------------*/
.container {
  box-sizing: content-box;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: auto;
  margin-right: auto;
}
/*-------------------Our home services Section-------------------------*/
/*------------------------1. Slider on top---------------------------------------*/
#slider #headerSlider .row .img-top {
  position: relative;
  text-align: center;
}

#service .service .row .img-top img {
  width: 1125px;
  height: 500px;
  text-align: center;
}
#service .service .row .img-top .centered {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#slider #headerSlider .carousel-inner .carousel-item .carousel-caption h2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 800;
  font-style: inherit;
}

#slider img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}

/*-------------------1. Our Reporting Section------------------------->*/

#service_report .service_report {
  margin-top: 1rem;
  text-align: center;
}

#service_report .service_report .stats {
  margin-top: 1rem;
  text-align: center;
  border: 1px dotted rgb(147, 161, 147);
}

#service_report .service_report .application {
  margin-top: 1rem;
  text-align: center;
}

#service_report .service_report .row .salary p.salary_fig {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: #384cbe;
}
#service_report .service_report .row .success p.success_fig {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: #384cbe;
}
#service_report .service_report .row .placement p.placement_fig {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: #384cbe;
}

/*-------------------1. Our OFFER Section------------------------->*/

#service_offer .service_offer .title {
  background-color: rgba(4, 54, 95, 0.952);
  height: 40px;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  color: #fcfcfc;
}

#service_offer .service_offer .offer_top {
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

#service_offer .service_offer .offer_top .col-md-3 .offer-img {
  width: 125px;
  height: 125px;
}

#service_offer .service_offer .offer_bottom .col-md-3 .offer-img {
  width: 125px;
  height: 125px;
}

/*-------------------1. Work Section------------------------->*/
#service_work .service_work {
  margin-top: 1rem;
  text-align: center;
  align-items: center;
}

#service_work .service_work .title {
  background-color: rgba(16, 50, 78, 0.808);
  height: 40px;
  margin-top: 1rem;
  text-align: center;
  color: #fcfcfc;
}

#service_work .service_work p.grad {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: #384cbe;
}

#service_work .service_work p.gd {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

#service_work .service_work .row .work {
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 30px;
  text-align: center;
}

#service_work .service_work .row .work2 {
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 30px;
  text-align: center;
}

#service_work .service_work .row .work3 {
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 30px;
  text-align: center;
}

#service_work .service_work .row .work-img {
  width: 115px;
  height: 115px;
}

#service_work .service_work .row .work2-img {
  width: 115px;
  height: 115px;
}

#service_work .service_work .row .work2-img {
  width: 115px;
  height: 115px;
}

#service_work .service_work .row .boa-img {
  float: left;
  padding-right: 30px;
}

#service_work .service_work .row .enterprise-img {
  float: right;
}

#service_work .service_work .row .spectrum-img {
  float: left;
  padding-right: 30px;
}
#service_work .service_work .row .statestreet-img {
  float: right;
}

#service_work .service_work .row .wells-img {
  float: left;
  padding-right: 30px;
}
#service_work .service_work .row .citi-img {
  float: right;
}

/*------------------------- Contact Section--------------------------------------*/
#service_contact .service_contact {
  margin-top: 45px;
}

#service_contact .service_contact .title {
  background-color: rgba(16, 50, 78, 0.808);
  height: 40px;
  margin-top: 1rem;
  text-align: center;
  color: #fcfcfc;
}

#service_contact .service_contact p.hear {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  color: #384cbe;
}

#service_contact .service_contact .row .contact-img {
  width: 125px;
  height: 125px;
  padding: 20px, 20px;
}

/*-------------------1. Interview Page Section------------------------->*/
#data_interview .data_interview {
  margin-top: 5rem;
  text-align: center;
}

#data_interview .data_interview .title {
  background-color: rgba(16, 50, 78, 0.808);
  height: 35px;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  color: #fcfcfc;
}
#data_interview .interview .data_header .title {
  margin-top: 1rem;
  text-align: center;
  border: 1px dotted rgb(147, 161, 147);
}

/*-------------------1. card section ------------------------->*/

.main #container .container-fluid .row #cota .card h4 {
  font-size: 125%;
  font-style: inherit;
}

.main #container .container-fluid .row #cota .card p.bd {
  text-align: center;
  font-size: 100%;
  font-style: inherit;
}

.main #container .container-fluid .row #cota .card p.pay_fig {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: #563d7c;
}

.main #container .container-fluid .row #cota .card .btn {
  text-align: center;
  font-size: 100%;
  font-weight: 500;
  background-color: rgb(89, 104, 89);
  border-radius: 1em;
  font-style: initial;
}

/*-------------------1. Training Page Section------------------------->*/
#data_training .data_training {
  margin-top: 5rem;
  text-align: center;
}

#data_training .data_training .title {
  background-color: rgba(16, 50, 78, 0.808);
  height: 35px;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  color: #fcfcfc;
}
#data_training .training .data_header .title {
  margin-top: 1rem;
  text-align: center;
  border: 1px dotted rgb(147, 161, 147);
}

/*-------------1. Project Definition Section------------->*/

#project_based .project_based .title {
  background-color: rgba(16, 50, 78, 0.808);
  height: 35px;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  color: #fcfcfc;
}

#embed_analytics .embed_analytics .title {
  background-color: rgba(16, 50, 78, 0.808);
  height: 35px;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  color: #fcfcfc;
}

#job_market .job_market .title {
  background-color: rgba(16, 50, 78, 0.808);
  height: 35px;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  color: #fcfcfc;
}

/*------------------------- footer Section--------------------------------------------*/
.container .row #footer {
  background-color: rgba(205, 220, 233, 0.952);
  margin-top: 1rem;
}

#footer .footer footer {
  background-color: rgba(4, 54, 95, 0.952);
  text-align: center;
  color: rgba(250, 253, 255, 0.952);
}

.container .row #footer .row .col-md-3 h5 {
  text-align: left;
  margin-left: 3em;
  padding: 0;
}

.container .row #footer .row .col-md-3 ul {
  margin: 0;
  padding: 0;
  text-align: left;
  margin-right: 4em;
  margin-left: 3em;
}

.container .row #footer .row .col-md-3 ul li {
  text-align: left;
  list-style-type: none;
  text-decoration: none;
}

.footer-link {
  color: #4623a5;
  text-align: left;
  list-style-type: none;
}
